.orbit-info-modal
{
  .modal-dialog
  {
    width:50%;
    .modal-content
    {
      .modal-header
      {
        color:$wasdi-white;
        background-color: $wasdi-blue-logo;
        .close
        {
          color: $wasdi-white;
          opacity: 1;
        }
      }

      .modal-body
      {
        max-height:400px;
        overflow: auto;
        .product-info-table
        {
          //overflow-y: scroll;

          table
          {
            text-align: center;
            margin: auto;

            th
            {
              text-align: center;
              margin: auto;
            }
          }

        }

        .preview-layer-image
        {
          padding: 10px;
          text-align: center;
          border-top: 1px solid $wasdi-blue-logo;
          max-height:400px;
          img
          {
            //display: inline-block;
            //height: 82px;
            //width: 82px;

          }
        }
      }

      .modal-footer
      {
        border-top:1px solid $wasdi-blue-logo;
        .my-button
        {
          padding: 10px 21px;
        }
      }
    }
  }
}