<div class="modal fade orbit-info-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{m_oController.m_oProduct.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="product-info-table">
                    <h4>
                        <table class="table table-hover">
                            <caption>{{"DIALOG_PRODUCT_INFO_TITLE"|translate}}</caption>
                            <thead>
                            <th scope="col">{{"DIALOG_PRODUCT_INFO_PROP"|translate}}</th>
                            <th scope="col">{{"DIALOG_PRODUCT_INFO_VALUE"|translate}}</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="property in m_oController.m_oPropertiesList" ng-hide="m_oController.m_oPropertiesList.length === 0">
                                    <td>{{property.label}}</td>
                                    <td>{{property.value}}</td>
                                </tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </h4>

                </div>

                <div class="preview-layer-image" ><img src={{m_oController.m_oProduct.preview}} alt="Image" ></div>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">{{"DIALOG_OK_BUTTON"|translate}}</button>
            </div>
        </div>
    </div>
</div>
