<div class="modal fade orbit-info-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{m_oController.m_oProduct.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="product-info-table">
                    <h4>
                        <table class="table table-hover">
                            <caption>Product info</caption>
                            <thead>
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Date</td>
                                    <td>{{m_oController.m_oProduct.properties.beginposition}}</td>
                                </tr>
                                <tr>
                                    <td>Instrument</td>
                                    <td>{{m_oController.m_oProduct.properties.instrumentshortname}}</td>
                                </tr>
                                <tr>
                                    <td>Satellite</td>
                                    <td>{{m_oController.m_oProduct.properties.platformname}}</td>
                                </tr>
                                <tr>
                                    <td>Mode</td>
                                    <td>{{m_oController.m_oProduct.properties.sensoroperationalmode}}</td>
                                </tr>
                                <tr>
                                    <td>Relative orbit</td>
                                    <td>{{m_oController.m_oProduct.properties.relativeorbitnumber}}</td>
                                </tr>
                                <tr>
                                    <td>Size</td>
                                    <td>{{m_oController.m_oProduct.properties.size}}</td>
                                </tr>
                                <tr>
                                    <td>Polarisation</td>
                                    <td>{{m_oController.m_oProduct.properties.polarisationmode}}</td>
                                </tr>


                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </h4>

                </div>

                <div class="preview-layer-image" ><img src={{m_oController.m_oProduct.preview}} alt="Image" ></div>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
