.apply-orbit-modal
{
  .modal-dialog
  {

    .modal-content
    {
      //HEADER
      .modal-header
      {
        .icon-apply-orbit {
          content:$wasdi-radar-icon-white-version;
          width: $wasdi-size-icon-title-dialogs;
          height: auto;
        }
      }
      //BODY
      .modal-body
      {
        form
        {
          fieldset
          {
            border:2px solid $wasdi-blue-logo;
            padding: 20px 20px;
            .btn-default {
              display: block;
              width: 100%;
            }

            .row{
              .dropdown
              {
                margin-left: 0;
              }

              .orbit-state
              {
                margin-top: 5px;
              }
              .polynomial-degree
              {
                margin-top: 15px;
              }
            }

            legend
            {
              width: auto;
              border-bottom: 0;
            }
            .my-input-text
            {
              .input-group
              {
                .input-group-btn
                {
                  .btn-default {
                    color: $wasdi-blue-logo;
                    background-color: $wasdi-grey;
                    border-color: $wasdi-blue-logo;
                  }
                }
              }
            }
            .inline
            {
              float: left;
            }

            .polynomial-degree
            {
              margin-top: 10px;
            }

            .form-group
            {
              margin: 10px 0 0 0;
            }

        }
      }

    }
    //FOOTER
    .modal-footer
    {

    }
  }
}
}