<div class="modal fade apply-orbit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{"DIALOG_APPLY_ORBIT_TITLE"|translate}}</h4>
            </div>
            <!-- BODY -->
            <div class="modal-body container-flui">

                <h4>
                    <!--<ul class="nav nav-tabs">-->
                    <!--<li class="active"><a data-toggle="tab" href="" ng-click="m_oController.tabOpen('tab1')">{{"DIALOG_APPLY_ORBIT_TAB_INPUT_OUTPUT"|translate}}</a></li>-->
                    <!--<li><a data-toggle="tab" href="" ng-click="m_oController.tabOpen('tab2')">{{"DIALOG_APPLY_ORBIT_TAB_PROCESSING"|translate}}</a></li>-->
                    <!--</ul>-->

                    <!-------------------------------------------INPUT OUTPUT PARAMETERS-------------------------------->
                    <!--<div ng-show="m_oController.firstTabIsOpen()">-->
                    <div ng-include src="'dialogs/InputOutputParametersView.html'"></div>
                    <!--</div>-->
                    <!------------------------------------ PROCESSING PARAMETERS -------------------------------------->
                    <!--<div ng-show="m_oController.secondTabIsOpen()">-->
                    <form>
                        <fieldset class="my-input-text">
                            <legend><h3>{{"DIALOG_APPLY_ORBIT_TAB_PROCESSING"|translate}}</h3></legend>
                            <div class="row" >
                                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                                    <div class="orbit-state">{{"DIALOG_APPLY_ORBIT_ORBIT_STATE_VECTORS"|translate}}</div>
                                </div>
                                <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9 ">
                                    <div class="dropdown" >

                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                                                data-toggle="dropdown">
                                            {{m_oController.m_sSelectedOrbitStateVectors}}
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                            <li role="presentation" ng-repeat="orbitState in m_oController.getOrbitStateVector()" ng-click="m_oController.m_sSelectedOrbitStateVectors = orbitState"><a role="menuitem" tabindex="-1" href="">{{orbitState}}</a></li>
                                        </ul>

                                    </div>
                                </div>

                            </div>

                            <!--<span class="label">{{"DIALOG_APPLY_ORBIT_POLYNOMIAL_DEGREE"|translate}}</span>-->
                            <div class="row">
                                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="polynomial-degree">{{'DIALOG_APPLY_ORBIT_POLYNOMIAL_DEGREE'|translate}}</div>
                                </div>
                                <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="ApplyOrbitPolynomialDegree" ng-model="m_oController.m_oReturnValue.options.polyDegree">
                                    </div>
                                </div>

                            </div>
                            <!--<input type="text"  class="my-input-text form-control polynomial-degree" placeholder="{{'DIALOG_APPLY_ORBIT_POLYNOMIAL_DEGREE'|translate}}">-->
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model = "m_oController.m_oReturnValue.options.continueOnFail" >
                                    {{"DIALOG_APPLY_ORBIT_CHECKBOX_FAIL"|translate}}
                                </label>
                            </div>

                        </fieldset>
                    </form>
                    <!--</div>-->
                </h4>

            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <!--<button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">Ok</button>-->
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
                <button type="button" ng-click="run(m_oController.m_oReturnValue)" class="my-button" data-dismiss="modal" ng-disabled="m_oController.selectedProductIsEmpty()">
                    {{"DIALOG_RUN_BUTTON"|translate}}
                </button>
            </div>

        </div>
    </div>
</div>