logs/*
!.gitkeep

#node_modules/
#bower_components/
#tmp
#.DS_Store
#.idea

# dependencies
/node_modules
/app/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode
*.iml

# System Files
.DS_Store
Thumbs.db

*.css
*.css.map
**/secrets.js
**/environment.js
.sass-cache/
