<div class="container-fluid-v4">
    <!------------------------------ FILENAME ------------------------------>


    <div class="row-v4">
        <div class="col-v4">
            <div class="form-v4-group">
                <label class="">Name</label>
                <input type="text" name="name"
                    class="form-v4-control-plaintext wasdi-input form-control" required="required"
                    ng-readonly="m_oController.m_bEditMode" readonly="readOnly"
                    ng-model="m_oController.m_oStyle.name">
            </div>
            <div class="form-v4-group">
                <label for="comment">Description:</label>
                <textarea class="form-control wasdi-input not-resizable" rows="5" id="comment" maxlength="150"
                    ng-model="m_oController.m_oStyle.description"></textarea>
            </div>
            <div class="form-v4-group">
                <i class="fa fa-square " aria-hidden="true" ng-hide="m_oController.m_oStyle.public === true"
                    ng-click="m_oController.m_oStyle.public = !m_oController.m_oStyle.public"></i>
                <i class="fa fa-check-square " aria-hidden="true" ng-hide="m_oController.m_oStyle.public === false"
                    ng-click="m_oController.m_oStyle.public = !m_oController.m_oStyle.public"></i>
                <span>Set Style public</span>
            </div>
        </div>

        <div class="col-v4">
            <div class="drag-and-drop h-100">
                {{"DIALOG_STYLE_DROP_OR_CLICK"|translate}}
                <div ngf-drop ngf-select ng-model="m_oController.m_oFile" class="drop-box"
                    ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="text/xml"
                    ngf-pattern="'*.sld'">
                    
                    <div ng-show="m_oController.m_oFile">File: {{m_oController.m_oFile[0].name}}</div>
                    <div ngf-no-file-drop>{{"DIALOG_STYLE_DRAG_DROP_NOT_SUPPORTED"|translate}}</div>
                </div>
            </div>


            <div class="loadIcon" ng-show="m_oController.isUploadingStyle">
                <invader></invader>
            </div>
        </div>
    </div>



</div>