<div class="container-fluid">
    <!-- SHARING DATA -->
    <div class="container-fluid" ng-show="true">
        <div class="row give-permission-row">
            <form class="d-flex flex-row align-items-center">
                <div class="form-group mr-3" style="width: 45%">
                    <h4 class="text-success">
                        {{"DIALOG_STYLE_SHARE"|translate}}
                    </h4>
                    <input
                        type="text"
                        name="name"
                        id=""
                        class="form-control wasdi-input"
                        value=""
                        title=""
                        ng-model="m_oController.m_sUserEmail"
                        required="required"
                        placeholder='{{"DIALOG_STYLE_SHARE_MAIL"|translate}}'
                    />
                </div>
                <div class="dropdown mb-4 mr-1 align-self-end">
                    <button class="btn btn-default dropdown-toggle" type="button"
                    id="dropdownPermissionSelection" data-toggle="dropdown" style="font-weight: 600;">
                        {{m_oController.m_sRights}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu"
                        aria-labelledby="dropdownMenuProductListMultiselectWorkflow">

                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="" style="font-weight: 600;"
                               ng-click="m_oController.m_sRights = 'read'">
                               read
                            </a>
                            <a role="menuitem" tabindex="-1" href="" style="font-weight: 600;"
                               ng-click="m_oController.m_sRights = 'write'">
                               write
                            </a>
                        </li>

                    </ul>
                </div>
                <button
                    class="btn btn-primary btn-wasdi mb-4 align-self-end"
                    ng-click="m_oController.shareStyleByUserEmail(m_oController.m_sUserEmail, m_oController.m_sRights)"
                >
                    <em
                        class="custom-icon fa fa-share-alt fa-lg"
                        ng-class="button.icon"
                    ></em>
                    <span class="ng-binding">
                        {{"DIALOG_STYLE_SHARE_SHARE"|translate}}
                    </span>
                </button>
            </form>
        </div>
    </div>
    <hr class="divider-line-style1" />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>{{"DIALOG_STYLE_SHARE_ACTIVE"|translate}}</h4>
            <table class="table table-hover">
                <caption style="caption-side: bottom">
                    {{"DIALOG_STYLE_SHARE_ACTIVE"|translate}}
                </caption>
                <tbody>
                    <tr ng-repeat="oUser in m_oController.m_aoEnabledUsers">
                        <td>{{oUser.userId}}</td>
                        <td>{{oUser.permissions}}</td>
                        <td class="over-icon">
                            <button
                                class="btn btn-danger btn-wasdi"
                                ng-click="m_oController.removeUserSharing(oUser.userId)"
                            >
                                <!--Remove Sharing-->
                                <i
                                    class="fa fa-trash fa-lg"
                                    aria-hidden="true"
                                    style="margin-right: 0px"
                                ></i>
                                <span class="ng-binding"
                                    >{{"DIALOG_STYLE_SHARE_REMOVE"|translate}}</span
                                >
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
