<div class="container-fluid">
    <!-- SHARING DATA -->
    <div class="container-fluid" ng-show="true">
        <div class="row give-permission-row">
            <form class="d-flex flex-row">
                <div class="form-group mr-3" style="width: 45%">
                    <h4 class="text-success">
                        {{"DIALOG_STYLE_SHARE"|translate}}
                    </h4>
                    <input
                        type="text"
                        name="name"
                        id=""
                        class="form-control wasdi-input"
                        value=""
                        title=""
                        ng-model="m_oController.m_sUserEmail"
                        required="required"
                        placeholder='{{"DIALOG_STYLE_SHARE_MAIL"|translate}}'
                    />
                </div>
                <button
                    class="btn btn-danger btn-wasdi mb-4 align-self-end"
                    ng-click="m_oController.shareStyleByUserEmail(m_oController.m_sUserEmail)"
                >
                    <em
                        class="custom-icon fa fa-share-alt fa-lg"
                        ng-class="button.icon"
                    ></em>
                    <span class="ng-binding">
                        {{"DIALOG_STYLE_SHARE_SHARE"|translate}}
                    </span>
                </button>
            </form>
        </div>
    </div>
    <hr class="divider-line-style1" />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>{{"DIALOG_STYLE_SHARE_ACTIVE"|translate}}</h4>
            <table class="table table-hover">
                <caption style="caption-side: bottom">
                    {{"DIALOG_STYLE_SHARE_ACTIVE"|translate}}
                </caption>
                <tbody>
                    <tr ng-repeat="oUser in m_oController.m_aoEnabledUsers">
                        <td>{{oUser.userId}}</td>
                        <td class="over-icon">
                            <button
                                class="btn btn-danger btn-wasdi"
                                ng-click="m_oController.removeUserSharing(oUser.userId)"
                            >
                                <!--Remove Sharing-->
                                <i
                                    class="fa fa-trash fa-lg"
                                    aria-hidden="true"
                                    style="margin-right: 0px"
                                ></i>
                                <span class="ng-binding"
                                    >{{"DIALOG_STYLE_SHARE_REMOVE"|translate}}</span
                                >
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
