.merge-products-modal
{
  .modal-dialog
  {
    width:50%;
    .modal-content
    {
      .modal-header
      {
        color:$wasdi-white;
        background-color: $wasdi-blue-logo;
        .close
        {
          color: $wasdi-white;
          opacity: 1;
        }
      }

      .modal-body
      {
        .drag-and-drop
        {
          .button {
            -moz-appearance: button;
            /* Firefox */
            -webkit-appearance: button;
            /* Safari and Chrome */
            padding: 10px;
            margin: 10px;
            width: 70px;
          }
          .drop-box {
            background: #F8F8F8;
            border: 5px dashed #DDD;
            width: 200px;
            height: 100px;
            text-align: center;
            padding-top: 25px;
            margin: 10px;
          }
          .dragover {
            border: 5px dashed blue;
          }
        }
      }

      .modal-footer
      {
        border-top:1px solid $wasdi-blue-logo;
        .my-button
        {
          padding: 10px 21px;
        }
      }
    }
  }
}