<div class="modal fade merge-products-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title "> MIDA Soil Moisture Map Assimiliation Tool</h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mida-logos-container">
                        <img class="logo-container" src="assets/wasdi/logoAsi.png" ng-click="m_oController.redirectToMidaWebSite()">

                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mida-logos-container">
                        <img class="logo-container" src="assets/wasdi/logoCima.png" ng-click="m_oController.redirectToMidaWebSite()">

                    </div>
                </div>

                <div class="dropdown dropdown-products">
                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuentries"-->
                            <!--data-toggle="dropdown">-->

                            <!--<span ng-show=" m_oController.m_oSelectedEntry == null"> Select MIDA Map from catalogue</span>-->
                            <!--<span ng-hide=" m_oController.m_oSelectedEntry == null">{{m_oController.m_oSelectedEntry.fileName}}  </span>-->
                            <!--<span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuentries">-->
                        <!--<li role="presentation" ng-repeat="entry in m_oController.m_aoEntries">-->
                            <!--<a role="menuitem" tabindex="-1" href="" ng-click="m_oController.selectedEntry(entry)">{{entry.fileName}}</a>-->
                        <!--</li>-->

                    <!--</ul>-->
                    <dropdownmenudirective list-of-values="m_oController.m_aoProductListDropdown"
                                           selected-value="m_oController.m_oReturnValueDropdown"
                                           enable-search-filter="true"
                                           dropdown-name="'Input file'"></dropdownmenudirective>
                </div>

                <div class="drag-and-drop ">
                    <h4>Upload Soil Moisture Map to be Merged with the MIDA Satellite Based Soil Mosture Map:</h4>

                    <div ngf-drop ngf-select ng-model="m_oController.m_oFile" class="drop-box"
                         ng-class="{'drop-box-disabled': m_oController.m_oReturnValueDropdown == null}"
                         ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                         accept="image/*"
                         ngf-pattern="'image/*'"  ng-disabled="m_oController.m_oReturnValueDropdown == null">
                        <span ng-hide="m_oController.m_oReturnValueDropdown == null">
                            Drop Soil Moisture Map here or click to upload
                        </span>
                        <span ng-show="m_oController.m_oReturnValueDropdown == null">
                            You should select an element from catalogue
                        </span>
                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                    <!--Files:-->
                    <!--<ul>-->
                        <!--<li ng-repeat="f in files" >{{f.name}} {{f.$error}} {{f.$errorParam}}</li>-->
                    <!--</ul>-->
                    <!--Upload Log:-->
                    <!--<pre>{{log}}</pre>-->
                </div>

                <!--<div class=" dropdown dropdown-products " ng-show="m_oController.isVisibleDropDownMenu()">-->
                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                        <!--Select MIDA Map from catalogue-->
                        <!--<span class="caret"></span>-->
                    <!--</button>-->
                    <!--&lt;!&ndash; TODO TEMPORARY DISABLED &ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >&ndash;&gt;-->
                        <!--&lt;!&ndash;<li ng-repeat=" layer in m_oController.getLayers()" ng-click="m_oController.publishLayer(layer)">{{layer.Name}}</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--</div>-->


            </div>
            <div class="modal-footer">
                <!--<button type="button" class="my-button" ng-click="m_oController.assimilation()">Assimilation</button>-->
                <button type="button" ng-click="this.closeDialog('ok')" class="my-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
