<div class="modal fade merge-products-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title "> MIDA Soil Moisture Map Assimiliation Tool</h4>
            </div>
            <div class="modal-body">

                <div class="drag-and-drop ">
                    Upload Soil Moisture Map to be Merged with the MIDA Satellite Based Soil Mosture Map:
                    <div ngf-drop ngf-select ng-model="m_oController.m_oFile" class="drop-box"
                         ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                         accept="image/*"
                         ngf-pattern="'image/*'">Drop Soil Moisture Map here or click to upload</div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    <!--Files:-->
                    <!--<ul>-->
                        <!--<li ng-repeat="f in files" >{{f.name}} {{f.$error}} {{f.$errorParam}}</li>-->
                    <!--</ul>-->
                    <!--Upload Log:-->
                    <!--<pre>{{log}}</pre>-->
                </div>

                <div class=" dropdown dropdown-products " ng-show="m_oController.isVisibleDropDownMenu()">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Select MIDA Map from catalogue
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                        <li ng-repeat=" layer in m_oController.getLayers()" ng-click="m_oController.publishLayer(layer)">{{layer.Name}}</li>

                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="my-button" ng-click="m_oController.assimilation()">Assimilation</button>
                <button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>