<div class="modal fade processor-dialog processor-parameters-template-list-dialog">
    <div class="modal-dialog modal-dialog-extra-large modal-wasdi">
        <div class="modal-content ">

            <div class="modal-header">
                <i class="fa fa-rocket" aria-hidden="true"></i>&nbsp;WASDI APP
            </div>

            <div class="modal-body">
                <div class="container-fluid">

                    <div>
                        <label>List of Processor Parameters Templates for: {{m_oController.m_oInputProcessor.processorName}}</label>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-hover">
                                <div class="container-fluid">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    </div>

                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <!--Add Template-->
                                        <div class="over-icon text-right">
                                            <button class="btn btn-primary btn-wasdi"
                                                    ng-click="m_oController.addProcessorParametersTemplate(m_oController.m_oInputProcessor)">
                                                <i class="custom-icon fa fa-lg fa-plus-square" aria-hidden="true" style="margin-right: 0px;"></i>
                                                <span class="ng-binding">Add</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <tbody>
                                    <tr ng-repeat="oProcessorParametersTemplate in m_oController.m_aoProcessorParametersTemplates" ng-hide="m_oController.m_aoProcessorParametersTemplates.length === 0">
                                        <td>
                                            {{oProcessorParametersTemplate.name}}
                                        </td>
                                        <td>
                                            {{oProcessorParametersTemplate.updateDate}}
                                        </td>
                                        
                                        <td class="over-icon text-right">
                                            <!--Delete Template-->
                                            <button class="btn btn-primary btn-wasdi" data-dismiss="modal"
                                                    ng-click="m_oController.deleteProcessorParametersTemplate(oProcessorParametersTemplate)">
                                                <i class="fa fa-pencil fa-lg" aria-hidden="true" style="margin-right: 0px;"></i>
                                                <span class="ng-binding">Delete</span>
                                            </button>
                                            <!--Edit Template-->
                                            <button class="btn btn-primary btn-wasdi"
                                                    ng-click="m_oController.editProcessorParametersTemplate(m_oController.m_oInputProcessor, oProcessorParametersTemplate.templateId)">
                                                <i class="fa fa-pencil fa-lg" aria-hidden="true" style="margin-right: 0px;"></i>
                                                <span class="ng-binding">Edit</span>
                                            </button>
                                            <!--Select Template-->
                                            <button class="btn btn-primary btn-wasdi" data-dismiss="modal"
                                                    ng-click="m_oController.selectProcessorParametersTemplate(oProcessorParametersTemplate.templateId)">
                                                <i class="fa fa-upload fa-lg" aria-hidden="true" style="margin-right: 0px;"></i>
                                                <span class="ng-binding">Select</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
            </div>
        </div>
    </div>
</div>
