<div class="modal fade wapps-dialog">
    <div class="modal-dialog modal-dialog-extra-large">
        <div class="modal-content">
            <!-- HEADER -->
            <div class=" modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h4 class="modal-title ">
                    <i class="" aria-hidden="true"></i>&nbsp;
                    Hello World
                </h4>
            </div>

            <div class="modal-body d-flex flex-column">
                Hello world
            </div>
               

                
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="my-button" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON" | translate}}
                </button>
            </div>

        </div>
    </div>
</div>