<style>
    .modal.snake-modal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="modal fade snake-modal">
    <div class="modal-dialog" style="width: auto">
        <div class="modal-content">
            <header class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">SNAPE</h4>
            </header>
            <div class="modal-body" >
                <snake></snake>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>