# {{ ansible_managed }}
version: "3"

# Default project name: all containers are
# prefixed with this value
name: "wasdi-cli-trigger"

# In any cases, we use a pre-existing network:
#   - either the client has his own network
#   - or we create it in a previous step
networks:
  default:
    name: "{{ sWasdiDockerNetworkName }}"
    driver: "bridge"
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.enable_ip_masquerade: "true"
      com.docker.network.bridge.host_binding_ipv4: "0.0.0.0"
      com.docker.network.bridge.name: "br-{{ sWasdiDockerNetworkName }}"
      com.docker.network.driver.mtu: "1500"
    external: {{ bWasdiDockerNetworkMustBeCreated | default(False) | string | lower }}
    ipam:
      driver: "default"
      config:
        - subnet: "{{ sWasdiDockerNetworkSubnet }}"
          gateway: "{{ sWasdiDockerNetworkGateway }}"

services:
  {{ sWasdiContainerWasdiTriggerServiceName }}:
    build:
      context: .
      tags:
        - {{ sWasdiContainerWasdiTriggerServiceName }}:{{ sWasdiBuildVersion }}
    image: {{ sWasdiContainerWasdiTriggerServiceName }}:{{ sWasdiBuildVersion }}
    restart: "no"
    ulimits:
      nofile:
        soft: {{ sWasdiTriggerUlimitNofile }}
        hard: {{ sWasdiTriggerUlimitNofile }}
    volumes:
      - {{ sWasdiDataConfigurationRootDirectoryPath }}:{{ sWasdiDataConfigurationRootDirectoryPath }}:ro
