.apply-orbit-modal
{
  .modal-dialog
  {

    .modal-content
    {
      //HEADER
      .modal-header
      {

      }
      //BODY
      .modal-body
      {
        form
        {
          fieldset
          {
            border:2px solid $wasdi-blue-logo;
            padding: 20px 20px;
            legend
            {
              width: auto;
              border-bottom: 0;
            }
            .my-input-text
            {
              .input-group
              {
                .input-group-btn
                {
                  .btn-default {
                    color: $wasdi-blue-logo;
                    background-color: $wasdi-grey;
                    border-color: $wasdi-blue-logo;
                  }
                }
              }
            }
            .inline
            {
              float: left;
            }
            .btn-block {
              display: block;
              width: 100%;

            }
            .processing-parameters
            {
              .checkbox
              {
                margin: 0 0 0 20px;
                div{
                  padding: 5px;
                  margin: 0 10px 0 0;
                }
              }
              .dropdown
              {
                margin: 20px 0 0 0;
              }
            }

          }
        }

      }
      //FOOTER
      .modal-footer
      {

      }
    }
  }
}