<div class="modal fade apply-orbit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-header">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <div class="icon-radiometric-calibration"></div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h4 class="modal-title">{{"DIALOG_RADIOMETRIC_CALIBRATION_TITLE"|translate}}</h4>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

            </div>
            <div class="modal-body">
                <h4>

                    <!-------------------------------------------INPUT OUTPUT PARAMETERS-------------------------------->
                    <div ng-include src="'dialogs/InputOutputParametersView.html'"></div>
                    <!------------------------------------ PROCESSING PARAMETERS -------------------------------------->
                    </br>
                    <form>
                        <fieldset>
                            <div class="processing-parameters">
                                <legend><h3>{{"DIALOG_APPLY_ORBIT_TAB_PROCESSING"|translate}}</h3></legend>
                                <!--MULTISELECT-->
                                <div class="row">
                                    <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        {{"DIALOG_RADIOMETRIC_CALIBRATION_POLARISATION"|translate}}
                                    </div>
                                    <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <multiselect  selected="m_oController.m_asSourceBandsSelected" options="m_oController.m_asSourceBands" ></multiselect>
                                    </div>
                                </div>


                                <!-- DROPDOWN MENU-->
                                <!--{{"DIALOG_RADIOMETRIC_CALIBRATION_AUXILIARY_FILE"|translate}}-->
                                <!--<div class="dropdown">-->
                                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"-->
                                            <!--data-toggle="dropdown">-->
                                        <!--{{m_oController.m_sSelectedAuxiliaryFile}}-->
                                        <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">-->
                                        <!--<li role="presentation" ng-repeat="auxiliaryFile in m_oController.m_asAuxiliaryFile" ng-click="m_oController.m_sSelectedCalibration = auxiliaryFile">-->
                                            <!--<a role="menuitem" tabindex="-1" href="">{{auxiliaryFile}}</a>-->
                                        <!--</li>-->
                                        <!--&lt;!&ndash;<li role="presentation"><a role="menuitem" tabindex="-1" href="">Action</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li role="presentation"><a role="menuitem" tabindex="-1" href="">Another action</a></li>&ndash;&gt;-->
                                    <!--</ul>-->
                                <!--</div>-->

                                <!--CHECK BOX-->
                                <div class="checkbox">
                                    <div class="row">
                                        <!--<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
                                            <!--<input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.outputImageInComplex">-->
                                            <!--{{"DIALOG_RADIOMETRIC_CALIBRATION_CHECKBOX_SAVE_COMPLEX_OUTPUT"|translate}}-->
                                        <!--</div>-->
                                        <!--<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
                                            <!--<input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.outputImageScaleInDb">-->
                                            <!--{{"DIALOG_RADIOMETRIC_CALIBRATION_CHECKBOX_SAVE_DB"|translate}}-->
                                        <!--</div>-->
                                        <!--<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
                                            <!--<input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.createGammaBand">-->
                                            <!--{{"DIALOG_RADIOMETRIC_CALIBRATION_CREATE_GAMMA"|translate}}-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">-->
                                            <!--<input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.createBetaBand">-->
                                            <!--{{"DIALOG_RADIOMETRIC_CALIBRATION_CREATE_BETA"|translate}}-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.outputSigmaBand">
                                            {{"DIALOG_RADIOMETRIC_CALIBRATION_OUTPUT_SIGMA"|translate}}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.outputGammaBand">
                                            {{"DIALOG_RADIOMETRIC_CALIBRATION_OUTPUT_GAMMA"|translate}}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.outputBetaBand">
                                            {{"DIALOG_RADIOMETRIC_CALIBRATION_OUTPUT_BETA"|translate}}
                                        </div>
                                    </div>

                                    <!--<div class="row">-->
                                        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                                            <!--<input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.createBetaBand">-->
                                            <!--{{"DIALOG_RADIOMETRIC_CALIBRATION_OUTPUT_DN"|translate}}-->
                                        <!--</div>-->
                                    <!--</div>-->

                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <!--</div>-->
                </h4>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <div ng-show="m_oController.nameIsUsed()" class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                The product name is used for an other product.
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                                {{"DIALOG_CLOSE_BUTTON"|translate}}
                            </button>
                            <button type="button" ng-click="run(m_oController.m_oReturnValue)" class="my-button" data-dismiss="modal"
                                    ng-disabled="m_oController.selectedProductIsEmpty() || m_oController.nameIsUsed()">
                                {{"DIALOG_RUN_BUTTON"|translate}}
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>