<div class="modal fade apply-orbit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{"DIALOG_RADIOMETRIC_CALIBRATION_TITLE"|translate}}</h4>
            </div>
            <div class="modal-body">
                <h4>
                    <!--<ul class="nav nav-tabs">-->
                    <!--<li class="active"><a data-toggle="tab" href="" ng-click="m_oController.tabOpen('tab1')">{{"DIALOG_APPLY_ORBIT_TAB_INPUT_OUTPUT"|translate}}</a></li>-->
                    <!--<li><a data-toggle="tab" href="" ng-click="m_oController.tabOpen('tab2')">{{"DIALOG_APPLY_ORBIT_TAB_PROCESSING"|translate}}</a></li>-->
                    <!--</ul>-->
                    <!-------------------------------------------INPUT OUTPUT PARAMETERS-------------------------------->
                    <!--<div ng-show="m_oController.firstTabIsOpen()">-->
                    <div ng-include src="'dialogs/InputOutputParametersView.html'"></div>
                    <!--</div>-->
                    <!------------------------------------ PROCESSING PARAMETERS -------------------------------------->
                    <!--<div ng-show="m_oController.secondTabIsOpen()" >-->
                    </br>
                    <form>
                        <fieldset>
                            <div class="processing-parameters">
                                <legend><h3>{{"DIALOG_APPLY_ORBIT_TAB_PROCESSING"|translate}}</h3></legend>
                                <!--MULTISELECT-->
                                <div class="row">
                                    <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        {{"DIALOG_RADIOMETRIC_CALIBRATION_POLARISATION"|translate}}
                                    </div>
                                    <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <multiselect  selected="m_oController.m_asSourceBandsSelected" options="m_oController.m_asSourceBands" ></multiselect>
                                    </div>
                                </div>


                                <!-- DROPDOWN MENU-->
                                <!--{{"DIALOG_RADIOMETRIC_CALIBRATION_AUXILIARY_FILE"|translate}}-->
                                <!--<div class="dropdown">-->
                                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"-->
                                            <!--data-toggle="dropdown">-->
                                        <!--{{m_oController.m_sSelectedAuxiliaryFile}}-->
                                        <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">-->
                                        <!--<li role="presentation" ng-repeat="auxiliaryFile in m_oController.m_asAuxiliaryFile" ng-click="m_oController.m_sSelectedCalibration = auxiliaryFile">-->
                                            <!--<a role="menuitem" tabindex="-1" href="">{{auxiliaryFile}}</a>-->
                                        <!--</li>-->
                                        <!--&lt;!&ndash;<li role="presentation"><a role="menuitem" tabindex="-1" href="">Action</a></li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<li role="presentation"><a role="menuitem" tabindex="-1" href="">Another action</a></li>&ndash;&gt;-->
                                    <!--</ul>-->
                                <!--</div>-->

                                <!--CHECK BOX-->
                                <div class="checkbox">
                                    <div class="row">
                                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.outputImageInComplex">
                                            {{"DIALOG_RADIOMETRIC_CALIBRATION_CHECKBOX_SAVE_COMPLEX_OUTPUT"|translate}}
                                        </div>
                                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.outputImageScaleInDb">
                                            {{"DIALOG_RADIOMETRIC_CALIBRATION_CHECKBOX_SAVE_DB"|translate}}
                                        </div>
                                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.createGammaBand">
                                            {{"DIALOG_RADIOMETRIC_CALIBRATION_CREATE_GAMMA"|translate}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <input type="checkbox" value="" ng-model="m_oController.m_oReturnValue.options.createBetaBand">
                                            {{"DIALOG_RADIOMETRIC_CALIBRATION_CREATE_BETA"|translate}}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <!--</div>-->
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
                <button type="button" ng-click="run(m_oController.m_oReturnValue)" class="my-button" data-dismiss="modal"  ng-disabled="m_oController.selectedProductIsEmpty()">
                    {{"DIALOG_RUN_BUTTON"|translate}}
                </button>
            </div>

        </div>
    </div>
</div>