<div class="modal fade get-capabilities-info-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{"DIALOG_GET_CAPABILITIES_TITLE"|translate}}
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">

                <!--{{m_oController.getLayers()}}-->
                <div class="row-v4">
                    <div class="col-v4">
                        <div class="my-input-text" >
                            <input type="text" class="form-control" placeholder="{{'DIALOG_GET_CAPABILITIES_SERVER'|translate}}" ng-model="input">
                        </div>
                    </div>
                    <div class="col-v4-auto d-flex flex-column justify-content-center">
                        <div class="btn btn-primary btn-wasdi" ng-click="m_oController.loadLayers(input)" >{{"DIALOG_GET_CAPABILITIES_SEARCH"|translate}}</div>
                    </div>
                </div>


                <div ng-show="m_oController.m_bIsVisibleLoadIcon == true" class="my-loading" >
                    <em class="fa fa-spinner fa-pulse fa-3x fa-fw" ></em>
                    <span class="sr-only">{{"DIALOG_GET_CAPABILITIES_LOADING"|translate}}</span>
                </div>

                <div class=" dropdown dropdown-layers" ng-show="m_oController.m_bIsVisibleLoadIcon == false && m_oController.isEmptyLayersList()==false">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{"DIALOG_GET_CAPABILITIES_LAYERS"|translate}}
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                        <li ng-repeat=" layer in m_oController.getLayers()" ng-click="m_oController.publishLayer(layer)">{{layer.Name}}</li>

                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">{{"DIALOG_GET_CAPABILITIES_EXIT"|translate}}</button>
            </div>
        </div>
    </div>
</div>
