.upload-file-modal
{
  .modal-dialog
  {
    .modal-content
    {
      .modal-header
      {
        color:$wasdi-white;
        background-color: $wasdi-blue-logo;
        .close
        {
          color: $wasdi-white;
          opacity: 1;
        }
        .snap-logo{
          width: 50px;
        }
      }

      .modal-body
      {
        .loadIcon{
          padding-bottom: 50px;
        }
      }

      .modal-footer
      {
        border-top:1px solid $wasdi-blue-logo;
        .my-button
        {
          padding: 10px 21px;
        }
      }
    }
  }
}