<div class="modal fade upload-file-modal">
    <div class="modal-dialog ">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
                <div class="row-v4">
                    <div class="col-v4-xs-11 col-v4-sm-11 col-v4-md-11 col-v4-lg-11">
                        <h4 class="modal-title ">
                            Upload File
                        </h4>
                    </div>
                    <div class="col-v4-xs-1 col-v4-sm-1 col-v4-md-1 col-v4-lg-1">
                        <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                </div>
            </div>
            <!-- BODY -->
            <div class="modal-body container-fluid-v4">
                <div class="row-v4">
                    <div class="col-v4 container" >

                        <div class="d-flex align-items-start" ng-hide="m_oController.m_bIsUploading === false">
                            <div class="loadIcon">
                                <invader> </invader>
                            </div>
                        </div>

                        <div ng-show="m_oController.m_bIsUploading === false">
                            <div class="drag-and-drop " >
                                Upload File
                                <div ngf-drop ngf-select ng-model="m_oController.m_oFile" class="drop-box"
                                     ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                     accept="*/*"
                                     ngf-pattern="'*/*'">

                                    <div ng-show="m_oController.m_oFile">File: {{m_oController.m_oFile[0].name}}</div>
                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
            <!-- FOOTER -->
            <div class="modal-footer">

                <button type="button" ng-click="run(null)" class="btn btn-primary btn-wasdi" ng-disabled="m_oController.isFileChosen()" >
                    Upload file
                </button>
                <button type="button" ng-click="close(null)" class="btn btn-primary btn-wasdi " data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
            </div>

        </div>
    </div>
</div>
