<div class="modal fade edit-user-dialog-catalog">
    <div class="modal-dialog modal-wasdi">
        <div class="modal-content">
            <!-- HEADER -->
            <div class=" modal-header">

                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <h4>
                        <img src="assets/icons/white-user-icon2.png" style="width: 26px" />
                        {{ "DIALOG_EDIT_USER" | translate }}
                    </h4>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

            </div>
            <!-- BODY -->
            <div class="modal-body no-ale-style">

                <div class="row-v4">
                    <div class="col-v4">
                        <form ng-show = "m_oController.isUserLoggedWithGoogle()">
                            <legend>{{"DIALOG_EDIT_USER_INFO_GOOGLE_ACCOUNT"|translate}}</legend>
                            User email: {{m_oController.m_oUser.userId}}
                        </form>
                    </div>
                </div>

                <!-- Edit user info form -->
                <div class="row-v4">
                    <div class="col-v4">
                        <legend>{{"DIALOG_EDIT_USER_INFO"|translate}}</legend>
                        <form name="changeUserInfoForm" ng-submit="m_oController.changeUserInfo()" ng-hide = "m_oController.isUserLoggedWithGoogle()">
                            <div class="form-v4-group row">
                                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_USER_INFO_NAME'|translate}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-v4-control-plaintext wasdi-input" name="name"  ng-model="m_oController.m_oEditUser.name" required>
                                </div>
                            </div>
                            <div class="form-v4-group row">
                                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_USER_INFO_SURNAME'|translate}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-v4-control-plaintext wasdi-input" ng-model="m_oController.m_oEditUser.surname" required>
                                </div>
                            </div>
                            <div class="col-12 text-right">
                                <button type="submit"  class="btn btn-primary btn-wasdi" ng-disabled="changeUserInfoForm.$invalid === true || changeUserInfoForm.$dirty === false ">
                                    {{"DIALOG_EDIT_USER_EDIT_USER_INFO"|translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Edit user password form -->
                <div class="row-v4 mt-3">
                    <div class="col-v4">
                        <legend>{{"DIALOG_EDIT_USER_CHANGE_PASSWORD"|translate}}</legend>
                        <form name="changeUserInfoForm" ng-submit="m_oController.changePassword()" ng-hide = "m_oController.isUserLoggedWithGoogle()">
                            <div class="form-v4-group row">
                                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_USER_OLD_PASSWORD'|translate}}</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-v4-control-plaintext wasdi-input" name="usercurrentpassword"  ng-model="m_oController.m_oEditUser.currentPassword" required>
                                </div>
                            </div>
                            <div class="form-v4-group row">
                                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_USER_NEW_PASSWORD'|translate}}</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-v4-control-plaintext wasdi-input" name="usernewpassword"  ng-model="m_oController.m_oEditUser.newPassword" ng-minlength="8" required>
                                </div>
                                <h5 class="error-message" ng-if="(m_oController.m_oEditUser.newPassword.length !== 0) &&
                                                         (!changePasswordForm.usernewpassword.$valid)">
                                    The value is too short
                                </h5>
                            </div>
                            <div class="form-v4-group row">
                                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_USER_REPEAT_NEW_PASSWORD'|translate}}</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-v4-control-plaintext wasdi-input" name="userrepeatpassword" ng-model="m_oController.m_oEditUser.repeatNewPassword" ng-minlength="8" required>
                                </div>
                                <h5 class="error-message" ng-if="(changePasswordForm.userrepeatpassword.$dirty === true) &&
                                                        (changePasswordForm.usernewpassword.$viewValue !== changePasswordForm.userrepeatpassword.$viewValue)">
                                    The passwords are different
                                </h5>
                            </div>
                            <div class="col-12 text-right">
                                <button type="submit" class="btn btn-primary btn-wasdi" ng-disabled="changePasswordForm.$invalid === true"><!--ng-class="{disabled: changePasswordForm.$invalid === true }"-->
                                    {{"DIALOG_EDIT_USER_CHANGE_PASSWORD"|translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!--<h4>-->

                    <!--<div class="edit-content" >-->


                        <!--<form name="changeUserInfoForm" ng-submit="m_oController.changeUserInfo()" ng-hide = "m_oController.isUserLoggedWithGoogle()">-->
                            <!--<legend>{{"DIALOG_EDIT_USER_INFO"|translate}}</legend>-->

                            <!--<div class="loadIcon" ng-show="m_oController.m_bEditingUserInfo" >&lt;!&ndash;ng-show="m_oController.m_bEditingPassword" &ndash;&gt;-->
                                <!--<invader></invader>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div class="loadIcon" >&lt;!&ndash;ng-show="m_oController.m_bEditingPassword" &ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;<invader></invader>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                            <!--<div ng-hide="m_oController.m_bEditingUserInfo">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
                                        <!--{{'DIALOG_EDIT_USER_INFO_NAME'|translate}}-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">-->
                                        <!--<div class="my-input-text">-->
                                            <!--<input type="text" name="name"  ng-model="m_oController.m_oEditUser.name"-->
                                                   <!--class=""  required>&lt;!&ndash;  placeholder="{{'DIALOG_EDIT_USER_PASSWORD'|translate}}"&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row">-->
                                    <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
                                        <!--{{'DIALOG_EDIT_USER_INFO_SURNAME'|translate}}-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">-->

                                        <!--<div class="my-input-text">-->
                                            <!--<input type="text" name="surname"  class=""-->
                                                   <!--ng-model="m_oController.m_oEditUser.surname" required>&lt;!&ndash;placeholder="{{'DIALOG_EDIT_USER_REPEAT_PASSWORD'|translate}}"&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="row">-->
                                    <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8">-->
                                        <!--<button type="submit"  class="my-button" ng-disabled="changeUserInfoForm.$invalid === true || changeUserInfoForm.$dirty === false ">-->
                                            <!--{{"DIALOG_EDIT_USER_EDIT_USER_INFO"|translate}}-->
                                        <!--</button>-->
                                    <!--</div>-->

                                <!--</div>-->

                            <!--</div>-->

                        <!--</form>-->



                        <!--<form name="changePasswordForm" ng-submit="m_oController.changePassword()" ng-hide="m_oController.isUserLoggedWithGoogle()" >-->

                            <!--<legend>{{"DIALOG_EDIT_USER_CHANGE_PASSWORD"|translate}}</legend>-->

                            <!--<div class="loadIcon" ng-show="m_oController.m_bEditingPassword" >&lt;!&ndash;ng-show="m_oController.m_bEditingPassword" &ndash;&gt;-->
                                <!--<invader></invader>-->
                            <!--</div>-->

                            <!--<div ng-hide="m_oController.m_bEditingPassword">-->
                                <!--&lt;!&ndash;OLD PASSWORD&ndash;&gt;-->
                                <!--<div class="row">-->
                                    <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
                                        <!--{{'DIALOG_EDIT_USER_OLD_PASSWORD'|translate}}-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">-->
                                        <!--<div class="my-input-text">-->
                                            <!--<input type="password" name="usercurrentpassword"  ng-model="m_oController.m_oEditUser.currentPassword"-->
                                                   <!--class="" required>&lt;!&ndash;  placeholder="{{'DIALOG_EDIT_USER_PASSWORD'|translate}}"&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--&lt;!&ndash; NEW PASSWORD&ndash;&gt;-->
                                <!--<div class="row">-->
                                    <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
                                        <!--{{'DIALOG_EDIT_USER_NEW_PASSWORD'|translate}}-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">-->
                                        <!--<div class="my-input-text">-->
                                            <!--<input type="password" name="usernewpassword"  ng-model="m_oController.m_oEditUser.newPassword"-->
                                                   <!--class="" ng-minlength="8" required>&lt;!&ndash;  placeholder="{{'DIALOG_EDIT_USER_PASSWORD'|translate}}"&ndash;&gt;-->
                                        <!--</div>-->
                                        <!--<h5 class="error-message" ng-if="(m_oController.m_oEditUser.newPassword.length !== 0) &&-->
                                                         <!--(!changePasswordForm.usernewpassword.$valid)">-->
                                            <!--The value is too short-->
                                        <!--</h5>-->
                                    <!--</div>-->

                                <!--</div>-->
                                <!--&lt;!&ndash;REPEAT NEW PASSWORD&ndash;&gt;-->
                                <!--<div class="row">-->
                                    <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
                                        <!--{{'DIALOG_EDIT_USER_REPEAT_NEW_PASSWORD'|translate}}-->
                                    <!--</div>-->

                                    <!--<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">-->

                                        <!--<div class="my-input-text">-->
                                            <!--<input type="password" name="userrepeatpassword"  class=""-->
                                                   <!--ng-model="m_oController.m_oEditUser.repeatNewPassword" ng-minlength="8" required>&lt;!&ndash;placeholder="{{'DIALOG_EDIT_USER_REPEAT_PASSWORD'|translate}}"&ndash;&gt;-->
                                        <!--</div>-->
                                        <!--<h5 class="error-message" ng-if="(changePasswordForm.userrepeatpassword.$dirty === true) &&-->
                                                        <!--(changePasswordForm.usernewpassword.$viewValue !== changePasswordForm.userrepeatpassword.$viewValue)">-->
                                            <!--The passwords are different-->
                                        <!--</h5>-->
                                    <!--</div>-->

                                <!--</div>-->

                                <!--&lt;!&ndash;BUTTON&ndash;&gt;-->
                                <!--<div class="row">-->
                                    <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8">-->
                                        <!--<button type="submit" class="my-button" ng-disabled="changePasswordForm.$invalid === true">&lt;!&ndash;ng-class="{disabled: changePasswordForm.$invalid === true }"&ndash;&gt;-->
                                            <!--{{"DIALOG_EDIT_USER_CHANGE_PASSWORD"|translate}}-->
                                        <!--</button>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->

                    <!--</div>-->

                <!--</h4>-->
            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="btn btn-primary btn-wasdi" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
                <!--<button type="button" ng-click="add(null)" class="my-button" data-dismiss="modal">-->
                    <!--Add-->
                <!--</button>-->
            </div>

        </div>
    </div>
</div>
