<div class="modal fade edit-user-dialog-catalog">
    <div class="modal-dialog" style="width: 65vw">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <h4>
                        <img src="assets/icons/white-user-icon2.png" style="width: 26px" alt="User-Icon" />
                        User Dashboard
                    </h4>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
            </div>
            <!-- BODY -->
            <div class="modal-body no-ale-style">
                <!-- Tab Navigation -->
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-class="{'active':m_oController.m_sSelectedTab === 'UserInfo'}"
                        ng-click="m_oController.m_sSelectedTab = 'UserInfo'">
                        <a href="" role="tab" data-toggle="tab">
                            <i class="fa fa-rocket"></i>
                            Edit User Info
                        </a>
                    </li>
                    <!-- P.Campanella 07-03-2023 Comment for align all the branches in Master-->
                    <!-- bspurgeon08 17-04-2023 Comment to remove old subscription management -->
                    <!-- <li ng-class="{'active':m_oController.m_sSelectedTab === 'UserSubscriptions'}"
                        ng-click="m_oController.m_sSelectedTab = 'UserSubscriptions'">
                        <a href="" role="tab" data-toggle="tab">
                            <i class="fa fa-credit-card"></i>
                            User Subscriptions
                        </a>
                    </li>
                     -->
                    <!--
                    <li ng-class="{'active':m_oController.m_sSelectedTab === 'UserProjects'}"
                        ng-click="m_oController.m_sSelectedTab = 'UserProjects'">
                        <a href="" role="tab" data-toggle="tab">
                            <i class="fa fa-briefcase"></i>
                            User Projects
                        </a>
                    </li>
                    -->
                    
                    <!-- P.Campanella 07-03-2023 Comment for align all the branches in Master-->
                    <li ng-class="{'active':m_oController.m_sSelectedTab === 'UserOrganizations'}"
                        ng-click="m_oController.m_sSelectedTab = 'UserOrganizations'">
                        <a href="" role="tab" data-toggle="tab">
                            <i class="fa fa-sitemap"></i>
                            User Organizations
                        </a>
                    </li>
                    
                </ul>
                <!-- Tab Content -->
                <div class="tab-content">
                    <div class="tab-pane fade in" id="UserInfo"
                        ng-class="{'active':m_oController.m_sSelectedTab === 'UserInfo'}"
                        ng-hide="m_oController.m_sSelectedTab !== 'UserInfo'">
                        <ng-include src="'dialogs/edit_user/TabUserInfo.html'"></ng-include>
                    </div>
                </div>
                <!-- P.Campanella 07-03-2023 Comment for align all the branches in Master-->
                <div class="tab-content">
                    <div class="tab-pane fade in" id="UserSubscriptions"
                        ng-class="{'active':m_oController.m_sSelectedTab === 'UserSubscriptions'}"
                        ng-hide="m_oController.m_sSelectedTab !== 'UserSubscriptions'">
                        <ng-include src="'dialogs/edit_user/TabUserSubscriptions.html'"></ng-include>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in" id="UserOrganizations"
                        ng-class="{'active':m_oController.m_sSelectedTab === 'UserOrganizations'}"
                        ng-hide="m_oController.m_sSelectedTab !== 'UserOrganizations'">
                        <ng-include src="'dialogs/edit_user/TabUserOrganizations.html'"></ng-include>
                    </div>
                </div>
            <!---->
            </div>
            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="btn btn-primary btn-wasdi" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>

                <!--Add-->
            </div>
        </div>
    </div>
</div>