<div class="organizations-view">
    <table class="table table-hover organizations-list">
        <thead>
            <tr>
                <th>Organization Name</th>
                <th>Organization Owner</th>
                <th></th>

                <th>
                    <button
                        class="btn btn-primary btn-wasdi"
                        title={{"DIALOG_EDIT_ORGANIZATION_ADD"|translate}}
                        ng-click="m_oController.showOrganizationEditForm(m_oController.m_oUser.userId, null)"
                    >
                        <!--Add Organization-->
                        <i
                            class="fa fa-plus"
                            aria-hidden="true"
                            style="margin-right: 0px"
                        ></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_ORGANIZATION_ADD"|translate}}</span
                        >
                        -->
                    </button>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oOrganization in m_oController.m_aoOrganizations"
                    ng-class="{'selected-row':m_oController.m_sSelectedOrganizationId === oOrganization.organizationId}" >
                <td>{{oOrganization.name}}</td>
                <td>{{oOrganization.ownerUserId}}</td>

                <td class="over-icon" ng-show="m_oController.m_oShowOrganizationUsersList === false">
                    <button
                        class="btn btn-primary btn-wasdi"
                        title={{"USER_ORGANIZATIONS_SHOW_USERS"|translate}}
                        ng-click="m_oController.showUsersByOrganization(m_oController.m_oUser.userId, oOrganization.organizationId)"
                    >
                        <!--Show Users-->
                        <i
                            class="fa fa-users fa-lg"
                            aria-hidden="true"
                            style="margin-right: 0px"
                        ></i>
                        <!--
                        <span class="ng-binding"
                            >{{"USER_ORGANIZATIONS_SHOW_USERS"|translate}}</span
                        >
                        -->
                    </button>
                </td>
                <td class="over-icon" ng-show="m_oController.m_oShowOrganizationUsersList === true">
                    <button
                        class="btn btn-primary btn-wasdi"
                        title={{"USER_ORGANIZATIONS_HIDE_USERS"|translate}}
                        ng-click="m_oController.hideUsersByOrganization(m_oController.m_oUser.userId, oOrganization.organizationId)"
                    >
                        <!--Hide Users-->
                        <i
                            class="fa fa-users fa-lg"
                            aria-hidden="true"
                            style="margin-right: 0px"
                        ></i>
                        <!--
                        <span class="ng-binding"
                            >{{"USER_ORGANIZATIONS_HIDE_USERS"|translate}}</span
                        >
                        -->
                    </button>
                </td>

                <td class="over-icon" ng-show="m_oController.m_oEditOrganization.organizationId !== oOrganization.organizationId">
                    <button
                        class="btn btn-primary btn-wasdi"
                        title={{"DIALOG_EDIT_ORGANIZATION_EDIT"|translate}}
                        ng-click="m_oController.showOrganizationEditForm(m_oController.m_oUser.userId, oOrganization.organizationId)"
                    >
                        <!--Edit Organization-->
                        <i
                            class="fa fa-edit"
                            aria-hidden="true"
                            style="margin-right: 0px"
                        ></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_ORGANIZATION_EDIT"|translate}}</span
                        >
                        -->
                    </button>
                </td>
                <td class="over-icon" ng-show="m_oController.m_oEditOrganization.organizationId === oOrganization.organizationId">
                    <span></span>
                </td>

                <td class="over-icon" ng-show="m_oController.m_oEditOrganization.organizationId === m_oController.m_oEditOrganization.organizationId">
                    <button
                        class="btn btn-primary btn-wasdi"
                        title={{"DIALOG_EDIT_ORGANIZATION_DELETE"|translate}}
                        ng-click="m_oController.deleteOrganization(m_oController.m_oUser.userId, oOrganization.organizationId)"
                    >
                        <!--Delete Organization-->
                        <i
                            class="fa fa-times"
                            aria-hidden="true"
                            style="margin-right: 0px"
                        ></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_ORGANIZATION_DELETE"|translate}}</span
                        >
                        -->
                    </button>
                </td>

            </tr>
        </tbody>
    </table>

    <table class="table table-hover" ng-show="m_oController.m_oShowOrganizationUsersList === true">
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <div ng-show="m_oController.m_aoUsersList.length > 0">
                        <div class="spacer"></div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>UserId</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oUser in m_oController.m_aoUsersList">
                                        <td>{{oUser.userId}}</td>
                                        <td>{{oUser.name}}</td>
                                        <td>{{oUser.surname}}</td>
                                        <td>{{oUser.role}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Add/Edit Organization form -->
<div class="row-v4" ng-show="m_oController.m_oShowEditOrganizationForm === true">
    <div class="col-v4">
        <legend ng-show="m_oController.m_oEditOrganization.organizationId == null">{{"DIALOG_ADD_ORGANIZATION"|translate}}</legend>
        <legend ng-show="m_oController.m_oEditOrganization.organizationId != null">{{"DIALOG_EDIT_ORGANIZATION"|translate}}</legend>
        <form name="editOrganizationForm" ng-submit="m_oController.saveOrganization()"
            ng-hide="m_oController.isUserLoggedWithGoogle()">

            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_ORGANIZATION_NAME'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input" name="name"
                        ng-model="m_oController.m_oEditOrganization.name" required />
                </div>
            </div>

            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_ORGANIZATION_DESCRIPTION'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input"
                        ng-model="m_oController.m_oEditOrganization.description" required />
                </div>
            </div>

            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_ORGANIZATION_ADDRESS'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input"
                        ng-model="m_oController.m_oEditOrganization.address" required />
                </div>
            </div>

            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_ORGANIZATION_EMAIL'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input"
                        ng-model="m_oController.m_oEditOrganization.email" required />
                </div>
            </div>

            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_ORGANIZATION_URL'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input"
                        ng-model="m_oController.m_oEditOrganization.url" required />
                </div>
            </div>

            <div class="col-12 text-right">
                <button type="button" class="btn btn-primary btn-wasdi"
                        ng-click="m_oController.cancelEditOrganizationForm()">
                    {{"DIALOG_EDIT_ORGANIZATION_CANCEL"|translate}}
                </button>
                <button type="submit" class="btn btn-primary btn-wasdi">
                    {{"DIALOG_EDIT_ORGANIZATION_SAVE"|translate}}
                </button>
            </div>
        </form>
    </div>
</div>
