<div class="subscriptions-view pt-3">
    <button class="btn btn-primary btn-wasdi mb-3" title={{"DIALOG_EDIT_SUBSCRIPTION_ADD"|translate}}
        ng-click="m_oController.showSubscriptionEditForm(m_oController.m_oUser.userId, null)">
        <!--Add Subscription-->
        <span class="ng-binding">{{"DIALOG_EDIT_SUBSCRIPTION_ADD"|translate}}</span>

    </button>
    <p class="mr-2 text-uppercase">
        ACCOUNT TYPE: <span class="text-success">{{m_oController.m_oUser.type}}</span>
    </p>
    <p>
        TOTAL PROCESSING TIME: <span class="text-success">{{m_oController.m_lTotalRuntime |
            convertMsToTime}}</span>
    </p>
    <!-- Subscriptions Table -->
    <table class="table table-hover subscriptions-list">
        <thead>
            <tr>
                <th>Subscription Name</th>
                <th>Subscription Type</th>
                <th>Subscription Owner</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oSubscription in m_oController.m_aoSubscriptions track by $index"
                ng-class="{'selected-row':m_oController.m_sSelectedSubscriptionId === oSubscription.subscriptionId}">
                <td>{{oSubscription.name}}</td>
                <td>{{oSubscription.type}}</td>
                <td>{{oSubscription.ownerUserId}}</td>

                <td class="over-icon">
                    <button class="btn btn-primary btn-wasdi" title={{"DIALOG_EDIT_SUBSCRIPTION_EDIT"|translate}}
                        ng-click="m_oController.showSubscriptionEditForm(m_oController.m_oUser.userId, oSubscription.subscriptionId)">
                        <!--Edit Subscription-->
                        <i class="fa fa-edit" aria-hidden="true" style="margin-right: 0px"></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_SUBSCRIPTION_EDIT"|translate}}</span
                        >
                        -->
                    </button>
                </td>

                <td class="over-icon"
                    ng-show="m_oController.m_oEditSubscription.subscriptionId === m_oController.m_oEditSubscription.subscriptionId">
                    <button class="btn btn-primary btn-wasdi" title={{"DIALOG_EDIT_SUBSCRIPTION_DELETE"|translate}}
                        ng-click="m_oController.deleteSubscription(m_oController.m_oUser.userId, oSubscription.subscriptionId)">
                        <!--Delete Subscription-->
                        <i class="fa fa-times" aria-hidden="true" style="margin-right: 0px"></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_SUBSCRIPTION_DELETE"|translate}}</span
                        >
                        -->
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>