<div class="row-v4">
    <div class="col-v4">
        <form ng-show="m_oController.isUserLoggedWithGoogle()">
            <legend>
                {{"DIALOG_EDIT_USER_INFO_GOOGLE_ACCOUNT"|translate}}
            </legend>
            User email: {{m_oController.m_oUser.userId}}
        </form>
    </div>
</div>

<!-- Show Account Info  -->
<div class="row-v4 mt-3">
    <div class="col-v4">
        <legend>
            {{"DIALOG_EDIT_USER_ACCOUNT_INFO"|translate}}
        </legend>

        <div class="d-flex flex-row">
            <p class="mr-2 text-uppercase">
                {{"DIALOG_EDIT_USER_USER_ID" | translate}}:
            </p>
            <p>
                {{m_oController.m_oUser.userId}}
            </p>
        </div>

        <div class="d-flex flex-row">
            <p class="mr-2 text-uppercase">
                {{"DIALOG_EDIT_USER_ACCOUNT_TYPE" | translate}}:
            </p>
            <p>
                <span class="text-success">{{m_oController.m_oUser.type}}</span>
            </p>
        </div>

        <div class="d-flex flex-row">
            <p class="mr-2 text-uppercase">
                {{"DIALOG_EDIT_USER_TIME" | translate}}:
            </p>
            <p>
                <span class="text-success">{{m_oController.m_lTotalRuntime | convertMsToTime}}</span>
            </p>
        </div>
    </div>
</div>

<!-- Edit user info form -->
<div class="row-v4 mt-2">
    <div class="col-v4">
        <legend>{{"DIALOG_EDIT_USER_INFO"|translate}}</legend>
        <form name="changeUserInfoForm" ng-submit="m_oController.changeUserInfo()"
            ng-hide="m_oController.isUserLoggedWithGoogle()">
            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_USER_INFO_NAME'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input" name="name"
                        ng-model="m_oController.m_oEditUser.name" required />
                </div>
            </div>
            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_USER_INFO_SURNAME'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input"
                        ng-model="m_oController.m_oEditUser.surname" required />
                </div>
            </div>
            <div class="form-v4-group row">
                <label for="" class="col-sm-2 col-form-v4-label">{{"DIALOG_EDIT_USER_USER_ID" | translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input" disabled
                        placeholder="{{m_oController.m_oUser.userId}}">
                </div>
            </div>
            <div class="col-12 text-right">
                <button type="submit" class="btn btn-primary btn-wasdi">
                    {{"DIALOG_EDIT_USER_EDIT_USER_INFO"|translate}}
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Edit user password form -->
<div class="row-v4 mt-2">
    <div class="col-v4">
        <legend>
            {{"DIALOG_EDIT_USER_CHANGE_PASSWORD"|translate}}
        </legend>
        <form name="changeUserInfoForm" ng-submit="m_oController.changePassword()"
            ng-hide="m_oController.isUserLoggedWithGoogle()">
            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_USER_OLD_PASSWORD'|translate}}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-v4-control-plaintext wasdi-input" name="usercurrentpassword"
                        ng-model="m_oController.m_oEditUser.currentPassword" required />
                </div>
            </div>
            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_USER_NEW_PASSWORD'|translate}}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-v4-control-plaintext wasdi-input" name="usernewpassword"
                        ng-model="m_oController.m_oEditUser.newPassword" ng-minlength="8" required />
                </div>
                <h5 class="error-message" ng-if="(m_oController.m_oEditUser.newPassword.length !== 0) &&
                                            (!changePasswordForm.usernewpassword.$valid)">
                    The value is too short
                </h5>
            </div>
            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_USER_REPEAT_NEW_PASSWORD'|translate}}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-v4-control-plaintext wasdi-input" name="userrepeatpassword"
                        ng-model="m_oController.m_oEditUser.repeatNewPassword" ng-minlength="8" required />
                </div>
                <h5 class="error-message"
                    ng-if="(changePasswordForm.userrepeatpassword.$dirty === true) &&
                                            (changePasswordForm.usernewpassword.$viewValue !== changePasswordForm.userrepeatpassword.$viewValue)">
                    The passwords are different
                </h5>
            </div>
            <div class="col-12 text-right">
                <button type="submit" class="btn btn-primary btn-wasdi"
                    ng-disabled="changePasswordForm.$invalid === true">
                    {{"DIALOG_EDIT_USER_CHANGE_PASSWORD"|translate}}
                </button>
            </div>
        </form>
    </div>
</div>