<div class="subscriptions-view pt-3">
    <legend>Subscriptions</legend>
    <p class="mr-2 text-uppercase">
        ACCOUNT TYPE: <span class="text-success">{{m_oController.m_oUser.type}}</span>
    </p>
    <p>
        TOTAL PROCESSING TIME: <span class="text-success">{{m_oController.m_lTotalRuntime |
            convertMsToTime}}</span>
    </p>
    <!-- Subscriptions Table -->
    <table class="table table-hover subscriptions-list">
        <thead>
            <tr>
                <th>Subscription Name</th>
                <th>Subscription Type</th>
                <th>Subscription Owner</th>

                <th>
                    <button class="btn btn-primary btn-wasdi" title={{"DIALOG_EDIT_SUBSCRIPTION_ADD"|translate}}
                        ng-click="m_oController.showSubscriptionEditForm(m_oController.m_oUser.userId, null)">
                        <!--Add Subscription-->
                        <i class="fa fa-plus" aria-hidden="true" style="margin-right: 0px"></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_SUBSCRIPTION_ADD"|translate}}</span
                        >
                        -->
                    </button>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oSubscription in m_oController.m_aoSubscriptions track by $index"
                ng-class="{'selected-row':m_oController.m_sSelectedSubscriptionId === oSubscription.subscriptionId}">
                <td>{{oSubscription.name}}</td>
                <td>{{oSubscription.type}}</td>
                <td>{{oSubscription.ownerUserId}}</td>

                <td class="over-icon">
                    <button class="btn btn-primary btn-wasdi" title={{"DIALOG_EDIT_SUBSCRIPTION_EDIT"|translate}}
                        ng-click="m_oController.showSubscriptionEditForm(m_oController.m_oUser.userId, oSubscription.subscriptionId)">
                        <!--Edit Subscription-->
                        <i class="fa fa-edit" aria-hidden="true" style="margin-right: 0px"></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_SUBSCRIPTION_EDIT"|translate}}</span
                        >
                        -->
                    </button>
                </td>
                <!-- <td class="over-icon"
                    ng-show="m_oController.m_oEditSubscription.subscriptionId === oSubscription.subscriptionId">
                    <span></span>
                </td> -->

                <td class="over-icon"
                    ng-show="m_oController.m_oEditSubscription.subscriptionId === m_oController.m_oEditSubscription.subscriptionId">
                    <button class="btn btn-primary btn-wasdi" title={{"DIALOG_EDIT_SUBSCRIPTION_DELETE"|translate}}
                        ng-click="m_oController.deleteSubscription(m_oController.m_oUser.userId, oSubscription.subscriptionId)">
                        <!--Delete Subscription-->
                        <i class="fa fa-times" aria-hidden="true" style="margin-right: 0px"></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_SUBSCRIPTION_DELETE"|translate}}</span
                        >
                        -->
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Add/Edit Subscription form -->
<!-- <div class="row-v4" ng-show="m_oController.m_oShowEditSubscriptionForm === true">
    <div class="spacer"></div>
    <div class="col-v4">
        <legend ng-show="m_oController.m_oEditSubscription.subscriptionId == null">{{"DIALOG_ADD_SUBSCRIPTION"|translate}}</legend>
        <legend ng-show="m_oController.m_oEditSubscription.subscriptionId != null">{{"DIALOG_EDIT_SUBSCRIPTION"|translate}}</legend>
        <form name="editSubscriptionForm" ng-submit="m_oController.saveSubscription()"
            ng-hide="m_oController.isUserLoggedWithGoogle()">

            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_SUBSCRIPTION_NAME'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input" name="name"
                        ng-model="m_oController.m_oEditSubscription.name" required />
                </div>
            </div>

            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_SUBSCRIPTION_DESCRIPTION'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input"
                        ng-model="m_oController.m_oEditSubscription.description" />
                </div>
            </div> -->

<!--
            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_SUBSCRIPTION_TYPE'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input"
                        ng-model="m_oController.m_oEditSubscription.type" required />
                </div>
            </div>
            -->

<!-- <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_SUBSCRIPTION_TYPE'|translate}}</label>
                <div class="col-sm-10">
                    <div ng-show="!m_oController.m_bLoadingTypes">
                        <wapdropdown
                            list-of-values="m_oController.m_aoTypesMap"
                            selected-value="m_oController.m_oType"
                            enable-search-filter="true"
                            dropdown-name="Type"
                            ng-model="m_oController.m_oType" required
                        >
                        </wapdropdown>
                    </div>
                    <div ng-show="m_oController.m_bLoadingTypes">
                        <invader></invader>
                    </div>
                </div>
            </div>

            <div class="form-v4-group row">
                <label class="col-sm-2 col-form-v4-label">{{'DIALOG_EDIT_SUBSCRIPTION_ORGANIZATION'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-v4-control-plaintext wasdi-input"
                        ng-model="m_oController.m_oEditSubscription.organizationId" />
                </div>
            </div>

            <div class="col-12 text-right">
                <button type="button" class="btn btn-primary btn-wasdi"
                        ng-click="m_oController.cancelEditSubscriptionForm()">
                    {{"DIALOG_EDIT_SUBSCRIPTION_CANCEL"|translate}}
                </button>
                <button type="submit" class="btn btn-primary btn-wasdi">
                    {{"DIALOG_EDIT_SUBSCRIPTION_SAVE"|translate}}
                </button>
            </div>
        </form>
    </div>
</div> -->

<!-- <div class="row-v4 mt-2">
    <div class="col-v4">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Subscription</th>
                    <th scope="col">Organization</th>
                    <th scope="col">Status</th>
                    <th scope="col">Time</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   
                   <td></td>
         
                    <td></td>
   
                    <td></td>
                    
<td></td>

<td>
    <button class="btn btn-primary btn-wasdi">
        <i class="fa fa-file"></i>

        <span class="ng-binding">
            Show Projects
        </span>
    </button>
</td>
</tr>
</tbody>
</table>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Project Name</td>
            <td>Project Description blah blah</td>
        </tr>
    </tbody>
</table>
</div>
</div> -->