<div class="organizations-view">
    <button class="btn btn-primary btn-wasdi mt-4" title={{"DIALOG_EDIT_ORGANIZATION_ADD"|translate}}
        ng-click="m_oController.showOrganizationEditForm(m_oController.m_oUser.userId, null, true)">
        <!--Add Organization-->
        <!-- <i class="fa fa-plus" aria-hidden="true" style="margin-right: 0px"></i> -->
        <span class="ng-binding">{{"DIALOG_EDIT_ORGANIZATION_ADD"|translate}}
        </span>
    </button>
    <table class="table table-hover organizations-list">
        <thead>
            <tr>
                <th>Organization Name</th>
                <th>Organization Owner</th>
                <th></th>

                <th>
                    Actions
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="oOrganization in m_oController.m_aoOrganizations">
                <td>{{oOrganization.name}}</td>
                <td>{{oOrganization.ownerUserId}}</td>

                <td class="over-icon">
                    <span ng-show="oOrganization.adminRole === false">&nbsp;</span>
                    <button ng-show="oOrganization.adminRole === true" class="btn btn-primary btn-wasdi" title={{"USER_ORGANIZATIONS_SHOW_USERS"|translate}}
                        ng-click="m_oController.showUsersByOrganization(oOrganization.organizationId)">
                        <!--Show Users-->
                        <i class="fa fa-users fa-lg" aria-hidden="true" style="margin-right: 0px"></i>
                        <!--
                        <span class="ng-binding"
                            >{{"USER_ORGANIZATIONS_SHOW_USERS"|translate}}</span
                        >
                        -->
                    </button>
                </td>

                <td class="over-icon">
                    <button class="btn btn-primary btn-wasdi" title={{"DIALOG_EDIT_ORGANIZATION_VIEW"|translate}}
                        ng-show="oOrganization.adminRole === false"
                        ng-click="m_oController.showOrganizationEditForm(m_oController.m_oUser.userId, oOrganization.organizationId, false)">
                        <!--Edit Organization-->
                        <i class="fa fa-info-circle" aria-hidden="true" style="margin-right: 0px"></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_ORGANIZATION_VIEW"|translate}}</span
                        >
                        -->
                    </button>
                    <button class="btn btn-primary btn-wasdi" title={{"DIALOG_EDIT_ORGANIZATION_EDIT"|translate}}
                        ng-show="oOrganization.adminRole === true"
                        ng-click="m_oController.showOrganizationEditForm(m_oController.m_oUser.userId, oOrganization.organizationId, true)">
                        <!--Edit Organization-->
                        <i class="fa fa-edit" aria-hidden="true" style="margin-right: 0px"></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_ORGANIZATION_EDIT"|translate}}</span
                        >
                        -->
                    </button>
                </td>

                <td class="over-icon"
                    ng-show="m_oController.m_oEditOrganization.organizationId === m_oController.m_oEditOrganization.organizationId">
                    <button class="btn btn-danger btn-wasdi" title={{"DIALOG_EDIT_ORGANIZATION_DELETE"|translate}}
                        ng-click="m_oController.deleteOrganization(m_oController.m_oUser.userId, oOrganization.organizationId)">
                        <!--Delete Organization-->
                        <i class="fa fa-times" aria-hidden="true" style="margin-right: 0px"></i>
                        <!--
                        <span class="ng-binding"
                            >{{"DIALOG_EDIT_ORGANIZATION_DELETE"|translate}}</span
                        >
                        -->
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
    <div class="loadIcon" ng-show="m_oController.m_bLoadingOrganizations">
        <invader></invader>
    </div>
</div>