<div class="modal fade edrift-flood-automatic-chain-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- HEADER -->
            <div class=" modal-header">
                <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                    {{"DIALOG_LIST_FLOOD_AREA_DETECTION_TITLE"|translate}}
                </h4>
            </div>
            <!-- BODY -->
            <div class="modal-body ">
                <h4>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 list-flood-area-detection-container">-->
                                <!--<img class="logo-container" src="assets/myDewetra/opera.png" ng-click="m_oController.redirectToWebSite()">-->
                                <!--&lt;!&ndash;<img class="opera-logo" src="assets/myDewetra/mydewetra_12.png" ng-click="m_oController.redirectToOperaWebSite()">&ndash;&gt;-->
                            <!--</div>-->
                            <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 list-flood-area-detection-container">-->
                                <!--<img class="logo-container" src="assets/myDewetra/DPC_small.png" ng-click="m_oController.redirectToWebSite()">-->
                                <!--&lt;!&ndash;<img class="opera-logo" src="assets/myDewetra/mydewetra_12.png" ng-click="m_oController.redirectToOperaWebSite()">&ndash;&gt;-->
                            <!--</div>-->
                            <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 list-flood-area-detection-container">-->
                                <!--<img class="logo-container" src="assets/wasdi/logoAsi.png" ng-click="m_oController.redirectToWebSite()">-->

                            <!--</div>-->
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 list-flood-area-detection-container">
                                <img class="logo-container" src="assets/wasdi/FadeoutLogo.png" ng-click="m_oController.redirectToWebSite()">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 list-flood-area-detection-container">
                                <img class="logo-container" src="assets/ListFlood/esa.png" ng-click="m_oController.redirectToWebSite()">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 list-flood-area-detection-container">
                                <img class="logo-container" src="assets/ListFlood/list.png" ng-click="m_oController.redirectToWebSite()">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 list-flood-area-detection-container">
                                <img class="logo-container" src="assets/wasdi/logoCima.png" ng-click="m_oController.redirectToWebSite()">
                            </div>


                        </div>
                    </div>

                    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                        <!--<div class="row reference-container">-->
                            <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label-dropdown-menu">-->
                                <!--{{"DIALOG_LIST_FLOOD_AREA_DETECTION_REFERENCE_CONTAINER"|translate}}-->
                            <!--</div>-->
                            <!--<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">-->
                                <!--<div class="dropdown my-dropdown">-->
                                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownReferenceProduct"-->
                                            <!--data-toggle="dropdown">-->
                                        <!--{{m_oController.m_oSelectedReferenceProduct.name}}-->
                                        <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownReferenceProduct">-->
                                        <!--<li role="presentation" ng-repeat="product in m_oController.m_aoProducts" >-->
                                            <!--<a role="menuitem" tabindex="-1" href="" ng-click="m_oController.m_oSelectedReferenceProduct = product">-->
                                                <!--{{product.name}}-->
                                            <!--</a>-->
                                        <!--</li>-->

                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                        <!--<div class="row post-event-image-container">-->
                            <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 label-dropdown-menu">-->
                                <!--{{"DIALOG_LIST_FLOOD_AREA_DETECTION_POST_EVENT_IMAGE_CONTAINER"|translate}}-->
                            <!--</div>-->
                            <!--<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">-->
                                <!--<div class="dropdown my-dropdown">-->
                                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownPostEventImageProduct"-->
                                            <!--data-toggle="dropdown">-->
                                        <!--{{m_oController.m_oSelectedPostEventImageProduct.name}}-->
                                        <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownPostEventImageProduct">-->
                                        <!--<li role="presentation" ng-repeat="product in m_oController.m_aoProducts" >-->
                                            <!--<a role="menuitem" tabindex="-1" href="" ng-click="m_oController.m_oSelectedPostEventImageProduct = product">-->
                                                <!--{{product.name}}-->
                                            <!--</a>-->
                                        <!--</li>-->

                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--&lt;!&ndash;<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button ng-click="m_oController.runListFloodAreaDetection()" class="my-button">Run</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 my-input-text">
                        <div class="row post-event-image-container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Bounding box
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.BBOX">
                            </div>
                        </div>
                        <div class="row post-event-image-container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Orbits
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.ORBITS">
                            </div>
                        </div>
                        <div class="row post-event-image-container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Grid step
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.GRIDSTEP">
                            </div>
                        </div>
                        <div class="row post-event-image-container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Last days
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.LASTDAYS">
                            </div>
                        </div>
                        <div class="row post-event-image-container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Preprocess workflow
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.PREPROCWORKFLOW">
                            </div>
                        </div>
                        <div class="row post-event-image-container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Mosaic base name
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.MOSAICBASENAME">
                            </div>
                        </div>
                        <div class="row post-event-image-container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Mosaic X step
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.MOSAICXSTEP">
                            </div>
                        </div>
                        <div class="row post-event-image-container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Mosaic Y step
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.MOSAICYSTEP">
                            </div>
                        </div>
                        <div class="row post-event-image-container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                Simulate
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.SIMULATE">
                            </div>
                        </div>
                        <div class="row post-event-image-container">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                End date
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.ENDDATE">
                            </div>
                        </div>
                        <!--<div class="row post-event-image-container">-->
                            <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">-->
                                <!--{{"DIALOG_LIST_FLOOD_AREA_DETECTION_HSBA_START_DEPTH_LABEL"|translate}}-->
                            <!--</div>-->
                            <!--<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">-->
                                <!--<input type="text" name="" class="" value="" title="" ng-model="m_oController.m_iHSBAStartDepth">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row post-event-image-container">-->
                            <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">-->
                                <!--{{"DIALOG_LIST_FLOOD_AREA_DETECTION_BIMODALITY_COEFFICENT_LABEL"|translate}}-->
                            <!--</div>-->
                            <!--<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">-->
                                <!--<input type="text" name="" class="" value="" title="" ng-model="m_oController.m_dBimodalityCoefficent">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row post-event-image-container">-->
                            <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">-->
                                <!--{{"DIALOG_LIST_FLOOD_AREA_DETECTION_MINIMUM_TILE_DIMENSION_LABEL"|translate}}-->
                            <!--</div>-->
                            <!--<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">-->
                                <!--<input type="text" name="" class="" value="" title="" ng-model="m_oController.m_iMinimumTileDimension">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row post-event-image-container">-->
                            <!--<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">-->
                                <!--{{"DIALOG_LIST_FLOOD_AREA_DETECTION_MINIMAL_BLOB_REMOVAL_LABEL"|translate}}-->
                            <!--</div>-->
                            <!--<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">-->
                                <!--<input type="text" name="" class="" value="" title="" ng-model="m_oController.m_iMinimalBlobRemoval">-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>

                    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                        <!--<div class="row post-event-image-container">-->
                            <!--<button ng-click="m_oController.runListFloodAreaDetection()" class="my-button">Run</button>-->

                        <!--</div>-->
                    <!--</div>-->
                </h4>
            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>

                <button ng-click="m_oController.runAutoChain()" class="my-button" data-dismiss="modal">
                    Run Auto Chain
                </button>

                <!--<button ng-click="m_oController.runListFloodAreaDetection()" class="my-button" data-dismiss="modal">-->
                    <!--Run-->
                <!--</button>-->

            </div>

        </div>
    </div>
</div>
