# test/jmeterTests/SingleApiTests/AuthResource/login.json

# (recursively) ignore file with the following names, whatever the containing directory
.classpath
.project
.settings
*.class
.idea
.idea/
**/.idea
**/.idea/
/node_modules
**/.metadata	
/Servers/
/.metadata/

wasdiwebserver/WebContent/META-INF/
wasdiwebserver/WebContent/WEB-INF/web.xml

/playground
.recommenders/
*.pyc
libraries/octavewasdilib/jwasdilib-0.1.1.jar
libraries/matlabwasdilib/jwasdilib-0.1.2.jar
libraries/waspy/wasdi.egg-info/SOURCES.txt
libraries/waspy/wasdi.egg-info/PKG-INFO
libraries/waspy/dist/wasdi-0.1.1.tar.gz
libraries/waspy/dist/wasdi-0.1.1-py3-none-any.whl
libraries/waspy/.pydevproject
libraries/waspy/waspy.egg-info/dependency_links.txt
libraries/waspy/waspy.egg-info/SOURCES.txt
libraries/waspy/waspy.egg-info/PKG-INFO
libraries/waspy/wasdi.egg-info/top_level.txt
libraries/waspy/wasdi.egg-info/dependency_links.txt
libraries/waspy/waspy.egg-info/top_level.txt
eDriftProcessors/config.properties
libraries/wpasdi/src/main/java/org/geoserver/wpasdi/target/surefire-reports/TEST-org.geoserver.wpasdi.AppTest.xml
libraries/wpasdi/src/main/java/org/geoserver/wpasdi/target/maven-archiver/pom.properties
libraries/wpasdi/src/test/java/org/geoserver/wpasdi/AppTest.java
libraries/wpasdi/src/main/java/org/geoserver/wpasdi/target/wpasdi-1.0.0.jar
libraries/wpasdi/src/main/java/org/geoserver/wpasdi/target/surefire-reports/org.geoserver.wpasdi.AppTest.txt
libraries/wpasdi/src/main/java/org/geoserver/wpasdi/target/classes/META-INF/maven/org.geoserver/wpasdi/pom.xml
libraries/wpasdi/src/main/java/org/geoserver/wpasdi/target/classes/META-INF/maven/org.geoserver/wpasdi/pom.properties
libraries/wpasdi/src/main/java/org/geoserver/wpasdi/target/classes/META-INF/MANIFEST.MF
libraries/wpasdi/src/main/java/org/geoserver/wpasdi/target/classes/applicationContext.xml
wrappersnap/launcher/src/main/java/PwTest.java
wrappersnap/launcher/src/main/java/NewLauncherOperationTest.java
wrappersnap/launcher/src/main/java/MosaicTest.java
wrappersnap/launcher/src/main/java/IDLProcessorTest.java
SEADRIF_DELTARES/PopulationAffected_Sentinel.py
SEADRIF_DELTARES/Phase3.py
SEADRIF_DELTARES/Phase2.py
SEADRIF_DELTARES/Phase1.py
SEADRIF_DELTARES/EO_receipt.py
SEADRIF_DELTARES/.pydevproject
libraries/waspyTEST/wasdiProcessorServer.py
libraries/waspyTEST/wasdiProcessorExecutor.py
libraries/waspyTEST/myProcessor.zip
libraries/waspyTEST/myProcessor.py
eDriftProcessors/gabTest.py
SEADRIF_DELTARES/unosat.py
SEADRIF_DELTARES/main.py
SEADRIF_DELTARES/gdal_merge_lofsum.py
SEADRIF_DELTARES/gdal_merge_lofmax.py
SEADRIF_DELTARES/gdal_merge.py
SEADRIF_DELTARES/det_defmatch2.py
SEADRIF_DELTARES/dateparsing.py
SEADRIF_DELTARES/baserecords.py
SEADRIF_DELTARES/Validation.py
SEADRIF_DELTARES/Script.zip
SEADRIF_DELTARES/sentinel.py
SEADRIF_DELTARES/retr_MODIS.py
SEADRIF_DELTARES/retr_GLOSSIS.py
SEADRIF_DELTARES/retr_GLOSS.py
SEADRIF_DELTARES/retr_DMHMYA.py
SEADRIF_DELTARES/retr_DMHMEK2.py
SEADRIF_DELTARES/privatekey
libraries/waspyTEST/config.json
libraries/waspyTEST/DockerfilePY3.4
libraries/waspyTEST/Dockerfile
libraries/waspyTEST/.pydevproject
libraries/matlabwasdilib/jwasdilib-0.9.1.jar
eDriftProcessors/testMosaic.py
eDriftProcessors/myProcessor.py
libraries/waspyTEST/pip.txt
libraries/waspyTEST/params.json
libraries/waspyTEST/packages.txt
wasditrigger/dependency-reduced-pom.xml
wasditrigger/.gitignore
wasdiPython37Docker/config.json
wasdiPython37Docker/.pydevproject
wrappersnap/launcher/dependency-reduced-pom.xml
wrappersnap/launcher/.pydevproject
wasdiPython27Docker/config.json
wasdiPython27Docker/.pydevproject
libraries/wpasdi/.gitignore
libraries/wpsclient/target/classes/META-INF/maven/wasdi/wpsclient/pom.properties
libraries/wpsclient/target/classes/META-INF/MANIFEST.MF
libraries/wpsclient/target/classes/META-INF/maven/wasdi/wpsclient/pom.xml
libraries/wpsclient/target/classes/META-INF/maven/fadeout.software.wasdi/wpsclient/pom.properties
libraries/wpsclient/target/classes/META-INF/maven/fadeout.software.wasdi/wpsclient/pom.xml
libraries/wpsclient/target/classes/wasdi/wpsclient/wps_config.xml
