# test/jmeterTests/SingleApiTests/AuthResource/login.json

# (recursively) ignore file with the following names, whatever the containing directory
.classpath
.project
.settings
*.class
.idea
.idea/
/node_modules
**/.metadata	
/Servers/
/.metadata/



/playground