.opera-wapp-modal
{
  .modal-dialog
  {
    width:50%;
    .modal-content
    {
      .modal-header
      {
        color:$wasdi-white;
        background-color: $wasdi-blue-logo;
        .close
        {
          color: $wasdi-white;
          opacity: 1;
        }
      }

      .modal-body
      {
        min-height: 400px;
        max-height: 500px;
        .opera-wapp-container{
          margin-top: 20px;
        }
        .result-container{
          margin-top: 20px;
          label{
            color:$wasdi-green-logo;
          }
        }

        .opera-logo-container{
          .opera-logo{
            width: 250px;
            cursor: pointer;
            background-color: rgba(16, 32, 48, 0.75);
          }

        }

      }

      .modal-footer
      {
        border-top:1px solid $wasdi-blue-logo;
        .my-button
        {
          padding: 10px 21px;
        }
      }
    }
  }
}