.opera-wapp-modal
{
  .modal-dialog
  {
    width:50%;
    .modal-content
    {
      .modal-header
      {
        color:$wasdi-white;
        background-color: $wasdi-blue-logo;
        .close
        {
          color: $wasdi-white;
          opacity: 1;
        }
      }

      .modal-body
      {
        //FORM FOR NEW USER
        form{
          fieldset{
            .column-email{
              label{
                margin-top: 10px;
              }
            }
          }
        }

        .my-button{
          margin:0;
          margin-top: 5px;
          padding: 10px 10px;

        }
      }

      .modal-footer
      {
        border-top:1px solid $wasdi-blue-logo;
        .my-button
        {
          padding: 10px 21px;
        }
      }
    }
  }
}