<div class="modal fade opera-wapp-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{"EDITOR_OPERATION_TITLE_OPERA"|translate}}</h4>
            </div>
            <div class="modal-body">
                <h4>

                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">{{"DIALOG_SFTP_UPLOAD_CLOSE_BUTTON"|translate}}</button>
            </div>
        </div>
    </div>
</div>