 .eDrift-flood-event-dialog{
  .modal-dialog
  {

    .modal-content
    {
      //HEADER
      .modal-header
      {




      }
      //BODY
      .modal-body
      {
        .date-label{
            margin-top: 7px;
        }
        .datetime-picker-wrapper{
            label{
                  font-weight: normal;
              }
            margin-bottom: 10px;
            .moment-picker .moment-picker-container {
                z-index: 2000;
            }
            //.form-control{
            //    border-color: $wasdi-blue-logo;
            //}
            .input-group-addon{
                background-color: $wasdi-blue-logo;
                color: white;
            }
        }

      }
      //FOOTER
      .modal-footer
      {

      }
    }
  }


}
