
<div class="container-v4">
    <div class="row-v4">
        <div class="col-v4-1 date-label">
            <label>Date</label>
        </div>
        <div class="col-v4-3">
            <!--filter-datetime-picker-wrapper-->
            <!------------------------- TIME PICKER START -------------------->
            <div class="datetime-picker-wrapper">
                <div class="input-group"
                     moment-picker="m_oController.m_oSelectedDate"
                     format="YYYY-MM-DD"
                     today="true">
                    <input class="wasdi-input"
                           placeholder="Select acquisition start time"
                           ng-model="m_oController.m_oSelectedDate"
                           ng-model-options="{ updateOn: 'blur' }">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-v4-1 date-label">
            <label>Code</label>
        </div>
        <div class="col-v4-2 ">
            <!------------------------- BASE NAME -------------------->
            <input type="text" name="basename"  class="form-control" value="" title="" ng-model="m_oController.m_sBaseName">
        </div>
        <div class="col-v4-1 date-label">
            <label>GDACS</label>
        </div>
        <div class="col-v4-4">
            <div class="input-group"
                <!------------------------- GDACS -------------------->
                <select ng-model="m_oController.m_sSelectedGdacs" ng-change="m_oController.selectedGdacsElement()">
                    <option ng-repeat="option in m_oController.m_aoGdacsOptions"  value="{{option.id}}">{{option.name}}</option>
                </select>
                <button type="button" ng-click="m_oController.readGDACS()" class="btn btn-primary btn-wasdi"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
    </div>

    <div class="row-v4" style="padding-bottom: 45px">
        <div class="col-v4-1 date-label">
            <label>Sensitivity:</label>
        </div>
        <div class="col-v4-11 ">
            <!------------------------- SENSITIVITY -------------------->
            <rzslider rz-slider-model="m_oController.m_oSlider.value" rz-slider-options="m_oController.m_oSlider.options"></rzslider>
        </div>
    </div>

    <div id="mappaedriftfloodevent" style="height: 400px;"></div>
</div>

