

<div class="container-v4">
    <div class="row-v4">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 my-input-text">

            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Pre Event Days to analyze
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.DAYSBACK">
                </div>
            </div>

            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Post Event Days to analyze
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.DAYSFORWARD">
                </div>
            </div>

            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Days to search back for each map(0 for day by day flood map)
                </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.LASTDAYS">
                </div>
            </div>
            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Delete Intermediate Files
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="checkbox" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.DELETE">
                </div>
            </div>
            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Simulate flood Detection (use 1 to test only the chain)
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="checkbox" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.SIMULATE">
                </div>
            </div>

            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Orbits: put here to force orbits to use
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" placeholder="&nbsp;" ng-model="m_oController.m_oParameters.ORBITS">
                </div>
            </div>
            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Tile Grid step (x,y) [degrees]
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.GRIDSTEP">
                </div>
            </div>
            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    S1 Preprocess Workflow
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.PREPROCWORKFLOW">
                </div>
            </div>
            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{"DIALOG_LIST_FLOOD_AREA_DETECTION_HSBA_START_DEPTH_LABEL"|translate}}
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.HSBASTARTDEPTH">
                </div>
            </div>
            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{"DIALOG_LIST_FLOOD_AREA_DETECTION_BIMODALITY_COEFFICENT_LABEL"|translate}}
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.BIMODALITYCOEFFICENT">
                </div>
            </div>
            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{"DIALOG_LIST_FLOOD_AREA_DETECTION_MINIMUM_TILE_DIMENSION_LABEL"|translate}}
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.MINIMUMTILEDIMENSION">
                </div>
            </div>
            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{"DIALOG_LIST_FLOOD_AREA_DETECTION_MINIMAL_BLOB_REMOVAL_LABEL"|translate}}
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.MINIMALBLOBREMOVAL">
                </div>
            </div>

            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{"DIALOG_LIST_FLOOD_AREA_DETECTION_PRE_PROCESS"|translate}}
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="checkbox" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.PREPROCESS">
                </div>
            </div>

            <div class="row post-event-image-container">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Data Provider (empty for default)
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.PROVIDER">
                </div>
            </div>

        </div>











    </div>
</div>
