 <div class="modal fade eDrift-flood-event-dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
                <div class="row-v4">
                    <div class="col-v4-xs-11 col-v4-sm-11 col-v4-md-11 col-v4-lg-11">
                        <h4 class="modal-title ">
                            eDrift Flood Event
                        </h4>
                    </div>
                    <div class="col-v4-xs-1 col-v4-sm-1 col-v4-md-1 col-v4-lg-1">
                        <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                </div>
            </div>
            <!-- BODY -->
            <div class="modal-body container-fluid-v4">
                <!-- TAB NAVIGATION -->
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-class="{'active':m_oController.m_sSelectedWorkflowTab === 'WorkFlowTab1'}" ng-click="m_oController.m_sSelectedWorkflowTab = 'WorkFlowTab1'">
                        <a href="" role="tab" data-toggle="tab">
                            {{"BASIC" | translate}}
                        </a>
                    </li>
                    <li ng-class="{'active':m_oController.m_sSelectedWorkflowTab === 'WorkFlowTab2'}" ng-click="m_oController.m_sSelectedWorkflowTab = 'WorkFlowTab2'">
                        <a href="" role="tab" data-toggle="tab">
                            {{"ADVANCED" | translate}}

                        </a>
                    </li>

                </ul>
                <!-- TAB content -->
                <div class="tab-content">
                    <!----TAB BASIC---->
                    <div class="tab-pane fade in" id="WorkFlowTab1"
                         ng-class="{'active':m_oController.m_sSelectedWorkflowTab === 'WorkFlowTab1'}"
                         ng-hide="m_oController.m_sSelectedWorkflowTab != 'WorkFlowTab1'">
                        <ng-include src="'dialogs/eDrift_Flood_Event_Dialog/eDrift_Flood_tab_basic.html'"></ng-include>
                        <!--<div style="height: 60px; width: 60px; background-color: red"></div>-->
                    </div>

                    <!------- TAB ADVANCED ------->
                    <div class="tab-pane fade in" id="WorkFlowTab2"
                         ng-class="{'active':m_oController.m_sSelectedWorkflowTab === 'WorkFlowTab2'}"
                         ng-hide="m_oController.m_sSelectedWorkflowTab != 'WorkFlowTab2'">
                        <ng-include src="'dialogs/eDrift_Flood_Event_Dialog/eDrift_Flood_tab_advance.html'"></ng-include>
                        <!--<div style="height: 60px; width: 60px; background-color: blue"></div>-->
                    </div>
                </div>

            </div>

            <!-- FOOTER -->
            <div class="modal-footer">

                <button type="button" ng-click="close(null)" class="btn btn-primary btn-wasdi " data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
                <button type="button" ng-click="m_oController.run()" ng-disabled="m_oController.isRunDisabled()" class="btn btn-primary btn-wasdi " data-dismiss="modal">
                    Run
                </button>
            </div>

        </div>
    </div>
</div>
