.jstree
{
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  //max-height: 50%;
  min-height: 30%;
  max-height: $wasdi-heigth-panel;
  height: 100%;
  //min-height: 30%;

  //overlay default jstree css
  .vakata-context, .vakata-context ul {
    z-index: $z-index-context-menu-right-click;
  }
  .vakata-context li>a>i:empty{
    width: 1.8em !important;
  }
  .vakata-context li>a>i {

    width: 1.8em !important;
    height: 2.4em;
  }
}
