<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%processId] %d{yyyy-MM-dd HH:mm:ss} | %-8level | %logger{1}:%line | %message%n" />
        </Console>

        <RollingFile name="{{ sWasdiComponentSchedulerServiceName }}-native" append="true" fileName="{{ sWasdiComponentSchedulerLogFilePath }}" filePattern="{{ sWasdiComponentSchedulerLogFilePath }}-%d{yyyy-MM-dd}">
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
            <PatternLayout pattern="[%processId] %d{yyyy-MM-dd HH:mm:ss} | %-8level | %logger{1}:%line | %message%n" />
        </RollingFile>

        <Syslog name="{{ sWasdiComponentSchedulerServiceName }}-syslog" format="RFC5424" host="127.0.0.1" port="514"
            protocol="UDP" appName="{{ sWasdiComponentSchedulerServiceName }}" facility="local0" />
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="{{ sWasdiComponentSchedulerServiceName }}-native" />
            <AppenderRef ref="{{ sWasdiComponentSchedulerServiceName }}-syslog" />
        </Root>
    </Loggers>
</Configuration>
