<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
{% if bWasdiSyslogEnabled == true %}
        <Syslog name="{{ sWasdiSchedulerServiceName }}-syslog" appName="{{ sWasdiSchedulerServiceName }}"
            host="{{ sWasdiSchedulerLogSyslogServerAddress }}" port="{{ sWasdiSchedulerLogSyslogServerPort }}" protocol="{{ sWasdiSchedulerLogSyslogProtocol }}"
            connectTimeoutMillis="30000" reconnectionDelayMillis="2000"
            facility="{{ sWasdiSchedulerLogSyslogFacility }}" format="RFC5424" />
{% else %}
        <RollingFile name="{{ sWasdiSchedulerServiceName }}-native" append="true" fileName="{{ sWasdiSchedulerLogNativeFilePath }}" filePattern="{{ sWasdiSchedulerLogNativeFilePath }}-%d{yyyy-MM-dd}">
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
            <PatternLayout pattern="[%processId] %d{yyyy-MM-dd HH:mm:ss} | %-8level | %logger{1}:%line | %message%n" />
        </RollingFile>
{% endif %}
    </Appenders>

    <Loggers>
        <Root level="debug">
{% if bWasdiSyslogEnabled == true %}
            <AppenderRef ref="{{ sWasdiSchedulerServiceName }}-syslog" />
{% else %}
            <AppenderRef ref="{{ sWasdiSchedulerServiceName }}-native" />
{% endif %}
        </Root>
    </Loggers>
</Configuration>
