# {{ ansible_managed }}

## common ##
sWasdiAdministratorUserPassword="{{ sWasdiAdministratorUserPassword }}"
sWasdiAdministratorUserName="{{ sWasdiAdministratorUserName }}"
## /common ##
{% if bWasdiGeoserverEnabled == True %}

## {{ sWasdiGeoserverServiceName }} ##
sWasdiGeoserverMasterPassword="{{ sWasdiGeoserverMasterPassword }}"
sWasdiGeoserverUserAdditionalName="{{ sWasdiGeoserverUserAdditionalName }}"
sWasdiGeoserverUserAdditionalPassword="{{ sWasdiGeoserverUserAdditionalPassword }}"
sWasdiGeoserverUserAdditionalRole="{{ sWasdiGeoserverUserAdditionalRole }}"
sWasdiGeoserverUserApplicationName="{{ sWasdiGeoserverUserApplicationName }}"
sWasdiGeoserverUserApplicationPassword="{{ sWasdiGeoserverUserApplicationPassword }}"
sWasdiGeoserverUserApplicationRole="{{ sWasdiGeoserverUserApplicationRole }}"
## /{{ sWasdiGeoserverServiceName }} ##
{% endif %}
{% if bWasdiGrafanaEnabled == True %}

## {{ sWasdiGrafanaServiceName }} ##
sWasdiGrafanaGoogleClientId="{{ sWasdiGrafanaGoogleClientId }}"
sWasdiGrafanaGoogleClientSecret="{{ sWasdiGrafanaGoogleClientSecret }}"
sWasdiGrafanaSecretKey="{{ sWasdiGrafanaSecretKey }}"
sWasdiInfluxDbGrafanaToken="{{ sWasdiInfluxDbGrafanaToken }}"
## /{{ sWasdiGrafanaServiceName }} ##
{% endif %}
{% if bWasdiPostgresqlKeycloakEnabled == True %}

## {{ sWasdiPostgresqlKeycloakServiceName }} ##
sPostgresqlKeycloakDatabaseName="{{ sWasdiPostgresqlKeycloakDatabaseName }}"
sPostgresqlKeycloakDatabaseUsername="{{ sWasdiPostgresqlKeycloakDatabaseUsername }}"
sPostgresqlKeycloakDatabasePassword="{{ sWasdiPostgresqlKeycloakDatabasePassword }}"
## /{{ sWasdiPostgresqlKeycloakServiceName }} ##
{% endif %}
{% if bWasdiPostgresqlSonarqubeEnabled == True %}

## {{ sWasdiPostgresqlSonarqubeServiceName }} ##
sPostgresqlSonarqubeDatabaseName="{{ sWasdiPostgresqlSonarqubeDatabaseName }}"
sPostgresqlSonarqubeDatabaseUsername="{{ sWasdiPostgresqlSonarqubeDatabaseUsername }}"
sPostgresqlSonarqubeDatabasePassword="{{ sWasdiPostgresqlSonarqubeDatabasePassword }}"
## /{{ sWasdiPostgresqlSonarqubeServiceName }} ##
{% endif %}
