sRabbitMqInstanceErlangCookie={{ sWasdiContainerRabbitMqInstanceErlangCookie }}
sWasdiAdministratorPassword={{ sWasdiAdministratorPassword }}
sWasdiAdministratorUsername={{ sWasdiAdministratorUsername }}
{% if sWasdiServerTypeIsMain == True %}
sWasdiContainerMongoMainDatabasePassword={{ sWasdiContainerMongoMainDatabasePassword }}
sWasdiContainerMongoMainDatabaseUsername={{ sWasdiContainerMongoMainDatabaseUsername }}
sWasdiContainerMongoMainDatabaseBackupPassword={{ sWasdiContainerMongoMainDatabaseBackupPassword }}
sWasdiContainerMongoMainDatabaseBackupUsername={{ sWasdiContainerMongoMainDatabaseBackupUsername }}
{% endif %}
{% if sWasdiServerTypeIsComputational == True %}
sWasdiContainerMongoComputationalDatabasePassword={{ sWasdiContainerMongoComputationalDatabasePassword }}
sWasdiContainerMongoComputationalDatabaseUsername={{ sWasdiContainerMongoComputationalDatabaseUsername }}
sWasdiContainerMongoComputationalDatabaseBackupPassword={{ sWasdiContainerMongoComputationalDatabaseBackupPassword }}
sWasdiContainerMongoComputationalDatabaseBackupUsername={{ sWasdiContainerMongoComputationalDatabaseBackupUsername }}
{% endif %}
{% if sWasdiServerTypeIsMain == True %}
sPostgresqlKeycloakDatabaseName={{ sWasdiContainerPostgresqlKeycloakDatabaseName }}
sPostgresqlKeycloakDatabaseUsername={{ sWasdiContainerPostgresqlKeycloakDatabaseUsername }}
sPostgresqlKeycloakDatabasePassword={{ sWasdiContainerPostgresqlKeycloakDatabasePassword }}
sPostgresqlKeycloakUser1Name={{ sWasdiContainerPostgresqlKeycloakBackupUsername }}
sPostgresqlKeycloakUser1Password={{ sWasdiContainerPostgresqlKeycloakBackupPassword }}
{% endif %}
