<div class="workspaces-view apps-wrapper">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container-fluid">
                    <div class="row give-permission-row">
                        <h3>{{"DIALOG_MANAGE_USERS_TITLE" | translate}}</h3>

                        <div class="spacer"></div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="group">
                                <label class="filter-label">
                                    {{"DIALOG_MANAGE_USERS_USER_PARTIAL_NAME" |
                                    translate}}
                                </label>

                                <input
                                    type="text"
                                    name="userPartialName"
                                    id="userPartialName"
                                    class="form-control wasdi-input"
                                    value=""
                                    title=""
                                    ng-model="m_oController.m_sUserPartialName"
                                    required="required"
                                />

                                <span class="highlight filter-highlight"></span>
                                <span class="bar filter-bar"></span>
                            </div>
                        </div>

                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <div class="group">
                                <button
                                    class="btn btn-primary btn-wasdi btn-lg"
                                    ng-click="m_oController.findUsersByPartialName(m_oController.m_sUserPartialName)"
                                >
                                    <i
                                        class="fa fa-search fa-lg"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="ng-binding"
                                        >{{"DIALOG_MANAGE_USERS_SEARCH" |
                                        translate}}</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="m_oController.m_aoUsersList.length > 0">
            <div class="spacer"></div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>UserId</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="oUser in m_oController.m_aoUsersList">
                            <td>{{oUser.userId}}</td>
                            <td>{{oUser.name}}</td>
                            <td>{{oUser.surname}}</td>
                            <td>{{oUser.role}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="container-fluid">
                    <div class="row give-permission-row">
                        <h3>
                            {{"DIALOG_MANAGE_PROCESS_WORKSPACE_TIME_TITLE" |
                            translate}}
                        </h3>

                        <div class="spacer"></div>

                        <div class="col-xs-4">
                            <div class="group">
                                <label class="filter-label">
                                    {{"DIALOG_MANAGE_PROCESS_WORKSPACE_USER_ID"
                                    | translate}}
                                </label>

                                <input
                                    type="text"
                                    name="userId"
                                    id="userId"
                                    class="form-control wasdi-input"
                                    value=""
                                    title=""
                                    ng-model="m_oController.m_sUserId"
                                    required="required"
                                />

                                <span class="highlight filter-highlight"></span>
                                <span class="bar filter-bar"></span>
                            </div>
                        </div>

                        <div class="time-picker-container col-xs-2">
                            <label class="filter-label">
                                {{"DIALOG_MANAGE_PROCESS_WORKSPACE_DATE_FROM" |
                                translate}}
                            </label>
                            <div
                                class="input-group"
                                format="YYYY-MM-DD HH:mm:ss"
                                moment-picker="m_oController.m_sDateFrom"
                                today="true"
                            >
                                <input
                                    class="form-control wasdi-input"
                                    position="bottom-right"
                                    start-veiw="month"
                                    ng-model="m_oController.m_sDateFrom"
                                    ng-model-options="{updateOn: 'blur'}"
                                />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="time-picker-container col-xs-2">
                            <label class="filter-label">
                                {{"DIALOG_MANAGE_PROCESS_WORKSPACE_DATE_TO" |
                                translate}}
                            </label>
                            <div
                                class="input-group"
                                format="YYYY-MM-DD HH:mm:ss"
                                moment-picker="m_oController.m_sDateTo"
                                today="true"
                            >
                                <input
                                    class="form-control wasdi-input w-100"
                                    position="bottom-right"
                                    start-veiw="month"
                                    ng-model="m_oController.m_sDateTo"
                                    ng-model-options="{updateOn: 'blur'}"
                                />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="group">
                                <button
                                    class="btn btn-primary btn-wasdi btn-lg"
                                    ng-click="m_oController.getProcessWorkspaceTotalRunningTimeByUserAndInterval(m_oController.m_sUserId, m_oController.m_sDateFrom, m_oController.m_sDateTo)"
                                >
                                    <i
                                        class="fa fa-clock"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="ng-binding"
                                        >{{"DIALOG_MANAGE_PROCESS_WORKSPACE_RETRIEVE"
                                        | translate}}</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer"></div>

        <div
            class="row col-xs-6 ml-2 mb-2"
            ng-show="m_oController.m_lTotalRunningTimeInMillis"
        >
            <div>
                {{"DIALOG_MANAGE_PROCESS_WORKSPACE_TOTAL_RUNNING_TIME_IN_MILLIS"
                | translate}}: {{m_oController.m_lTotalRunningTimeInMillis}}
            </div>
            <br />
            <div>
                {{"DIALOG_MANAGE_PROCESS_WORKSPACE_TOTAL_RUNNING_TIME_FORMATTED"
                | translate}}:
                {{m_oController.convertMsToTime(m_oController.m_lTotalRunningTimeInMillis)}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container-fluid">
                    <div class="row give-permission-row">
                        <h3>
                            {{"DIALOG_MANAGE_WORKSPACES_TITLE" | translate}}
                        </h3>
                        <div class="spacer"></div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="group">
                                <label class="filter-label">
                                    {{"DIALOG_MANAGE_WORKSPACES_WORKSPACE_PARTIAL_NAME"
                                    | translate}}
                                </label>

                                <input
                                    type="text"
                                    name="workspacePartialName"
                                    id="workspacePartialName"
                                    class="form-control wasdi-input"
                                    value=""
                                    title=""
                                    ng-model="m_oController.m_sWorkspacePartialName"
                                    required="required"
                                />

                                <span class="highlight filter-highlight"></span>
                                <span class="bar filter-bar"></span>
                            </div>
                        </div>

                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <div class="group">
                                <button
                                    class="btn btn-primary btn-wasdi btn-lg"
                                    ng-click="m_oController.findWorkspacesByPartialName(m_oController.m_sWorkspacePartialName)"
                                >
                                    <i
                                        class="fa fa-search fa-lg"
                                        aria-hidden="true"
                                    ></i>
                                    <span class="ng-binding"
                                        >{{"DIALOG_MANAGE_USERS_SEARCH" |
                                        translate}}</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="m_oController.m_aoWorkspacesList.length > 0">
            <div class="spacer"></div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>WorkspaceId</th>
                            <th>Node</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="oWorkspace in m_oController.m_aoWorkspacesList"
                        >
                            <td>{{oWorkspace.workspaceName}}</td>
                            <td>{{oWorkspace.workspaceId}}</td>
                            <td>{{oWorkspace.nodeCode}}</td>
                            <td>{{oWorkspace.ownerUserId}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container-fluid">
                    <div>
                        <div class="row give-permission-row">
                            <h3>
                                {{"DIALOG_MANAGE_RESOURCE_PERMISSION_TITLE" |
                                translate}}
                            </h3>
                            <div class="spacer"></div>

                            <div class="row give-permission-row">
                                <h4>
                                    {{"DIALOG_MANAGE_RESOURCE_PERMISSION_ADD_REMOVE_TITLE"
                                    | translate}}
                                </h4>
                                <div class="spacer"></div>

                                <div
                                    class="col-xs-3 col-sm-3 col-md-3 col-lg-3"
                                >
                                    <div class="group">
                                        <label class="filter-label">
                                            {{"DIALOG_MANAGE_RESOURCE_PERMISSION_RESOURCE_TYPE"
                                            | translate}}
                                        </label>

                                        <input
                                            type="text"
                                            ng-model="m_oController.m_sResourceType_add_remove"
                                            ng-value="m_oController.m_sResourceType_add_remove"
                                            class="form-control wasdi-input"
                                            ng-click="m_oController.clearInput()"
                                            list="resourceType"
                                            required="required"
                                        />

                                        <div class="adv-selectfield">
                                            <datalist
                                                id="resourceType"
                                                class="browser-default"
                                                ng-model="m_oController.m_sResourceType_add_remove"
                                            >
                                                <option
                                                    selected
                                                    value=""
                                                ></option>

                                                <option
                                                    ng-repeat="option in m_oController.getResourceTypeList()"
                                                    value="{{option}}"
                                                >
                                                    {{option}}
                                                </option>
                                            </datalist>
                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="col-xs-3 col-sm-3 col-md-3 col-lg-3"
                                >
                                    <div class="group">
                                        <label class="filter-label">
                                            {{"DIALOG_MANAGE_RESOURCE_PERMISSION_RESOURCE_ID"
                                            | translate}}
                                        </label>

                                        <input
                                            type="text"
                                            name="resourceId"
                                            id="resourceId"
                                            class="form-control wasdi-input"
                                            value=""
                                            title=""
                                            ng-model="m_oController.m_sResourceId_add_remove"
                                            required="required"
                                        />

                                        <span
                                            class="highlight filter-highlight"
                                        ></span>
                                        <span class="bar filter-bar"></span>
                                    </div>
                                </div>

                                <div
                                    class="col-xs-3 col-sm-3 col-md-3 col-lg-3"
                                >
                                    <div class="group">
                                        <label class="filter-label">
                                            {{"DIALOG_MANAGE_RESOURCE_PERMISSION_RESOURCE_USER_MAIL"
                                            | translate}}
                                        </label>

                                        <input
                                            type="text"
                                            name="userEmail"
                                            id="userEmail"
                                            class="form-control wasdi-input"
                                            value=""
                                            title=""
                                            ng-model="m_oController.m_sUserEmail_add_remove"
                                            required="required"
                                        />

                                        <span
                                            class="highlight filter-highlight"
                                        ></span>
                                        <span class="bar filter-bar"></span>
                                    </div>
                                </div>

                                <div
                                    class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                >
                                    <div class="group">
                                        <button
                                            class="btn btn-primary btn-wasdi btn-lg"
                                            ng-click="m_oController.addResourcePermission(m_oController.m_sResourceType_add_remove, m_oController.m_sResourceId_add_remove, m_oController.m_sUserEmail_add_remove)"
                                        >
                                            <em
                                                class="custom-icon fa fa-share-alt fa-lg"
                                                ng-class="button.icon"
                                            ></em>
                                            <span class="ng-binding"
                                                >{{"DIALOG_MANAGE_RESOURCE_PERMISSION_ADD"
                                                | translate}}</span
                                            >
                                        </button>
                                    </div>
                                </div>

                                <div
                                    class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                >
                                    <div class="group">
                                        <button
                                            class="btn btn-danger btn-wasdi btn-lg"
                                            ng-click="m_oController.removeResourcePermission(m_oController.m_sResourceType_add_remove, m_oController.m_sResourceId_add_remove, m_oController.m_sUserEmail_add_remove)"
                                        >
                                            <em
                                                class="custom-icon fa fa-share-alt fa-lg"
                                                ng-class="button.icon"
                                            ></em>
                                            <span class="ng-binding"
                                                >{{"DIALOG_MANAGE_RESOURCE_PERMISSION_REMOVE"
                                                | translate}}</span
                                            >
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="spacer"></div>

                            <div class="row">
                                <h4>
                                    {{"DIALOG_MANAGE_RESOURCE_PERMISSION_SEARCH_TITLE"
                                    | translate}}
                                </h4>
                                <div class="spacer"></div>

                                <div
                                    class="col-xs-3 col-sm-3 col-md-3 col-lg-3"
                                >
                                    <div class="group">
                                        <label class="filter-label">
                                            {{"DIALOG_MANAGE_RESOURCE_PERMISSION_RESOURCE_TYPE"
                                            | translate}}
                                        </label>

                                        <input
                                            type="text"
                                            ng-model="m_oController.m_sResourceType_search"
                                            ng-value="m_oController.m_sResourceType_search"
                                            class="form-control wasdi-input"
                                            ng-click="m_oController.clearInput()"
                                            list="resourceType"
                                            required="required"
                                        />

                                        <div class="adv-selectfield">
                                            <datalist
                                                id="resourceType"
                                                class="browser-default"
                                                ng-model="m_oController.m_sResourceType_search"
                                            >
                                                <option
                                                    selected
                                                    value=""
                                                ></option>

                                                <option
                                                    ng-repeat="option in m_oController.getResourceTypeList()"
                                                    value="{{option}}"
                                                >
                                                    {{option}}
                                                </option>
                                            </datalist>
                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="col-xs-3 col-sm-3 col-md-3 col-lg-3"
                                >
                                    <div class="group">
                                        <label class="filter-label">
                                            {{"DIALOG_MANAGE_RESOURCE_PERMISSION_RESOURCE_ID"
                                            | translate}}
                                        </label>

                                        <input
                                            type="text"
                                            name="resourceId"
                                            id="resourceId"
                                            class="form-control wasdi-input"
                                            value=""
                                            title=""
                                            ng-model="m_oController.m_sResourceId_search"
                                            required="required"
                                        />

                                        <span
                                            class="highlight filter-highlight"
                                        ></span>
                                        <span class="bar filter-bar"></span>
                                    </div>
                                </div>

                                <div
                                    class="col-xs-3 col-sm-3 col-md-3 col-lg-3"
                                >
                                    <div class="group">
                                        <label class="filter-label">
                                            {{"DIALOG_MANAGE_RESOURCE_PERMISSION_RESOURCE_USER_MAIL"
                                            | translate}}
                                        </label>

                                        <input
                                            type="text"
                                            name="userEmail"
                                            id="userEmail"
                                            class="form-control wasdi-input"
                                            value=""
                                            title=""
                                            ng-model="m_oController.m_sUserEmail_search"
                                            required="required"
                                        />

                                        <span
                                            class="highlight filter-highlight"
                                        ></span>
                                        <span class="bar filter-bar"></span>
                                    </div>
                                </div>

                                <div
                                    class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
                                >
                                    <div class="group">
                                        <button
                                            class="btn btn-primary btn-wasdi btn-lg"
                                            ng-click="m_oController.findResourcePermissions(m_oController.m_sResourceType_search, m_oController.m_sResourceId_search, m_oController.m_sUserEmail_search)"
                                        >
                                            <em
                                                class="fa fa-search fa-lg"
                                                ng-class="button.icon"
                                            ></em>
                                            <span class="ng-binding"
                                                >{{"DIALOG_MANAGE_RESOURCE_PERMISSION_SEARCH"
                                                | translate}}</span
                                            >
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="row"
                                ng-show="m_oController.m_aoResourcePermissionsList.length > 0"
                            >
                                <div class="spacer"></div>

                                <div
                                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                >
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Resource Id</th>
                                                <th>Resource Type</th>
                                                <th>UserId</th>
                                                <th>OwnerId</th>
                                                <th>Permissions</th>
                                                <th>Created By</th>
                                                <th>Created Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                ng-repeat="oResourcePermission in m_oController.m_aoResourcePermissionsList"
                                            >
                                                <td>
                                                    {{oResourcePermission.resourceId}}
                                                </td>
                                                <td>
                                                    {{oResourcePermission.resourceType}}
                                                </td>
                                                <td>
                                                    {{oResourcePermission.userId}}
                                                </td>
                                                <td>
                                                    {{oResourcePermission.ownerId}}
                                                </td>
                                                <td>
                                                    {{oResourcePermission.permissions}}
                                                </td>
                                                <td>
                                                    {{oResourcePermission.createdBy}}
                                                </td>
                                                <td>
                                                    {{oResourcePermission.createdDate
                                                    | date:"dd/MM/yyyy hh:mma"}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="spacer"></div>
                            <div class="spacer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="spacer"></div>
        <div class="spacer"></div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container-fluid">

                    <div class="row give-permission-row">
                        <h3>{{"DIALOG_MANAGE_METRICS_ENTRIES_TITLE" | translate}}</h3>

                        <div class="spacer"></div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="group">
                                <label class="filter-label">
                                    {{"DIALOG_MANAGE_METRICS_ENTRIES_NODE_CODE" | translate}}
                                </label>

                                <input type="text" name="nodeCode" id="nodeCode" class="form-control wasdi-input" value="" title=""
                                    ng-model="m_oController.m_sNodeCode" required="required">

                                    <span class="highlight filter-highlight"></span>
                                    <span class="bar filter-bar"></span>
                            </div>
                        </div>

                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <div class="group">
                                <button class="btn btn-primary btn-wasdi btn-lg" ng-click="m_oController.getLatestMetricsEntryByNode(m_oController.m_sNodeCode)">
                                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                                    <span class="ng-binding">{{"DIALOG_MANAGE_METRICS_ENTRIES_RETRIEVE" | translate}}</span>
                                </button>
                            </div>
                        </div>

                    </div>
                        
                </div>
            </div>
        </div>

        <div class="row" ng-show="m_oController.m_oMetricsEntry != null">
            <div class="spacer"></div>

            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>{{"DIALOG_MANAGE_METRICS_ENTRIES_LATEST_ENTRY" | translate}}:

            <br>

            <textarea
                class="form-control h-100"
                style="font-family: 'Courier New', sans-serif; font-size: 16px"
                rows="40"
                id="metricsEntry"
                ng-model="m_oController.m_oMetricsEntryFormatted"
            ></textarea>
        </div>

        <div class="spacer"></div>
        <div class="spacer"></div>


    </div>
</div>
