<!--<div>-->
<!--    <inputtextdirective input-text="m_oController.test" ></inputtextdirective>-->
<!--    <dropdownmenudirective></dropdownmenudirective>-->
<!--</div>-->
<div class="editor-view">

    <div class="row justify-content-end toolbar">
<!--        <div class="col-v4-auto ml-auto">-->

<!--        </div>-->
    </div>

    <div class="row" ng-repeat="viewElement in m_oController.m_aoViewElements">

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            {{viewElement.sLabel}}
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <inputtextdirective input-text="viewElement.sTextBox" ng-if="viewElement.type === 'textbox'"></inputtextdirective>

            <dropdownmenudirective list-of-values="viewElement.asListValues"
                                   selected-value="viewElement.sSelectedValues"
                                   enable-search-filter="viewElement.bEnableSearchFilter"
                                   dropdown-name="viewElement.sDropdownName"
                                   on-click-function="viewElement.oOnClickFunction"
                                   ng-if="viewElement.type === 'dropdown'"
                                    ></dropdownmenudirective>

            <map2ddirective  ng-if="viewElement.type === 'selectarea'" bounding-box="viewElement.oBoundingBox" height-map="'200'" width-map="'500'"></map2ddirective>

            <datedirective ng-if="viewElement.type === 'date'" date-time="viewElement.oDate"></datedirective>

            <tableofproductsdirective  ng-if="viewElement.type === 'tableofproducts'" products-list="viewElement.aoProducts"></tableofproductsdirective>

            <lightsearchproductdirective  ng-if="viewElement.type === 'lighserachproduct'" light-search-object="viewElement"></lightsearchproductdirective>
        </div>

    </div>


</div>
