
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.js" ></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


    <link rel="stylesheet" href="../css/style_caret_test.css">



</head>
<body>

<script>


    function $(elid){
        return document.getElementById(elid);
    }

    function nl2br(txt){
        return txt.replace(/\n/g, "<br />");
    }

    function writeit(from, e){
        e = e || window.event;
        var w = $("writer");
        var tw = from.value;
        w.innerHTML = nl2br(tw);
    }

    function moveIt(count, e){
        e = e || window.event;
        var keycode = e.keyCode || e.which;
        if(keycode == 37 && parseInt(cursor.style.left) >= (0-((count-1)*10))){
            cursor.style.left = parseInt(cursor.style.left) - 10 + "px";
        } else if(keycode == 39 && (parseInt(cursor.style.left) + 10) <= 0){
            cursor.style.left = parseInt(cursor.style.left) + 10 + "px";
        }

    }

    function alert(txt){
        console.log(txt);
    }




</script>
<h1 class="text-center">Hello World</h1>

<div id="terminal" onclick="$('setter').focus();">

    <input type="text" id="setter" onkeydown="writeit(this, event);moveIt(this.value.length, event)" onkeyup="writeit(this, event)" onkeypress="writeit(this, event);">
    <div id="getter">
        <span id="writer"></span><strong class="cursor " id="cursor" style="left:0;">O</strong>
    </div>
</div>



</body>
</html>



