<div class="container-fluid catalog-view">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page">

        <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 operations-bar "  >

            <div class="content-button-submit">
                <button class="my-button" ng-click="m_oController.searchEntries()" ng-disabled="!m_oController.m_bIsLoadedTable">Search</button>

            </div>
            <div class="time-picker-container">

                <div class="input-group my-input-text"
                     moment-picker="m_oController.m_oDataTo"
                     format="YYYY-MM-DD-HH"
                     today="true">

                    <input class="form-control"
                           placeholder="To"
                           ng-model="m_oController.m_oDataTo"
                           ng-model-options="{ updateOn: 'blur' }">

                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>

            </div>

            <div class="description">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                 To:
            </div>


            <div class=" time-picker-container">

                <div class="input-group my-input-text"
                     moment-picker="m_oController.m_oDataFrom"
                     format="YYYY-MM-DD-HH"
                     today="true">

                    <input class="form-control"
                           placeholder="From"
                           ng-model="m_oController.m_oDataFrom"
                           ng-model-options="{ updateOn: 'blur' }">

                    <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                </div>
            </div>


            <div class="description">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                From:
            </div>


            <!--<div class="search-input-query my-input-text">-->
                <!--<input type="text" ng-model="m_oController.m_sInputQuery"-->
                       <!--placeholder="Search..." >-->


            <!--</div>-->

        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 left-column">

            <div class="panel panel-default filters" >
                <div class="panel-heading">
                    <h4>Filters</h4>
                </div>

                <!--CHECKBOXES-->
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="search-input-query my-input-text">
                            <input type="text" ng-model="m_oController.m_sInputQuery"
                                   placeholder="Search..." >


                        </div>

                    </div>

                    <!--<div class="checkbox" ng-repeat="category in m_oController.m_asCategories track by $index">-->
                        <!--<label >-->
                            <!--<input type="checkbox" value="" ng-model="category.isSelected">-->
                            <!--{{category.name}}-->
                        <!--</label>-->
                    <!--</div>-->
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                        Filters:
                        <div class="well well-sm">
                            <!--<div class="radio" ng-repeat="category in m_oController.m_asCategories ">-->
                                <!--<label >-->
                                    <!--<input type="radio" name="pageNumber" ng-value="category.isSelected"-->
                                           <!--ng-click="m_oController.radioButtonOnCLick(category)" ng-checked="category.isSelected">&lt;!&ndash; ng-model="category.isSelected"&ndash;&gt;-->
                                    <!--{{m_oController.getFriendlyOperationName(category.name)}}-->
                                <!--</label>-->
                            <!--</div>-->

                            <div class="checkbox" ng-repeat="category in m_oController.m_asCategories ">
                                <label>
                                    <input type="checkbox" name="pageNumber" ng-value="category.isSelected"
                                           ng-click="category.isSelected = !category.isSelected"
                                           ng-checked="category.isSelected"><!-- ng-model="category.isSelected"-->
                                    {{category.friendlyName}}
                                </label>
                            </div>

                        </div>
                    </div>


                    <!--<button class="my-button" ng-click="m_oController.searchEntries()" ng-disabled="!m_oController.m_bIsLoadedTable">Search</button>-->

                </div>



            </div>

            <div class="panel panel-default map" >
                <div class="panel-heading">
                    Map
                </div>

                <!-- MY TREE DIRECTIVE -->
                <div class="panel-body">
                    <div id="catalogMap" class="map" ></div>
                </div>

            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 right-column">
            <!--<div id="testGeosearch"></div>-->

            <div ng-hide="m_oController.m_bIsLoadedTable" class="loadIcon">
                <invader></invader>
            </div>

            <table class="table table-hover table-products" ng-show="m_oController.m_bIsLoadedTable" >
                <thead>
                        <th ng-click="m_oController.m_sOrderBy = 'fileName'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                            File Name
                            <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'fileName') && (m_oController.m_bReverseOrder === true)"></i>
                            <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'fileName') && (m_oController.m_bReverseOrder === false)"></i>
                        </th>
                        <th ng-click="m_oController.m_sOrderBy = 'refDate'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                            Date
                            <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'refDate') && (m_oController.m_bReverseOrder === true)"></i>
                            <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'refDate') && (m_oController.m_bReverseOrder === false)"></i>
                        </th>
                        <th ng-click="m_oController.m_sOrderBy = 'category'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                            Category
                            <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'category') && (m_oController.m_bReverseOrder === true)"></i>
                            <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'category') && (m_oController.m_bReverseOrder === false)"></i>
                        </th>
                        <th>
                            Info
                        </th>
                        <th>
                            Add
                        </th>
                        <th>
                            Download
                        </th>

                </thead>

                <tbody >
                    <tr ng-repeat="entry in m_oController.m_aoEntries | orderBy:m_oController.m_sOrderBy:m_oController.m_bReverseOrder | filter:search" id="{{'product'+$index}}"
                        ng-mouseover="m_oController.m_oMapService.changeStyleRectangleMouseOver(entry.rectangle)"
                        ng-mouseleave="m_oController.m_oMapService.changeStyleRectangleMouseLeave(entry.rectangle)"
                        ng-click="m_oController.m_oMapService.flyOnRectangle(entry.rectangle)" ng-class="{'wait-cursor-hover':m_oController.m_bIsDownloadingProduct}" >
                        <td>{{entry.fileName}}</td>
                        <td>{{entry.refDate}}</td>
                        <td>{{entry.category}}</td>
                        <td ng-click="m_oController.getInfoProduct(entry)">
                            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                        </td>
                        <!--<td ng-click="m_oController.addProductToWorkspace(entry)">-->
                            <!--<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>-->
                        <!--</td>         -->
                        <td ng-click="m_oController.openModalDownloadProductInSelectedWorkspaces(entry)">
                            <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                        </td>
                        <td ng-click="m_oController.downloadEntry(entry)" ng-class="{'disabled':m_oController.m_bIsDownloadingProduct}"
                            ng-disabled="m_oController.m_bIsDownloadingProduct" ng-hide="m_oController.m_sProductNameInDownloadingStatus === entry.fileName">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </td>
                        <td ng-show="m_oController.m_sProductNameInDownloadingStatus === entry.fileName">
                            <smallinvaderfixed></smallinvaderfixed>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
