<div class="catalog-view">

    <div class="row-v4 justify-content-end toolbar">
        <div class="col-v4-auto ml-auto pr-0">
            From:
        </div>
        <div class="col-v4-auto">
            <div class=" time-picker-container">

                <div class="input-group my-input-text"
                     moment-picker="m_oController.m_oDataFrom"
                     format="YYYY-MM-DD-HH"
                     today="true">

                    <input class="form-control"
                           placeholder="From"
                           ng-model="m_oController.m_oDataFrom"
                           ng-model-options="{ updateOn: 'blur' }">

                    <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                </div>
            </div>
        </div>
        <div class="col-v4-auto ml-3 pr-0">
            To:
        </div>
        <div class="col-v4-auto">
            <div class="time-picker-container">

                <div class="input-group my-input-text"
                     moment-picker="m_oController.m_oDataTo"
                     format="YYYY-MM-DD-HH"
                     today="true">

                    <input class="form-control"
                           placeholder="To"
                           ng-model="m_oController.m_oDataTo"
                           ng-model-options="{ updateOn: 'blur' }">

                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-v4-auto">
            <button class="btn btn-primary btn-wasdi" ng-click="m_oController.searchEntries()" ng-disabled="!m_oController.m_bIsLoadedTable"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
        </div>
    </div>
    <div class="spacer"></div>


    <div class="row-v4 full-width-content">
        <div class="col-v4-4 left-column d-flex flex-column" >
            <div class="panel panel-default filters" >
                <div class="panel-heading">
                    <h4>Filters</h4>
                </div>

                <!--CHECKBOXES-->
                <div class="panel-body">
                    <div class="row-v4">
                        <div class="col-v4-12">
                            <div class="search-input-query my-input-text">
                                <input type="text" ng-model="m_oController.m_sInputQuery" placeholder="Search..." >
                            </div>
                        </div>
                    </div>

                    <div class="row-v4">
                        <div class="col-v4-6">
                            <i class="fa fa-filter mr-2" aria-hidden="true"></i>Filters:
                            <div class="well well-sm">

                                <div class="checkbox" ng-repeat="category in m_oController.m_asCategories ">
                                    <label>
                                        <input type="checkbox" name="pageNumber" ng-value="category.isSelected"
                                               ng-click="category.isSelected = !category.isSelected"
                                               ng-checked="category.isSelected"><!-- ng-model="category.isSelected"-->
                                        {{category.friendlyName}}
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default map" >
                <div class="panel-heading">
                    Map
                </div>
                <!-- MY TREE DIRECTIVE -->
                <div class="panel-body">
                    <div id="catalogMap" class="map" ></div>
                </div>

            </div>
        </div>
        <div class="col-v4 right-column">
            <div ng-hide="m_oController.m_bIsLoadedTable" class="loadIcon">
                <invader></invader>
            </div>

            <table class="table table-hover table-products" ng-show="m_oController.m_bIsLoadedTable" >
                <thead>
                <th ng-click="m_oController.m_sOrderBy = 'fileName'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                    {{"CATALOG_TABLE_TH_FILE_NAME"|translate}}
                    <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'fileName') && (m_oController.m_bReverseOrder === true)"></i>
                    <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'fileName') && (m_oController.m_bReverseOrder === false)"></i>
                </th>
                <th ng-click="m_oController.m_sOrderBy = 'refDate'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                    {{"CATALOG_TABLE_TH_FILE_DATE"|translate}}
                    <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'refDate') && (m_oController.m_bReverseOrder === true)"></i>
                    <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'refDate') && (m_oController.m_bReverseOrder === false)"></i>
                </th>
                <th ng-click="m_oController.m_sOrderBy = 'category'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                    {{"CATALOG_TABLE_TH_FILE_CATEGORY"|translate}}
                    <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'category') && (m_oController.m_bReverseOrder === true)"></i>
                    <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'category') && (m_oController.m_bReverseOrder === false)"></i>
                </th>
                <th>
                    {{"CATALOG_TABLE_TH_FILE_INFO"|translate}}
                </th>
                <th>
                    {{"CATALOG_TABLE_TH_FILE_ADD"|translate}}
                </th>
                <th>
                    {{"CATALOG_TABLE_TH_FILE_DOWNLOAD"|translate}}
                </th>
                <th>
                    {{"CATALOG_TABLE_TH_FILE_FTP"|translate}}
                </th>

                </thead>

                <tbody >
                <tr ng-repeat="entry in m_oController.m_aoEntries | orderBy:m_oController.m_sOrderBy:m_oController.m_bReverseOrder | filter:search" id="{{'product'+$index}}"
                    ng-mouseover="m_oController.m_oMapService.changeStyleRectangleMouseOver(entry.rectangle)"
                    ng-mouseleave="m_oController.m_oMapService.changeStyleRectangleMouseLeave(entry.rectangle)"
                    ng-click="m_oController.m_oMapService.flyOnRectangle(entry.rectangle)" ng-class="{'wait-cursor-hover':m_oController.m_bIsDownloadingProduct}" >
                    <td>{{entry.fileName}}</td>
                    <td>{{entry.refDate}}</td>
                    <td>{{entry.category}}</td>
                    <td ng-click="m_oController.getInfoProduct(entry)">
                        <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                    </td>

                    <td ng-click="m_oController.openModalDownloadProductInSelectedWorkspaces(entry)">
                        <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                    </td>
                    <td ng-click="m_oController.downloadEntry(entry)" ng-class="{'disabled':m_oController.m_bIsDownloadingProduct}"
                        ng-disabled="m_oController.m_bIsDownloadingProduct" ng-hide="m_oController.m_sProductNameInDownloadingStatus === entry.fileName">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </td>
                    <td ng-show="m_oController.m_sProductNameInDownloadingStatus === entry.fileName">
                        <smallinvaderfixed></smallinvaderfixed>
                    </td>
                    <td ng-click="m_oController.openFTPService(entry)">
                        <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
