<div class="editor-view col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2" ></div>
    <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10 operations-bar" >
        <ul>
            <li data-toggle="tooltip" data-placement="top" title="Coming soon" style="cursor:no-drop;">
                <a><i class="fa fa-grav fa-3x" aria-hidden="true"></i></a>
            </li>
            <li data-toggle="tooltip" data-placement="top" title="Coming soon" style="cursor:no-drop;">
                <a><i class="fa fa-rocket fa-3x" aria-hidden="true"></i></a>
            </li>
            <li data-toggle="tooltip" data-placement="top" title="Coming soon" style="cursor:no-drop;" >
                <a><i class="fa fa-wpexplorer fa-3x" aria-hidden="true"></i></a>
            </li>
            <li data-toggle="tooltip" data-placement="top" title="Coming soon" style="cursor:no-drop;" >
                <a><i class="fa fa-space-shuttle fa-3x" aria-hidden="true"></i></a>
            </li>
            <!-- MIDA MERGE -->
            <li ng-click="m_oController.openMergeDialog()">
                <a class="icon"><img src="assets/icons/iconMIDA.svg"></a>
            </li>
        </ul>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 sidebar">

        <!--**************** TREE PANEL *****************-->
        <div class="panel panel-default ">
            <div class="panel-heading">
                {{"EDITOR_TITLE_PANEL_PRODUCTS"|translate}}
                <div ng-click="m_oController.openPublishedBandsInTree()" class="my-button" data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_OPEN_BAND'|translate}}">
                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                </div>
            </div>
            <!-- MY TREE DIRECTIVE -->
            <div class="panel-body">
                <tree ngModelTree="prova" ></tree>
            </div>

        </div>

        <!--**************** PANEL CESIUM GLOBE *********************-->
        <div class="panel panel-default small-map-container">
            <div class="panel-heading">
                <div class="my-button" ng-click="m_oController.onClickChangeMap()" data-toggle="tooltip" data-placement="top"
                     title="{{'EDITOR_TOOLTIP_SWITCH_3D_2D'|translate}}" ng-show=" m_oController.m_bIsVisibleMapOfLeaflet == true">
                    <i ng-show="m_oController.m_b2DMapModeOn == true" class="fa fa-map-o" aria-hidden="true"></i>
                    <i  ng-show="m_oController.m_b3DMapModeOn == true" class="fa fa-globe " aria-hidden="true"></i>
                </div>
                <!-- 2D map button-->
                <div class="my-button" ng-click="m_oController.synchronize2DMap()" data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_2D'|translate}}"
                     ng-show="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true && m_oController.m_bIsVisibleMapOfLeaflet == true "><!--m_oController.m_oConstantsService.deleteCookie('m_aoProcessesRunning');-->
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </div>
                <!-- 3D map button-->
                <div class="my-button" ng-click="m_oController.synchronize3DMap()" data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_3D'|translate}}"
                     ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false && m_oController.m_bIsVisibleMapOfLeaflet == true" ><!--m_oController.m_oConstantsService.deleteCookie('m_aoProcessesRunning');-->
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </div>
                <!--<img class="my-button" src="assets/icons/map2D.svg" alt="Map 2D" height="40" width="40">-->
            </div>
            <!--<globe ng-if="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false  "></globe>-->


            <div class="panel-body fixed-panel">
                <div class="map" id = "wasdiMap2" ng-show="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true  "></div>
                <div class="map" id="cesiumContainer2"  ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false  "></div>
            </div>
        </div>

    </div>

    <!--------------- MAP CONTAINER --------------->

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 map-container" >

        <div class="btn-group" role="group" >
            <!-- 2D map button-->
            <button type="button" class="btn btn-default" ng-click="m_oController.m_oMapService.getHome();"  data-toggle="tooltip"
                    data-placement="bottom"  title="{{'EDITOR_TOOLTIP_HOME'|translate}}"
                    ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false && m_oController.m_bIsVisibleMapOfLeaflet == true">
                <i class="fa fa-home fa-lg" aria-hidden="true"></i>
            </button>
            <!-- 2D map button-->
            <button type="button" class="btn btn-default" ng-click="m_oController.synchronize2DMap();"  data-toggle="tooltip"
                    data-placement="bottom"  title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_2D'|translate}}"
                    ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false && m_oController.m_bIsVisibleMapOfLeaflet == true">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </button>

            <!-- 3D map button-->
            <button type="button" class="btn btn-default" ng-click="m_oController.m_oGlobeService.goHome()"  data-toggle="tooltip"
                    data-placement="bottom"  title="{{'EDITOR_TOOLTIP_HOME'|translate}}"
                    ng-show="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true && m_oController.m_bIsVisibleMapOfLeaflet == true">
                <i class="fa fa-home fa-lg" aria-hidden="true"></i>
            </button>
            <!-- 3D map button-->
            <button type="button" class="btn btn-default" ng-click="m_oController.synchronize3DMap();"  data-toggle="tooltip"
                    data-placement="bottom"  title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_3D'|translate}}"
                    ng-show="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true && m_oController.m_bIsVisibleMapOfLeaflet == true">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </button>

            <button type="button" class="btn btn-default" ng-click="m_oController.addOrRemoveMapLayer()"  data-toggle="tooltip"
                    data-placement="bottom"  title="{{'EDITOR_TOOLTIP_DELETE_ADD_LAYER_MAP'|translate}}"
                    ng-hide="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true && m_oController.m_bIsVisibleMapOfLeaflet == true">
                <i class="fa fa-sticky-note" aria-hidden="true"></i>
            </button>
            <!-- BOTH -->
            <button type="button" class="btn btn-default" ng-click="m_oController.openGetCapabilitiesDialog()"  data-toggle="tooltip"
                    data-placement="bottom"  title="{{'EDITOR_TOOLTIP_GET_CAPABILITIES'|translate}}"
                    ng-hide="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true && m_oController.m_bIsVisibleMapOfLeaflet == true">
                <i class="fa fa-server" aria-hidden="true"></i>
            </button>

            <button type="button" class="btn btn-default" ng-click="m_oController.hideOrShowPixelInfo()"  data-toggle="tooltip"
                    data-placement="bottom"  title="Show/hide pixel info"
                    ng-hide="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true ">
                <i class="fa fa-window-maximize" aria-hidden="true"></i>
            </button>

        </div>

        <!-- 2D map -->
        <div class="map" id = "wasdiMap"  ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false"></div>

        <!-- 3D map -->
        <div id="cesiumContainer" class="map" ng-show="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true  "></div>
    </div>


</div>

<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>
