<div class="container-fluid">
    <div class="editor-view col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <!--<div class="col-lg-1 col-md-2 col-sm-2 col-xs-2" ></div>-->
        <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 operations-bar"  ><!--style="height: 80px;"-->
            <!--MAIN OPERATION BAR-->
            <div  class='animate-hide'  ng-hide="m_oController.isHiddenOperationMainBar();">
                <ul class="button-menu-with-icons">

                    <li   ng-click="m_oController.hideOperationMainBar(); m_oController.showOperationRadarBar();" ><!--data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_ICON_RADAR'|translate}}"-->
                        <!--<a class="icon-radar" href=""><i  aria-hidden="true"></i> </a>-->
                        <a href="" class="icon-radar ">
                            <div>
                                <h4>
                                    <i  aria-hidden="true"></i>
                                    {{'EDITOR_TOOLTIP_ICON_RADAR'|translate}}
                                </h4>

                            </div>
                            <!--<div>-->
                            <!--<i  aria-hidden="true"></i> &lt;!&ndash;RADAR ICON &ndash;&gt;-->
                            <!--</div>-->
                        </a>
                    </li>
                    <li   ng-click="m_oController.hideOperationMainBar();m_oController.showOperationOpticalBar(); " ><!--data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_ICON_EYE'|translate}}"-->
                        <!--<a class="icon-eye" href=""><i  aria-hidden="true"></i></a>-->
                        <a href="" class="icon-eye">
                            <div>
                                <h4>
                                    <i  aria-hidden="true"></i> <!--OPTICAL ICON -->
                                    {{'EDITOR_TOOLTIP_ICON_EYE'|translate}}
                                </h4>
                            </div>
                            <!--<div >-->
                            <!--<i  aria-hidden="true"></i> &lt;!&ndash;OPTICAL ICON &ndash;&gt;-->
                            <!--</div>-->
                        </a>

                    </li>
                    <li  ng-click="m_oController.hideOperationMainBar();m_oController.showOperationProcessor(); " >
                        <!--<a class="icon-eye" href=""><i  aria-hidden="true"></i></a>-->
                        <a href="" class="icon-document-gear">
                            <div>
                                <h4>
                                    <i  aria-hidden="true"></i>
                                    {{'EDITOR_OPERATION_TITLE_APPLY_RADIOMETRIC_PROCESSOR'|translate}}
                                </h4>
                            </div>
                            <!--<div>-->
                            <!--<i  aria-hidden="true"></i> &lt;!&ndash;PROCESSOR ICON &ndash;&gt;-->
                            <!--</div>-->
                        </a>
                    </li>

                    <li ng-click="m_oController.openMaskManager()" >
                        <!--<a class="icon-eye" href=""><i  aria-hidden="true"></i></a>-->
                        <a href="" class="icon-mask-manager">
                            <div>
                                <h4>
                                    <i  aria-hidden="true"></i>
                                    {{'EDITOR_OPERATION_TITLE_MASK_MANAGER'|translate}}
                                </h4>
                            </div>
                            <!--<div>-->
                            <!--<i  aria-hidden="true"></i> &lt;!&ndash;PROCESSOR ICON &ndash;&gt;-->
                            <!--</div>-->
                        </a>
                    </li>

                    <!--<li data-toggle="tooltip" data-placement="top" title="Coming soon" style="cursor:no-drop;">-->
                    <!--<a><i class="fa fa-grav fa-3x" aria-hidden="true"></i></a>-->
                    <!--</li>-->
                    <!--<li data-toggle="tooltip" data-placement="top" title="Coming soon" style="cursor:no-drop;">-->
                    <!--<a><i class="fa fa-rocket fa-3x" aria-hidden="true"></i></a>-->
                    <!--</li>-->
                    <!--<li data-toggle="tooltip" data-placement="top" title="Coming soon" style="cursor:no-drop;" >-->
                    <!--<a><i class="fa fa-wpexplorer fa-3x" aria-hidden="true"></i></a>-->
                    <!--</li>-->
                    <!--<li data-toggle="tooltip" data-placement="top" title="Coming soon" style="cursor:no-drop;" >-->
                    <!--<a><i class="fa fa-space-shuttle fa-3x" aria-hidden="true"></i></a>-->
                    <!--</li>-->
                    <!-- MIDA MERGE -->
                    <!--<li ng-click="m_oController.openMergeDialog()">-->
                    <!--<a class="icon"><img src="assets/icons/iconMIDA.svg"></a>-->
                    <!--</li>-->


                </ul>
            </div>

            <!--PROCESSOR-->
            <div  class='animate-hide' ng-hide="m_oController.isHiddenProcessorBar();">
                <ul >
                    <!--merge dialog-->
                    <li ng-click="m_oController.openMergeDialog();" ng-init="m_oController.m_sSrc='assets/icons/iconMIDA.svg' "
                        ng-mouseover="m_oController.m_sSrc='assets/icons/iconMIDA_White.svg' " ng-mouseleave="m_oController.m_sSrc='assets/icons/iconMIDA.svg' ">
                        <!--<a class="icon" href=""><img src="{{m_oController.m_sSrc}}"></a>-->
                        <a href="" class="icon-mida-merge-operations">
                            <h4>
                                <i  aria-hidden="true"></i>
                                {{"EDITOR_OPERATION_TITLE_MIDA"|translate}}
                            </h4>
                        </a>
                    </li>

                    <!--sftp dialog-->
                    <li ng-click="m_oController.openSFTPDialog()" >
                        <a href="" >
                            <h4>
                                <i class="fa fa-server" aria-hidden="true"></i>
                                {{"EDITOR_OPERATION_TITLE_SFTP"|translate}}
                            </h4>
                        </a>
                    </li>

                    <!--workflow dialog-->
                    <li ng-click="m_oController.openWorkflowDialog()" >
                        <a href="" >
                            <h4>
                                <i class="fa fa-file-code-o" aria-hidden="true"></i>
                                {{"EDITOR_OPERATION_TITLE_WORKFLOW"|translate}}
                            </h4>
                        </a>
                    </li>


                    <li data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_ICON_ARROW_BACK'|translate}}"  ng-click="m_oController.hideProcessorBar(); m_oController.showOperationMainBar(); " >
                        <a href="">
                            <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>

            <!--RADAR BAR-->
            <div  class='animate-hide'  ng-hide="m_oController.isHiddenOperationRadarBar();">
                <ul class="button-menu-with-icons">


                    <li ng-click="m_oController.openApplyOrbitDialog();" >
                        <a href="" class="icon-applyorbit-operations" >
                            <div>

                                <h4><i  aria-hidden="true"></i>{{"EDITOR_OPERATION_TITLE_APPLY_ORBIT"|translate}}</h4>
                            </div>


                        </a>
                    </li>
                    <li ng-click="m_oController.openMultilookingDialog();" >
                        <a href="" class="icon-multilooking-operations">
                            <div>
                                <h4>
                                    <i  aria-hidden="true"></i>
                                    {{"EDITOR_OPERATION_TITLE_APPLY_MULTILOOKING"|translate}}

                                </h4>
                            </div>
                            <!--<div>-->
                            <!--<i  aria-hidden="true"></i> &lt;!&ndash;PROCESSOR ICON &ndash;&gt;-->
                            <!--</div>-->
                        </a>
                    </li>
                    <li ng-click="m_oController.openRadiometricCalibrationDialog();" >
                        <a href="" class="icon-radiometriccalibrate-operations">
                            <h4><i aria-hidden="true"></i>{{"EDITOR_OPERATION_TITLE_APPLY_RADIOMETRIC_CALIBRATE"|translate}}</h4></a>
                    </li>
                    <li ng-click="m_oController.rangeDopplerTerrainCorrectionDialog();" >
                        <a href="" class="icon-range-doppler-terrain-correction-operations">
                            <div>
                                <h4>
                                    <i  aria-hidden="true"></i>
                                    {{"EDITOR_OPERATION_TITLE_APPLY_RADIOMETRIC_RANGE_DOPPLER_TERRAIN_CORRECTION"|translate}}
                                </h4>
                            </div>
                            <!--<div>-->
                            <!--<i  aria-hidden="true"></i> &lt;!&ndash;PROCESSOR ICON &ndash;&gt;-->
                            <!--</div>-->
                        </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_ICON_ARROW_BACK'|translate}}"  ng-click="m_oController.hideOperationRadarBar(); m_oController.showOperationMainBar(); " >
                        <a href=""><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>

            <!--OPTICAL BAR-->
            <div  class='animate-hide'  ng-hide="m_oController.isHiddenOperationOpticalBar();">
                <ul>

                    <li ng-click="m_oController.openNDVIDialog();" >
                        <a href=""><h4>{{"EDITOR_OPERATION_TITLE_APPLY_RADIOMETRIC_NDVI"|translate}}</h4></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_ICON_ARROW_BACK'|translate}}"  ng-click="m_oController.hideOperationOpticalBar(); m_oController.showOperationMainBar(); " >
                        <a href=""><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 sidebar">



            <!--**************** TREE PANEL *****************-->
            <div class="panel panel-default " >
                <div class="panel-heading">
                    {{"EDITOR_TITLE_PANEL_PRODUCTS"|translate}}
                    <div ng-click="m_oController.openPublishedBandsInTree()" class="my-button" data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_OPEN_BAND'|translate}}">
                        <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                    </div>
                </div>

                <!-- MY TREE DIRECTIVE -->
                <div class="panel-body">
                    <div class="loadIcon" ng-show="m_oController.m_bIsLoadingTree">
                        <invader ></invader>
                    </div>

                    <tree ngModelTree="prova" ng-hide="m_oController.isHideTree() || (m_oController.m_bIsLoadingTree === true)" ></tree>
                    <!--|| (m_oController.m_oTree === null)||(m_oController.m_oTree.core.data.length === 0)-->
                    <div class = "wizards" ng-show="m_oController.isHideTree() && (m_oController.m_bIsLoadingTree === false)">
                        <h4>
                            <div>{{"EDITOR_WIZARDS_TREE_SEARCH"|translate}} <a ng-click="m_oController.goSearch()" href="">Search</a></div>
                            <div>{{"EDITOR_WIZARDS_TREE_SFTP"|translate}} <a ng-click="m_oController.openSFTPDialog()" href="">SFTP</a></div>
                        </h4>
                    </div>
                </div>

            </div>

            <!--**************** PANEL CESIUM GLOBE *********************-->
            <div class="panel panel-default small-map-container"  >
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li role="presentation"  ng-class="{active: m_oController.m_iActiveMapPanelTab === 0}"
                            ng-click="m_oController.setActiveTab(0)">
                            <a href="">Navigation</a>
                        </li>
                        <li role="presentation"  ng-class="{active: m_oController.m_iActiveMapPanelTab === 1}"
                            ng-click="m_oController.setActiveTab(1)">
                            <a href="">Colour Manipulation</a>
                        </li>
                        <li role="presentation"  ng-class="{active: m_oController.m_iActiveMapPanelTab === 2}"
                            ng-click="m_oController.setActiveTab(2)">
                            <a href="">Preview</a>
                        </li>

                        <!--<li role="presentation"><a href="#">Messages</a></li>-->
                    </ul>
                </div>

                <div class="panel-body fixed-panel">
                    <!--TODO: SLIDER-->
                    <!---------------------- TAB 0 ------------------>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  ng-show="m_oController.m_iActiveMapPanelTab === 0">
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <div class="map" id = "wasdiMap2" ng-show="m_oController.m_b2DMapModeOn == false"></div>
                            <div class="map" id="cesiumContainer2"  ng-show="m_oController.m_b2DMapModeOn == true"  ></div>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-primary" ng-click="m_oController.onClickChangeMap()"
                                        data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_SWITCH_3D_2D'|translate}}"
                                        ng-show=" m_oController.m_bIsVisibleMapOfLeaflet == true">
                                    <i ng-show="m_oController.m_b2DMapModeOn == true" class="fa fa-map-o" aria-hidden="true"></i>
                                    <i  ng-show="m_oController.m_b2DMapModeOn == false" class="fa fa-globe " aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="m_oController.synchronize2DMap()"
                                        data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_2D'|translate}}"
                                        ng-show="m_oController.m_b2DMapModeOn == false && m_oController.m_bIsVisibleMapOfLeaflet == true ">
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="m_oController.synchronize3DMap()"
                                        data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_3D'|translate}}"
                                        ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_bIsVisibleMapOfLeaflet == true">
                                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!---------------------- TAB 1 ------------------>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="m_oController.m_iActiveMapPanelTab === 1">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <div id="colourManipulationDiv">

                            </div>
                            <div class="range-container"><!-- style="width: 100%;"-->
                                <input type="range" min="1" max="100" value="50" class="slider" ><!--ng-change="m_oController.maxSliderColourManipulation()"-->
                                <!--<p>-->
                                <!--Value: <span id="demo"></span>-->
                                <!--</p>-->
                            </div>
                            <div class="range-container"><!-- style="width: 100%;"-->
                                <input type="range" min="1" max="100" value="50" class="slider"><!-- ng-change="m_oController.averageSliderColourManipulation()"-->
                                <!--<p>-->
                                <!--Value: <span id="demo"></span>-->
                                <!--</p>-->
                            </div>
                            <div class="range-container"><!-- style="width: 100%;"-->
                                <input type="range" min="1" max="100" value="50" class="slider" ><!--ng-change="m_oController.minSliderColourManipulation()"-->
                                <!--<p>-->
                                <!--Value: <span id="demo"></span>-->
                                <!--</p>-->
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-default" ng-click="m_oController.adjust95percentageColourManipulation()">
                                    95%
                                </button>
                                <button type="button" class="btn btn-default" ng-click="m_oController.adjust100percentageColourManipulation()">
                                    100%
                                </button>
                                <button type="button" class="btn btn-default" ng-click="m_oController.resetColourManipulation()">
                                    <i class="fa fa-undo" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!----------------------------------------------- TAB 2 ----------------------------------------------->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="m_oController.m_iActiveMapPanelTab === 2">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <imagepreview is-loaded="m_oController.m_bIsLoadedPreviewBandImage" url-image="m_oController.m_sPreviewUrlSelectedBand"
                                          body = "m_oController.m_oBodyMapContainer">
                            </imagepreview>

                        </div>

                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                            <button ng-click="m_oController.processingViewBandImage(m_oController.m_oActiveWorkspace.workspaceId)"
                                    ng-disabled = " (m_oController.m_bIsLoadedPreviewBandImage === false) || (m_oController.m_bIsLoadedViewBandImage === false)">
                                Zoom
                            </button>
                            <!-- on-click="m_oController.processingViewBandImage()"-->
                        </div>
                    </div>

                </div>
                <!--<div class="panel-body fixed-panel">-->
                <!--<div class="map" id = "wasdiMap2" ng-show="false"></div>-->
                <!--<div class="map" id="cesiumContainer2"  ng-show="false"  ></div>-->
                <!--</div>-->

            </div>

        </div>

        <!--------------- MAP CONTAINER --------------->

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 map-column" >
            <div class="map-container" id="mapcontainer">

                <div class="btn-group" role="group" >
                    <!-- Visualize map -->
                    <button type="button" class="btn btn-default " ng-class="m_oController.m_sClassBtnSwitchGeographic" ng-click="m_oController.switchEditorGeoReferencedMode();m_oController.changeClassBtnSwitchGeographic();" data-toggle="tooltip"
                            data-placement="bottom" title="{{m_oController.m_sToolTipBtnSwitchGeographic|translate}}"
                            ng-disabled="m_oController.m_b2DMapModeOn == false"><!--{{'EDITOR_TOOLTIP_TO_GEO'|translate}}-->
                        <!--<i class="fa fa-sticky-note " aria-hidden="true"></i>-->
                        <!--<i></i>-->
                    </button>
                    <!-- 2D map button-->
                    <button type="button" class="btn btn-default" ng-click="m_oController.m_oMapService.getHome();"  data-toggle="tooltip"
                            data-placement="bottom"  title="{{'EDITOR_TOOLTIP_HOME'|translate}}"
                            ng-show="m_oController.m_b2DMapModeOn == true" ng-disabled="m_oController.m_bIsVisibleMapOfLeaflet == false">
                        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                    </button>
                    <!-- 2D map button-->
                    <button type="button" class="btn btn-default" ng-click="m_oController.synchronize2DMap();"  data-toggle="tooltip"
                            data-placement="bottom"  title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_2D'|translate}}"
                            ng-show="m_oController.m_b2DMapModeOn == true" ng-disabled=" m_oController.m_bIsVisibleMapOfLeaflet == false">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </button>

                    <!-- 3D map button-->
                    <button type="button" class="btn btn-default" ng-click="m_oController.m_oGlobeService.goHome()"  data-toggle="tooltip"
                            data-placement="bottom"  title="{{'EDITOR_TOOLTIP_HOME'|translate}}"
                            ng-show="m_oController.m_b2DMapModeOn == false" ng-disabled=" m_oController.m_bIsVisibleMapOfLeaflet == false">
                        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                    </button>
                    <!-- 3D map button-->
                    <button type="button" class="btn btn-default" ng-click="m_oController.synchronize3DMap();"  data-toggle="tooltip"
                            data-placement="bottom"  title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_3D'|translate}}"
                            ng-show="m_oController.m_b2DMapModeOn == false" ng-disabled=" m_oController.m_bIsVisibleMapOfLeaflet == false">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </button>


                    <!-- BOTH -->
                    <button type="button" class="btn btn-default" ng-click="m_oController.openGetCapabilitiesDialog()"  data-toggle="tooltip"
                            data-placement="bottom"  title="{{'EDITOR_TOOLTIP_GET_CAPABILITIES'|translate}}"
                            ng-disabled="m_oController.m_b2DMapModeOn == false" >
                        <i class="fa fa-server" aria-hidden="true"></i>
                    </button>

                    <button type="button" class="btn btn-default" ng-click="m_oController.changeModeOnOffPixelInfo();m_oController.hideOrShowPixelInfo();"  data-toggle="tooltip"
                            data-placement="bottom"  title="Show/hide pixel info"
                            ng-disabled="m_oController.m_b2DMapModeOn == false" ng-style="{'background-color': m_oController.getClassPixelInfo()}">  <!--ng-class="{'active' : m_oController.Mode}"-->
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <!--<pre>{{m_oController.m_bIsModeOnPixelInfo|json}}</pre>-->
                    </button>

                </div>

                <!--<div class="layers-list">-->
                <!--<div class="checkbox">-->
                <!--<h5><b>Layers visible:</b></h5>-->
                <!--<div ng-repeat="layer in m_oController.m_aoLayersList">-->
                <!--<label title ="{{layer.layerId}}" ng-click="m_oController.hideBandInLayerList(layer)">-->
                <!--<input type="checkbox" ng-model="layer.isVisibleInMap">-->
                <!--{{layer.layerId}}-->
                <!--</label>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

                <!-- BAND 2d-->
                <img ng-src="{{m_oController.m_sViewUrlSelectedBand}}" ng-show="m_oController.m_b2DMapModeOn === true && m_oController.m_bIsVisibleMapOfLeaflet === false && m_oController.m_bIsLoadedViewBandImage">
                <div class="loadIcon" ng-hide="m_oController.m_bIsLoadedViewBandImage && (m_oController.m_bIsLoadedViewBandImage === true) ">
                    <invader></invader>
                </div>


                <!-- 2D map -->
                <div class="map" id = "wasdiMap" ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_bIsVisibleMapOfLeaflet === true"></div>

                <!-- 3D map -->
                <div id="cesiumContainer" class="map" ng-show="m_oController.m_b2DMapModeOn == false "></div>
            </div>
        </div>


    </div>
</div>

<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip({
            trigger : 'hover'
        })
    })
</script>
