<div class="editor-view col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2" ></div>
    <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10 operations-bar" >
        <ul>
            <li><a><i class="fa fa-map-o fa-3x" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-globe fa-3x" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-picture-o fa-3x" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-map-o fa-3x" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-globe fa-3x" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-picture-o fa-3x" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-map-o fa-3x" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-globe fa-3x" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-picture-o fa-3x" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 sidebar">

        <!--**************** TREE PANEL *****************-->
        <div class="panel panel-default ">
            <div class="panel-heading">{{"EDITOR_TITLE_PANEL_PRODUCTS"|translate}}</div>
            <!-- MY TREE DIRECTIVE -->
            <div class="panel-body">
                <tree ngModelTree="prova" ></tree>
            </div>

        </div>

        <!--**************** PANEL CESIUM GLOBE *********************-->
        <div class="panel panel-default small-map-container">
            <div class="panel-heading">
                <div class="my-button" ng-click="m_oController.onClickChangeMap()" data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_SWITCH_3D_2D'|translate}}">
                    <i ng-show="m_oController.m_b2DMapModeOn == true" class="fa fa-map-o" aria-hidden="true"></i>
                    <i  ng-show="m_oController.m_b3DMapModeOn == true" class="fa fa-globe " aria-hidden="true"></i>
                </div>
                <!-- 2D map button-->
                <div class="my-button" ng-click="m_oController.synchronize2DMap()" data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_2D'|translate}}"
                     ng-show="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true  "><!--m_oController.m_oConstantsService.deleteCookie('m_aoProcessesRunning');-->
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </div>
                <!-- 3D map button-->
                <div class="my-button" ng-click="m_oController.synchronize3DMap()" data-toggle="tooltip" data-placement="top" title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_3D'|translate}}"
                     ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false" ><!--m_oController.m_oConstantsService.deleteCookie('m_aoProcessesRunning');-->
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </div>
            </div>
            <!--<globe ng-if="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false  "></globe>-->

            <div class="panel-body fixed-panel">
                <div class="map" id = "wasdiMap2" ng-show="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true  "></div>
                <div class="map" id="cesiumContainer2"  ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false  "></div>
            </div>
        </div>

    </div>

    <!--------------- MAP CONTAINER --------------->

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 map-container">

        <div class="btn-group" role="group" >

            <button type="button" class="btn btn-default" ng-click="m_oController.m_oMapService.getHome();"  data-toggle="tooltip"
                    data-placement="bottom"  title="{{'EDITOR_TOOLTIP_HOME'|translate}}" ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false">
                <i class="fa fa-home fa-lg" aria-hidden="true"></i>
            </button>
            <!-- 2D map button-->
            <button type="button" class="btn btn-default" ng-click="m_oController.synchronize2DMap();"  data-toggle="tooltip"
                    data-placement="bottom"  title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_2D'|translate}}" ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </button>
            <!-- 3D map button-->
            <button type="button" class="btn btn-default" ng-click="m_oController.synchronize3DMap();"  data-toggle="tooltip"
                    data-placement="bottom"  title="{{'EDITOR_TOOLTIP_SYNCHRONIZE_MAP_3D'|translate}}" ng-show="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true  ">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </button>
        </div>

        <div class="map" id = "wasdiMap" ng-show="m_oController.m_b2DMapModeOn == true && m_oController.m_b3DMapModeOn == false">
            <!-- button inside map-->

        </div>
        <!--<globe ng-if="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true  "></globe>-->
        <div id="cesiumContainer" class="map" ng-show="m_oController.m_b2DMapModeOn == false && m_oController.m_b3DMapModeOn == true  "></div>
    </div>

    <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; STATUS BAR -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 status-bar ">-->
        <!--<span ng-repeat="oProcess in m_oController.m_aoProcessesRunning track by $index">-->
            <!--<i class="fa fa-spinner fa-pulse fa-fw"></i> {{oProcess.processName}}-->
        <!--</span>-->
    <!--</div>-->

</div>

<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>