<div class="container-table-row" ng-show="m_oController.m_bIsVisibleListOfLayers" id="div-container-table" >

    <div ng-show="m_oController.m_bIsVisibleListOfLayers && m_oController.isEmptyLayersList() == true" class="loadIcon">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>


    <!--PAGINATION-->
    <div class="pages" ng-hide="m_oController.m_bIsVisibleListOfLayers && m_oController.isEmptyLayersList() == true">
        <ul class="pager">

            <div class="form-group">
                <label for="selectPages">{{"IMPORT_PRODUCTS_PER_PAGE_LABEL"|translate}}</label>
                <select class="form-control" id="selectPages" ng-model="m_oController.m_iProductsPerPageSelected"
                        ng-options="product for product in m_oController.m_iProductsPerPage" ng-change="m_oController.search()">
                </select>
            </div>

            <li ng-click="m_oController.firstPage()"><a><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
            <li ng-click="m_oController.minusOnePage()"><a><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
            <form ng-submit="m_oController.changePage(m_oController.m_iCurrentPage)">
                {{"IMPORT_PAGE_LABEL"|translate}}
                <input type="text" class="form-control" ng-model="m_oController.m_iCurrentPage">
                {{"IMPORT_OF_LABEL"|translate}} {{m_oController.m_iTotalPages}}
            </form>
            <li ng-click="m_oController.plusOnePage()"><a><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            <li ng-click="m_oController.lastPage()"><a><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>

        </ul>

    </div>


    <!--********************************* TABLE **********************************-->

    <table class="table table-hover layers " id="table_layers_list" ng-show="m_oController.m_bIsVisibleListOfLayers && m_oController.isEmptyLayersList() == false" >

        <tbody ng-repeat="layer in m_oController.m_aoProductsList"
               ng-mouseover="m_oController.changeStyleRectangleMouseOver(layer.rectangle)"
               ng-mouseleave="m_oController.changeStyleRectangleMouseLeave(layer.rectangle)"
               id='{{"layer"+layer.id}}'> <!--id='{{"layer:"+$index}}' layer.id-->
        <!------------------------------- SUMMARY ------------------------------->
        <tr class="info-layer" >
            <!-- BUTTONS -->
            <td class="button-cell">
                <div class="btn-group-vertical" role="group" >
                    <button type="button" class="btn btn btn-primary" ng-click="m_oController.downloadProduct(layer)"
                            ng-disabled="m_oController.isPossibleDoDownload(layer)" data-toggle="tooltip" data-placement="top" title="{{'IMPORT_TOOLTIP_ADD_PRODUCT'|translate}}">
                        <i class="fa fa-plus " aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn btn-primary" ng-click="m_oController.zoomOnBounds(layer.rectangle)"
                            data-toggle="tooltip" data-placement="top" title="{{'IMPORT_TOOLTIP_ZOOM_ON_PRODUCT'|translate}}">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn btn-primary" ng-click="m_oController.infoLayer(layer)"
                            data-toggle="tooltip" data-placement="top" title="{{'IMPORT_TOOLTIP_INFO'|translate}}">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </div>
            </td>
            <!-- IMAGE CELL -->
            <td class="image-cell">
                <span class="label label-success">{{layer.summary.Mode}}</span>&nbsp;<!--Mode-->
                <span class="label label-success"> {{layer.summary.Instrument}}</span><!--Instrument-->
                <div class="preview-layer-image" ><img src={{layer.preview}} alt="Image" style="height: 82px;width: 82px; "></div>
                <span class="badge">{{layer.summary.Size}}</span><!--Size-->
            </td>
            <!-- INFO CELL -->
            <td class="info-cell">

                <div>{{layer.summary.Date|date:'medium'}}</div><!--Date-->
                </br>
                <div>{{"layer"+layer.id}}</div>
                </br>
                <div>{{layer.title}}</div>

            </td>

        </tr>
        </tbody>
    </table>

</div>
