<div class="import-view col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!-- SIDEBAR -->
    <div class="sidenav-animated" >
        <div id="mySidenav" class="sidenav">
            <i ng-click="m_oController.closeNav()" class="fa fa-times fa-2x closebtn" aria-hidden="true"></i>

            <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
            <!--<a href="#">About</a>-->
            <!--<a href="#">Services</a>-->
            <!--<a href="#">Clients</a>-->
            <!--<a href="#">Contact</a>-->

        </div>
    </div>
    <!-- OPEN MENU -->
    <div class="fixed" ng-click="m_oController.openNav()">
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
    </div>
    <div class="map-container">
        <div class="map" id = "wasdiMapImport" ></div>
    </div>
</div>

<!--<script>-->
    <!--function openNav() {-->
        <!--document.getElementById("mySidenav").style.width = "250px";-->
    <!--}-->

    <!--function closeNav() {-->
        <!--document.getElementById("mySidenav").style.width = "0";-->
    <!--}-->
<!--</script>-->