<div class="import-view">

    <!--Operation bar-->
    <div class="row-v4 justify-content-end toolbar">
        <div class="col-v4-auto ml-auto">
            <div class="btn-group btn-group-sm use-divider" role="group" aria-label="Basic example">
                <button type="button" id="search-button" class="btn btn-primary btn-wasdi search-button"
                        ng-click="$ctrl.searchAllSelectedProviders()"
                        ng-class="{'disabled': $ctrl.isSearchBtnEnabled() == false, 'search-button': $ctrl.thereIsAtLeastOneProvider() === true }"
                        ng-show="$ctrl.m_sTypeOfFilterSelected === 'Time period'">
                    <i class="fa fa-search" aria-hidden="true"></i>{{"IMPORT_SEARCH_BUTTON"|translate}}</i>
                </button>
                <button type="button" id="search-button-list" class="btn btn-primary btn-wasdi search-button"
                        ng-click="$ctrl.searchListAllSelectedProviders()"
                        ng-class="{'disabled': $ctrl.isSearchBtnEnabled() == false, 'search-button': $ctrl.thereIsAtLeastOneProvider() === true }"
                        ng-show="$ctrl.m_sTypeOfFilterSelected === 'Time series'">
                    <i class="fa fa-search" aria-hidden="true"></i>{{"IMPORT_SEARCHLIST_BUTTON"|translate}}</button>
                <button type="button" class="btn btn-primary btn-wasdi search-button" ng-class="{'disabled': ($ctrl.m_bIsVisibleListOfLayers === false)}"
                        ng-click="$ctrl.openModalDownloadSelectedProductsInSelectedWorkspaces()" >
                    <i class="fa fa-download" aria-hidden="true"></i>Download selected</button>
            </div>
        </div>
    </div>
    <div class="spacer"></div>



    <div class="row-v4 full-width-content">
        <!----------------------------------- SIDEBAR ------------------------------------------->
        <div class="col-v4-lg-4 col-v4-md-4 col-v4-sm-4 col-v4-xs-12 side-panel">

            <div class="card h-100">
                <div class="card-header">
                    <!-- BACK -->
                    <i class="fa fa-arrow-left backbtn" aria-hidden="true" ng-click=" $ctrl.setPaginationVariables()" ng-show="$ctrl.m_bIsVisibleListOfLayers"></i>

                    <span ng-hide="$ctrl.m_bIsVisibleListOfLayers">{{"IMPORT_PANEL_HEAD_TITLE_FILTERS"|translate}}</span>
                    <div class="btn btn-wasdi btn-outline-light no-border btn-sm" ng-click="$ctrl.clearFilter();$ctrl.cleanAdvanceFilters();$ctrl.removeAllAdvanceSavedFilters()"
                         title="Clear Search Filter" ng-show="$ctrl.m_bClearFiltersEnabled">

                        <!--{{"IMPORT_CLEAR_BUTTON"|translate}}-->
                        <i class="fa fa-bath mr-0" aria-hidden="true" ></i>
                    </div>
                    <button class="btn btn-wasdi btn-outline-light no-border btn-sm" ng-show="$ctrl.m_bIsVisibleListOfLayers"
                            ng-click="$ctrl.deselectAllProducts()">
                        <i class="fa fa-square-o mr-0" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-wasdi btn-outline-light no-border btn-sm" ng-show="$ctrl.m_bIsVisibleListOfLayers"
                            ng-click="$ctrl.selectAllProducts()">
                        <i class="fa fa-check-square-o mr-0" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="card-body p-0 d-flex flex-column sidebar-wrapper">
                    <div class="search-filters-container mt-2" ng-hide="$ctrl.m_bIsVisibleListOfLayers || $ctrl.m_bisVisibleLocalStorageInputs">
                        <div class="container-fluid-v4 filters-wrapper" >

                            <!-- CronTab / Providers buttons -->
                            <div class="row-v4 justify-content-around mt-2">
                                <div class="col-v4-auto">
                                    <button type="button" class="btn btn-primary btn-wasdi selected-time-series h-100"
                                            ng-click="$ctrl.openAdvanceFiltersDialog(); $ctrl.m_sTypeOfFilterSelected = 'Time series'">
                                        <em class="fa fa-calendar"></em>CronTab
                                    </button>
                                </div>
                                <div class="col-v4-auto">
                                    <multiselectdropdownmenu options="$ctrl.m_aListOfProvider" name="Providers"></multiselectdropdownmenu>
                                </div>
                            </div>

                            <!-- From / To date pickers -->
                            <div class="row-v4 mt-2 time-container" ng-hide="$ctrl.m_sTypeOfFilterSelected != 'Time period'">
                                <div class="col-v4">
                                    From:
                                    <div class="input-calendar-container" >

                                        <p class="input-group">
                                            <input type="text" class="form-control advanced-calendar-date-input"
                                                   uib-datepicker-popup="yyyy/MM/dd"
                                                   ng-model="$ctrl.m_oModel.sensingPeriodFrom"
                                                   is-open="$ctrl.m_oStatus.openedSensingPeriodFrom"
                                                   date-disabled="$ctrl.disabled(date, mode)"
                                                   max-date="$ctrl.m_oModel.sensingPeriodTo" ng-required="true"
                                                   ng-blur="$ctrl.updateAdvancedSearch()"
                                                   ng-change="$ctrl.updateAdvancedSearch()"
                                                   close-text="Close"/>

                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default advanced-calendar-button"
                                                        ng-click="$ctrl.openSensingPeriodFrom($event)">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </button>
                                            </span>

                                        </p>
                                    </div>
                                </div>
                                <div class="col-v4">
                                    To:
                                    <div class=" advanced-calendar-input input-calendar-container " >
                                        <p class="input-group" >

                                            <input type="text" class="form-control advanced-calendar-date-input"
                                                   uib-datepicker-popup="yyyy/MM/dd"
                                                   ng-model="$ctrl.m_oModel.sensingPeriodTo"
                                                   is-open="$ctrl.m_oStatus.openedSensingPeriodTo"
                                                   date-disabled="$ctrl.disabled(date, mode)" ng-required="true"
                                                   min-date="$ctrl.m_oModel.sensingPeriodFrom"
                                                   ng-blur="$ctrl.updateAdvancedSearch()" close-text="Close"
                                                   ng-change="$ctrl.updateAdvancedSearch()"
                                                   data-container="body"/>

                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default advanced-calendar-button"
                                                        ng-click="$ctrl.openSensingPeriodTo($event)"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Time-series filters summary -->
                            <div class="row-v4 mt-2" ng-hide="$ctrl.m_sTypeOfFilterSelected != 'Time series'">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                                    <!--PROVIDERS-->
                                    <div>

                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                                </div>
                            </div>
                            <div class="row-v4 mt-2" ng-hide="$ctrl.m_oAdvanceFilter.savedData.length === 0">
                                <div class="col-v4-12">
                                    <div class="well well-sm">
                                        <div class="chip" ng-repeat="data in $ctrl.m_oAdvanceFilter.savedData">
                                            {{data.name}}
                                            <span class="closebtn" ng-click="$ctrl.removeSaveDataChips(data) ">&times;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Missions selector and advanced filters -->
                        <div id="advanced-search-content" class="flex-grow-1 mt-4 d-flex flex-column">
                            <!-- Product name search -->
                            <div class="container-fluid-v4">
                                <div class="row-v4 product-search-wrapper">
                                    <div class="col-v4-auto d-flex flex-column justify-content-center">
                                        <div>Product<br>Name</div>
                                    </div>
                                    <div class="col-v4">
                                        <input type="text" ng-model="$ctrl.m_oModel.textQuery" placeholder="Search..." >
                                    </div>
                                </div>
                            </div>

                            <!-- Missions tabs -->
                            <div class="row-v4 mission-tabs-wrapper mt-3">
                                <div class="col-v4-12">
                                    <div class="container-fluid-v4"><label>Select missions</label></div>
                                    <ul class="nav-v4 nav-v4-tabs nav-v4-fill">
                                        <li class="nav-v4-item" ng-repeat="mission in $ctrl.getMissions()"
                                            ng-class="{'selected' : mission.selected == true}" >
                                            <div class="nav-v4-link" ng-click="$ctrl.selectTabMission(mission, $index, $event)" ng-class="{active: $ctrl.m_activeMissionTab === $index}">
                                                <!--<i class="mr-2 fa" aria-hidden="true" ng-class="{'fa-square-o' : mission.selected != true, 'fa-check-square' : mission.selected == true}" ng-click="$ctrl.toggleMissionSelection(mission, $index, $event)"></i> -->
                                                <span>{{mission.name}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Mission details -->
                            <div class="mission-details-wrapper container-fluid flex-grow-1">
                                <div class="row-v4" ng-repeat="mission in $ctrl.getMissions()" ng-show="$ctrl.isMissionTabOpen($index)">

                                    <div class="col-v4-6 mt-2" ng-repeat="filter in mission.filters">
                                        <!-- INPUT -->
                                        <div ng-if="!(filter.indexvalues && filter.indexvalues.split('|').length > 0)">
                                            <div class="group">
                                                <label class="filter-label" ng-show="$ctrl.isVisibleFilter($ctrl.getSelectedValueInMission(mission,'collection'),filter.indexname,mission.name)">
                                                    {{filter.indexlabel}}
                                                </label>

                                                <input type="text" class="filter-input wasdi-input"
                                                       placeholder="{{$ctrl.getFilterPlaceholder(filter)}}"
                                                       ng-model="filter.indexvalue"
                                                       ng-value="filter.indexvalue"
                                                       ng-blur="$ctrl.updateFilter($parent.$parent.$index)"
                                                       ng-pattern="filter.regex"
                                                       ng-show="$ctrl.isVisibleFilter($ctrl.getSelectedValueInMission(mission,'collection'),filter.indexname,mission.name)">

                                                <span class="highlight filter-highlight"></span>
                                                <span class="bar filter-bar"></span>
                                            </div>
                                        </div>

                                        <!-- INPUT NUMBER-->


                                        <!-- LIST OF OPTIONS-->
                                        <div id="adv-options" class="group" ng-if="(filter.indexvalues && filter.indexvalues.split('|').length > 0)">
                                            <label class="filter-label"
                                                   ng-show="$ctrl.isVisibleFilter($ctrl.getSelectedValueInMission(mission,'collection'),filter.indexname,mission.name)">
                                                {{filter.indexlabel}}
                                            </label>
                                            <!--INPUT -->
                                            <input type="text" ng-model="filter.indexvalue" ng-value="filter.indexvalue"
                                                   class="filter-input wasdi-input"
                                                   ng-blur="$ctrl.updateFilter($parent.$parent.$index)"
                                                   ng-click="$ctrl.clearInput($parent.$parent.$index, $parent.$index)"
                                                   ng-pattern="filter.regex"
                                                   list="{{$parent.$parent.$index}}_{{$index}}_optlist"
                                                   ng-show="$ctrl.isVisibleFilter($ctrl.getSelectedValueInMission(mission,'collection'),filter.indexname,mission.name)">
                                            <div class="adv-selectfield"
                                                 ng-show="$ctrl.isVisibleFilter($ctrl.getSelectedValueInMission(mission,'collection'),filter.indexname,mission.name)">
                                                <datalist id="{{$parent.$parent.$index}}_{{$index}}_optlist"
                                                          class="browser-default" ng-model="filter.indexvalue">

                                                    <option selected ng-hide="filter.required"></option>

                                                    <option ng-repeat="option in filter.indexvalues.split('|')"
                                                            value="{{option}}" >{{option}}
                                                    </option>
                                                </datalist>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- *** PRODUCTS-LAYERS TABLE *** -->
                    <div class="search-result-container flex-fill d-flex flex-column">
                        <ng-include src="'partials/missions-result.component.html'" class="flex-fill d-flex flex-column"></ng-include>
                    </div>
                </div>
            </div>
        </div><!-- Sidebar end -->




        <!----------------------------------- MAP ------------------------------------------->
        <div class="col-v4-lg-8 col-v4-md-8 col-v4-sm-8 col-v4-xs-12 map-column ">
            <div class="map-container">
                <div class="map" id="wasdiMapImport"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('#table_layers_list').on('post-body.bs.table', function () {
            $('[data-tooltip="true"]').tooltip({
                container: 'body'
            });
        });
    });
</script>
