<div class="editor-view">

    <div class="container-fluid">
        <div class="row market-toolbar-wrapper">
            <div class="col-12 market-toolbar d-flex justify-content-between">
                <!--LEFT-->
                <div class="item-wrapper d-flex align-items-center p-3">
                    <span class="d-none d-md-block">WASDI APP STORE | ITEMS FOUND: </span> <strong class="ml-2">85</strong>
                </div>

                <!-- RIGHT -->
                <div class="right-side d-flex">
                    <!--SEARCH-->
                    <div class="search-wrapper mr-2 d-flex">
                        <input type="text" name="search" placeholder="SEARCH APP" class="search-field">
                        <div class="search-icon-wrapper px-4 d-flex align-items-center">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </div>
                    </div>
                    <!--ORDER BY-->
                    <div class="order-btn dropdown">
                        <button class="btnwasdis btn-primary dropdown-toggle" type="button" id="dropdownOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ORDER BY
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownOrder">
                            <div class="dropdown-item p-2 px-3" href="#">NEWEST</div>
                            <div class="dropdown-item p-2 px-3" href="#">BESTSELLERS</div>
                            <div class="dropdown-item p-2 px-3" href="#">BEST RATED</div>
                            <div class="dropdown-item p-2 px-3" href="#">PRICE</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container-fluid">
        <div class="row mt-3">
            <!--green divider-->
            <div class="marketplace-divider">
            </div>
        </div>

        <div class="row mt-3">
            <!--SIDEBAR------------------------------------------------------------>
            <div class="col-12 col-md-2 filter-side-bar">
                <!--title large screen-->
                <div class="d-none d-md-block title p-2 px-3 mb-2">
                    <span class="fa fa-bath mr-2" aria-hidden="true"></span>APPS FILTER
                </div>
                <!--title mobile screen-->
                <div class="d-block d-md-none title p-2 px-3 mb-4 d-flex justify-content-between collapsed" type="button" data-toggle="collapse" data-target="#collapsebleFilter" aria-expanded="false" aria-controls="collapsebleFilter">
                    <div><span class="fa fa-bath mr-2" aria-hidden="true"></span>APPS FILTER</div>
                    <div><span class="fa fa-chevron-down"></span>
                        <span class="fa fa-times"></span>
                    </div>
                </div>


                <div class="collapse" id="collapsebleFilter">
                    <!--category-->
                    <div class="category mt-1 mb-3">
                        <div class="border-bottom py-1 mb-2 subtitle">CATEGORY:</div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="flood" type="checkbox" aria-label="Checkbox for following text input">
                            <label for="flood">Flood <span class="italic">(8)</span></label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="gis" type="checkbox" aria-label="Checkbox for following text input">
                            <label for="gis">GIS <span class="italic">(10)</span></label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="population" type="checkbox" aria-label="Checkbox for following text input">
                            <label for="population">Population <span class="italic">(5)</span></label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="fire" type="checkbox" aria-label="Checkbox for following text input">
                            <label for="fire">Fire <span class="italic">(12)</span></label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="rain" type="checkbox" aria-label="Checkbox for following text input">
                            <label for="rain">Rain <span class="italic">(2)</span></label>
                        </div>

                    </div>

                    <!--developer-->
                    <div class="developer mt-1 mb-3">
                        <div class="border-bottom py-1 mb-2 subtitle">
                            <span>DEVELOPER</span>
                            <span class="fas fa-meteor"></span>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="Leia" type="checkbox" aria-label="Checkbox for following text input">
                            <label for="Leia">Princess Leia <span class="italic">(8)</span></label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="JarJar" type="checkbox" aria-label="Checkbox for following text input">
                            <label for="JarJar">Jar Jar Binks <span class="italic">(10)</span></label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="Dookue" type="checkbox" aria-label="Checkbox for following text input">
                            <label for="Dookue">Count Dooku <span class="italic">(5)</span></label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="Maul" type="checkbox" aria-label="Checkbox for following text input">
                            <label for="Maul">Darth Maul <span class="italic">(12)</span></label>
                        </div>

                    </div>

                    <!--ratings-->
                    <div class="ratings mt-1 mb-3">
                        <div class="border-bottom py-1 mb-2 subtitle">RATINGS:</div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="allstar" type="radio" name="rating" aria-label="Checkbox for following text input" checked="checked">
                            <label for="allstar">
                                <span>all ratings</span>
                            </label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="onestar" type="radio" name="rating" aria-label="Checkbox for following text input">
                            <label for="onestar">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="ml-2">e più</span>
                            </label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="twostar" type="radio" name="rating" aria-label="Checkbox for following text input">
                            <label for="twostar">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="ml-2">e più</span>
                            </label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="threestar" type="radio" name="rating" aria-label="Checkbox for following text input">
                            <label for="threestar">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="ml-2">e più</span>
                            </label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="fourstar" type="radio" name="rating" aria-label="Checkbox for following text input">
                            <label for="fourstar">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="ml-2">e più</span>
                            </label>
                        </div>
                        <div class="input-group-text d-flex align-items-center pb-1">
                            <input id="fivestar" type="radio" name="rating" aria-label="Checkbox for following text input">
                            <label for="fivestar">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </label>
                        </div>


                    </div>

                    <!--price-->
                    <div class="price mt-1 mb-3">
                        <div class="border-bottom py-1 mb-2 subtitle">PRICES:</div>

                        <div id="slider-range" class="my-4"></div>
                        <p>
                            <label for="amount">Price range:</label>
                            <input class="amount" type="text" id="amount" readonly>
                        </p>
                    </div>
                </div>
            </div>
            <!--end filter bar-->


            <!--APPS LIST-->
            <div class="col-md-10 pb-3 apps-wrapper">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 pb-5"  ng-repeat="processor in m_oController.m_aoApplicationList">
                        <div class="apps-tile" ng-click="m_oController.openApplicationPage(processor.processorName)">
                            <!--APP FEATURED IMG-->
                            <div class="featured-img" style="background-image: url({{processor.imgLink}})">
                                <div class="overlay">
                                    <img src="assets/img/tie-f.svg" class="scalein">
                                </div>
                            </div>
                            <div class="buyed-tag" ng-if="processor.buyed">
                                <span class="fa fa-check mr-1"></span>Already Buyed!
                            </div>
                            <!--APP DETAILS-->
                            <h5 class="application_title mt-4">{{processor.friendlyName}}</h5>
                            <p class="application_description" title="{{processor.processorDescription}}">{{processor.processorDescription}}</p>
                            <div class="publisher mb-1">
                                <span ng-if="!processor.isMine">Published by <span class="pub-name">{{processor.publisher}}</span></span>
                                <span ng-if="processor.isMine"><span class="fa fa-flask mr-1"></span>You are the publisher my master!</span>
                            </div>
                            <div class="tile-footer d-flex justify-content-between align-items-center border-top pt-3">
                                <div class="star-rating">
                                    <span class="fa fa-star" ng-class="processor.score>0.25&&processor.score<0.75?'checked-half':processor.score>=0.75?'checked':''"></span>
                                    <span class="fa fa-star" ng-class="processor.score>1.25&&processor.score<1.75?'checked-half':processor.score>=1.75?'checked':''"></span>
                                    <span class="fa fa-star" ng-class="processor.score>2.25&&processor.score<2.75?'checked-half':processor.score>=2.75?'checked':''"></span>
                                    <span class="fa fa-star" ng-class="processor.score>3.25&&processor.score<3.75?'checked-half':processor.score>=3.75?'checked':''"></span>
                                    <span class="fa fa-star" ng-class="processor.score>4.25&&processor.score<4.75?'checked-half':processor.score>=4.75?'checked':''"></span>


                                </div>
                                <div  class="price-tag shadow-sm">
                                    <span ng-if="processor.price>0">from € {{processor.price}}</span>
                                    <span ng-if="processor.price==0">Free</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="load-more-btn"><span class="fa fa-refresh mr-2"></span>LOAD MORE FUNNY APPS</div>
                </div>


            </div>

        </div>

    </section>

</div>




<!--SCRIPT PER DUAL HANDLE RANGE SLIDER TODO PAOLO spostare in controller?-->
<script>
    $( function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 500,
            values: [ 75, 300 ],
            slide: function( event, ui ) {
                $( "#amount" ).val( "€" + ui.values[ 0 ] + " - €" + ui.values[ 1 ] );
            }
        });
        $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
            " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    } );
</script>
