<table class="table table-hover layers " id="table_layers_list"
       aria-label="product list"
       ng-show="$ctrl.m_bIsVisibleListOfLayers && $ctrl.isEmptyProductsList() == false" >

    <tbody ng-repeat="layer in $ctrl.m_aoProductsList | filter:{ provider: provider.name } "
           ng-mouseover="$ctrl.changeStyleRectangleMouseOver(layer.rectangle)"
           ng-mouseleave="$ctrl.changeStyleRectangleMouseLeave(layer.rectangle)"
           id='{{"layer"+layer.id}}'> <!--id='{{"layer:"+$index}}' layer.id-->
    <!------------------------------- SUMMARY ------------------------------->
    <tr ng-if="layer.properties && layer.properties.error">
        <td class="info-cell">
            <div>
                <span><b>Error:</b></span>
                <span>{{layer.properties.error}}</span>
            </div>
        </td>
    </tr>

    <tr class="info-layer" ng-if="!layer.properties || !layer.properties.error">
        <!-- BUTTONS -->
        <td class="button-cell">
            <div class="btn-group-vertical" role="group" >
                <!-- CHECK PRODUCT-->
                <button type="button" class="btn btn btn-primary" ng-show="layer.checked" ng-click="layer.checked= !layer.checked"
                        data-toggle="tooltip" data-placement="top" title="{{'IMPORT_TOOLTIP_CHECK'|translate}}">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                </button>
                <!-- UNCHECK PRODUCT-->
                <button type="button" class="btn btn btn-primary" ng-hide="layer.checked" ng-click="layer.checked= !layer.checked "
                        data-toggle="tooltip" data-placement="top" title="{{'IMPORT_TOOLTIP_UNCHECK'|translate}}">
                    <i class="fa fa-square" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn btn-primary" ng-click="$ctrl.openModalDownloadProductInSelectedWorkspaces(layer)"
                        ng-disabled="$ctrl.isPossibleDoDownload(layer) || (layer.isDisabledToDoDownload != null && layer.isDisabledToDoDownload)"
                        data-toggle="tooltip" data-placement="top" title="{{'IMPORT_TOOLTIP_ADD_PRODUCT'|translate}}">
                    <i class="fa fa-plus " aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn btn-primary" ng-click="$ctrl.zoomOnBounds(layer.rectangle)"
                        data-toggle="tooltip" data-placement="top" title="{{'IMPORT_TOOLTIP_ZOOM_ON_PRODUCT'|translate}}">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn btn-primary" ng-click="$ctrl.infoLayer(layer)"
                        data-toggle="tooltip" data-placement="top" title="{{'IMPORT_TOOLTIP_INFO'|translate}}">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </button>

            </div>
        </td>
        <!-- IMAGE CELL -->
        <td class="image-cell">
            <span class="label label-success" ng-if="layer.summary && layer.summary.Mode">{{layer.summary.Mode}}</span>&nbsp;<!--Mode-->
            <span class="label label-success" ng-if="layer.summary && layer.summary.Instrument"> {{layer.summary.Instrument}}</span><!--Instrument-->
            <div class="preview-layer-image" ><img src={{layer.preview}} alt="Image" style="height: 82px;width: 82px; "></div>
            <span class="badge" ng-if="layer.summary && layer.summary.Size">{{layer.summary.Size}}</span><!--Size-->
        </td>
        <!-- INFO CELL -->
        <td class="info-cell">

            <div ng-if="layer.summary && layer.summary.Date">{{layer.summary.Date|date:'medium'}}</div><!--Date-->
            </br>

            <div ng-if="layer.title">
                <span>Name: </span>
                <span><b>{{layer.title}}</b></span>
            </div>

            <div ng-if="layer.summary && layer.summary.Mode">
                <span>Polarisation: </span>
                <span><b>{{layer.summary.Mode}}</b></span>
            </div>

            <div ng-if="layer.properties && layer.properties.relativeorbitnumber">
                <span>Relative Orbit: </span>
                <span><b>{{layer.properties.relativeorbitnumber}}</b></span>
            </div>

            <div ng-if="layer.provider">
                <span>Provider:</span>
                <span><b>{{layer.provider}}</b></span>
            </div>

            <div ng-if="layer.properties && layer.properties.platformname">
                <span>Platform name:</span>
                <span><b>{{layer.properties.platformname}}</b></span>
            </div>
            <div ng-if="layer.properties && layer.properties.sensoroperationalmode">
                <span>Sensor Operational mode:</span>
                <span><b>{{layer.properties.sensoroperationalmode}}</b></span>
            </div>

            <div ng-if="layer.properties && layer.properties.productType">
                <span>Product Type:</span>
                <span><b>{{layer.properties.productType}}</b></span>
            </div>
            <div ng-if="layer.properties && layer.properties.dataset">
                <span>Dataset:</span>
                <span><b>{{layer.properties.dataset}}</b></span>
            </div>
            <div ng-if="layer.properties && layer.properties.variables">
                <span>Variables:</span>
                <span><b>{{layer.properties.variables}}</b></span>
            </div>
            <div ng-if="layer.properties && layer.properties.protocol">
                <span>Protocol:</span>
                <span><b>{{layer.properties.protocol}}</b></span>
            </div>
        </td>

    </tr>
    </tbody>
</table>
