<div class="root-view container-fluid-v4">

    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logged-user"  >-->
        <!--&lt;!&ndash; HELP LOG-OUT&ndash;&gt;-->
        <!--<ul class="link">-->

            <!--<li><a class="active" href="#news">{{"ROOT_VIEW_LINK_HELP"|translate}}</a></li>-->
            <!--<li><a  ng-click="m_oController.onClickLogOut()">{{"ROOT_VIEW_LINK_LOG_OUT"|translate}}</a></li>-->

        <!--</ul>-->
        <!--&lt;!&ndash; USER ID&ndash;&gt;-->
        <!--<span class="user-span">{{"ROOT_VIEW_LABEL_USER"|translate}} {{m_oController.m_oUser.name}}</span>-->
        <!--&lt;!&ndash;SUBTITLE&ndash;&gt;-->
        <!--<span class="subtitle-span" >-->
            <!--<h4>{{"ROOT_VIEW_SUBTITLE"|translate}}</h4>-->

        <!--</span>-->
        <!--<span style="color:green">-->
            <!--<h5>v0.65</h5>-->
        <!--</span>-->
    <!--</div>-->

    <!-- Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm logout" role="document">
            <div class="modal-content">
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                <!--</div>-->
                <div class="modal-body text-center">
                    <div><i class="fa fa-spinner fa-spin fa-3x fa-fw mb-3"></i></div>
                    <div class="text">Please wait...</div>
                </div>
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>


    <!-------------------- HEADER (LOGO & NAVBAR) -------------------------------->
    <ng-include src="'partials/navbar.component.html'"></ng-include>


    <div ui-view="maincontent" id="main" class="content-wrapper" ng-class="{'has-processes-bar' : m_oController.isProcessesBarVisible() == true}"></div>

    <!------------------ PROCESSES BAR ------------------->
    <ng-include src="'partials/processes-bar.component.html'"></ng-include>


</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    });

    $(function() {
        $('#tableProcesses').on('post-body.bs.table', function () {
            $('[data-tooltip="true"]').tooltip({
                container: 'body'
            });
        });
    });

    $('body').on('click', function (e) {
        $('[data-toggle=popover]').each(function () {
            // hide any open popovers when the anywhere else in the body is clicked
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });


</script>
