<div class="root-view container-fluid-v4">

    <!-- Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm logout" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div><i class="fa fa-spinner fa-spin fa-3x fa-fw mb-3"></i></div>
                    <div class="text">{{'ROOT_PLEASE_WAIT'|translate}}</div>
                </div>

            </div>
        </div>
    </div>


    <!-------------------- HEADER (LOGO & NAVBAR) -------------------------------->
    <ng-include src="'partials/navbar.component.html'"></ng-include>


    <div ui-view="maincontent" id="main" class="content-wrapper" ng-class="{'has-processes-bar' : m_oController.isProcessesBarVisible() == true}"></div>

    <!------------------ PROCESSES BAR ------------------->
    <ng-include src="'partials/processes-bar.component.html'"></ng-include>


</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    });

    $(function() {
        $('#tableProcesses').on('post-body.bs.table', function () {
            $('[data-tooltip="true"]').tooltip({
                container: 'body'
            });
        });
    });

    $('body').on('click', function (e) {
        $('[data-toggle=popover]').each(function () {
            // hide any open popovers when the anywhere else in the body is clicked
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });


</script>
