<div class="editor-view search-orbit-view">

    <!-- TOP TOOLBAR/OPERATION BAR -->
    <div class="row-v4 justify-content-end toolbar">
        <div class="col-v4-auto ml-auto">
            <button class="btn btn-primary btn-wasdi" ng-click="m_oController.searchOrbit()"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row-v4 full-width-content">

        <div class="col-v4-lg-4 col-v4-md-4 col-v4-sm-4 col-xs-12 left-side-bar">
            <div class="panel panel-default h-100 my-panel">
                <div class="panel-heading">
                    {{"SEARCH_TITLE_PANEL_HEADING_FILTERS"|translate}}

                    <i class="fa fa-arrow-left fa-lg backbtn" aria-hidden="true" ng-click="m_oController.clearOrbitsTable()"
                       ng-show = "m_oController.thereAreOrbits() && (m_oController.m_bIsVisibleLoadingIcon === false)"></i>

                </div>

                <div class="panel-body">

                    <div class="row-v4 p-4">
                        <div class="col-v4 filter-datetime-picker-wrapper">
                            <!------------------------- TIME PICKER START -------------------->
                            <label>FROM:</label>
                            <div class=" time-picker-container ">
                                <div class="input-group"
                                     moment-picker="m_oController.m_oOrbitSearch.acquisitionStartTime"
                                     format="YYYY-MM-DD HH"
                                     today="true">

                                    <input class="form-control"
                                           placeholder="Select acquisition start time"
                                           ng-model="m_oController.m_oOrbitSearch.acquisitionStartTime"
                                           ng-model-options="{ updateOn: 'blur' }">

                                    <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-v4 filter-datetime-picker-wrapper">
                            <!---------------------- TIME PICKER END -------------------->
                            <label>TO:</label>
                            <div class=" time-picker-container">
                                <div class="input-group"
                                     moment-picker="m_oController.m_oOrbitSearch.acquisitionEndTime"
                                     format="YYYY-MM-DD HH"
                                     today="true">

                                    <input class="form-control"
                                           placeholder="Select acquisition end time"
                                           ng-model="m_oController.m_oOrbitSearch.acquisitionEndTime"
                                           ng-model-options="{ updateOn: 'blur' }">

                                    <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---------------------------------------- CHECK BOX ---------------------------------------------->
                    <!------------------------- Satellite ----------------------------->
                    <!--<div class="col-v4-lg-6 col-v4-md-6 col-v4-sm-6 col-v4-xs-6 ">-->
                    <div class="col-v4-lg-12 col-v4-md-12 col-v4-sm-12 col-v4-xs-12 " ng-hide = "m_oController.thereAreOrbits() || (m_oController.m_bIsVisibleLoadingIcon === true)">



                        <img src="assets/icons/Satellite.svg" alt="Satellite" height="30" width="30">{{"SEARCH_TITLE_CHECK_BOX_SATELLITE"|translate}}
                        <div class="well well-sm">

                            <div class="checkbox-satellite-container"ng-repeat="satellite in m_oController.m_oConfiguration.orbitsearch.satelliteNames">
                                <i class="fa fa-square-o" aria-hidden="true" ng-click="m_oController.checkedSatellite(satellite)" ng-hide="m_oController.isSatelliteSelected(satellite)"></i>
                                <i class="fa fa-check-square-o" aria-hidden="true"  ng-click="m_oController.uncheckedSatellite(satellite)" ng-show="m_oController.isSatelliteSelected(satellite)"></i>
                                <span>{{satellite}}</span>
                            </div>

                        </div>

                        <div class="well well-sm">
                            looking type
                            <div class="radio">
                                <label>
                                    <input type="radio" name="name" id="lookingTypeLeft" value="" checked="checked"
                                           ng-click="m_oController.m_oOrbitSearch.lookingType='LEFT'">
                                    {{"SEARCH_TITLE_LOOKING_TYPE_LEFT_LABEL"|translate}}
                                </label>
                                <label>
                                    <input type="radio" name="name" id="lookingTypeRight" value=""
                                           ng-click="m_oController.m_oOrbitSearch.lookingType='RIGHT'">
                                    {{"SEARCH_TITLE_LOOKING_TYPE_RIGHT_LABEL"|translate}}
                                </label>
                                <label>
                                    <input type="radio" name="name" id="lookingTypeNone" value=""
                                           ng-click="m_oController.m_oOrbitSearch.lookingType='NONE'">
                                    {{"SEARCH_TITLE_LOOKING_TYPE_NONE_LABEL"|translate}}
                                </label>
                            </div>
                        </div>

                        <!--<div class="well well-sm">-->
                            <div class="col-v4-xs-12 col-v4-sm-12 col-v4-md-12 col-v4-lg-12 well well-sm">
                                <div class="row">
                                    <div class="col-v4-xs-3 col-v4-sm-3 col-v4-md-3 col-v4-lg-3">
                                        {{"SEARCH_TITLE_LOOKING_TYPE_VIEW_ANGLE_LABEL"|translate}}
                                    </div>
                                    <div class="col-v4-xs-4 col-v4-sm-4 col-v4-md-4 col-v4-lg-4">
                                        <input type="number" name="name" value="" checked="checked"  placeholder="{{'SEARCH_TITLE_LOOKING_TYPE_VIEW_NEAR_ANGLE_LABEL'|translate}}"
                                               ng-model="m_oController.m_oOrbitSearch.viewAngle.nearAngle">

                                    </div>
                                    <div class="col-v4-xs-4 col-v4-sm-4 col-v4-md-4 col-v4-lg-4">
                                        <input type="number" name="name" value="" checked="checked"  placeholder="{{'SEARCH_TITLE_LOOKING_TYPE_VIEW_FAR_ANGLE_LABEL'|translate}}"
                                               ng-model="m_oController.m_oOrbitSearch.viewAngle.farAngle">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-v4-xs-3 col-v4-sm-3 col-v4-md-3 col-v4-lg-3">
                                        {{"SEARCH_TITLE_LOOKING_TYPE_SWATH_SIZE_LABEL"|translate}}
                                    </div>
                                    <div class="col-v4-xs-4 col-v4-sm-4 col-v4-md-4 col-v4-lg-4">
                                        <input type="number" name="name" value="" checked="checked"  placeholder="{{'SEARCH_TITLE_LOOKING_TYPE_SWATH_SIZE_LENGTH_LABEL'|translate}}"
                                               ng-model="m_oController.m_oOrbitSearch.swathSize.length">

                                    </div>
                                    <div class="col-v4-xs-4 col-v4-sm-4 col-v4-md-4 col-v4-lg-4">
                                        <input type="number" name="name" value="" checked="checked"  placeholder="{{'SEARCH_TITLE_LOOKING_TYPE_SWATH_SIZE_WIDTH_LABEL'|translate}}"
                                               ng-model="m_oController.m_oOrbitSearch.swathSize.width">

                                    </div>
                                </div>
                            </div>

                        <!--</div>-->


                    </div>

                    <!--Note: you should draw an area on the map before search orbits.-->
                    <!--</div>-->
                    <div class="loadIcon" ng-show="m_oController.m_bIsVisibleLoadingIcon">
                        <invader></invader>
                    </div>

                    <div class="col-v4-xs-12 col-v4-sm-12 col-v4-md-12 col-v4-lg-12" ng-show = "m_oController.thereAreOrbits() && (m_oController.m_bIsVisibleLoadingIcon === false)" ><!--ng-show="m_oController.m_bIsLoadedTable"-->
                        <div class="row">
                            <div class="my-input-text">
                                <input type="text" ng-model="m_oController.m_sFilterTable" placeholder="{{'SEARCH_ORBIT_FILTER_PLACEHOLDER'|translate}}" >
                            </div>
                        </div>
                    </div>

                    <!----------------------------------- RESULTS --------------------------------------->
                    <div class="row col-v4-lg-12 col-v4-md-12 col-v4-sm-12 col-v4-xs-12 table-container" ng-show = "m_oController.thereAreOrbits() && (m_oController.m_bIsVisibleLoadingIcon === false)">
                        <table class="table table-hover table-search-orbit my-table">
                            <thead>
                            <tr>
                                <th><!--class="loadIcon" ng-class="{'disabled-cursor-hover':m_oController.m_bisLoadingAllOrbitInMap }"-->
                                    <input class="my-checkbox" type="checkbox" ng-model="m_oController.m_bMasterCheck" ng-click="m_oController.showAllFrameFootPrint(m_oController.m_bMasterCheck)">
                                </th>
                                <th ng-click="m_oController.m_sOrderBy = 'Satellite'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                                    {{"SEARCH_ORBIT_TITLE_HEAD_ORBIT_TABLE_SATELLITE"|translate}}
                                    <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'Satellite') && (m_oController.m_bReverseOrder === true)"></i>
                                    <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'Satellite') && (m_oController.m_bReverseOrder === false)"></i>
                                </th>
                                <th ng-click="m_oController.m_sOrderBy = 'AcqStart'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                                    {{"SEARCH_TITLE_HEAD_ORBIT_TABLE_ACQUISITION_START"|translate}}
                                    <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'AcqStart') && (m_oController.m_bReverseOrder === true)"></i>
                                    <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'AcqStart') && (m_oController.m_bReverseOrder === false)"></i>
                                </th>
                                <th ng-click="m_oController.m_sOrderBy = 'AcqEnd'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                                    {{"SEARCH_TITLE_HEAD_ORBIT_TABLE_ACQUISITION_END"|translate}}
                                    <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'AcqEnd') && (m_oController.m_bReverseOrder === true)"></i>
                                    <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'AcqEnd') && (m_oController.m_bReverseOrder === false)"></i>
                                </th>
                                <th>
                                    <!--Buttons-->
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="orbit in m_oController.getOrbits() | orderBy:m_oController.m_sOrderBy:m_oController.m_bReverseOrder | filter:{SatelliteName:m_oController.m_sFilterTable} " ><!--ng-mouseover="m_oController.mouseOverOrbitInTable(orbit)"
                        ng-mouseleave="m_oController.mouseLeaveOrbitInTable(orbit)" ng-click="m_oController.showSwath(orbit)"-->
                                <td >
                                    <input type="checkbox" ng-checked="orbit.isSelected" ng-click="m_oController.showFrame(orbit)"
                                            placeholder="{{'SEARCH_ORBIT_FILTER_PLACEHOLDER'|translate}}">
                                    <!--TODO REMOVE IT -->
                                    <!--<i class="fa fa-square-o" aria-hidden="true" ng-click=" orbit.isSelected= !orbit.isSelected;m_oController.showSwath(orbit)"-->
                                       <!--ng-checked="orbit.isSelected" ng-hide="orbit.isSelected || (m_oController.m_bisLoadingAllOrbitInMap === true)"></i>-->
                                    <!--<i class="fa fa-check-square-o" aria-hidden="true" ng-click="orbit.isSelected = !orbit.isSelected;m_oController.showSwath(orbit)"-->
                                       <!--ng-checked="orbit.isSelected" ng-show="orbit.isSelected && (m_oController.m_bisLoadingAllOrbitInMap === false)"></i>-->

                                    <smallinvaderfixed ng-show="m_oController.m_bisLoadingAllOrbitInMap"></smallinvaderfixed>

                                </td>
                                <td><span >{{orbit.SatelliteName}}</span></td>
                                <td><span >{{m_oController.getDateFromTimestamp(orbit.AcquisitionStartTime)}}</span></td>
                                <td><span >{{m_oController.getDateFromTimestamp(orbit.AcquisitionEndTime)}}</span></td>
                                <td class="info-satellite" ng-click="m_oController.openOrbitInfo(orbit)">
                                    <div class="button-info">
                                        <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!----------------------------------- RESULTS (end) --------------------------------------->

                </div>

            </div>
        </div>
        <!------------------------------- TABLE ORBIT --------------------------------------->


        <!--------------- MAP CONTAINER --------------->
        <div class="col-v4-lg-8 col-v4-md-8 col-v4-sm-8 col-v4-xs-12 map-column">
            <div class="map-container">
                <div class="map" id="orbitMap"></div>
            </div>

        </div>
    </div>
</div>
