<div class="container-fluid">
    <div class="editor-view col-lg-12 col-md-12 col-sm-12 col-xs-12 search-orbit-view">

        <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 operations-bar "  >
            <!--SEARCH BUTTON -->
            <div class="buttom-collumn">
                <button class="my-button" ng-click="m_oController.searchOrbit()">Search</button>
            </div>

            <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; TIME PICKER END &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
            <!--<div class=" time-picker-container">-->
            <!--<div class="input-group my-input-text"-->
            <!--moment-picker="m_oController.m_oOrbitSearch.acquisitionEndTime"-->
            <!--format="YYYY-MM-DD HH"-->
            <!--today="true">-->

            <!--<input class="form-control"-->
            <!--placeholder="Select acquisition end time"-->
            <!--ng-model="m_oController.m_oOrbitSearch.acquisitionEndTime"-->
            <!--ng-model-options="{ updateOn: 'blur' }">-->

            <!--<span class="input-group-addon">-->
            <!--<i class="fa fa-calendar"></i>-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;format="YYYY-MM-DD HH:mm:ss"&ndash;&gt;-->

            <!--<div class="description">-->
            <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
            <!--Acquisition End Time:-->
            <!--</div>-->

            <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; TIME PICKER START &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
            <!--<div class=" time-picker-container ">-->


            <!--<div class="input-group my-input-text"-->
            <!--moment-picker="m_oController.m_oOrbitSearch.acquisitionStartTime"-->
            <!--format="YYYY-MM-DD HH"-->
            <!--today="true">-->

            <!--<input class="form-control"-->
            <!--placeholder="Select acquisition start time"-->
            <!--ng-model="m_oController.m_oOrbitSearch.acquisitionStartTime"-->
            <!--ng-model-options="{ updateOn: 'blur' }">-->

            <!--<span class="input-group-addon">-->
            <!--<i class="fa fa-calendar"></i>-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="description">-->
            <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
            <!--Acquisition Start Time:-->
            <!--</div>-->
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 left-side-bar">
            <div class="my-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{"SEARCH_TITLE_PANEL_HEADING_FILTERS"|translate}}

                        <i class="fa fa-arrow-left fa-lg backbtn" aria-hidden="true" ng-click="m_oController.clearOrbitsTable()"
                           ng-show = "m_oController.thereAreOrbits() && (m_oController.m_bIsVisibleLoadingIcon === false)"></i>

                    </div>

                    <div class="panel-body">

                        <!---------------------------------------- CHECK BOX ---------------------------------------------->
                        <!------------------------- Satellite ----------------------------->
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-hide = "m_oController.thereAreOrbits() || (m_oController.m_bIsVisibleLoadingIcon === true)">

                            <div class="row time-container">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <!------------------------- TIME PICKER START -------------------->
                                    FROM:
                                    <div class=" time-picker-container ">
                                        <div class="input-group my-input-text"
                                             moment-picker="m_oController.m_oOrbitSearch.acquisitionStartTime"
                                             format="YYYY-MM-DD HH"
                                             today="true">

                                            <input class="form-control"
                                                   placeholder="Select acquisition start time"
                                                   ng-model="m_oController.m_oOrbitSearch.acquisitionStartTime"
                                                   ng-model-options="{ updateOn: 'blur' }">

                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>

                                    <!--<div class="description">-->
                                    <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
                                    <!--Acquisition Start Time:-->
                                    <!--</div>-->
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <!---------------------- TIME PICKER END -------------------->
                                    TO:
                                    <div class=" time-picker-container">
                                        <div class="input-group my-input-text"
                                             moment-picker="m_oController.m_oOrbitSearch.acquisitionEndTime"
                                             format="YYYY-MM-DD HH"
                                             today="true">

                                            <input class="form-control"
                                                   placeholder="Select acquisition end time"
                                                   ng-model="m_oController.m_oOrbitSearch.acquisitionEndTime"
                                                   ng-model-options="{ updateOn: 'blur' }">

                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!--format="YYYY-MM-DD HH:mm:ss"-->

                                    <!--<div class="description">-->
                                        <!--<i class="fa fa-calendar" aria-hidden="true"></i>-->
                                        <!--Acquisition End Time:-->
                                    <!--</div>-->
                                </div>

                            </div>

                            <img src="assets/icons/Satellite.svg" alt="Satellite" height="30" width="30">{{"SEARCH_TITLE_CHECK_BOX_SATELLITE"|translate}}
                            <div class="well well-sm">

                                <div class="checkbox-satellite-container"ng-repeat="satellite in m_oController.m_oConfiguration.orbitsearch.satelliteNames">
                                    <i class="fa fa-square-o" aria-hidden="true" ng-click="m_oController.checkedSatellite(satellite)" ng-hide="m_oController.isSatelliteSelected(satellite)"></i>
                                    <i class="fa fa-check-square-o" aria-hidden="true"  ng-click="m_oController.uncheckedSatellite(satellite)" ng-show="m_oController.isSatelliteSelected(satellite)"></i>
                                    <span>{{satellite}}</span>
                                </div>

                            </div>

                            <div class="well well-sm">
                                looking type
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="name" id="lookingTypeLeft" value="" checked="checked">
                                        {{"SEARCH_TITLE_LOOKING_TYPE_LEFT_LABEL"|translate}}
                                    </label>
                                    <label>
                                        <input type="radio" name="name" id="lookingTypeRight" value="" checked="checked">
                                        {{"SEARCH_TITLE_LOOKING_TYPE_RIGHT_LABEL"|translate}}
                                    </label>
                                    <label>
                                        <input type="radio" name="name" id="lookingTypeNone" value="" checked="checked">
                                        {{"SEARCH_TITLE_LOOKING_TYPE_NONE_LABEL"|translate}}
                                    </label>
                                </div>

                            </div>
                            <!--<div class="well well-sm">-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-sm">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            {{"SEARCH_TITLE_LOOKING_TYPE_VIEW_ANGLE_LABEL"|translate}}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <input type="text" name="name" value="" checked="checked"  placeholder="{{'SEARCH_TITLE_LOOKING_TYPE_VIEW_NEAR_ANGLE_LABEL'|translate}}" >

                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <input type="text" name="name" value="" checked="checked"  placeholder="{{'SEARCH_TITLE_LOOKING_TYPE_VIEW_FAR_ANGLE_LABEL'|translate}}" >

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            {{"SEARCH_TITLE_LOOKING_TYPE_SWATH_SIZE_LABEL"|translate}}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <input type="text" name="name" value="" checked="checked"  placeholder="{{'SEARCH_TITLE_LOOKING_TYPE_SWATH_SIZE_LENGTH_LABEL'|translate}}" >

                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <input type="text" name="name" value="" checked="checked"  placeholder="{{'SEARCH_TITLE_LOOKING_TYPE_SWATH_SIZE_WIDTH_LABEL'|translate}}" >

                                        </div>
                                    </div>
                                </div>

                            <!--</div>-->


                        </div>

                        <!--Note: you should draw an area on the map before search orbits.-->
                        <!--</div>-->
                        <div class="loadIcon" ng-show="m_oController.m_bIsVisibleLoadingIcon">
                            <invader></invader>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show = "m_oController.thereAreOrbits() && (m_oController.m_bIsVisibleLoadingIcon === false)" ><!--ng-show="m_oController.m_bIsLoadedTable"-->
                            <div class="row">
                                <div class="my-input-text">
                                    <input type="text" ng-model="sFilterTable" placeholder="{{'SEARCH_ORBIT_FILTER_PLACEHOLDER'|translate}}" >
                                </div>
                            </div>
                        </div>

                        <!----------------------------------- RESULTS --------------------------------------->
                        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 table-container" ng-show = "m_oController.thereAreOrbits() && (m_oController.m_bIsVisibleLoadingIcon === false)">
                            <table class="table table-hover table-search-orbit my-table">
                                <thead>
                                <tr>
                                    <th><!--class="loadIcon" ng-class="{'disabled-cursor-hover':m_oController.m_bisLoadingAllOrbitInMap }"-->
                                        <input class="my-checkbox" type="checkbox" ng-model="m_oController.m_bMasterCheck" ng-click="m_oController.showAllSwath(m_oController.m_bMasterCheck)">
                                    </th>
                                    <th ng-click="m_oController.m_sOrderBy = 'Satellite'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                                        {{"SEARCH_ORBIT_TITLE_HEAD_ORBIT_TABLE_SATELLITE"|translate}}
                                        <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'Satellite') && (m_oController.m_bReverseOrder === true)"></i>
                                        <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'Satellite') && (m_oController.m_bReverseOrder === false)"></i>
                                    </th>
                                    <th ng-click="m_oController.m_sOrderBy = 'AcqStart'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                                        {{"SEARCH_TITLE_HEAD_ORBIT_TABLE_ACQUISITION_START"|translate}}
                                        <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'AcqStart') && (m_oController.m_bReverseOrder === true)"></i>
                                        <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'AcqStart') && (m_oController.m_bReverseOrder === false)"></i>
                                    </th>
                                    <th ng-click="m_oController.m_sOrderBy = 'AcqEnd'; m_oController.m_bReverseOrder=!m_oController.m_bReverseOrder">
                                        {{"SEARCH_TITLE_HEAD_ORBIT_TABLE_ACQUISITION_END"|translate}}
                                        <i class="fa fa-sort-desc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'AcqEnd') && (m_oController.m_bReverseOrder === true)"></i>
                                        <i class="fa fa-sort-asc" aria-hidden="true" ng-show="(m_oController.m_sOrderBy === 'AcqEnd') && (m_oController.m_bReverseOrder === false)"></i>
                                    </th>
                                    <th>
                                        <!--Buttons-->
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="orbit in m_oController.getOrbits() | orderBy:m_oController.m_sOrderBy:m_oController.m_bReverseOrder | filter:sFilterTable" ><!--ng-mouseover="m_oController.mouseOverOrbitInTable(orbit)"
                            ng-mouseleave="m_oController.mouseLeaveOrbitInTable(orbit)" ng-click="m_oController.showSwath(orbit)"-->
                                    <td >
                                        <input type="checkbox" ng-checked="m_oController.m_bMasterCheck" ng-click="m_oController.showSwath(orbit)"
                                                placeholder="{{'SEARCH_ORBIT_FILTER_PLACEHOLDER'|translate}}">
                                        <!--TODO REMOVE IT -->
                                        <!--<i class="fa fa-square-o" aria-hidden="true" ng-click="orbit.isSelected = !orbit.isSelected;m_oController.showSwath(orbit)"-->
                                           <!--ng-checked="orbit.isSelected" ng-hide="orbit.isSelected || (m_oController.m_bisLoadingAllOrbitInMap === true)"></i>-->
                                        <!--<i class="fa fa-check-square-o" aria-hidden="true" ng-click="orbit.isSelected = !orbit.isSelected;m_oController.showSwath(orbit)"-->
                                           <!--ng-checked="orbit.isSelected" ng-show="orbit.isSelected && (m_oController.m_bisLoadingAllOrbitInMap === false)"></i>-->

                                        <smallinvaderfixed ng-show="m_oController.m_bisLoadingAllOrbitInMap"></smallinvaderfixed>

                                    </td>
                                    <td><span >{{orbit.SatelliteName}}</span></td>
                                    <td><span >{{m_oController.getDateFromTimestamp(orbit.AcquisitionStartTime)}}</span></td>
                                    <td><span >{{m_oController.getDateFromTimestamp(orbit.AcquisitionEndTime)}}</span></td>
                                    <td class="info-satellite" ng-click="m_oController.openOrbitInfo(orbit)">
                                        <div class="button-info">
                                            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>



                        </div>

                    </div>

                </div>

            </div>
            <!------------------------------- TABLE ORBIT --------------------------------------->



        </div>

        <!--------------- MAP CONTAINER --------------->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 map-column">
            <div class="map-container">
                <div class="map" id="orbitMap"></div>
            </div>

        </div>
    </div>
</div>
