<div class="pricing-wrapper">

    <!--TOOLBAR-->
    <div class="row-v4 justify-content-end toolbar">
    </div>

    <!--PRICE-->
    <div class="row-v4 row-price">
        <div class="col-xs-12 col-md-4 col-lg-3">
            <div class="single-price">
                <div class="price-title free-bg">
                    <h3>FREE<br>Subscription</h3>
                </div>
                <div class="features-wrapper">
                    <div class="features">
                            <div class="single-feature"><strong>Up to 8</strong> Cores</div>
                            <div class="single-feature"><strong>20GB</strong> Storage</div>
                            <div class="single-feature"><strong>Low</strong> Priority</div>
                            <div class="single-feature"><strong>Discord</strong> Assistance</div>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <div class="btn-row" style="justify-content: center">
                        <div class="btn-group">
                            <button class="btn btn-primary free-bg price-disabled">0€</button>
                            <button class="btn btn-primary free-bg" style="pointer-events: none">3 MONTHS FREE TRIAL
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-3">
            <div class="single-price">
                <div class="price-title standard-bg">
                    <h3>STANDARD<br>Subscription</h3>
                </div>
                <div class="features-wrapper">
                    <div class="features">
                            <div class="single-feature"><strong>Up to 48</strong> Cores</div>
                            <div class="single-feature"><strong>100GB</strong> Storage</div>
                            <div class="single-feature"><strong>Medium</strong> Priority</div>
                            <div class="single-feature"><strong>Discord/Email</strong> Assistance</div>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <div class="btn-row">
                        <div class="price-desc">
                            1 Day
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-success price-disabled">50€</button>
                            <button class="btn btn-success"
                                    ng-click="m_oController.showSubscriptionAddForm(m_oController.m_aoTypes[1], 50)">BUY NOW <span class="fas fa-cart-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div class="btn-row">
                        <div class="price-desc">
                            1 Week
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-success price-disabled">150€</button>
                            <button class="btn btn-success"
                                    ng-click="m_oController.showSubscriptionAddForm(m_oController.m_aoTypes[2], 150)">BUY NOW <span class="fas fa-cart-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div class="btn-row">
                        <div class="price-desc">
                            1 Month
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-success price-disabled">500€</button>
                            <button class="btn btn-success"
                                    ng-click="m_oController.showSubscriptionAddForm(m_oController.m_aoTypes[3], 500)">BUY NOW <span class="fas fa-cart-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div class="btn-row">
                        <div class="price-desc">
                            1 Year
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-success price-disabled">5000€</button>
                            <button class="btn btn-success"
                                    ng-click="m_oController.showSubscriptionAddForm(m_oController.m_aoTypes[4], 5000)">BUY NOW <span class="fas fa-cart-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-3">
            <div class="single-price">
                <div class="price-title professional-bg">
                    <h3>PROFESSIONAL<br>Subscription</h3>
                </div>
                <div class="features-wrapper">
                    <div class="features">
                        <div class="single-feature"><strong>Up to 96</strong> Cores</div>
                        <div class="single-feature"><strong>2TB</strong> Storage</div>
                        <div class="single-feature"><strong>Highest</strong> Priority</div>
                        <div class="single-feature"><strong>Dedicated Team</strong> Assistance</div>
                        <div class="single-feature"><strong>Dedicated Node</strong> (1 Year Subscriptions Only)</div>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <div class="btn-row">
                        <div class="price-desc">
                            1 Day
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning professional-bg disabled" style="pointer-events: none">
                                NOT AVAILABLE
                            </button>
                        </div>
                    </div>
                    <div class="btn-row">
                        <div class="price-desc">
                            1 Week
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning professional-bg disabled" style="pointer-events: none">
                                NOT AVAILABLE
                            </button>
                        </div>
                    </div>
                    <div class="btn-row">
                        <div class="price-desc">
                            1 Month
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning professional-bg price-disabled">2000€</button>
                            <button class="btn btn-warning professional-bg"
                                    ng-click="m_oController.showSubscriptionAddForm(m_oController.m_aoTypes[5], 2000)">BUY NOW <span class="fas fa-cart-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div class="btn-row">
                        <div class="price-desc">
                            1 Year
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning professional-bg price-disabled">20000€</button>
                            <a href="mailto:info@wasdi.cloud?subject=One Year Professional Subscription" class="btn btn-warning professional-bg">Contact Us <span class="fas fa-envelope"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



