<div class="editor-view app-details">
    <div class="row justify-content-end toolbar">
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="border-bottom py-3 mb-5 d-print-flex justify-content-between">
                <span class="back-link" onclick="goBack()"><span class="fa fa-chevron-left mr-2"></span>Back to the Future</span>
            </div>
            <!--APPS IMG SLIDER-->
            <div class="col-12 col-md-6">
                <div class="appdetails-slider">
                    <ul id="lightSlider">
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-1.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-1.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-2.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-3.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-4.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-5.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-7.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-8.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-10.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />
                        </li>
                        <li data-thumb="https://sachinchoolur.github.io/lightslider/img/thumb/cS-13.jpg">
                            <img src="https://sachinchoolur.github.io/lightslider/img/cS-13.jpg" />
                        </li>
                    </ul>
                </div>
            </div>

            <!--APPS DETAILS-->
            <div class="col-12 col-md-6">
                <!--TITLE-->
                <div>
                    <h2>{{m_oController.m_oApplication.friendlyName}}</h2>
                </div>
                <!--STARS-->
                <div class="star-rating mb-2">
                    <span class="fa fa-star" ng-class="m_oController.m_oApplication.score>0.25&&m_oController.m_oApplication.score<0.75?'checked-half':m_oController.m_oApplication.score>=0.75?'checked':''"></span>
                    <span class="fa fa-star" ng-class="m_oController.m_oApplication.score>1.25&&m_oController.m_oApplication.score<1.75?'checked-half':m_oController.m_oApplication.score>=1.75?'checked':''"></span>
                    <span class="fa fa-star" ng-class="m_oController.m_oApplication.score>2.25&&m_oController.m_oApplication.score<2.75?'checked-half':m_oController.m_oApplication.score>=2.75?'checked':''"></span>
                    <span class="fa fa-star" ng-class="m_oController.m_oApplication.score>3.25&&m_oController.m_oApplication.score<3.75?'checked-half':m_oController.m_oApplication.score>=3.75?'checked':''"></span>
                    <span class="fa fa-star" ng-class="m_oController.m_oApplication.score>4.25&&m_oController.m_oApplication.score<4.75?'checked-half':m_oController.m_oApplication.score>=4.75?'checked':''"></span>
                </div>
                <!--PUBLISHER-->
                <div class="publisher mb-1>
                    <span ng-if="!m_oController.m_oApplication.isMine">Published by <span class="pub-name">{{m_oController.m_oApplication.publisher}}</span></span>
                    <span ng-if="m_oController.m_oApplication.isMine"><span class="fa fa-flask mr-1"></span>You are the publisher my master!</span>
                </div>
                <!--TAGS LIST-->
                <div class="tags-list-wrapper">
                    <div class="d-flex align-items-center">
                        <div>
                            <span class="fa fa-tags mr-2"></span>
                            <span>CATEGORIES</span>
                        </div>
                        <hr class="ml-3 flex-grow-1">
                    </div>
                    <div class="tags-list d-flex">
                        <!--<div class="d-flex tag-container" ng-repeat="tag in m_oController.m_oApplication.categories">-->
                        <div class="d-flex tag-container mb-2 mr-3" ng-repeat="tag in testVar">
                            <div class="pre-tag"></div>
                            <div class="tag">
                                <span>{{tag}}</span>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-4">
                </div>
                <!--DESCRIPTION-->
                <div class="app-details-description">
                        <div class="mb-3">
                            <span class="fa fa-briefcase mr-2"></span>
                            <span>DESCRIPTION</span>
                        </div>
                    <div>
                        {{m_oController.m_oApplication.processorDescription}}
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div>Link: {{m_oController.m_oApplication.link}}</div>
        </div>
        <div class="row">
            <div>Contact: {{m_oController.m_oApplication.email}}</div>
        </div>
        <div class="row">
            <div>Publisher: {{m_oController.m_oApplication.publisher}}</div>
        </div>
        <div class="row">
            <button ng-click="m_oController.openApplicationPage()">Open Application UI</button>
        </div>
    </div>
</div>

    <script type="text/javascript">
        $('#lightSlider').lightSlider({
            gallery: true,
            item: 1,
            loop:true,
            slideMargin: 0,
            thumbItem: 9
        });
    </script>
