<div class="editor-view app-details">
    <div class="row justify-content-end toolbar">
    </div>
    <div class="scroll-wrapper">
        <div class="container mt-4">
            <div class="row">
                <div class="border-bottom py-3 mb-5 d-print-flex justify-content-between">
                    <span class="back-link" onclick="goBack()"><span class="fa fa-chevron-left mr-2"></span>{{ "WAP_BACK" | translate }}</span>
                </div>
            </div>

            <!--LOADER-->
            <div class="row loader d-print-flex justify-content-center" ng-show="m_oController.m_bWaiting==true">
                <div class="loadIcon">
                    <invader></invader>
                </div>
            </div>

            <!--APPS IMG SLIDER-->
            <div class="row" ng-show="m_oController.m_bWaiting==false">
                <div class="col-12 col-md-6">
                    <div class="appdetails-slider">
                        <ul>
                            <li angularlightslider="{gallery: true, item: 1, loop:false, slideMargin: 0, thumbItem: 9, enableTouch:false}" ng-repeat="sImage in m_oController.m_asImages" data-thumb="{{m_oController.getThumbFileNameFromImageName(sImage)}}" >
                                <img ng-src="{{sImage}}" />
                            </li>
                        </ul>
                    </div>
                </div>

                <!--APPS DETAILS-->
                <div class="col-12 col-md-6">
                    <!--TITLE-->
                    <div class="application-title">
                        <h2>{{m_oController.m_oApplication.friendlyName}}</h2>
                    </div>
                    <!--STARS-->
                    <div class="star-rating mb-2">
                        <span class="fa fa-star" ng-class="m_oController.m_oApplication.score>0.25&&m_oController.m_oApplication.score<0.75?'checked-half':m_oController.m_oApplication.score>=0.75?'checked':''"></span>
                        <span class="fa fa-star" ng-class="m_oController.m_oApplication.score>1.25&&m_oController.m_oApplication.score<1.75?'checked-half':m_oController.m_oApplication.score>=1.75?'checked':''"></span>
                        <span class="fa fa-star" ng-class="m_oController.m_oApplication.score>2.25&&m_oController.m_oApplication.score<2.75?'checked-half':m_oController.m_oApplication.score>=2.75?'checked':''"></span>
                        <span class="fa fa-star" ng-class="m_oController.m_oApplication.score>3.25&&m_oController.m_oApplication.score<3.75?'checked-half':m_oController.m_oApplication.score>=3.75?'checked':''"></span>
                        <span class="fa fa-star" ng-class="m_oController.m_oApplication.score>4.25&&m_oController.m_oApplication.score<4.75?'checked-half':m_oController.m_oApplication.score>=4.75?'checked':''"></span>
                        <span class="ml-2 small">{{m_oController.m_oApplication.reviewsCount}} {{"WAP_REVIEWS"|translate}}</span>
                    </div>
                    <!--PUBLISHER-->
                    <div class="publisher mb-1">
                        <span  ng-if="!m_oController.m_oApplication.isMine">{{"WAP_PUBLISHED"|translate}} <span class="pub-name">{{m_oController.m_oApplication.publisher}}</span></span>
                        <span class="d-flex align-items-center" ng-if="m_oController.m_oApplication.isMine">
                            <span class="fa fa-flask mr-1"></span>
                            {{"MARKET_OWNER"|translate}}&nbsp;
                            <div class="edit-btn ml-3" ng-click="m_oController.editClick()">
                                <span class="fa fa-edit mr-1"></span>
                                {{"WAP_EDIT"|translate}}
                            </div>
                        </span>
                    </div>

                    <!--TAGS LIST-->
                    <div class="tags-list-wrapper">
                        <div class="d-flex align-items-center">
                            <div>
                                <span class="fa fa-tags mr-2"></span>
                                <span>{{"WAP_CATEGORIES"|translate}}</span>
                            </div>
                            <hr class="ml-3 flex-grow-1">
                        </div>
                        <div class="tags-list d-flex">
                            <div class="d-flex tag-container mb-2 mr-3" ng-repeat="tag in m_oController.m_oApplication.categoryNames">
                                <div class="pre-tag">
                                    <div class="white-circle"></div>
                                </div>
                                <div class="tag">
                                    <span>{{tag}}</span>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-4">
                    </div>
                    <!--PRICES-->
                    <div class="row">
                        <!--CASE 1 - NO PREMIUM / NO BUYED / NO FREE-->
                        <div class="col-12 col-md-6" ng-if="m_oController.m_oApplication.isMine==false && m_oController.m_oApplication.buyed == false && (m_oController.m_oApplication.ondemandPrice>0 || m_oController.m_oApplication.subscriptionPrice>0)">
                            <div class="big-price-tag one-shot">
                                <div class="text-center">
                                    <span>{{m_oController.m_oApplication.ondemandPrice}}</span><span> €</span>
                                </div>
                                <div class="text-center small">
                                    {{"WAP_RUN_ONCE"|translate}}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" ng-if="m_oController.m_oApplication.isMine==false && m_oController.m_oApplication.buyed == false && (m_oController.m_oApplication.ondemandPrice>0 || m_oController.m_oApplication.subscriptionPrice>0)">
                            <div class="big-price-tag subscription">
                                <div class="text-center">
                                    <span>{{m_oController.m_oApplication.subscriptionPrice}}</span><span> €/month</span>
                                </div>
                                <div class="text-center small">
                                    {{"WAP_SUBSCRIBE"|translate}}
                                </div>
                            </div>
                        </div>

                        <!--CASE 2 - USER SUBCRIBED THE APP-->
                        <div class="col-12 col-md-6" ng-if="m_oController.m_oApplication.isMine==false && m_oController.m_oApplication.buyed == true">
                            <div class="big-price-tag premium">
                                <div class="text-center">
                                    <span>{{m_oController.m_oApplication.subscriptionPrice}}</span><span> €/month</span>
                                </div>
                                <div class="text-center small">
                                    {{"WAP_SUBSCRIBED"|translate}}
                                </div>
                            </div>
                        </div>

                        <!--CASE 3 USER'S APP-->
                        <div class="col-12 col-md-6" ng-if="m_oController.m_oApplication.isMine==true && (m_oController.m_oApplication.ondemandPrice > 0 || m_oController.m_oApplication.subscriptionPrice > 0)">
                            <div class="big-price-tag one-shot premium">
                                <div class="text-center">
                                    <span>{{m_oController.m_oApplication.ondemandPrice}}</span><span> €</span>
                                </div>
                                <div class="text-center small">
                                    {{"WAP_RUN_PRICE"|translate}}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6" ng-if="m_oController.m_oApplication.isMine==true && (m_oController.m_oApplication.ondemandPrice > 0 || m_oController.m_oApplication.subscriptionPrice > 0)">
                            <div class="big-price-tag subscription premium">
                                <div class="text-center">
                                    <span>{{m_oController.m_oApplication.subscriptionPrice}}</span><span> {{"WAP_PRICE_PER_MONTH"|translate}}</span>
                                </div>
                                <div class="text-center small">
                                    {{"WAP_SUBSCRIBE_PRICE"|translate}}
                                </div>
                            </div>
                        </div>

                        <!--CASE 4 - FREE APP-->
                        <div class="col-12 col-md-6" ng-if="m_oController.m_oApplication.ondemandPrice == 0 && m_oController.m_oApplication.subscriptionPrice == 0">
                            <div class="big-price-tag free" >
                                <div class="text-center large">
                                    {{"WAP_FREE"|translate}}
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--DESCRIPTION-->
                    <div class="app-details-description mt-2">
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <span class="fa fa-briefcase mr-2"></span>
                                        <span>{{"WAP_DESCRIPTION"|translate}}</span>
                                    </div>
                                    <hr class="ml-3 flex-grow-1">
                                </div>
                                <div>
                                    {{m_oController.m_oApplication.processorDescription}}
                                </div>
                            </div>

                    </div>

                    <!--LAUNCH APP-->
                    <div class="launch-btn" ng-click="m_oController.openApplicationPage()">
                        <span>{{"WAP_OPEN_APPLICATION"|translate}}</span>
                        <div class="arrow">
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>
                    </div>

            </div>
        </div>


    <!--APP DETAILS-->
    <div class="row" ng-show="m_oController.m_bWaiting==false">
        <div class="col-12 px-4 mb-3 mt-5">
            <div class="d-flex align-items-center">
                <div>
                    <span class="fa fa-rocket mr-2"></span>
                    <span>{{"WAP_APPLICATION_DETAILS"|translate}}</span>
                </div>
                <hr class="ml-3 flex-grow-1">
            </div>
            <div class="row">
                <div class="col-12 col-md-6 border-right">
                    <div>{{"WAP_PUBLISHER"|translate}} <span class="text-green-wasdi">{{m_oController.m_oApplication.publisher}}</span></div>
                    <div>{{"WAP_CONTACT"|translate}} <span class="text-green-wasdi"><a ng-href="mailto:{{m_oController.m_oApplication.email}}">{{m_oController.m_oApplication.email}}</a></span></div>
                    <div>{{"WAP_WEB"|translate}} <span class="text-green-wasdi"><a ng-href="{{m_oController.m_oApplication.link}}" target="_blank">{{m_oController.m_oApplication.link}}</a></span></div>
                </div>
                <div class="col-12 col-md-6">
                    <div>{{"WAP_PUBBLICATION_DATE"|translate}} <span class="text-green-wasdi">{{m_oController.formatDate(m_oController.m_oApplication.publishDate)}}</span></div>
                    <div>{{"WAP_LAST_UPDATE"|translate}} <span class="text-green-wasdi">{{m_oController.formatDate(m_oController.m_oApplication.updateDate)}}</span></div>
                    <!--div>Purchased: <span class="text-green-wasdi">{{m_oController.m_oApplication.purchased}}</span></div-->
                    <div>{{"WAP_EXECUTIONS"|translate}} <span class="text-green-wasdi">{{m_oController.m_oStats.runs}}</span></div>
                    <div>{{"WAP_SUCCESS_RATE"|translate}} <span class="text-green-wasdi">{{m_oController.getStatSuccess()}}</span>%</div>
                    <div>{{"WAP_MEDIUM_TIME"|translate}} <span class="text-green-wasdi">{{m_oController.m_oStats.mediumTime}}</span></div>
                </div>

            </div>
        </div>
    </div>

    <!--REVIEWS-->
    <div class="row" ng-show="m_oController.m_bWaiting==false">
        <div class="col-12 px-4 mb-5 pb-5">
            <div class="d-flex align-items-center">
                <div>
                    <span class="fa fa-comments mr-2"></span>
                    <span>{{"WAP_REVIEWS2"|translate}}</span>
                </div>
                <hr class="ml-3 flex-grow-1">
            </div>
            <div class="row">
                <div class="col-12 col-md-3 py-4 bg-light">
                    <!--AVERAGE STARS-->
                    <div class="star-rating mb-2">
                        <span class="fa fa-star" ng-class="m_oController.m_oReviewsWrapper.avgVote>0.25&&m_oController.m_oReviewsWrapper.avgVote<0.75?'checked-half':m_oController.m_oReviewsWrapper.avgVote>=0.75?'checked':''"></span>
                        <span class="fa fa-star" ng-class="m_oController.m_oReviewsWrapper.avgVote>1.25&&m_oController.m_oReviewsWrapper.avgVote<1.75?'checked-half':m_oController.m_oReviewsWrapper.avgVote>=1.75?'checked':''"></span>
                        <span class="fa fa-star" ng-class="m_oController.m_oReviewsWrapper.avgVote>2.25&&m_oController.m_oReviewsWrapper.avgVote<2.75?'checked-half':m_oController.m_oReviewsWrapper.avgVote>=2.75?'checked':''"></span>
                        <span class="fa fa-star" ng-class="m_oController.m_oReviewsWrapper.avgVote>3.25&&m_oController.m_oReviewsWrapper.avgVote<3.75?'checked-half':m_oController.m_oReviewsWrapper.avgVote>=3.75?'checked':''"></span>
                        <span class="fa fa-star" ng-class="m_oController.m_oReviewsWrapper.avgVote>4.25&&m_oController.m_oReviewsWrapper.avgVote<4.75?'checked-half':m_oController.m_oReviewsWrapper.avgVote>=4.75?'checked':''"></span>
                        <span class="ml-2" ng-show="m_oController.m_oReviewsWrapper.avgVote>=0">{{m_oController.m_oReviewsWrapper.avgVote}} {{"WAP_STARS_TOT"|translate}}</span>
                        <span class="" ng-show="m_oController.m_oReviewsWrapper.avgVote<0 && ! (m_oController.m_oApplication.publisher == m_oController.m_oConstantsService.getUserId())"><br/>Be the first to rate this app</span>
                    </div>
                    <!--TOTAL REVIEWS-->
                    <div><span class="">{{m_oController.m_oApplication.reviewsCount}} {{"WAP_TOTAL_REVIEWS"|translate}}</span></div>
                    <hr>
                    <!--5 STAR PERCENTAGE -->
                    <div class="mb-2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="ml-2">{{m_oController.m_oReviewsWrapper.numberOfFiveStarVotes}}</span>
                    </div>
                    <!--4 STAR PERCENTAGE -->
                    <div class="mb-2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="ml-2">{{m_oController.m_oReviewsWrapper.numberOfFourStarVotes}}</span>
                    </div>
                    <!--3 STAR PERCENTAGE -->
                    <div class="mb-2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="ml-2">{{m_oController.m_oReviewsWrapper.numberOfThreeStarVotes}}</span>
                    </div>
                    <!--2 STAR PERCENTAGE -->
                    <div class="mb-2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="ml-2">{{m_oController.m_oReviewsWrapper.numberOfTwoStarVotes}}</span>
                    </div>
                    <!--1 STAR PERCENTAGE -->
                    <div class="mb-2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="ml-2">{{m_oController.m_oReviewsWrapper.numberOfOneStarVotes}}</span>
                    </div>
                    <hr>
                    <div class="green-big-btn" type="button" data-toggle="modal" ng-show="!m_oController.m_oReviewsWrapper.alreadyVoted && ! (m_oController.m_oApplication.publisher == m_oController.m_oConstantsService.getUserId())" data-target="#writeReviewsModal">
                        {{"WAP_WRITE_REVIEW"|translate}}
                    </div>
                    <div class="blue-big-btn" type="button" ng-show="m_oController.m_oReviewsWrapper.alreadyVoted">
                        {{"WAP_ALREADY_REVIEW"|translate}}
                    </div>
                    <div class="blue-big-btn" type="button" ng-show="m_oController.m_oApplication.publisher == m_oController.m_oConstantsService.getUserId()">
                        {{"WAP_AUTO_REVIEW"|translate}}
                    </div>


                </div>
                <div class="col-12 col-md-9">
                    <!--LOADER-->
                    <div class="row loader d-print-flex justify-content-center" ng-show="m_oController.m_bReviewsWaiting==true">
                        <div class="loadIcon">
                            <invader></invader>
                        </div>
                    </div>
                    <div ng-show="m_oController.m_bReviewsWaiting==false">
                        <div ng-repeat="review in m_oController.m_oReviewsWrapper.reviews " class="reviews-list border shadow-sm p-3 mb-4">
                            <!--REVIWER NAME-->
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="userImage mr-3" style="background-image: url('assets/img/placeholder/user-placeholder.png')"></div>
                                    <span class="reviews-name">{{review.userId}}</span>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="delete-btn ml-3" ng-show="m_oController.isMineReview(review)" data-toggle="modal" ng-show="true" data-target="#writeReviewsModal" ng-click="m_oController.setSelectedReview(review)">&nbsp;<span class="fa fa-edit mr-2"> </span>{{"WAP_UPDATE"|translate}}</div>
                                    <div class="delete-btn ml-3" ng-show="m_oController.isMineReview(review)" ng-click="m_oController.deleteReview(review.id)">&nbsp;<span class="fa fa-trash mr-2"> </span>{{"WAP_DELETE"|translate}}</div>
                                </div>
                            </div>
                            <!--RATE-->
                            <div class="my-2">
                                <span class="fa fa-star" ng-class="review.vote>0.25&&review.vote<0.75?'checked-half':review.vote>=0.75?'checked':''"></span>
                                <span class="fa fa-star" ng-class="review.vote>1.25&&review.vote<1.75?'checked-half':review.vote>=1.75?'checked':''"></span>
                                <span class="fa fa-star" ng-class="review.vote>2.25&&review.vote<2.75?'checked-half':review.vote>=2.75?'checked':''"></span>
                                <span class="fa fa-star" ng-class="review.vote>3.25&&review.vote<3.75?'checked-half':review.vote>=3.75?'checked':''"></span>
                                <span class="fa fa-star" ng-class="review.vote>4.25&&review.vote<4.75?'checked-half':review.vote>=4.75?'checked':''"></span>
                            </div>
                            <div class="reviews-title">
                                {{review.title}}
                            </div>
                            <div class="reviews-comment mt-2">
                                "{{review.comment}}"
                            </div>
                            <div class="text-green-wasdi mt-2">
                                {{m_oController.formatDate(review.date)}}
                            </div>

                            <div class="d-flex justify-content-end">
                                <div>
                                    <div class="d-flex align-items-center"></div>
                                    <div class="delete-btn ml-3" data-toggle="modal" ng-show="true" data-target="#writeCommentModal" ng-click="m_oController.setSelectedReviewId(review.id)">&nbsp;<span class="fa fa-comment mr-2"> </span>{{"WAP_ADD_COMMENT"|translate}}</div>
                                </div>
                                
                                <div ng-click="m_oController.refreshComments(review.id)">
                                    <div ng-model="collapsed" ng-click="collapsed=!collapsed" ng-show="!collapsed">
                                        <div class="d-flex align-items-center"></div>
                                        <div class="delete-btn ml-3" >&nbsp;<span class="fa fa-comments-o mr-2"> </span>{{"WAP_SHOW_COMMENTS"|translate}}</div>
                                    </div>
                                </div>
                                
                                <div>
                                    <div ng-model="collapsed" ng-click="collapsed=!collapsed" ng-show="collapsed">
                                        <div class="d-flex align-items-center"></div>
                                        <div class="delete-btn ml-3" >&nbsp;<span class="fa fa-comments-o mr-2"> </span>{{"WAP_HIDE_COMMENTS"|translate}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-model="collapsed" ng-show="collapsed">
                                <div class="col-1 col-md-2"></div>

                                <div class="col-5 col-md-10">
                                    <div ng-show="m_oController.m_oCommentsWrapper[review.id].length">
                                        <div ng-repeat="comment in m_oController.m_oCommentsWrapper[review.id]" class="reviews-list border shadow-sm p-3 mb-4">

                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div class="userImage mr-3" style="background-image: url('assets/img/placeholder/user-placeholder.png')"></div>
                                                    <span class="reviews-name">{{comment.userId}}</span>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <div class="delete-btn ml-3" ng-show="m_oController.isMineComment(comment)" data-toggle="modal" ng-show="true" data-target="#writeCommentModal" ng-click="m_oController.setSelectedComment(comment)">&nbsp;<span class="fa fa-edit mr-2"> </span>{{"WAP_UPDATE"|translate}}</div>
                                                    <div class="delete-btn ml-3" ng-show="m_oController.isMineComment(comment)" ng-click="m_oController.deleteComment(comment)">&nbsp;<span class="fa fa-trash mr-2"> </span>{{"WAP_DELETE"|translate}}</div>
                                                </div>
                                            </div>
            
                                            <div class="reviews-comment mt-2">
                                                {{comment.text}}
                                            </div>
                                            <div class="text-green-wasdi mt-2">
                                                {{m_oController.formatTimestamp(comment.date)}}
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="!m_oController.m_oCommentsWrapper[review.id].length && !oController.m_bShowLoadComments">
                                        <div class="reviews-list border shadow-sm p-3 mb-4" >
                                            <div class="d-flex align-items-center justify-content-between">
                                                {{"WAP_NO_COMMENTS"|translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="reviews-load-more text-center" ng-click="m_oController.loadMoreReviews()" ng-show="m_oController.m_bShowLoadMoreReviews">
                        {{"WAP_LOAD_MORE_REVIEWS"|translate}}
                    </div>
                    <div class="reviews-load-more text-center" ng-show="!m_oController.m_bShowLoadMoreReviews">
                        {{"WAP_LOAD_NO_REVIEWS"|translate}}
                    </div>

                </div>


                <!-- Modal Review -->
                <div class="modal fade writeReviewsModal" id="writeReviewsModal" tabindex="-1" role="dialog" aria-labelledby="writeReviewsModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content rounded-0">
                            <div class="modal-header d-flex justify-content-between">
                                <h2 class="modal-title w-100">{{m_oController.m_oSelectedReview ? 'Update Review' : 'Add Review'}}</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m_oController.setSelectedReview(null)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <p>{{"WAP_SELECT_RATINGS"|translate}}</p>
                                    <div class="star-rating mb-2">
                                        <span class="fa fa-star" ng-mouseover="previewRating=1" ng-mouseleave="previewRating=0" ng-click="m_oController.m_oUserReview.vote=1" ng-class="previewRating>=1?'checked':m_oController.m_oUserReview.vote>=1?'checked':''"></span>
                                        <span class="fa fa-star" ng-mouseover="previewRating=2" ng-mouseleave="previewRating=0" ng-click="m_oController.m_oUserReview.vote=2" ng-class="previewRating>=2?'checked':m_oController.m_oUserReview.vote>=2?'checked':''"></span>
                                        <span class="fa fa-star" ng-mouseover="previewRating=3" ng-mouseleave="previewRating=0" ng-click="m_oController.m_oUserReview.vote=3" ng-class="previewRating>=3?'checked':m_oController.m_oUserReview.vote>=3?'checked':''"></span>
                                        <span class="fa fa-star" ng-mouseover="previewRating=4" ng-mouseleave="previewRating=0" ng-click="m_oController.m_oUserReview.vote=4" ng-class="previewRating>=4?'checked':m_oController.m_oUserReview.vote>=4?'checked':''"></span>
                                        <span class="fa fa-star" ng-mouseover="previewRating=5" ng-mouseleave="previewRating=0" ng-click="m_oController.m_oUserReview.vote=5" ng-class="previewRating>=5?'checked':m_oController.m_oUserReview.vote>=5?'checked':''"></span>
                                    </div>
                                </div>
                                <!--REVIEW FORM-->
                                <form class="py-4">
                                    <div class="form-group">
                                        <label for="title">{{"WAP_REVIEW_TITLE"|translate}}</label>
                                        <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Title" ng-model="m_oController.m_oUserReview.title">
                                        <small id="titleHelp" class="form-text text-muted">{{"WAP_REVIEW_TITLE_HELP"|translate}}</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">{{"WAP_REVIEW_COMMENT"|translate}}</label>
                                        <textarea type="text" class="form-control" id="comment" placeholder="{{'WAP_REVIEW_COMMENT_PLACEHOLDER'|translate}}" ng-model="m_oController.m_oUserReview.comment"></textarea>
                                        <small id="coomentHelp" class="form-text text-muted">{{"WAP_REVIEW_COMMENT_HELP"|translate}}</small>
                                    </div>
                                    <!--div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">I agree to the <a href="#" target="_blank" class="text-green-wasdi">Terms o Service</a> and  <a href="#" target="_blank" class="text-green-wasdi">Privacy Policy</a></label>
                                    </div-->
                                </form>


                            </div>
                            <div class="modal-footer rounded-0">
                                <button type="button" class="blue-big-btn d-inline-block border-0" data-dismiss="modal"> <span class="fa fa-trash mr-2" ng-click="m_oController.setSelectedReview(null)"></span>Cancel</button>
                                <button type="button" class="green-big-btn d-inline-block border-0" ng-show="m_oController.m_oSelectedReview"  data-dismiss="modal" ng-class="(m_oController.m_oUserReview.title.length > 0 && m_oController.m_oUserReview.comment.length > 0 && m_oController.m_oUserReview.vote > 0) ? '' : 'disabled'" ng-click="m_oController.updateReview()"><span class="fa fa-save mr-2"></span>{{"WAP_UPDATE_REVIEW"|translate}}</button>
                                <button type="button" class="green-big-btn d-inline-block border-0" ng-show="!m_oController.m_oSelectedReview" data-dismiss="modal" ng-class="m_oController.m_oUserReview.title.length>0&&m_oController.m_oUserReview.comment.length>0&&m_oController.m_oUserReview.vote>-1?'':'disabled'" ng-click="m_oController.addNewReview()"><span class="fa fa-save mr-2"></span>{{"WAP_ADD_REVIEW"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Comment -->
                <div class="modal fade writeCommentModal" id="writeCommentModal" tabindex="-1" role="dialog" aria-labelledby="writeCommentModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content rounded-0">
                            <div class="modal-header d-flex justify-content-between">
                                <h2 class="modal-title w-100">{{m_oController.m_oSelectedComment ? 'Update Comment' : 'Add Comment'}}</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="m_oController.setSelectedComment(null)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!--REVIEW FORM-->
                                <form class="py-4">
                                    <div class="form-group">
                                        <label for="comment">{{"WAP_WRITE_COMMENT"|translate}}</label>
                                        <textarea type="text" class="form-control" id="comment" placeholder="{{'WAP_REVIEW_COMMENT_PLACEHOLDER'|translate}}" ng-model="m_oController.m_oReviewComment.text"></textarea>
                                        <small id="coomentHelp" class="form-text text-muted">{{"WAP_WRITE_COMMENT_HELP"|translate}}</small>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer rounded-0">
                                <button type="button" class="blue-big-btn d-inline-block border-0" data-dismiss="modal" ng-click="m_oController.setSelectedComment(null)"> <span class="fa fa-trash mr-2"></span>Cancel</button>
                                <button type="button" class="green-big-btn d-inline-block border-0" ng-show="m_oController.m_oSelectedComment"  data-dismiss="modal" ng-class="m_oController.m_oReviewComment.text.length> 0 ? '' : 'disabled'" ng-click="m_oController.updateComment()"><span class="fa fa-save mr-2"></span>{{"WAP_COMMENT_UPDATE"|translate}}</button>
                                <button type="button" class="green-big-btn d-inline-block border-0" ng-show="!m_oController.m_oSelectedComment" data-dismiss="modal" ng-class="m_oController.m_oReviewComment.text.length> 0 ? '' : 'disabled'" ng-click="m_oController.addNewComment()"><span class="fa fa-save mr-2"></span>{{"WAP_COMMENT_ADD"|translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div>

    </div>
    </div>
</div>
