<div class="workspaces-view container-fluid">

    <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 operations-bar"  >
        <div class="my-input-text">
            <input type="text" placeholder="{{'WORKSPACES_PLACEHOLDER_SEARCH'|translate}}" ng-model="searchWorkSpace" >
        </div>

        <!--<td class="over-color cell-edit-button" ng-click="m_oController.openWorkspace(oWSListItem.workspaceId)"  data-toggle="tooltip" data-placement="top" title="{{'WORKSPACES_TOOLTIP_EDITOR'|translate}}">-->
            <!--<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>-->
        <!--</td>-->

        <button class="my-button" ng-click="m_oController.openWorkspace(m_oController.m_oWorkspaceSelected.workspaceId)" ng-disabled="m_oController.m_oWorkspaceSelected === null"> Edit Workspace</button>
        <button class="my-button" ng-click="m_oController.createWorkspace()">{{"WORKSPACES_BUTTON_NEW_WORKSPACE"|translate}}</button>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 workspace-list" >
        <!----------------------WORKSPACES LIST---------------------->
        <div class="table-workspaces">
            <table class="table table-hover"id="TableWorkspacesList">
                <thead>
                <th>#</th>
                <th>{{"WORKSPACES_THEAD_WORKSPACES"|translate}}</th>
                <th>{{"WORKSPACES_THEAD_OWNER"|translate}}</th>
                <th></th>
                </thead>
                <tr ng-repeat="oWSListItem in m_oController.getWorkspaceInfoList() | filter:searchWorkSpace"  ng-class="m_oController.isSelectedRowInWorkspaceTable(oWSListItem)">
                    <td  ng-click="m_oController.loadProductList(oWSListItem)" ng-dblclick="m_oController.openWorkspace(oWSListItem.workspaceId)">{{$index + 1}}</td>
                    <td  ng-click="m_oController.loadProductList(oWSListItem)" ng-dblclick="m_oController.openWorkspace(oWSListItem.workspaceId)"> {{oWSListItem.workspaceName}}</td>
                    <td  ng-click="m_oController.loadProductList(oWSListItem)" ng-dblclick="m_oController.openWorkspace(oWSListItem.workspaceId)">{{oWSListItem.ownerUserId}}</td>

                    <!--<td class="over-color cell-edit-button" ng-click="m_oController.openWorkspace(oWSListItem.workspaceId)"  data-toggle="tooltip" data-placement="top" title="{{'WORKSPACES_TOOLTIP_EDITOR'|translate}}">-->
                        <!--<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>-->
                    <!--</td>-->

                    <td class="over-color" data-toggle="tooltip" data-placement="top" title="{{'WORKSPACES_TOOLTIP_DELETE'|translate}}" >
                        <i class="fa fa-times fa-lg" aria-hidden="true" ng-click="m_oController.DeleteWorkspace(oWSListItem.workspaceId)"></i>
                    </td>
                </tr>

            </table>
        </div>
        <!---------------------- LIST OF FILES---------------------->

        <form>
            <fieldset class="my-input-text fieldset-list-files">
                <legend><h3>List of files</h3></legend>
                <!-- LOADING ICON -->
                <div class="loading-files"ng-show="m_oController.m_bLoadingWSFiles == true && m_oController.m_bIsVisibleFiles == true" ><!--ng-show="m_oController.isEmptyProductList() == true && m_oController.m_bIsVisibleFiles == true" -->
                    <invader></invader>
                </div>
                <!-- IF THERE ISN'T FILES-->
                <!--<div ng-show="m_oController.isEmptyProductList() == true && m_oController.m_bIsVisibleFiles == false">-->
                <!--<h4>{{"WORKSPACES_LABEL_NO_RESULTS"|translate}}</h4>-->
                <!--</div>-->

                <!--LIST OF FILES-->
                <div class="panel-group list-files " id="accordion" role="tablist" aria-multiselectable="true" ng-show="m_oController.m_bIsOpenInfo" >

                    <div class="panel panel-default" ng-repeat="product in m_oController.getProductList()" >

                        <div class="panel-heading" role="tab" id="headingOne">
                            <span class="panel-title">
                                <i class="fa fa-file " aria-hidden="true"></i>
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="{{'#product' + $index}}"
                                   aria-expanded="false" aria-controls="collapseThree" ng-click="m_oController.clickOnProduct(product)">
                                    <b>{{product.fileName}}</b>
                                </a>
                            </span>
                        </div>

                        <div id="{{'product'+$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

                            <div class="list-group">
                                <li class="list-group-item"><h4>File name:</h4> {{product.fileName}}</li>
                                <li class="list-group-item"><h4>Name:</h4> {{product.name}}</li>
                                <li class="list-group-item">
                                    <h4>Bands:</h4>
                                    <div ng-repeat="band in product.bandsGroups.bands">{{band.name}}</div>
                                </li>
                            </div>

                        </div>
                    </div>

                </div>
            </fieldset>
        </form>

    </div>

    <!------------------------ GLOBE ----------------------->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 globe-container" >
        <!-- Graphic trick with form+fieldset+legend -->

        <div class="globe-style " id="cesiumContainer3"></div>
        <div class="toolbar-right-bottom">
            <div class="checkbox" style="background: white;padding:5px">
                <label>
                    <input type="checkbox" ng-model="value" ng-init="value = true" ng-click ="m_oController.deleteSentinel1a(value)">
                    Show Satellite
                </label>
            </div>
            <div class="btn-group" role="group" aria-label="...">

                <button type="button" class="btn btn-default" ng-click="m_oController.m_oGlobeService.stopRotationGlobe()"><i class="fa fa-stop" aria-hidden="true" title="stop rotation" ></i></button>
                <button type="button" class="btn btn-default" ng-click="m_oController.m_oGlobeService.startRotationGlobe(3)"><i class="fa fa-play" aria-hidden="true" title="start rotation" ></i></button>
            </div>
        </div>
    </div>




</div>


<script>
    $(function() {
        $('#TableWorkspacesList').on('post-body.bs.table', function () {
            $('[data-tooltip="true"]').tooltip({
                container: 'body'
            });
        });
    });

</script>
