<div class="workspaces-view">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-title">
       {{"WORKSPACES_TITLE_LABEL"|translate}}
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 utils-bar">
        <div class="my-input-text">
            <input type="text" placeholder="{{'WORKSPACES_PLACEHOLDER_SEARCH'|translate}}" ng-model="searchWorkSpace" >
        </div>

        <button class="my-button" ng-click="m_oController.createWorkspace()">{{"WORKSPACES_BUTTON_NEW_WORKSPACE"|translate}}</button>
    </div>

    <!--snake></snake-->
    <!--<table>-->
        <!--<tr ng-repeat="oWSListItem in m_oController.getWorkspaceInfoList()">-->
            <!--<td>{{oWSListItem.workspaceName}}</td><td><a ng-click="m_oController.openWorkspace(oWSListItem.workspaceId)">Edit</a></td>-->
        <!--</tr>-->
    <!--</table>-->

    <!----------------------WORKSPACES LIST---------------------->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">

        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Workspaces</th>
                <th></th>
                <th></th>
            </thead>
            <tr ng-repeat="oWSListItem in m_oController.getWorkspaceInfoList() | filter:searchWorkSpace">
                <td>{{$index}}</td>
                <td> {{oWSListItem.workspaceName}} - {{oWSListItem.ownerUserId}}</td>
                <td class="over-color" ng-click="m_oController.openWorkspace(oWSListItem.workspaceId)"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></td>
                <td class="over-color" ><i class="fa fa-info fa-lg" aria-hidden="true"></i></td>
            </tr>
            <!--<tr ><td >1</td><td><i class="fa fa-globe" aria-hidden="true"></i> workspace name - <i class="fa fa-user" aria-hidden="true"></i> ownerID </td></tr>-->
            <!--<tr><td>2</td><td><i class="fa fa-globe" aria-hidden="true"></i> workspace name - <i class="fa fa-user" aria-hidden="true"></i> ownerID </td></tr>-->
            <!--<tr><td>3</td><td><i class="fa fa-globe" aria-hidden="true"></i> workspace name - <i class="fa fa-user" aria-hidden="true"></i> ownerID </td></tr>-->
        </table>
    </div>

    <!---------------------- LIST OF FILES---------------------->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="panel-group list-files" id="accordion" role="tablist" aria-multiselectable="true"   >

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  data-target="#collapseOne" aria-expanded="false" aria-controls="collapseThree">
                            <b><i class="fa fa-file" aria-hidden="true"></i> File #1</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

                    <div class="list-group">

                        <li class="list-group-item">file name</li>
                        <li class="list-group-item">file path</li>
                        <li class="list-group-item">description</li>
                        <li class="list-group-item">type</li>
                        <li class="list-group-item">file tree</li>
                        <li class="list-group-item">size</li>
                        <li class="list-group-item">wm server</li>
                        <li class="list-group-item">wms layer id:list</li>
                        <li class="list-group-item">origin</li>

                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"  data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <b><i class="fa fa-file" aria-hidden="true"></i> File #2</b>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

                        <div class="list-group">

                            <li class="list-group-item">file name</li>
                            <li class="list-group-item">file path</li>
                            <li class="list-group-item">description</li>
                            <li class="list-group-item">type</li>
                            <li class="list-group-item">file tree</li>
                            <li class="list-group-item">size</li>
                            <li class="list-group-item">wm server</li>
                            <li class="list-group-item">wms layer id:list</li>
                            <li class="list-group-item">origin</li>

                        </div>

                </div>
            </div>
        </div>

    </div>
    <!--------------------LIST OF OWNERS----------------------->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
        <table class="table">
            <thead>

                <th colspan="2">List of Users</th>
            </thead>
            <tr><td><i class="fa fa-user" aria-hidden="true"></i></td><td>owner id</td></tr>
            <tr><td><i class="fa fa-user" aria-hidden="true"></i></td><td>owner id</td></tr>
            <tr><td><i class="fa fa-user" aria-hidden="true"></i></td><td>owner id</td></tr>
        </table>
    </div>

</div>