# RabbitMQ port
listeners.tcp.default = 5672

# Load definition when node boot
load_definitions = /etc/rabbitmq/definitions.json

# Log management:
#   - enable log on console
#   - disable log in file
#   - disable log in syslog
log.console = true
log.console.level = debug
log.file = false
log.syslog = false

# Web stomp port
web_stomp.tcp.port = 15674
web_dispatch.base_path = /rabbit-interface