<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%processId] %d{yyyy-MM-dd HH:mm:ss} | %-8level | %logger{1}:%line | %message%n" />
        </Console>

        <RollingFile name="{{ sWasdiComponentTriggerServiceName }}-native" append="true" fileName="{{ sWasdiComponentTriggerLogNativeFilePath }}" filePattern="{{ sWasdiComponentTriggerLogNativeFilePath }}-%d{yyyy-MM->
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
            <PatternLayout pattern="[%processId] %d{yyyy-MM-dd HH:mm:ss} | %-8level | %logger{1}:%line | %message%n" />
        </RollingFile>
{% if bWasdiSyslogEnabled == true %}

        <Syslog name="{{ sWasdiComponentTriggerServiceName }}-syslog" format="RFC5424" host="{{ sWasdiComponentTriggerLogSyslogServerAddress }}" port="{{ sWasdiComponentTriggerLogSyslogServerPort }}"
            protocol="{{ sWasdiComponentTriggerLogSyslogProtocol }}" appName="{{ sWasdiComponentTriggerServiceName }}" facility="{{ sWasdiComponentTriggerLogSyslogFacility }}" />
{% endif %}
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" />
{% if bWasdiSyslogEnabled == true %}
            <AppenderRef ref="{{ sWasdiComponentTriggerServiceName }}-syslog" />
{% else %}
            <AppenderRef ref="{{ sWasdiComponentTriggerServiceName }}-native" />
{% endif %}
        </Root>
    </Loggers>
</Configuration>
