<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
{% if bWasdiSyslogEnabled == true %}
        <Syslog name="{{ sWasdiTriggerServiceName }}-syslog" appName="{{ sWasdiTriggerServiceName }}"
            host="{{ sWasdiTriggerLogSyslogServerAddress }}" port="{{ sWasdiTriggerLogSyslogServerPort }}" protocol="{{ sWasdiTriggerLogSyslogProtocol }}"
            connectTimeoutMillis="30000" reconnectionDelayMillis="2000"
            facility="{{ sWasdiTriggerLogSyslogFacility }}" format="RFC5424" />
{% else %}
        <RollingFile name="{{ sWasdiTriggerServiceName }}-native" append="true" fileName="{{ sWasdiTriggerLogNativeFilePath }}" filePattern="{{ sWasdiTriggerLogNativeFilePath }}-%d{yyyy-MM-dd}">
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
            <PatternLayout pattern="[%processId] %d{yyyy-MM-dd HH:mm:ss} | %-8level | %logger{1}:%line | %message%n" />
        </RollingFile>
{% endif %}
    </Appenders>

    <Loggers>
        <Root level="debug">
{% if bWasdiSyslogEnabled == true %}
            <AppenderRef ref="{{ sWasdiTriggerServiceName }}-syslog" />
{% else %}
            <AppenderRef ref="{{ sWasdiTriggerServiceName }}-native" />
{% endif %}
        </Root>
    </Loggers>
</Configuration>
