#!/bin/bash

if [[ "${USER}" != "{{ sWasdiSystemUserName }}" ]]
then
    echo "[ERROR] You are '${USER}' when should be '{{ sWasdiSystemUserName }}'"
    exit 1
fi

docker \
    run \
    --interactive \
    --rm \
    --mount type=bind,source={{ sWasdiConfigurationRootDirectoryPath }},destination={{ sWasdiConfigurationRootDirectoryPath }},readonly \
    --mount type=bind,source={{ sWasdiDataRootDirectoryPath }},destination={{ sWasdiDataRootDirectoryPath }} \
    --mount type=bind,source={{ sWasdiDataImagesRootDirectoryPath }},destination={{ sWasdiDataImagesRootDirectoryPath }} \
    --mount type=bind,source={{ sWasdiDataParamsRootDirectoryPath }},destination={{ sWasdiDataParamsRootDirectoryPath }} \
    --mount type=bind,source={{ sWasdiDataProcessorsRootDirectoryPath }},destination={{ sWasdiDataProcessorsRootDirectoryPath }} \
    --mount type=bind,source={{ sWasdiDataStylesRootDirectoryPath }},destination={{ sWasdiDataStylesRootDirectoryPath }} \
    --mount type=bind,source={{ sWasdiDataWorkflowsRootDirectoryPath }},destination={{ sWasdiDataWorkflowsRootDirectoryPath }} \
    --mount type=bind,source={{ sWasdiDockerSocketFilePath }},destination={{ sWasdiDockerSocketFilePath }} \
    --network {{ sWasdiDockerNetworkName }} \
    --tty \
    {{ sWasdiUtilsServiceName }}:latest \
    ${@}
