 .process-error-logs-dialog{
  .modal-dialog
  {

    .modal-content
    {
      //HEADER
      .modal-header
      {


      }
      //BODY
      .modal-body
      {
          max-height: 85vh;
          .table-container{
            margin-top: 20px;
            table{
                thead {
                    th {

                        background-color: #44536C;
                        color: white;
                    }
                }
            }
        }

      }
      //FOOTER
      .modal-footer
      {

      }
    }
  }


}
