<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%processId] %d{yyyy-MM-dd HH:mm:ss} | %-8level | %logger{1}:%line | %message%n" />
        </Console>

        <RollingFile name="{{ sWasdiComponentLauncherServiceName }}-native" append="true" fileName="{{ sWasdiComponentLauncherLogNativeFilePath }}" filePattern="{{ sWasdiComponentLauncherLogNativeFilePath }}-%d{yyyy-MM-dd}">
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
            <PatternLayout pattern="[%processId] %d{yyyy-MM-dd HH:mm:ss} | %-8level | %logger{1}:%line | %message%n" />
        </RollingFile>
{% if bWasdiSyslogEnabled == true %}

        <Syslog name="{{ sWasdiComponentLauncherServiceName }}-syslog" appName="{{ sWasdiComponentLauncherServiceName }}"
            host="{{ sWasdiComponentLauncherLogSyslogServerAddress }}" port="{{ sWasdiComponentLauncherLogSyslogServerPort }}" protocol="{{ sWasdiComponentLauncherLogSyslogProtocol }}"
            connectTimeoutMillis="30000" reconnectionDelayMillis="2000"
            facility="{{ sWasdiComponentLauncherLogSyslogFacility }}" format="RFC5424" />
{% endif %}
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" />
{% if bWasdiSyslogEnabled == true %}
            <AppenderRef ref="{{ sWasdiComponentLauncherServiceName }}-syslog" />
{% else %}
            <AppenderRef ref="{{ sWasdiComponentLauncherServiceName }}-native" />
{% endif %}
        </Root>
    </Loggers>
</Configuration>
