<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</Console>
		
		<RollingFile name="fileLauncher" append="true" fileName="C:/log-test/launcher.log" filePattern="C:/log-test/launcher-%d{yyyy-MM-dd}.log">
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10"/>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</RollingFile>
		
		<RollingFile name="filePublisher" append="false" fileName="/var/log/wasdi/publisher.log" filePattern="/var/log/wasdi/publisher-%d{yyyy-MM-dd}.log">
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10"/>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console" />
		</Root>
		
		<Logger name="wasdi" level="debug">
        	<AppenderRef ref="fileLauncher" />
    	</Logger>
    	
    	<Logger name="wasdi.rabbit" level="debug">
        	<AppenderRef ref="fileLauncher" />
    	</Logger>
    	
    	<Logger name="wasdi.filebuffer" level="debug">
        	<AppenderRef ref="fileLauncher" />
    	</Logger>
    	
    	<Logger name="wasdi.snapopearations" level="debug">
        	<AppenderRef ref="fileLauncher" />
    	</Logger>
    	
    	<Logger name="wasdi.geoserver" level="debug">
        	<AppenderRef ref="filePublisher" />
    	</Logger>
    	
     	<Logger name="wasdi.shared.utils" level="debug">
        	<AppenderRef ref="fileLauncher" />
    	</Logger>
    	
     	<Logger name="wasdi.shared.rabbit" level="debug">
        	<AppenderRef ref="fileLauncher" />
    	</Logger>
    	
     	<Logger name="wasdi.shared.managers" level="debug">
        	<AppenderRef ref="fileLauncher" />
    	</Logger>
	</Loggers>
	
</Configuration>
