<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;INPUT OUTPUT PARAMETERS&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<div ng-show="m_oController.firstTabIsOpen()">-->
<!----------------- Source product ----------------->
<form >
    <fieldset>

        <legend><h3>{{"DIALOG_APPLY_ORBIT_TAB_INPUT_OUTPUT"|translate}}</h3></legend>
        <!---------------------------- CHOOSE PRODUCT --------------------------------->
        <div class="my-input-text"><!--my-input-text-->
            <!--SOURCE-->
            <div class="input-group">
                <!--<input type="text" class="form-control" placeholder="Source" ng-model="m_oController.m_oSelectedProduct">-->
                <div class="input-group-btn">
                    <!--Dropdown-->

                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{m_oController.m_oSelectedProduct.productFriendlyName}}
                        <span class="caret"></span></button>

                    <ul class="dropdown-menu productsDropDown" >
                        <li role="presentation" ng-repeat="product in m_oController.m_aoProducts" ng-click="m_oController.changeProduct(product);">
                            <a role="menuitem" tabindex="-1" href="">{{product.productFriendlyName}}</a>
                        </li>
                    </ul>

                    <!--Download file button-->
                    <!--<button class="btn btn-default " ngf-select="uploadFiles($files, $invalidFiles)" accept="image/*" >...</button>-->
                </div>
            </div>

            <!----------------------- NAME ------------------->
            <div class="my-input-text"><!--my-input-text-->
                <input type="text" class="form-control" ng-model="m_oController.m_sFileName_Operation" placeholder="name"  ><!--Name--><!--ng-disabled="true"-->
            </div>

        </div>
    </fieldset>
</form>

<!----------------- Target Product ----------------->
<!--<form >-->
<!--<fieldset>-->

<!--<legend><h3>{{"DIALOG_APPLY_ORBIT_LEGEND_TARGET_PRODUCT"|translate}}</h3></legend>-->
<!--&lt;!&ndash;NAME&ndash;&gt;-->
<!--<div class="my-input-text">&lt;!&ndash;my-input-text&ndash;&gt;-->
<!--<input type="text" class="form-control" placeholder="Name">&lt;!&ndash;Name&ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash;SAVE AS: &ndash;&gt;-->
<!--<div class="checkbox inline" >-->
<!--<label>-->
<!--<input type="checkbox" value="" >{{"DIALOG_APPLY_ORBIT_CHECKBOX_SAVE_AS"|translate}}-->
<!--</label>-->
<!--</div>-->
<!--&lt;!&ndash;TYPE OF DATA&ndash;&gt;-->
<!--<div class="dropdown inline">-->
<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"-->
<!--data-toggle="dropdown" >-->
<!--{{m_oController.m_sSelectedExtension}}-->
<!--<span class="caret"></span>-->
<!--</button>-->
<!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
<!--<li role="presentation" ng-repeat="type in m_oController.m_asTypeOfData" ng-click="m_oController.m_sSelectedExtension = type"><a role="menuitem" tabindex="-1" href="" >{{type}}</a></li>-->
<!--</ul>-->
<!--</div>-->

<!--</br>-->
<!--</br>-->

<!--&lt;!&ndash;OPEN IN WASDI&ndash;&gt;-->
<!--<div class="checkbox">-->
<!--<label>-->
<!--<input type="checkbox" value="" >{{"DIALOG_APPLY_ORBIT_CHECKBOX_OPEN_IN_SNAP"|translate}}-->
<!--</label>-->
<!--</div>-->

<!--</fieldset>-->
<!--</form>-->
<!--</div>-->
