<div class="modal fade ftp-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{"DIALOG_FTP_TITLE"|translate}}</h4>
            </div>
            <div class="modal-body">
                    <h4>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                {{"DIALOG_FTP_FILE_TO_UPLOAD"|translate}} {{m_oController.getFileName()}}
                            </div>
                            <div class="row">
                                <form class="form-signin" ng-submit="m_oController.sendFTPUploadRequest()" ng-hide="m_oController.m_bIsVisibleRecoveryPassword">
                                    <div class="form-group my-input-text">
                                        <input type="text"  placeholder="{{'DIALOG_FTP_INPUT_SERVER'|translate}}" class="" id="ipServerFTP" ng-model="m_oController.m_oFtpRequest.serverIp">
                                    </div>
                                    <div class="form-group my-input-text">
                                        <input type="checkbox" placeholder="" class="" id="isSftp" ng-model="m_oController.m_oFtpRequest.sftp"> {{'DIALOG_FTP_INPUT_SFTPFLAG'|translate}}
                                    </div>
                                    <div class="form-group my-input-text">
                                        <input type="text" placeholder="{{'DIALOG_FTP_INPUT_PORT'|translate}}" class="" id="portServerFTP" ng-model="m_oController.m_oFtpRequest.port">
                                    </div>
                                    <div class="form-group my-input-text">
                                        <input type="text" placeholder="{{'DIALOG_FTP_INPUT_USER'|translate}}" class="" id="userFTPName" ng-model="m_oController.m_oFtpRequest.user">
                                    </div>
                                    <div class="form-group my-input-text">
                                        <input type="password" placeholder="{{'DIALOG_FTP_INPUT_PASSWORD'|translate}}" class="" id="userFTPPassword" ng-model="m_oController.m_oFtpRequest.password">
                                    </div>
                                    <div class="form-group my-input-text">
                                        <input type="text" placeholder="{{'DIALOG_FTP_REMOTE_PATH'|translate}}" class="" id="remoteFTPPath" ng-model="m_oController.m_oFtpRequest.destinationAbsolutePath">
                                    </div>

                                    <button class="my-button" type="submit">{{"DIALOG_FTP_INPUT_UPLOAD_BUTTON"|translate}}</button>
                                </form>
                            </div>
                        </div>
                    </h4>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="my-button" data-dismiss="modal">{{"DIALOG_FTP_INPUT_CLOSE_BUTTON"|translate}}</button>
            </div>
        </div>
    </div>
</div>
