# This version is the docker-compose file
# version. It is not the version of our
# services. Please see:
# https://docs.docker.com/compose/compose-file/compose-file-v3/
version: "3.7"

networks:
  default:
    external:
      name: "wasdi-network"

{% raw %}services:
  nb_{{ wasdiNotebookId }}:
    environment:
      - WASDI_NOTEBOOK_ID={{ wasdiNotebookId }}
    image: "${sContainerName:?err}:${sContainerVersion:?err}"
    container_name: "nb_{{ wasdiNotebookId }}"
    restart: "unless-stopped"
    user: "{% endraw %}{{ sWasdiSystemUserName }}:{{ sWasdiSystemGroupName }}{% raw %}"
    stdin_open: true
    tty: true
{%- if extraHosts | default([]) != [] %}
    extra_hosts:
{%- for sCurrentHost in extraHosts %}
      - "{{ sCurrentHost }}"
{%- endfor %}
{%- endif %}
    volumes:
      - "/data/wasdi/{{ wasdiUserName }}/{{ wasdiWorkspaceId }}:/home/wasdi/.wasdi/{{ wasdiUserName }}/{{ wasdiWorkspaceId }}"
      - "/data/wasdi/{{ wasdiUserName }}/{{ wasdiWorkspaceId }}/notebook:/home/wasdi/notebook"
      - "./sysadmin/etc_supervisor_supervisord.conf:/etc/supervisor/supervisord.conf:ro"{% endraw %}
