http:
{% if aWasdiJupyterNotebookFirewallAllowedIps is defined %}
  middlewares:
    mw_{{ sWasdiJupyterNotebookId }}:
      ipWhiteList:
        sourceRange:
{% for sWasdiNotebookFirewallCurrentAllowedIp in aWasdiJupyterNotebookFirewallAllowedIps %}
          - "{{ sWasdiNotebookFirewallCurrentAllowedIp }}"
{% endfor %}
        ipStrategy:
          depth: 0
{% endif %}
  routers:
    r_{{ sWasdiJupyterNotebookId }}:
      entrypoints: "websecure"
      rule: "PathPrefix(`/notebook/{{ sWasdiJupyterNotebookId }}`)"
      service: "s_{{ sWasdiJupyterNotebookId }}"
      middlewares: "mw_wasdi-secure-allowFrame@file{% if aWasdiJupyterNotebookFirewallAllowedIps is defined %},mw_{{ sWasdiJupyterNotebookId }}{% endif %}"
      tls: true
  services:
    s_{{ sWasdiJupyterNotebookId }}:
      loadBalancer:
        healthCheck:
          path: "/notebook/{{ sWasdiJupyterNotebookId }}/lab"
          interval: "1s"
          timeout: "3s"
        servers:
          - url: "http://nb_{{ sWasdiJupyterNotebookId }}:8888/"
