---
http:
{%- if aWasdiJupyterNotebookFirewallAllowedIps is defined %}
  middlewares:
    mw_{{ sWasdiJupyterNotebookId }}:
      ipWhiteList:
        sourceRange:
{%- for sWasdiNotebookFirewallCurrentAllowedIp in aWasdiJupyterNotebookFirewallAllowedIps %}
          - "{{ sWasdiNotebookFirewallCurrentAllowedIp }}"
{%- endfor %}
        ipStrategy:
          depth: 1
{% endif %}
  services:
    svc_{{ sWasdiJupyterNotebookId }}:
      loadBalancer:
        servers:
        - url: "http://nb_{{ sWasdiJupyterNotebookId }}:{{ sWasdiNotebookContainerInternalPort | default(8888) }}/"

  routers:
    r_{{ sWasdiJupyterNotebookId }}:
      rule: PathPrefix(`/notebook/{{ sWasdiJupyterNotebookId }}`)
      entryPoints:
        - "web"
      service: "svc_{{ sWasdiJupyterNotebookId }}"
{% if aWasdiJupyterNotebookFirewallAllowedIps is defined %}      middlewares:
        - "mw_{{ sWasdiJupyterNotebookId }}"
{% endif %}
