.btn{
    &.btn-wasdi {
        border-radius: 0px;


        @if ( fontFamilyContains($wasdi-font-web, "Hero-Light")) {
            font-weight: 600;
            letter-spacing: 0.6px;
        }

        &.btn-primary {
            border-color: $color-btn-primary-bg;
            background-color: $color-btn-primary-bg;
            color: $color-btn-primary-text;

            &:hover{
                &:not([disabled]) {
                    border-color: $color-btn-primary-bg-hover;
                    background-color: $color-btn-primary-bg-hover;
                }
            }
        }
        &.btn-outline-primary{
            border-color: $color-btn-primary-bg;
            background: transparent;
            color: $color-btn-primary-bg;

            &:hover{
                &:not([disabled]) {
                    border-color: $color-btn-primary-bg;
                    background-color: $color-btn-primary-bg;
                    color: $color-btn-primary-text;
                }
            }
        }

        &.btn-secondary {
            border-color: $color-btn-secondary-bg;
            background-color: $color-btn-secondary-bg;
            color: $color-btn-secondary-text;

            &:hover{
                &:not([disabled]) {
                    border-color: $color-btn-secondary-bg-hover;
                    background-color: $color-btn-secondary-bg-hover;
                }
            }
        }


        &.btn-outline-light {
            border-color: whitesmoke;
            background-color: transparent;
            color: $color-btn-primary-text;

            &:hover{
                &:not([disabled]) {
                    border-color: $color-btn-primary-bg-hover;
                    background-color: $color-btn-primary-bg-hover;
                }
            }
        }

        &.btn-danger {
            border-color: $color-btn-danger-bg;
            background-color: $color-btn-danger-bg;
            color: $color-btn-danger-text;
    
            &:hover{
                &:not([disabled]) {
                    border-color: $color-btn-danger-bg-hover;
                    background-color: $color-btn-danger-bg-hover;
                }
            }
        }
        &.btn-outline-danger{
            border-color: $color-btn-danger-bg;
            background: transparent;
            color: $color-btn-danger-bg;
    
            &:hover{
                &:not([disabled]) {
                    border-color: $color-btn-danger-bg;
                    background-color: $color-btn-danger-bg;
                    color: $color-btn-danger-text;
                }
            }
        }

        &.btn-warning {
            border-color: $color-btn-warning-bg;
            background-color: $color-btn-warning-bg;
            color: $color-btn-warning-text;
    
            &:hover{
                &:not([disabled]) {
                    border-color: $color-btn-warning-bg-hover;
                    background-color: $color-btn-warning-bg-hover;
                }
            }
        }
        &.btn-outline-warning{
            border-color: $color-btn-warning-bg;
            background: transparent;
            color: $color-btn-warning-bg;
    
            &:hover{
                &:not([disabled]) {
                    border-color: $color-btn-warning-bg;
                    background-color: $color-btn-warning-bg;
                    color: $color-btn-warning-text;
                }
            }
        }


        &:disabled, &.disabled{
            opacity: .65;
        }

        &.no-border{
            border-color: transparent;
            font-size: 16px;
            letter-spacing: 0px;
        }

        .fa{
            margin-right: 8px;
            background-color: transparent !important;
        }

        &.btn-mdlg{
            padding-top: 10px;
            padding-bottom: 10px;
            min-width: 90px;
        }


        //-----------------------------------------------------------
        // Custom icons
        .custom-icon{
            &:not(.fa) {
                margin-right: 8px;
                position: relative;
                top: 4px;
            }
        }
        //RADAR ICON
        .icon-radar {
            content: $wasdi-radar-icon;
            width: $wasdi-size-icon;
            height: auto;
        }
        //OPTICAL ICON
        .icon-eye {
            content: $wasdi-eye-icon;
            width: $wasdi-size-icon;
            height: auto;
        }
        //PROCESSOR ICON
        .icon-document-gear {
            content: $wasdi-document-gear-icon-version;
            width: $wasdi-size-icon;
            height: auto;
        }
        //APPLY ORBIT
        .icon-applyorbit-operations {
            content: $wasdi-orbit-icon-applyorbit-blue-version;
            width: $wasdi-size-icon;
            height: auto;
        }

        //Radiometric Calibrate
        .icon-radiometriccalibrate-operations {
            content: $wasdi-orbit-icon-calibrate-blue-version;
            width: $wasdi-size-icon;
            height: auto;
        }
        //MULTILOOKING ICON
        .icon-multilooking-operations {
            content: $wasdi-telescope-icon-multilooking-blue-version;
            width: $wasdi-size-icon;
            height: auto;
        }
        //range doppler terrain correction
        .icon-range-doppler-terrain-correction-operations {
            content: $wasdi-earth-icon-range-doppler-terrain-correction-blue-version;
            width: $wasdi-size-icon;
            height: auto;
        }
        // MIDA ICON
        .icon-mida-merge-operations {
            content: $wasdi-mida-merge-operations-blue;
            width: $wasdi-size-icon;
            height: auto;
        }
        // ICON  MASK MENAGER
        .icon-mask-manager {
            content: $wasdi-mask-manager-blue;
            width: $wasdi-size-icon;
            height: auto;
        }

        &:hover {
            //background-color: $wasdi-button-over-color;
            background-color: $wasdi-blue-logo;
            color: white;

            //RADAR ICON
            .icon-radar {
                content: $wasdi-radar-icon-white-version;
                width: $wasdi-size-icon;
                height: auto;
            }

            //OPTICAL ICON
            .icon-eye {
                content: $wasdi-eye-icon-white-version;
                width: $wasdi-size-icon;
                height: auto;
            }

            //PROCESSOR ICON
            .icon-document-gear {
                content: $wasdi-document-gear-icon-white-version;
                width: $wasdi-size-icon;
                height: auto;
            }
            //APPLY ORBIT
            .icon-applyorbit-operations {
                content: $wasdi-orbit-icon-applyorbit-white-version;
                width: $wasdi-size-icon;
                height: auto;
            }
            //RADIOMETRIC CALIBRATE
            .icon-radiometriccalibrate-operations {
                content: $wasdi-orbit-icon-calibrate-white-version;
                width: $wasdi-size-icon;
                height: auto;
            }
            //Multilooking
            .icon-multilooking-operations {
                content: $wasdi-telescope-icon-multilooking-white-version;
                width: $wasdi-size-icon;
                height: auto;
            }
            //range-doppler-terrain-correction
            .icon-range-doppler-terrain-correction-operations {
                content: $wasdi-earth-icon-range-doppler-terrain-correction-white-version;
                width: $wasdi-size-icon;
                height: auto;
            }
            //MIDA
            .icon-mida-merge-operations {
                content: $wasdi-mida-merge-operations-white;
                width: $wasdi-size-icon;
                height: auto;
            }
            .icon-mask-manager {
                content: $wasdi-mask-manager-white;
                width: $wasdi-size-icon;
                height: auto;
            }

            i {
                color: white;
                background-color: $wasdi-blue-logo;
            }
        }
        //-----------------------------------------------------------

    }
}

.btn-group{
    $parent : &;

    &.use-divider{
        .btn{
            &:not([last-of-type])
            {
                &.btn-secondary{ border-right: 1px solid  #aaa; }
            }
        }
    }

    &#{$parent}-sm{
        .btn {
            font-size: 14px;
        }
    }

}

.dropdown{
    .dropdown-item{
        a{
            padding-top: 6px;
            padding-bottom: 6px;
            &:hover {
                background-color: $wasdi-green-logo;
                color: whitesmoke;
            }
        }
    }
}