
//fonts
@import url('https://fonts.googleapis.com/css?family=VT323');

$trasparent: rgba(0,0,0,0);
$zero:0;
$fontsize: 12px;
$base:$fontsize - 1px;
$size:100%;
$caret_width: $fontsize;
$caret_height:$caret_width * 2;
$wasdi-green-logo: #009036;

textarea#setter,
input#setter { /* explorer doesn't support [att=val] selector :( */
  left: -1000px;
  position: absolute;
}

.cursor {
  font-size: 16px;
  background-color: $wasdi-green-logo;
  //color below only for test
  color: red;
  position: relative;
  opacity: 0.5;
  //position: relative;
  animation: blink .8s ease-in-out infinite;
  box-shadow: -1px 0px 5px $wasdi-green-logo;
}

#terminal {
  margin: 8px;
  cursor: text;
  //height: 500px;
}

#writer {
  //font-family: cursor, courier;
  font: 400 24px VT323, monospace;
  font-weight: bold;
  color:$wasdi-green-logo;

}
#getter {margin: 5px;}
//.cursor {
//  position: relative;
//  animation: blink .8s ease-in-out infinite;
//  box-shadow: -1px 0px 5px $wasdi-green-logo;
//}

@-moz-keyframes blink {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes blink {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes blink {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes blink {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

