
/* actual dropdown animation */
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  li, .dropdown-header  {
    margin-left:200%;
    //height:50px;
    a {
      display:inline-flex!important;
      align-items:center!important;
      justify-content:flex-start;
      //%display-inline-flex
      //%align-items-center
      white-space: pre-wrap!important;
      padding: 5px 20px;

    }
  }
  .divider {height:1px!important;}
}

.dropdown.open .dropdown-menu {
  max-height: 50vh;
  opacity: 1;
  max-width:200px;
  display: flex;
  flex-direction: column;
  li {
    height: inherit;
    margin-left:0;
    transition: all 0.5s  cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-top: 1em;
    margin-bottom: 1em;

    /* overflow:hidden; */
  }
}



//$class-slug: nth-child !default

@for $i from 1 through 10 {
  .dropdown.open .dropdown-menu li:nth-child(#{$i}) {
    transition-delay: .1s + $i/2/10;
  }
}

/*
.dropdown.open .dropdown-menu
.dropdown.open .dropdown-menu li:first-child {transition-delay:.1s;}
.dropdown.open .dropdown-menu li:nth-child(2) {transition-delay:.15s;}
.dropdown.open .dropdown-menu li:nth-child(3) {transition-delay:.2s;}
.dropdown.open .dropdown-menu li:nth-child(4) {transition-delay:.25s;}
.dropdown.open .dropdown-menu li:nth-child(5) {transition-delay:.3s;}
.dropdown.open .dropdown-menu li:nth-child(6) {transition-delay:.35s;}
.dropdown.open .dropdown-menu li:nth-child(7) {transition-delay:.4s;}
.dropdown.open .dropdown-menu li:nth-child(8) {transition-delay:.45s;}
.dropdown.open .dropdown-menu li:nth-child(9) {transition-delay:.5s;}

*/




.dropdown.open .dropdown-menu li {float:inherit;}