.editor-view
{
  margin-top:5px;
  padding-left: 0;
  padding-right: 0;
  //SIDEBAR
  .sidebar
  {
    height:100vh;
    background-color: #f5f5f5;//black;
    border-right: 1px solid #eee;
    position: relative;
    bottom: 0;
    left:0;

    //background-color: $wasdi-sidebar-background-color;
    .panel-default {
      border-color: $waddi-sidebar-color-border-panel;
    }
    .panel-default > .panel-heading
    {
      background-color:$wasdi-sidebar-color-title-panel ;
      color:$wasdi-title-color;
    }

    //override mybutton class in style.scss
    .my-button
    {
      background-color:$wasdi-white;
      color:$wasdi-button-default-color;
      padding: 5px 10px;
      margin: 0;
    }
    .my-button:hover{
      background-color: $wasdi-button-over-color;
      color: white;
    }
  }
  //map container leaflet
  .map-container
  {
    padding-left: 0;
    padding-right: 0;
    border: 1px solid $wasdi-blue-logo;

    .map
    {
      //DIMENSIONS MAP
      width: auto;//500px
      height: 700px;//500px

    }
  }
  //map container leaflet in sidebar
  .small-map-container
  {
    .map
    {
      width: auto;//500px
      height: 200px;//500px
    }
  }
  //OPERATION BAR
  .operations-bar
  {

    text-align: right;
    padding: 0 ;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $wasdi-operation-bar-backgroud;
    }

    li {
      float: right;
    }

    li a {
      display: block;
      color: $wasdi-operation-bar-color-icon;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: $wasdi-nav-bar-color-over;
      color: white;
    }

    .active {
      background-color: $wasdi-nav-bar-color-selected;
    }

  }
}