.editor-view
{
  margin-top:5px;
  padding-left: 0;
  padding-right: 0;

  //SIDEBAR
  .sidebar
  {


    background-color: #f5f5f5;//black;
    border-right: 1px solid #eee;
    position: relative;
    bottom: 0;
    left:0;
    padding-right: 5px;
    padding-left: 5px;
    //override bootstrap
    /* panel globe and tree */
    .panel-body
    {
      padding: 0;
      height: $wasdi-heigth-panel;
      @media  screen and (max-width: 1366px)and (max-height: 768px) {
        height: $wasdi-height-panel-max-width-1366-max-height-768;

      }

    }
    //override bootstrap
    .panel-heading {
      border-bottom: 0;
      min-height: 40px;
    }

    //background-color: $wasdi-sidebar-background-color;
    .panel-default {
      border-color: $waddi-sidebar-color-border-panel;
      margin-bottom: 5px;


    }
    .panel-default > .panel-heading
    {
      background-color:$wasdi-sidebar-color-title-panel ;
      color:$wasdi-title-color;
    }
    //panel tree

    //panel globe
    .small-map-container
    {
      .map
      {
        width: auto;//500px
        height: $wasdi-heigth-panel;//500px

        margin-bottom: 50px;

        @media  screen and (max-width: 1366px)and (max-height: 768px) {
          width: auto;
          height:$wasdi-height-panel-max-width-1366-max-height-768;
        }
      }
    }
    //override my button class in style.scss
    .my-button
    {
      color:white;
      padding: 0;
      margin: 0;
      padding-left: 10px;
    }
    .my-button:hover{
      color: $wasdi-button-over-color;
      background-color:transparent;
    }
  }
  /*************************************************/
  //map container leaflet
  .map-column{
    padding-left: 0;
    padding-right: 0;
    .map-container
    {
      border: 1px solid $wasdi-blue-logo;
      //BUTTONS ON MAP
      .btn-group
      {
        z-index: 1001;
        position: absolute;
        top: 2px;
        left: 20px;

        .btn-default
        {
          min-width: 46px;
          min-height: 34px;
          background-color: $wasdi-blue-logo;
          color: $wasdi-white;
          opacity: 0.9;
        }
        .btn-default:hover
        {
          color: $wasdi-green-logo;
        }
        .btn-default:disabled
        {
          color:grey;
        }

        .btn-switch-geographic
        {
          background-color: $wasdi-blue-logo;
          background-image: url("../assets/icons/mapBar/globe_white.svg");
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center;

          &:hover,&:active{
            background-color: $wasdi-blue-logo;
            background-image: url("../assets/icons/mapBar/map_route_green(NoGeoReference).svg");
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;

          }
        }



        .btn-switch-not-geographic
        {
          background-color: $wasdi-blue-logo;
          background-image: url("../assets/icons/mapBar/map_route_white(NoGeoReference).svg");
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center;
          //background: url("../assets/icons/mapBar/globe_white.svg")left center no-repeat;;
          &:hover,&:active {
            background-color: $wasdi-blue-logo;
            //background-image: url("../assets/icons/mapBar/map_route_green(NoGeoReference).svg");
            background-image: url("../assets/icons/mapBar/globe_green.svg");
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }

      }

      //layers list
      .layers-list{
        z-index: 1001;
        position: absolute;
        bottom: 2px;
        left: 20px;
        background-color: white;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100px;
        width: 300px;
        border:2px solid $wasdi-blue-logo;
        .checkbox{
          margin: 10px;
        }
      }
      //leaflet
      .map
      {
        //DIMENSIONS MAP
        width: auto;//500px
        height: $wasdi-map-height;

        ///* (1366x768) WXGA Display */
        @media  screen and (max-width: 1366px)and (max-height: 768px) {
          width:auto;
          height: $wasdi-map-height-max-width-1366-max-height-768;
        }


        .leaflet-popup-pane
        {
          visibility:hidden;
        }
      }

    }
  }

  //map container leaflet in sidebar


  //OPERATION BAR
  .operations-bar
  {

    text-align: right;
    margin-top: -45px;


    ul {
      list-style-type: none;
      padding: 0;
      overflow: hidden;



    }

    li {
      height:40px ;
      float: right;
      .icon
      {
        img
        {
          height: 42px;
        }
      }
    }

    li a {
      //margin-top: 5px;
      display: block;
      color: $wasdi-operation-bar-color-icon;
      text-align: center;
      //padding: 14px 16px;
      //padding:2px 16px 14px 16px;
      padding: 3px 5px 5px 5px ;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: $wasdi-nav-bar-color-over;
      color: white;
    }

    .active {
      background-color: $wasdi-nav-bar-color-selected;
    }

    //.button-menu-with-icons{
    //  li a {
    //    padding: 0 5px 0 5px ;
    //  }
    //}

  }

  /********************************* ICONS *********************************/

  //RADAR ICON
  .icon-radar {
    i {
      content: $wasdi-radar-icon;
      width: $wasdi-size-icon;
      height: auto;

    }
  }
  .icon-radar:hover {
    i {
      content: $wasdi-radar-icon-white-version;
      width: $wasdi-size-icon;
      //margin-top: -20px;
      height: auto;
      //min-height: 50px;
      //min-width: 50px;
    }
  }
  //OPTICAL ICON
  .icon-eye
  {
    i{
      content: $wasdi-eye-icon;
      width: $wasdi-size-icon;
      height: auto;
    }
  }
  .icon-eye:hover
  {
    i{
      content: $wasdi-eye-icon-white-version;
      width: $wasdi-size-icon;
      height: auto;

    }
  }
  //PROCESSOR ICON
  .icon-document-gear
  {
    i{
      content: $wasdi-document-gear-icon-version;
      width: $wasdi-size-icon;
      height: auto;

    }
  }
  .icon-document-gear:hover
  {
    i{
      content: $wasdi-document-gear-icon-white-version;
      width: $wasdi-size-icon;
      height: auto;

    }
  }

  //MULTILOOKING ICON
  .icon-multilooking-operations{
    i{
      content: $wasdi-telescope-icon-multilooking-blue-version;
      width: $wasdi-size-icon;
      height: auto;

    }
  }
  .icon-multilooking-operations:hover{
    i{
      content: $wasdi-telescope-icon-multilooking-white-version;
      width: $wasdi-size-icon;
      height: auto;

    }
  }
  //EARTH ICON
  .icon-range-doppler-terrain-correction-operations{
    i{
      content: $wasdi-earth-icon-range-doppler-terrain-correction-blue-version;
      width: $wasdi-size-icon;
      height: auto;

    }
  }
  .icon-range-doppler-terrain-correction-operations:hover{
    i{
      content: $wasdi-earth-icon-range-doppler-terrain-correction-white-version;
      width: $wasdi-size-icon;
      height: auto;

    }
  }

}