.import-view
{
  margin-top: 5px;
  padding: 0;
  // MAP CONTAINER
  .map-container
  {
    .map
    {
      //DIMENSIONS MAP
      width: auto;//500px
      height: 700px;//500px
    }
  }

  // SIDEBAR
  .sidenav-animated{

    //change font family
    font-family: $wasdi-font-web-normal;
    font-weight:$wasdi-font-weight-normal;
    overflow:auto;
    height: 100%;
    font-size:14px;
    line-height: 1.42857;
    font-weight: 400;

    h1
    {
      font-family: $wasdi-font-web-normal;
      font-weight:$wasdi-font-weight-normal;
    }
    h2
    {
      font-family: $wasdi-font-web-normal;
      font-weight:$wasdi-font-weight-normal;
    }
    h3
    {
      font-family: $wasdi-font-web-normal;
      font-weight:$wasdi-font-weight-normal;
    }
    h4
    {
      font-family: $wasdi-font-web-normal;
      font-weight:$wasdi-font-weight-normal;
    }

    .sidenav {
      height: 100%;
      width: 35%;
      position: fixed;
      z-index: 1001;
      top: 0;
      left: 0;
      background-color:$wasdi-grey;
      //border-right: 20px solid $wasdi-blue-logo;
      border-right: 1px solid $wasdi-blue-logo;

      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 20px;
      color:black;
    }

    /*MISSIONS CSS */
    .missions
    {
      margin-top: 30px;
      margin-bottom: 5px;
      //border-bottom: solid 1px ;
      input[type=text] {
        margin: 4px 0;
      }

      .filter-label
      {
        margin: 8px 0;
        font-weight:400;
      }
    }
    .loadIcon
    {
      display: table;
      margin: 0 auto;
    }
    /************************TABLE**************************/
    //Over tr
    //  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    //    //background-color: $wasdi;
    //    color:$wasdi-green-logo;
    //    border-top: 1px solid $wasdi-green-logo;
    //    border-bottom: 1px solid $wasdi-green-logo;
    //  }

    .container-table-row
    {
      /*pls doesn't change it i need uit for on-mouse-click-rectangle event:
      *  var container = $('#div-container-table'), scrollTo = $("#"+sId);
         container.animate({
          scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop()
         });
      */

      /***************************/
      //Over TR
      .table-hover tbody:hover{
        //background-color: $wasdi;
        //color:$wasdi-green-logo;
        border-top: 2px solid $wasdi-green-logo;
        border-bottom: 2px solid $wasdi-green-logo;

      }
      /* Management Pages */
      .pages
      {

        .pager
        {
          .form-group
          {
            display: inline;
            label{
              font-weight: 400;
            }
            .form-control
            {
              display: inline;
              width:10%;
            }
          }
          .form-control
          {
            display: inline;
            width: 10%;
          }

        }

      }
      /************* TABLE css*****************/
      .layers
      {

        thead
        {
          background-color: $wasdi-import-table-head-background-color;
          color:$wasdi-import-table-head-color;
        }

        th
        {
          text-align:center;
          vertical-align:middle;
        }
        tbody
        {
          border-top: 1px solid #ddd;//FIX TABLE
        }



        .operation-button
        {
          cursor:pointer;

        }
        .operation-button:hover
        {
          background-color: $wasdi-import-cell-background-color-over-button;

          i{

            color:$wasdi-import-cell-color-over-button;
          }

        }

        .info-layer
        {
          //font-family:$wasdi-font-web-small-dimension !important;
          //font-size:12px;
          //line-height: 1.42857;
          //font-weight: 500;

          .image-cell
          {
            vertical-align:middle;
            text-align:center;
            .label
            {
              padding: .1em .3em .1em;
              font-size: 12px;
              //font-size:90%;
            }

            //PREVIEW IMAGE
            .preview-layer-image
            {
              margin-top: 2px;
              margin-bottom: 2px;
              //margin-right: 0;
              //max-height:$wasdi-import-preview-layer-on-table-dimension;
              //max-width:$wasdi-import-preview-layer-on-table-dimension;
              img
              {
                height:$wasdi-import-preview-layer-on-table-dimension;
                width:$wasdi-import-preview-layer-on-table-dimension;
              }
            }
          }

          //DROPDOWN MENU
          .operations-table-layers{
            display: inline;
          }
        }


      }
    }

    /****************** INPUT FORM SEARCH CONTAINER********************/
    #advanced-search-container{

      background-color: white;
      margin: 10px;
      box-shadow: 3px 5px 19px 0 rgba(49,50,50,.62);
      padding: 8px;
    }
    #advanced-search-close-button{
      top:10px;
      right:10px;
    }
    #advanced-search-content{

      position: relative;
      height: 100%;
      width: 100%;
      background-color: white;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .advanced-search-collapse-title {
      margin-left: 5px;
      font-size: 14px;
    }
    .advanced-search-clear {
      margin-right: 10px;
      font-size: 14px;
      float: right;
      font-weight: normal !important;
    }

    .advanced-search-clear:hover {
      text-decoration: underline;
    }

    .advanced-search-heading {
      padding: 5px 10px !important;
    }
    .advanced-search-panel-title {
      margin-top: -5px !important;
      cursor: default !important;
    }

    .coll-product-header
    {

      margin: 5px;
      padding: 10px;
      .my-input-text
      {
        width:60%;
        display:inline-flex;
      }
      .search-button {
        cursor:pointer;
        display: inline;
        // top: 10%;
        background: $wasdi-import-left-side-navbar-color-background;
        color:white;
        padding:15px 15px;

        margin-top: 5px;
        //border: 1px solid white;
        z-index: 1000;
        opacity: 0.9;
        i
        {
          color: white;
        }


      }

      .search-button:hover
      {
        background-color: $wasdi-green-logo;
      }
    }

    /* input text override my class in style*/



  }
  /********************************************************/




      //#advanced-search-container{
      //  position: fixed;
      //  background-color: white;
      //  width: 728px;
      //  height: 700px;
      //  z-index: 999;
      //  top: 150px;
      //  left: calc(-728px - 20px);
      //  box-shadow: 3px 5px 19px 0 rgba(49,50,50,.62);
      //  padding: 8px;
      //}

      //#advanced-search-close-button{
      //  position: absolute;
      //  top:10px;
      //  right:10px;
      //}

      //#advanced-search-content{
      //
      //  position: relative;
      //  height: 100%;
      //  width: 100%;
      //  background-color: white;
      //  overflow-y: auto;
      //  overflow-x: hidden;
      //}

      //.advanced-search-collapse-title {
      //  margin-left: 5px;
      //  font-size: 14px;
      //}
      //
      //.advanced-search-clear {
      //  margin-right: 10px;
      //  font-size: 14px;
      //  float: right;
      //  font-weight: normal !important;
      //}
      //
      //.advanced-search-clear:hover {
      //  text-decoration: underline;
      //}
      //
      //.advanced-search-heading {
      //  padding: 5px 10px !important;
      //}
      //.advanced-search-panel-title {
      //  margin-top: -5px !important;
      //  cursor: default !important;
      //}

      /******************* da mettere in ordine *******************************/
      //.panel-heading .accordion-toggle:before {
      //  font-family: 'Glyphicons Halflings';
      //  content: '\e113';
      //  float: left;
      //  color: grey;
      //}
      //.panel-heading .accordion-toggle.collapsed:before {
      //  content: "\e114";
      //}
      //.avanced-search-subtitle{
      //  margin-top:10px;
      //}
      //
      //.collapse {
      //  position: inherit;
      //}
      //#section_0 {
      //  overflow-y: hidden !important;
      //}
      //
      //#advanced-search-content  .dropdown-menu{
      //  position: fixed !important;
      //  visibility: hidden;
      //}
      //.advanced-panel {
      //  margin-bottom: 8px !important;
      //}
      //.advanced-calendar-button {
      //  border:none;
      //  top: 5px;
      //}
      //.advanced-calendar-label {
      //  top: 10px;
      //}
      //
      //.advanced-calendar-date-input {
      //  padding: 0px;
      //  text-align: center;
      //}
      //.advanced-calendar-date-input{
      //  font-size: 11px;
      //}
      //
      //.coll-product-container{
      //  background-color: white;
      //  /*min-width: 40%;*/
      //  width: 100%;
      //  height: 400px;
      //
      //}
      //
      //.coll-product-footer {
      //  font-size: 14px;
      //}
      //
      //@media screen and (min-width: 993px) and (max-width: 1200px) {
      //  /*.list-container {
      //    min-width: 50%  !important;
      //  }*/
      //  .coll-product-footer {
      //    font-size: 14px;
      //  }
      //}
      //
      //@media screen and (min-width: 769px) and(max-width: 992px) {
      //  /*.list-container {
      //    min-width: 100% !important;
      //  }*/
      //  .coll-product-footer {
      //    font-size: 13px;
      //  }
      //}
      //
      //@media screen and (max-width: 768px) {
      //  /*.list-container {
      //    min-width: 100% !important;
      //  }*/
      //  .coll-product-footer {
      //    font-size: 13px;
      //  }
      //}
      //
      //.coll-product-list-container{
      //  padding: 0px 0px 0px 0px;
      //  position: relative;
      //  height: 100%;
      //  width: 100%;
      //}
      //
      //.coll-product-list{
      //  position: relative;
      //  height: calc(100% - 85px);
      //  width: 100%;
      //  background-color: white;
      //  overflow-y: auto;
      //  overflow-x: auto;
      //}
      //
      //.coll-product-toolbar{
      //  position: relative;
      //  width: 100%;
      //  background-color: white;
      //  padding: 10px;
      //  background-color: #FAFAFA;
      //  height: 50px;
      //}
      //
      //.coll-product-header{
      //  position: relative;
      //  height: 35px;
      //  background-color: white;
      //  top: 0px;
      //  background-color: #FAFAFA;
      //}
      //
      //.disabled-button{
      //  opacity:0.4;
      //  cursor: default;
      //}
      //
      //.select-page-button{
      //  cursor: pointer;
      //}
      //
      //.page-selector-input{
      //  width: 40px !important;
      //  cursor: pointer;
      //  margin: 0px;
      //  padding: 7px;
      //  height: 30px;
      //  border: 1px solid #9A9A9A !important;
      //  display: inline;
      //}
      //
      //.pagination-button{
      //  margin-right: 2.5px;
      //  margin-left: 2.5px;
      //  display:inline;
      //}
      //
      //.coll-product-list-checkbox {
      //  width: 30px;
      //}
      //
      //.coll-product{
      //  display: inline-flex;
      //  font-size: 12px;
      //  font-family: Roboto;
      //  height: 25px;
      //  line-height: 20px;
      //}
      //
      //.coll-product:hover{
      //  background: #dedede;
      //}
      //
      //.coll-products-left {
      //  float: left;
      //  display: inline-flex;
      //  padding-left: 0px;
      //}
      //
      //.coll-products-right {
      //  float: right;
      //  display: inline-flex;
      //}
      //
      //.filter-label {
      //  font-weight: normal !important;
      //}
      //.filter-highlight {
      //  top: 50% !important;
      //}
      //.filter-checkbox-label {
      //  font-weight: bold !important;
      //}
      //.filter-bar:before,.filter-bar:after {
      //  height: 1px !important;
      //  color: rgba(0,0,0,1) !important;
      //  background: rgba(0,0,0,1) !important;
      //}
      //.filter-checkbox {
      //  margin-bottom: 25px !important;
      //}
      //.filter-input:invalid {
      //  color: red;
      //}
      //
      //input::-webkit-calendar-picker-indicator {
      //  display: none;
      //}
      //
      //#adv-options label                {
      //
      //  font-weight: normal;
      //
      //  pointer-events: none;
      //
      //  transition: 0.2s ease all;
      //  -moz-transition: 0.2s ease all;
      //  -webkit-transition: 0.2s ease all;
      //}
      //.adv-selectfield label {display: none;}
      //
      //.adv-selectfield {
      //  font-family: 'Roboto','Helvetica','Arial',sans-serif;
      //  position: relative;
      //}
      //
      //.adv-selectfield::after {
      //  position: absolute;
      //  top: -1em;
      //  right: 0.5em;
      //  /* Styling the down arrow */
      //  width: 0;
      //  height: 0;
      //  padding: 0;
      //  content: '';
      //  border-left: .25em solid transparent;
      //  border-right: .25em solid transparent;
      //  border-top: .375em solid rgba(0,0,0, 1);
      //  pointer-events: none;
      //  color: black;
      //
      //}
      //
      //.adv-selectfield datalist {
      //  -webkit-appearance: none;
      //  -moz-appearance: none;
      //  background-color: transparent;
      //  width:	100%;
      //}
      //
      //
      //.adv-selectfield datalist::-ms-expand {display: none;}
      //
      //.adv-select-label {
      //  top: -20px;
      //  color: rgb(55, 59, 80);
      //  font-size: 13px;
      //}
      //
      //#adv-options .group            {
      //  position:relative;
      //  margin-bottom:15px;
      //}


    //.sidenav a {
    //  padding: 8px 8px 8px 32px;
    //  text-decoration: none;
    //  font-size: 25px;
    //  color: #818181;
    //  display: block;
    //  transition: 0.3s
    //}

    //.sidenav a:hover, .offcanvas a:focus{
    //  color: #f1f1f1;
    //}

    .sidenav .closebtn {

      position: absolute;
      top: 0;
      left: 10px;
      //font-size: 25px;
      //margin-left: 50px;

        color: $wasdi-import-left-side-navbar-color-background;
        cursor:pointer;


    }

    .sidenav .backbtn {

      position: absolute;
      top: 0;
      right: 10px;
      //font-size: 25px;
      //margin-right: 50px;

        color: $wasdi-import-left-side-navbar-color-background;
        cursor:pointer;


    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }




  //FIXED OPEN MENU BUTTON
  .fixed {
    cursor:pointer;
    position: fixed;
   // top: 10%;
    left: 5px;
    background: $wasdi-import-left-side-navbar-color-background;
    color:white;
    padding:10px 20px;
    margin-top: 5px;
    //border: 1px solid white;
    z-index: 1000;
    opacity: 0.9;
    i
    {
      color: white;
    }
  }
  .fixed:hover
  {
    background-color: $wasdi-green-logo;
  }
  //END SIDEBAR
}
