@import "../fonts/hero/stylesheet.css";
@import "../fonts/astronaut/stylesheet.css";
@import "../fonts/starlight/stylesheet.css";
/************** MAIN COLOR **************/

$wasdi-blue-logo:#43516A;
$wasdi-green-logo: #009036;
$wasdi-white:white;
$wasdi-grey:#f5f5f5;//#f5f5f5 #e6e6e6
$wasdi-grey-background-text:#ddd;
/*COMPLEMENTARY $wasdi-blue-logo
  white
  848E9F
  5F6C82
  2D394F
  1B2B46
  black
*/
$wasdi-blue-logo-complementary-1:#848E9F;
$wasdi-blue-logo-complementary-2:#5F6C82;
$wasdi-blue-logo-complementary-3:#2D394F;
$wasdi-blue-logo-complementary-4:#1B2B46;



//INPOOR HERO LIGHT
@font-face {
    font-family:'Hero' ;
    src:url(../fonts/hero/Hero.eot);
    src:url(../fonts/hero/Hero.ttf);
    src:url(../fonts/hero/Hero.woff);
    src:url(../fonts/hero/Hero.svg);
}

$wasdi-font-web: 'Hero' ,Helvetica, sans-serif;//arial
$wasdi-font-web-small-dimension:Bell Gothic, sans-serif;
$wasdi-font-web-normal: sans-serif;
$wasdi-font-size:14px;
$wasdi-line-height: 1.42857;
$wasdi-font-weight:400;
$wasdi-font-weight-normal:400;


$img-brand-logo-write-svg:   url("../assets/wasdi/logoScritta_wasdi.png");
$img-brand-logo-svg:  url("../assets/wasdi/logoWasdi.png");
$img-brand-write-svg:  url("../assets/wasdi/scrittawasdi_white.svg");
$wasdi-brand-logo-login-footer: url("../assets/wasdi/striscia_loghi.png");

//icons operation bar
$wasdi-radar-icon:url("../assets/icons/operationBarIcons/radar.svg");
$wasdi-eye-icon:url("../assets/icons/operationBarIcons/eye.svg");
$wasdi-radar-icon-white-version:url("../assets/icons/operationBarIcons/radar_white.svg");
$wasdi-eye-icon-white-version:url("../assets/icons/operationBarIcons/eye_white.svg");
$wasdi-document-gear-icon-white-version:url("../assets/icons/operationBarIcons/document_gear_white.svg");
$wasdi-document-gear-icon-version:url("../assets/icons/operationBarIcons/document_gear.svg");
$wasdi-telescope-icon-multilooking-blue-version:url("../assets/icons/operationBarIcons/telescope.svg");
$wasdi-telescope-icon-multilooking-white-version:url("../assets/icons/operationBarIcons/telescope_white.svg");
$wasdi-earth-icon-range-doppler-terrain-correction-blue-version:url("../assets/icons/operationBarIcons/earth.svg");
$wasdi-earth-icon-range-doppler-terrain-correction-white-version:url("../assets/icons/operationBarIcons/earth_white.svg");
$wasdi-edit-icon-pencil:url("../assets/icons/pencil_24x24.png");
$wasdi-orbit-icon-applyorbit-blue-version:url('../assets/icons/operationBarIcons/14-galaxy.svg');
$wasdi-orbit-icon-applyorbit-white-version:url('../assets/icons/operationBarIcons/14-galaxy_white.svg');
$wasdi-orbit-icon-calibrate-blue-version:url('../assets/icons/operationBarIcons/42-radar.svg');
$wasdi-orbit-icon-calibrate-white-version:url('../assets/icons/operationBarIcons/42-radar_white.svg');
$wasdi-mida-merge-operations-blue:url('../assets/icons/iconMIDA.svg');
$wasdi-mida-merge-operations-white:url('../assets/icons/iconMIDA_White.svg');
$wasdi-slider-icon-triangle:url("../assets/icons/shape_triangle.svg");
$wasdi-mask-manager-blue:url("../assets/icons/operationBarIcons/mask.svg");
$wasdi-mask-manager-white:url("../assets/icons/operationBarIcons/mask_white.svg");

$wasdi-size-icon:20px;
$wasdi-size-icon-title-dialogs:27px;

//icons context menu jstree
$wasdi-eye-icon-black-version:url("../assets/icons/contextMenuJstree/eye_black.svg");
$wasdi-radar-icon-black-version:url("../assets/icons/contextMenuJstree/radar_black.svg");
$wasdi-garbage-icon-black-version:url("../assets/icons/contextMenuJstree/garbage_can_black.svg");
$wasdi-info-icon-black-version:url("../assets/icons/contextMenuJstree/information_black.svg");
$wasdi-share-icon-black-version:url("../assets/icons/contextMenuJstree/share-alt.svg");
$wasdi-workflow-icon-black-version:url("../assets/icons/contextMenuJstree/workflowIcon.svg");
$wasdi-satelite-icon-black-version:url("../assets/icons/sat_02.svg");
$wasdi-touch-icon-black-version:url("../assets/icons/jsTreeIcon/touchBlack.svg");
$wasdi-vector-square-icon-black-version:url("../assets/icons/jsTreeIcon/vectorSquareBlack.svg");
$wasdi-calendar1-icon-black-version:url("../assets/icons/jsTreeIcon/calendar1Black.svg");
$wasdi-arrow-mix-icon-black-version:url("../assets/icons/jsTreeIcon/arrowMixBlack.svg");
$wasdi-selection-icon-black-version:url("../assets/icons/jsTreeIcon/selectionBlack.svg");
$wasdi-folder-icon-orange-version:url("../assets/icons/jsTreeIcon/folderOrange.svg");


$wasdi-size-icon-context-menu-jstree:30px;

//INPUT TEXT
$wasdi-input-text-color:$wasdi-blue-logo;
$wasdi-input-text-border-color:$wasdi-blue-logo-complementary-3;
//BUTTON
$wasdi-button-default-color:#44536C;
$wasdi-button-over-color:$wasdi-green-logo;

//LOGIN COLOR
$wasdi-login-color-background:$wasdi-blue-logo;
$wasdi-login-color-background-content:#F7F7F7;
//LOGIN
$wasdi-brand-logo-login:$img-brand-logo-svg;
$wasdi-brand-logo-login-size: 20%;
$wasdi-brand-write-login:$img-brand-write-svg;
$wasdi-brand-write-login-size: 100%;

//ROOT NAV-BAR
$wasdi-nav-bar-color-background:$wasdi-blue-logo;
$wasdi-nav-bar-color-selected:$wasdi-green-logo;
$wasdi-nav-bar-color-over:$wasdi-blue-logo-complementary-4;
$wasdi-nav-bar-color-active:#2C6469;

//ROOT LOGGED USER
$wasdi-logged-user-link:$wasdi-green-logo;

//ROOT OPERATION BAR
$wasdi-operation-bar-backgroud:$wasdi-grey;
$wasdi-operation-bar-color-icon:$wasdi-blue-logo;

//ROOT SEARCH COLOR
$wasdi-searh-color:$wasdi-blue-logo;

//ROOT SUBTITLE
$wasdi-subtitle-color:$wasdi-green-logo;
//ROOT
$wasdi-brand-logo-root:$img-brand-logo-write-svg;
$wasdi-brand-logo-root-size: 80px;

//EDITOR SIDE-BAR
$wasdi-sidebar-color-title-panel:$wasdi-blue-logo;
$wasdi-title-color:$wasdi-white;
$waddi-sidebar-color-border-panel:$wasdi-blue-logo;
$wasdi-sidebar-background-color:$wasdi-grey;
$wasdi-map-height: 100%;
$wasdi-map-height-editor: 100%;
$wasdi-map-height-max-width-1366-max-height-768:63vh;
$wasdi-heigth-panel:35.5vh;
$wasdi-height-log-panel:77vh;
$wasdi-heigth-panel-workspaces-page:41vh;
$wasdi-heigth-workspace-list:31vh;
$wasdi-heigth-globe-workspaces:84vh;
$wasdi-height-panel-max-width-1366-max-height-768:25vh;
$wasdi-status-bar-heigth:50px;
//WORKSPACES
$wasdi-list-of-files-border-color:$wasdi-blue-logo;
$wasdi-over-icon:$wasdi-green-logo;
$wasdi-max-height-workspaces: 55vh;
//IMPORT
$wasdi-import-left-side-navbar-color-background:$wasdi-blue-logo;
$wasdi-import-table-head-background-color: $wasdi-blue-logo;
$wasdi-import-table-head-color:$wasdi-white;//text color
$wasdi-import-cell-background-color-over-button:$wasdi-green-logo;
$wasdi-import-cell-color-over-button:$wasdi-white;
$wasdi-import-preview-layer-on-table-dimension:82px;
$wasdi-heigt-panel-import:77vh;
$wasdi-height-panel-import-max-width-1366-max-height-768:63vh;
$wasdi-map-heigth-import: 100%;
$wasdi-map-height-import-max-width-1366-max-height-768:70vh;

//STATUS-BAR
$wasdi-status-bar-color:#C0C0C0;

//MODAL
$wasdi-max-heigth-body:600px;


// Buttons
$color-btn-primary-bg: $wasdi-blue-logo;
$color-btn-primary-bg-hover: $wasdi-green-logo;
$color-btn-primary-text: white;

$color-btn-secondary-bg: $wasdi-blue-logo-complementary-1;
$color-btn-secondary-bg-hover: $wasdi-green-logo;
$color-btn-secondary-text: white;


$color-connection-status-connected: #7cad56;
$color-connection-status-lost: #ff5f5f;

$color-link: #337ab7;
