@import "../fonts/hero_light/stylesheet.css";
/************** MAIN COLOR **************/

$wasdi-blue-logo:#43516A;
$wasdi-green-logo: #009036;
$wasdi-white:white;
$wasdi-grey:#f5f5f5;//#f5f5f5 #e6e6e6

/*COMPLEMENTARY $wasdi-blue-logo
  white
  848E9F
  5F6C82
  2D394F
  1B2B46
  black
*/
$wasdi-blue-logo-complementary-1:#848E9F;
$wasdi-blue-logo-complementary-2:#5F6C82;
$wasdi-blue-logo-complementary-3:#2D394F;
$wasdi-blue-logo-complementary-4:#1B2B46;



//INPOOR HERO LIGHT
@font-face {
  font-family:'Hero-Light' ;
  src:url(../fonts/hero_light/Hero_Light.eot);
  src:url(../fonts/hero_light/Hero_Light.ttf);
  src:url(../fonts/hero_light/Hero_Light.woff);
  src:url(../fonts/hero_light/Hero_Light.svg);
}

$wasdi-font-web: 'Hero-Light' ,Helvetica, sans-serif;//arial
$wasdi-font-web-small-dimension:Bell Gothic, sans-serif;
$wasdi-font-web-normal: sans-serif;
$wasdi-font-size:14px;
$wasdi-line-height: 1.42857;
$wasdi-font-weight:600;
$wasdi-font-weight-normal:400;


$img-brand-logo-write-svg:   url("../assets/wasdi/logoScritta_wasdi.png");
$img-brand-logo-svg:  url("../assets/wasdi/logoWasdi.png");
$img-brand-write-svg:  url("../assets/wasdi/scrittawasdi_white.png");

//INPUT TEXT
$wasdi-input-text-color:$wasdi-blue-logo;
$wasdi-input-text-border-color:$wasdi-blue-logo-complementary-3;
//BUTTON
$wasdi-button-default-color:#44536C;
$wasdi-button-over-color:$wasdi-green-logo;

//LOGIN COLOR
$wasdi-login-color-background:$wasdi-blue-logo;
$wasdi-login-color-background-content:#F7F7F7;
//LOGIN
$wasdi-brand-logo-login:$img-brand-logo-svg;
$wasdi-brand-logo-login-size: 20%;
$wasdi-brand-write-login:$img-brand-write-svg;
$wasdi-brand-write-login-size: 40%;

//ROOT NAV-BAR
$wasdi-nav-bar-color-background:$wasdi-blue-logo;
$wasdi-nav-bar-color-selected:$wasdi-green-logo;
$wasdi-nav-bar-color-over:$wasdi-blue-logo-complementary-4;
$wasdi-nav-bar-color-active:#2C6469;

//ROOT LOGGED USER
$wasdi-logged-user-link:$wasdi-green-logo;

//ROOT OPERATION BAR
$wasdi-operation-bar-backgroud:$wasdi-grey;
$wasdi-operation-bar-color-icon:$wasdi-blue-logo;

//ROOT SEARCH COLOR
$wasdi-searh-color:$wasdi-blue-logo;

//ROOT SUBTITLE
$wasdi-subtitle-color:$wasdi-green-logo;
//ROOT
$wasdi-brand-logo-root:$img-brand-logo-write-svg;
$wasdi-brand-logo-root-size: 100px;

//EDITOR SIDE-BAR
$wasdi-sidebar-color-title-panel:$wasdi-blue-logo;
$wasdi-title-color:$wasdi-white;
$waddi-sidebar-color-border-panel:$wasdi-blue-logo;
$wasdi-sidebar-background-color:$wasdi-grey;
$wasdi-map-height:75vh;
$wasdi-heigth-panel:320px;
$wasdi-status-bar-heigth:50px;
//WORKSPACES
$wasdi-list-of-files-border-color:$wasdi-blue-logo;
$wasdi-over-icon:$wasdi-green-logo;

//IMPORT
$wasdi-import-left-side-navbar-color-background:$wasdi-blue-logo;
$wasdi-import-table-head-background-color: $wasdi-blue-logo;
$wasdi-import-table-head-color:$wasdi-white;//text color
$wasdi-import-cell-background-color-over-button:$wasdi-green-logo;
$wasdi-import-cell-color-over-button:$wasdi-white;
$wasdi-import-preview-layer-on-table-dimension:82px;

//STATUS-BAR
$wasdi-status-bar-color:#C0C0C0;



