
.root-view {
    .flex-container {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        justify-content: flex-start;
    }
    .flex-container div {
        padding: 0 4em 0 1em;
    }
    .column {
        flex-direction: column;
    }
    .end {
        justify-content: flex-end;
    }

    // LOGGED USER
    .logged-user {
        //position: absolute;
        //top: 1px;

        .link {
            margin-top: 7px;
            i {
                float: left;
                color: $wasdi-subtitle-color;
            }
            a {
                cursor: pointer;

            }

        }
        //SPAN USER ID
        .user-span {
            margin-top: 7px;
            float: right;
        }
        //SPAN SUBTITLE
        .subtitle-span {

            @media only screen and (min-width: 320px) {
                display: none;
            }

            @media only screen and (min-width: 961px) {
                display: inherit;
                float: left;
                margin-left: 10%;
                color: $wasdi-subtitle-color;
            }
        }

        ul {
            float: right;
            list-style-type: none;
            li {
                //color: $wasdi-logged-user-link;
                float: left;
            }
            li a {
                color: $wasdi-logged-user-link;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
        }
    }




}



.table > tbody > tr > td {

    vertical-align: middle;
}

#tableProcesses.table > tbody > tr > td {
    padding: 10px;

}

//.panel,
.loadIcon,
.loading-files {
    width: 90%;
    padding: 0 15px;
    margin-top: -5px;
    $color_space: $wasdi-blue-logo;
    $dotsize: 8px;
    @import "../directives/space_invaders/space_invaders";
    #invader {
        margin-top: calc(100% / 3);
    }
}

.table,
.processes-list {
    $color_space: $wasdi-green-logo;
    $dotsize: 4px;
    @import "../directives/space_invaders/space_invaders";
    &.ng-hide {
        //.space {min-height: 100vh;}
    }
    #invader {
        width: calc(100% - 32px);
    }

}

//.processes-list #invader {margin-top:20px;}
//#tableProcesses #invader {margin-top:-20px; }

#tableProcesses.table > tbody > tr > td:first-child {
    min-width: 80px;
}

//.name-workspace effect + cursor

//.name-workspace {opacity: 1;}

.name-workspace:hover {
    //opacity:0.9;
    transform: scale(1.05);
    input {
        border-bottom-width: 3px;
    }
}

.name-workspace input,
.root-view .my-nav-bar .name-workspace .form-group input {

    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
}

.name-workspace .form-group {
    input.input-mydisable {
        color: $wasdi-white;
        border-color: $wasdi-white;
    }
    input.input-myenable {
        color: $wasdi-white;
        border-color: $wasdi-white;
    }
    display: flex;
}

.name-workspace:hover .input-myenable ~ .cursor {
    display: none;
}

.name-workspace:hover,
.name-workspace {
    transition: all 0.2s ease;
}



.name-workspace .cursor {
    display: none;
}

.name-workspace:hover .cursor {
    display: block;
}

.cursor {
    font-size: 1em;
    margin: 4px;
    color: transparent;
    animation: 1s blink step-end infinite;
    position: relative;
    //margin-left:-300px;
    /*   height:30px; */
    margin-left: -60px;
    width: 15px;;
    //@media screen and (max-width: $screen-lg) {         margin-left:-100px;        }
    //@media screen and (max-width: 1024px) {         margin-left:-10px;        }

}

#UserIcon {
    background-image: url('../assets/icons/white-user-icon2.png');
    width: 26px;
}

#UserIcon:hover {
    background-image: url('../assets/icons/green-user-icon2.png');
}

@keyframes blink {
    from,
    to {
        background-color: rgba(0, 0, 0, .0);
        background-color: transparent;
    }
    50% {
        background-color: $wasdi-white;
    }
}

@-webkit-keyframes cursor {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@-moz-keyframes cursor {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@-ms-keyframes cursor {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@-o-keyframes cursor {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@keyframes cursor {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
