.search-orbit-view
{
  //operation bar
  .operations-bar
  {
    text-align: right;
    margin-top: -45px;
    //data description
    .description{
      float:right;
      width: 13%;
      margin:15px 5px 5px 0;
    }
    //data
    .time-picker-container
    {
      float: right;
      margin-top: 10px;
      margin-bottom: 10px;
      width:12%;

      .my-input-text {
        width: 100%;
        //input{
        //  width:20%;
        //}
        .form-control {
          border-radius: 0;
          border: 2px solid $wasdi-input-text-border-color;
        }
        .input-group-addon
        {
          background-color: $wasdi-blue-logo;
          border-color: $wasdi-blue-logo;
          color:white;
        }
        .input-group-addon:hover
        {
          background-color: $wasdi-green-logo;
        }
      }

      .moment-picker .moment-picker-container {
        z-index: 1005;
      }
    }
    //search button
    .buttom-collumn
    {
      text-align: right;
      float:right;
      margin-left: 10px;
      .my-button{
        padding:10px 10px;
        margin-top: 5px;
      }

    }

  }

  .left-side-bar
  {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    /*PANEL WITH FILTERS*/
    .my-panel
    {

      //OVERRIDING
      .panel-body
      {
        padding: 0;
        //max-height: 200px;
        height: $wasdi-heigth-panel;
        overflow-y: auto;
      }
      //override bootstrap
      .panel-heading {
        border-bottom: 0;
      }

      //background-color: $wasdi-sidebar-background-color;
      .panel-default {
        border-color: $waddi-sidebar-color-border-panel;
        margin-bottom: 5px;
      }
      .panel-default > .panel-heading
      {
        background-color:$wasdi-sidebar-color-title-panel ;
        color:$wasdi-title-color;
      }


      .my-button
      {
        padding: 10px 20px;
        //position: absolute;
        //bottom: 70px;
        //right: 20px;
      }
      .well
      {
        border: 1px solid $wasdi-blue-logo;
      }


    }

    /*TABLE SEARCH ORBIT */
    .table-container
    {
      max-height: 350px;       /* Just for the demo          */
      overflow-y: auto;    /* Trigger vertical scroll    */
      overflow-x: hidden;  /* Hide the horizontal scroll */
      .table-search-orbit
      {
        .info-satellite
        {
          cursor: pointer;
          .button-info
          {
            color: $wasdi-blue-logo;
          }
          .button-info:hover
          {

            color: $wasdi-green-logo;
          }
        }
        .info-satellite:hover
        {
          color: $wasdi-green-logo;
        }

      }
      .loading-orbits
      {
        width: 50%;
        margin: 0 auto;
        text-align: center;
      }
    }

  }
  //.map-container
  //{
  //
  //}
  .map-column{
    padding-left: 0;
    padding-right: 0;
    .map-container
    {
      border: 1px solid $wasdi-blue-logo;

      //margin-bottom: 35px;
      //leaflet
      .map
      {
        //DIMENSIONS MAP
        width: auto;//500px
        height: $wasdi-map-height;

        ///* (1366x768) WXGA Display */
        @media  screen and (max-width: 1366px)and (max-height: 768px) {
          width:auto;
          height: $wasdi-map-height-max-width-1366-max-height-768;
        }

        //height: auto;
      }

    }
  }
}