.status-bar {
    //height: 4.5%;
    //min-height: 4.5%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    background-color: $wasdi-nav-bar-color-background;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    color: $wasdi-white;
    padding: 2px;
    height: $size-status-bar-height-closed;

    &.open{
        height: $size-status-bar-height-opened;
    }

    .row {
        margin-right: 5px;
    }
    .number-processes {
        margin-top: 10px;
        //position: absolute;
        right: 0;
    }
    .processes-list {
        //margin-top:10px;
        //overflow-y: auto;
        //height: 400px;
        //min-height: 40px;

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: $wasdi-blue-logo;
        }

        //If the name it's too long cut it!
        .table td.text {
            max-width: 350px;
            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                max-width: 100%;
            }
        }
        .single-process {
            display: inline-grid;
        }
        .progress-single-process {
            //  float: right;
            //  width:10%;
            //  background-color:$wasdi-white ;
            //  .progress-bar{}
            width: 15%;
            padding: 0 0 0 0;
            background: $wasdi-white;

        }
    }
    .my-button {
        color: white;
        color: white;
        padding: 0;
        margin: 0;
        //padding: 3px;
        line-height: 0;

    }
    .my-button:hover {
        color: $wasdi-button-over-color;
        background-color: transparent;
    }

    .openbtn {
        margin-top: 10px;
        //position: absolute;
        //top: 0;
        //right: 20px;
        //position: absolute;
        //left:50%;
        ////bottom:70%;
        //top:-10px;
        //background-color: black;
        //z-index: 5000;
        //font-size: 20px;
        //margin-left: 50px;
        //color: $wasdi-white;
    }
}