@mixin removeOutlineFor($elem) {
    #{$elem}:focus, #{$elem}.focus, #{$elem}:active:focus, #{$elem}:active.focus, #{$elem}.active:focus, #{$elem}.active.focus {
        outline: 0px !important;
    }
}

@mixin svg-icon($url,$size) {

    background: url($url);
    background-size: $size;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin leaflet-toolbar-svg-icon($url,$size,$color) {
    background: url($url) !important;
    background-color: $color !important;
    background-size: $size !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    cursor: pointer !important;
}

@mixin utilities-modal-style($width) {
    width: $width;
    .modal-content {
        .modal-header {
            color: $wasdi-white;
            background-color: $wasdi-blue-logo;
            .close {
                color: $wasdi-white;
                opacity: 1;
            }
        }

        .modal-body {
            /*css used in operation dialog*/
            //overflow-y: auto;
            //max-height:$wasdi-max-heigth-body;
            overflow-x: auto;
            max-height: 70vh;

            //FIX FIREFOX
            input[type=text] {
                padding: 6px 12px;
            }

            form {
                fieldset {
                    border: 2px solid $wasdi-blue-logo;
                    padding: 20px 20px;

                    legend {
                        width: auto;
                        border-bottom: 0;
                    }
                    .my-input-text {
                        input[type=text] {
                            background-color: $wasdi-grey;
                        }
                        .input-group {
                            .input-group-btn {
                                .btn-default {
                                    color: $wasdi-blue-logo;
                                    background-color: $wasdi-grey;
                                    border-color: $wasdi-blue-logo;
                                    width: 100%
                                }
                                .productsDropDown {
                                    width: 100%
                                }
                            }
                        }
                    }
                    .inline {
                        float: left;
                    }
                    .inline-right {
                        float: right;
                    }

                    .btn-block {
                        display: block;
                        width: 50%;

                    }
                    .btn-default {
                        color: #333;
                        background-color: #fff;
                        border-color: $wasdi-blue-logo;
                    }
                    .dropdown {
                        margin-left: 10px;
                    }
                }
            }
        }

        .modal-footer {
            border-top: 1px solid $wasdi-blue-logo;
            .my-button {
                padding: 10px 21px;
            }
        }
    }
}

//@mixin mq($width, $type: min) {
//  @if map_has_key($breakpoints, $width) {
//    $width: map_get($breakpoints, $width);
//    @if $type == max {
//      $width: $width - 1px;
//    }
//    @media only screen and (#{$type}-width: $width) {
//      @content;
//    }
//  }
//}

@mixin heighLowerEqualsThan($height) {
    @media only screen and (max-width: $height) {
        @content;
    }
}

