.workspaces-view
{
  //GLOBE
  .globe-style
  {
    width: auto;//500px
    height: $wasdi-heigth-globe-workspaces;//500px
    border: 2px solid black;
  }
  //TITLE
  .my-title
  {
    text-align: center;
    font-family: $wasdi-font-web;
  }

  // UTILS BAR
  /*
   *  search plus buttons
  */
  .utils-bar
  {
    margin-top: 20px;
    margin-bottom: 20px;

    .my-input-text
    {
      width: 30%;
      float: left;
      margin-right: 20px;
    }
  }

  //TABLE WORKSPACES
  //.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  //  background-color: #44536C;
  //  color: white;
  //}
  .workspace-list
  {
    height: $wasdi-heigth-panel;
    .table-workspaces{
      height: $wasdi-max-height-workspaces;
      thead
      {
        th{
          background-color: #44536C;
          color: white;
        }
      }

      .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #44536C;
        color: white;
        cursor:pointer;
      }
      // COLOR OVER A TD
      .over-color:hover
      {
        cursor:pointer;
        i:hover {

          //background-color:white;
          color:$wasdi-over-icon;
        }
      }
      .selected-row
      {
        background-color: #44536C;
        color: white;
      }
    }
  }
  // LIST OF FILES IN WORKSPACES
  .fieldset-list-files{
    //overflow-y: auto;
    //overflow-x: hidden;
    //height: $wasdi-max-height-workspaces;
    .list-files
    {
      height: $wasdi-max-height-workspaces;
      overflow-y: auto;
      overflow-x: hidden;

      .loading-files
      {
        width: 50%;
        margin: 0 auto;
        text-align: center;
      }

      .panel-default
      {
        border-color: $wasdi-list-of-files-border-color;
        border-width: 2px;
        .panel-heading
        {
          //font-size:
          .panel-title
          {
            /*color icon*/
            font-size: 14px;
            i
            {
              color:$wasdi-blue-logo;
            }
            //no underline
            a, u {
              text-decoration: none;
            }
          }
        }

        .list-group-item
        {
          border-color: $wasdi-list-of-files-border-color;
        }




      }

    }
  }


  //Graphic trick
  form
  {
    fieldset
    {
      border:2px solid $wasdi-blue-logo;
      padding: 20px 20px;
    }
    legend
    {
      width: auto;
      border-bottom: 0;
    }
  }
}