@import url(../fonts/hero_light/stylesheet.css);
/************** MAIN COLOR **************/
/*COMPLEMENTARY $wasdi-blue-logo
  white
  848E9F
  5F6C82
  2D394F
  1B2B46
  black
*/
@import url(../fonts/hero_light/stylesheet.css);
@font-face {
  font-family: "Hero-Light";
  src: url(../fonts/hero_light/Hero_Light.eot);
  src: url(../fonts/hero_light/Hero_Light.ttf);
  src: url(../fonts/hero_light/Hero_Light.woff);
  src: url(../fonts/hero_light/Hero_Light.svg); }
.login-view {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 50vh;
  width: 100vw;
  background-color: #43516A;
  position: relative; }
  .login-view .logo-link {
    cursor: pointer; }
    .login-view .logo-link .logo {
      content: url("../assets/wasdi/logoWasdi.png");
      width: 20%;
      margin-top: -20px;
      height: auto;
      min-height: 50px;
      min-width: 50px;
      position: absolute;
      top: 135%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .login-view .logo-link .write-logo {
      content: url("../assets/wasdi/scrittawasdi_white.png");
      width: 40%;
      margin-top: -20px;
      height: auto;
      min-height: 50px;
      min-width: 250px;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .login-view .logo-link .write {
      position: absolute;
      top: 175%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #43516A; }
  .login-view .login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    max-width: 350px;
    padding: 40px 40px;
    background-color: #F7F7F7; }
    .login-view .login-content input[type=email][type=password] {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      z-index: 1;
      position: relative;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .login-view .login-content .form-control {
      height: 45px; }
    .login-view .login-content .btn-primary:hover, .login-view .login-content .btn-primary:focus, .login-view .login-content .btn-primary:active, .login-view .login-content .btn-primary.active, .login-view .login-content .open > .dropdown-toggle.btn-primary {
      color: #fff;
      background-color: #43516A;
      border-color: #285e8e; }

/************** MAIN COLOR **************/
/*COMPLEMENTARY $wasdi-blue-logo
  white
  848E9F
  5F6C82
  2D394F
  1B2B46
  black
*/
@font-face {
  font-family: "Hero-Light";
  src: url(../fonts/hero_light/Hero_Light.eot);
  src: url(../fonts/hero_light/Hero_Light.ttf);
  src: url(../fonts/hero_light/Hero_Light.woff);
  src: url(../fonts/hero_light/Hero_Light.svg); }
.root-view {
  overflow-y: scroll; }
  .root-view .logged-user .link {
    margin-top: 7px; }
    .root-view .logged-user .link i {
      float: left;
      color: #009036; }
    .root-view .logged-user .link a {
      cursor: pointer; }
  .root-view .logged-user .user-span {
    margin-top: 7px;
    float: right; }
  @media only screen and (min-width: 320px) {
    .root-view .logged-user .subtitle-span {
      display: none; } }
  @media only screen and (min-width: 961px) {
    .root-view .logged-user .subtitle-span {
      display: inherit;
      float: left;
      margin-left: 10%;
      color: #009036; } }
  .root-view .logged-user ul {
    float: right;
    list-style-type: none; }
    .root-view .logged-user ul li {
      float: left; }
    .root-view .logged-user ul li a {
      color: #009036;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
  .root-view .brand-logo {
    content: url("../assets/wasdi/logoScritta_wasdi.png");
    width: 100px;
    margin-top: -20px;
    height: auto;
    min-height: 50px;
    min-width: 50px; }
  .root-view .my-nav-bar {
    height: 60px; }
    .root-view .my-nav-bar .navbar-default {
      background-color: #43516A; }
    .root-view .my-nav-bar .navbar-default .navbar-nav > li > a {
      color: white; }
    .root-view .my-nav-bar .navbar-default .navbar-nav > .active {
      color: white;
      background: #2C6469; }
    .root-view .my-nav-bar .navbar-default .navbar-nav > .active > a,
    .root-view .my-nav-bar .navbar-default .navbar-nav > .active > a:hover,
    .root-view .my-nav-bar .navbar-default .navbar-nav > .active > a:focus {
      color: white;
      background: #2C6469; }
    .root-view .my-nav-bar .navbar-default .navbar-toggle .icon-bar {
      background-color: white; }
    .root-view .my-nav-bar .navbar-default .navbar-nav > li > a:hover, .root-view .my-nav-bar .navbar-default .navbar-nav > li > a:focus {
      background-color: #2C6469;
      color: white; }

.editor-view {
  margin-top: 5px;
  padding-left: 0;
  padding-right: 0; }
  .editor-view .sidebar {
    height: 100vh;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    position: relative;
    bottom: 0;
    left: 0; }
    .editor-view .sidebar .panel-default {
      border-color: #43516A; }
    .editor-view .sidebar .panel-default > .panel-heading {
      background-color: #43516A;
      color: white; }
    .editor-view .sidebar .my-button {
      color: white;
      padding: 0;
      margin: 0; }
    .editor-view .sidebar .my-button:hover {
      color: #009036;
      background-color: transparent; }
  .editor-view .map-container {
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #43516A; }
    .editor-view .map-container .map {
      width: auto;
      height: 650px; }
  .editor-view .small-map-container .map {
    width: auto;
    height: 200px; }
  .editor-view .operations-bar {
    text-align: right;
    margin-top: -45px; }
    .editor-view .operations-bar ul {
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      background-color: #f5f5f5; }
    .editor-view .operations-bar li {
      float: right; }
    .editor-view .operations-bar li a {
      display: block;
      color: #43516A;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
    .editor-view .operations-bar li a:hover:not(.active) {
      background-color: #1B2B46;
      color: white; }
    .editor-view .operations-bar .active {
      background-color: #009036; }
  .editor-view .status-bar {
    position: fixed;
    bottom: 0;
    padding: 0;
    height: 31px;
    z-index: 1000;
    background-color: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    color: black;
    vertical-align: center;
    line-height: 31px; }
    .editor-view .status-bar span {
      display: block;
      width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

.workspaces-view {
  /*
   *  search plus buttons
  */ }
  .workspaces-view .my-title {
    text-align: center; }
  .workspaces-view .utils-bar {
    margin-top: 20px;
    margin-bottom: 20px; }
    .workspaces-view .utils-bar .my-input-text {
      width: 30%;
      float: left;
      margin-right: 20px; }
  .workspaces-view .list-files .panel-default {
    border-color: #43516A; }
  .workspaces-view .over-color {
    cursor: pointer; }
    .workspaces-view .over-color i:hover {
      background-color: white;
      color: #009036; }

.import-view {
  margin-top: 5px;
  padding: 0; }
  .import-view .map-container .map {
    width: auto;
    height: 700px; }
  .import-view .sidenav-animated .sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    border-right: 1px solid #43516A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: black; }
  .import-view .sidenav-animated .sidenav-container {
    margin: 20px; }
  .import-view .sidenav-animated .search-button {
    padding: 5px;
    float: left;
    position: relative;
    background-color: #797F9E;
    background-image: linear-gradient(#373B50, #373B50);
    width: 40px;
    height: 32px;
    display: block;
    color: #fff;
    float: right;
    fill: currentColor;
    position: relative;
    cursor: pointer;
    z-index: 5;
    background-color: #797F9E;
    background-image: -webkit-linear-gradient(#4d90fe, #4787ed);
    background-image: linear-gradient(#373B50, #373B50); }
    .import-view .sidenav-animated .search-button #advanced-search-container {
      position: fixed;
      background-color: white;
      width: 728px;
      height: 700px;
      z-index: 999;
      top: 150px;
      left: calc(-728px - 20px);
      box-shadow: 3px 5px 19px 0 rgba(49, 50, 50, 0.62);
      padding: 8px; }
    .import-view .sidenav-animated .search-button #advanced-search-close-button {
      position: absolute;
      top: 10px;
      right: 10px; }
    .import-view .sidenav-animated .search-button #advanced-search-content {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: white;
      overflow-y: auto;
      overflow-x: hidden; }
    .import-view .sidenav-animated .search-button .advanced-search-collapse-title {
      margin-left: 5px;
      font-size: 14px; }
    .import-view .sidenav-animated .search-button .advanced-search-clear {
      margin-right: 10px;
      font-size: 14px;
      float: right;
      font-weight: normal !important; }
    .import-view .sidenav-animated .search-button .advanced-search-clear:hover {
      text-decoration: underline; }
    .import-view .sidenav-animated .search-button .advanced-search-heading {
      padding: 5px 10px !important; }
    .import-view .sidenav-animated .search-button .advanced-search-panel-title {
      margin-top: -5px !important;
      cursor: default !important; }
    .import-view .sidenav-animated .search-button .panel-heading .accordion-toggle:before {
      font-family: 'Glyphicons Halflings';
      content: '\e113';
      float: left;
      color: grey; }
    .import-view .sidenav-animated .search-button .panel-heading .accordion-toggle.collapsed:before {
      content: "\e114"; }
    .import-view .sidenav-animated .search-button .avanced-search-subtitle {
      margin-top: 10px; }
    .import-view .sidenav-animated .search-button .collapse {
      position: inherit; }
    .import-view .sidenav-animated .search-button #section_0 {
      overflow-y: hidden !important; }
    .import-view .sidenav-animated .search-button #advanced-search-content .dropdown-menu {
      position: fixed !important;
      visibility: hidden; }
    .import-view .sidenav-animated .search-button .advanced-panel {
      margin-bottom: 8px !important; }
    .import-view .sidenav-animated .search-button .advanced-calendar-button {
      border: none;
      top: 5px; }
    .import-view .sidenav-animated .search-button .advanced-calendar-label {
      top: 10px; }
    .import-view .sidenav-animated .search-button .advanced-calendar-date-input {
      padding: 0px;
      text-align: center; }
    .import-view .sidenav-animated .search-button .advanced-calendar-date-input {
      font-size: 11px; }
    .import-view .sidenav-animated .search-button .coll-product-container {
      background-color: white;
      /*min-width: 40%;*/
      width: 100%;
      height: 400px; }
    .import-view .sidenav-animated .search-button .coll-product-footer {
      font-size: 14px; }
    @media screen and (min-width: 993px) and (max-width: 1200px) {
      .import-view .sidenav-animated .search-button {
        /*.list-container {
          min-width: 50%  !important;
        }*/ }
        .import-view .sidenav-animated .search-button .coll-product-footer {
          font-size: 14px; } }
    @media screen and (min-width: 769px) and (max-width: 992px) {
      .import-view .sidenav-animated .search-button {
        /*.list-container {
          min-width: 100% !important;
        }*/ }
        .import-view .sidenav-animated .search-button .coll-product-footer {
          font-size: 13px; } }
    @media screen and (max-width: 768px) {
      .import-view .sidenav-animated .search-button {
        /*.list-container {
          min-width: 100% !important;
        }*/ }
        .import-view .sidenav-animated .search-button .coll-product-footer {
          font-size: 13px; } }
    .import-view .sidenav-animated .search-button .coll-product-list-container {
      padding: 0px 0px 0px 0px;
      position: relative;
      height: 100%;
      width: 100%; }
    .import-view .sidenav-animated .search-button .coll-product-list {
      position: relative;
      height: calc(100% - 85px);
      width: 100%;
      background-color: white;
      overflow-y: auto;
      overflow-x: auto; }
    .import-view .sidenav-animated .search-button .coll-product-toolbar {
      position: relative;
      width: 100%;
      background-color: white;
      padding: 10px;
      background-color: #FAFAFA;
      height: 50px; }
    .import-view .sidenav-animated .search-button .coll-product-header {
      position: relative;
      height: 35px;
      background-color: white;
      top: 0px;
      background-color: #FAFAFA; }
    .import-view .sidenav-animated .search-button .disabled-button {
      opacity: 0.4;
      cursor: default; }
    .import-view .sidenav-animated .search-button .select-page-button {
      cursor: pointer; }
    .import-view .sidenav-animated .search-button .page-selector-input {
      width: 40px !important;
      cursor: pointer;
      margin: 0px;
      padding: 7px;
      height: 30px;
      border: 1px solid #9A9A9A !important;
      display: inline; }
    .import-view .sidenav-animated .search-button .pagination-button {
      margin-right: 2.5px;
      margin-left: 2.5px;
      display: inline; }
    .import-view .sidenav-animated .search-button .coll-product-list-checkbox {
      width: 30px; }
    .import-view .sidenav-animated .search-button .coll-product {
      display: inline-flex;
      font-size: 12px;
      font-family: Roboto;
      height: 25px;
      line-height: 20px; }
    .import-view .sidenav-animated .search-button .coll-product:hover {
      background: #dedede; }
    .import-view .sidenav-animated .search-button .coll-products-left {
      float: left;
      display: inline-flex;
      padding-left: 0px; }
    .import-view .sidenav-animated .search-button .coll-products-right {
      float: right;
      display: inline-flex; }
    .import-view .sidenav-animated .search-button .filter-label {
      font-weight: normal !important; }
    .import-view .sidenav-animated .search-button .filter-highlight {
      top: 50% !important; }
    .import-view .sidenav-animated .search-button .filter-checkbox-label {
      font-weight: bold !important; }
    .import-view .sidenav-animated .search-button .filter-bar:before, .import-view .sidenav-animated .search-button .filter-bar:after {
      height: 1px !important;
      color: black !important;
      background: black !important; }
    .import-view .sidenav-animated .search-button .filter-checkbox {
      margin-bottom: 25px !important; }
    .import-view .sidenav-animated .search-button .filter-input:invalid {
      color: red; }
    .import-view .sidenav-animated .search-button input::-webkit-calendar-picker-indicator {
      display: none; }
    .import-view .sidenav-animated .search-button #adv-options label {
      font-weight: normal;
      pointer-events: none;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all; }
    .import-view .sidenav-animated .search-button .adv-selectfield label {
      display: none; }
    .import-view .sidenav-animated .search-button .adv-selectfield {
      font-family: 'Roboto','Helvetica','Arial',sans-serif;
      position: relative; }
    .import-view .sidenav-animated .search-button .adv-selectfield::after {
      position: absolute;
      top: -1em;
      right: 0.5em;
      /* Styling the down arrow */
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: .25em solid transparent;
      border-right: .25em solid transparent;
      border-top: 0.375em solid black;
      pointer-events: none;
      color: black; }
    .import-view .sidenav-animated .search-button .adv-selectfield datalist {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;
      width: 100%; }
    .import-view .sidenav-animated .search-button .adv-selectfield datalist::-ms-expand {
      display: none; }
    .import-view .sidenav-animated .search-button .adv-select-label {
      top: -20px;
      color: #373b50;
      font-size: 13px; }
    .import-view .sidenav-animated .search-button #adv-options .group {
      position: relative;
      margin-bottom: 15px; }
  .import-view .sidenav-animated .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px; }
  .import-view .sidenav-animated i {
    color: #43516A;
    cursor: pointer; }
  @media screen and (max-height: 450px) {
    .import-view .sidenav-animated .sidenav {
      padding-top: 15px; }
    .import-view .sidenav-animated .sidenav a {
      font-size: 18px; } }
  .import-view .fixed {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 0;
    background: #43516A;
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
    z-index: 1000; }

.jstree {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 50%;
  min-height: 30%; }

body {
  margin: 0px;
  font-family: "Hero-Light", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 600; }

html, body, #map {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px; }

html, body, #cesiumContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

h1 {
  font-family: "Hero-Light", Helvetica, sans-serif;
  font-weight: 600; }

h2 {
  font-family: "Hero-Light", Helvetica, sans-serif;
  font-weight: 600; }

h3 {
  font-family: "Hero-Light", Helvetica, sans-serif;
  font-weight: 600; }

h4 {
  font-family: "Hero-Light", Helvetica, sans-serif;
  font-weight: 600; }

.my-title {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -1px;
  color: #444; }

.my-input-text input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: white;
  border-color: #2D394F; }
.my-input-text ::-webkit-input-placeholder {
  color: #43516A; }
.my-input-text :-moz-placeholder {
  /* Firefox 18- */
  color: #43516A; }
.my-input-text ::-moz-placeholder {
  /* Firefox 19+ */
  color: #43516A; }
.my-input-text :-ms-input-placeholder {
  color: #43516A; }

.my-button {
  background-color: #44536C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; }

.my-button:hover {
  background-color: #009036;
  color: white; }

/*# sourceMappingURL=style.css.map */
