//bootstrap
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


@import "login";
@import "main_theme";
@import "root";
@import "editor";
@import "workspaces";
@import "import";
@import "search_orbit";
@import "catalog";


//directive css
@import "../directives/tree_directive/tree";
//$color_space: $wasdi-white;
//@import "../directives/space_invaders/space_invaders";
//@import "../directives/space_invaders_fixed/space_invaders_fixed";
@import "../directives/multiselect/multiselect";
//@import "../directives/space_invaders_fixed_small_version/space_invaders_fixed_small_version";
@import "../directives/multiselect_dropdown_menu/multiselect_dropdown_menu";
@import "../directives/DrawSquares/squares";
@import "../css/_dialog";


//DIALOGS
@import "../dialogs/orbit_info/orbit_info";
@import "../dialogs/product_info/product_info";
@import "../dialogs/get_capabilities_dialog/get_capabilities_dialog";
@import "../dialogs/merge_products_dialog/merge_products_dialog";
@import "../dialogs/apply_orbit_operation/apply_orbit";
@import "../dialogs/radiometric_calibration_operation/radiometric_calibration";
@import "../dialogs/multilooking_operation/multilooking";
@import "../dialogs/range_doppler_terrain_correction_operation/range_doppler_terrain_correction";
@import "../dialogs/product_editor_info/product_editor_info";
@import "../dialogs/NDVI_operation/ndvi";
@import "../dialogs/attributes_metadata_info/attributes_metadata";
@import "../dialogs/sftp_upload/sftp_upload";
@import "../dialogs/delete_process/delete_process";
@import "../dialogs/snake_dialog/snake_dialog";
@import "../dialogs/processes_logs/processes_logs";
@import "../dialogs/workflow_operation/workflow";
@import "../dialogs/add_product_catalog/add_product_catalog";
@import "../dialogs/get_info_product_catalog/get_info_product_catalog";
@import "../dialogs/downloadProductInWorkspace/downloadProductInWorkspace";
@import "../dialogs/filter_band_operation/filter_band";

body
{
  font-family: $wasdi-font-web;
  font-size: $wasdi-font-size;
  line-height: $wasdi-line-height;
  font-weight: $wasdi-font-weight;
  height: 100vh;
  height: 100%;
  width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

//LEAFLET MAP 100% "SCREEN"
html, body, #wasdiMap {
  //height:100%;
  //width:100%;
  //height: 100vh;
  //width: 100vw;
  padding:0px;
  margin:0px;

}
////CESIUM GLOBE 100% "SCREEN"
html, body, #cesiumContainer {
  //width: 100%;
  //height: 100%;
  margin: 0;
  padding: 0;
  //height: 100vh;
  //width: 100vw;
}

h1
{
  font-family: $wasdi-font-web;
  font-weight: $wasdi-font-weight;
}
h2
{
  font-family: $wasdi-font-web;
  font-weight: $wasdi-font-weight;
}
h3
{
  font-family: $wasdi-font-web;
  font-weight: $wasdi-font-weight;
}
h4
{
  font-family: $wasdi-font-web;
  font-weight: $wasdi-font-weight;
}

//HEADLINE - TITLE
.my-title
{
  //font-family: times, Times New Roman, times-roman, georgia, serif;
  //color: #444;
  //margin: 0;
  //padding: 0px 0px 6px 0px;
  //font-size: 51px;
  //line-height: 44px;
  //letter-spacing: -2px;
  //font-weight: bold;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -1px;
  color: #444;
}

//INPUT TEXT
.my-input-text{
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    background-color: $wasdi-white;
    border-color:$wasdi-input-text-border-color ;

  }
  // FIX COLOR INSIDE PLACEHOLDER
  ::-webkit-input-placeholder {
    color: $wasdi-input-text-color;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $wasdi-input-text-color
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $wasdi-input-text-color;
  }

  :-ms-input-placeholder {
    color: $wasdi-input-text-color;
  }

}



.my-loading
{
  //put the icon in the middle
  color:$wasdi-blue-logo;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.my-table
{
  thead
  {
    th{
      background-color: #44536C;
      color: white;
    }
  }
  tr,th{}
  tbody{}
}
// BUTTON
.my-button {
  background-color: $wasdi-button-default-color;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.my-button:hover {
  background-color: $wasdi-button-over-color;
  color: white;
}
.my-button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
// ICON OVER
.over-icon
{
  cursor:pointer;
  i:hover {

    //background-color:white;
    color:$wasdi-over-icon;

  }
}
// nav spaces
.nav>li>a {padding:13px 10px;}

// css calendar
.input-calendar-container
{
  table
  {
    tr,th
    {
      color:$wasdi-blue-logo;
    }

    thead
    {
      color:$wasdi-blue-logo;
    }

    strong
    {
      color:$wasdi-blue-logo;
    }

    i
    {
      color:$wasdi-blue-logo;
    }

    .btn-default {
      border-color: $wasdi-blue-logo;
    }
  }

  .btn-info
  {
    background-color: $wasdi-blue-logo;
    border-color: $wasdi-blue-logo;
    opacity: 0.9;
  }
  .btn-info:hover
  {
    background-color: $wasdi-blue-logo;
    border-color: $wasdi-blue-logo;
    opacity: 1;
  }
  .btn-success {
    background-color: $wasdi-green-logo;
    border-color: $wasdi-green-logo;
    opacity: 0.9;
  }
  .btn-success:hover {
    background-color: $wasdi-green-logo;
    border-color: $wasdi-green-logo;
    opacity: 1;

  }
  .btn-info
  {
    .text-info
    {
      color:white;
    }
  }

}
//modal css default (bootstrap)
.modal-dialog
{
  width:50%;
  .modal-content
  {
    .modal-header
    {
      color:$wasdi-white;
      background-color: $wasdi-blue-logo;
      .close
      {
        color: $wasdi-white;
        opacity: 1;
      }
    }

    .modal-body
    {
      /*css used in operation dialog*/
      //overflow-y: auto;
      //max-height:$wasdi-max-heigth-body;
      overflow-x: auto;

      //FIX FIREFOX
      input[type=text]
      {
        padding: 6px 12px;
      }

      form
      {
        fieldset
        {
          border:2px solid $wasdi-blue-logo;
          padding: 20px 20px;



          legend
          {
            width: auto;
            border-bottom: 0;
          }
          .my-input-text
          {
            input[type=text]
            {
              background-color: $wasdi-grey;
            }
            .input-group
            {
              .input-group-btn
              {
                .btn-default {
                  color: $wasdi-blue-logo;
                  background-color: $wasdi-grey;
                  border-color: $wasdi-blue-logo;
                  width:100%
                }
                .productsDropDown
                {
                  width:100%
                }
              }
            }
          }
          .inline
          {
            float: left;
          }
          .inline-right
          {
            float: right;
          }

          .btn-block {
            display: block;
            width: 50%;

          }
          .btn-default {
            color: #333;
            background-color: #fff;
            border-color: $wasdi-blue-logo;
          }
          .dropdown
          {
            margin-left:10px;
          }
        }
      }
    }

    .modal-footer
    {
      border-top:1px solid $wasdi-blue-logo;
      .my-button
      {
        padding: 10px 21px;
      }
    }
  }
}


//ANIMATE HIDE
.animate-hide {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  //line-height:20px;
  //opacity:1;
  //padding:10px;
  //border:1px solid black;
  //background:white;
  position: absolute;
  right: 15px;
}

.animate-hide.ng-hide {
  right: 0;
  opacity:0;
  padding:0 10px;
}
.test:hover
{
  fill:white;
}

//CROP TEXT TOO LONG
.ellipsis {
  display: inline-grid;
  max-width: 500px;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}


/*CONTEXT MENU JSTREE ICONS */

.radar-icon-context-menu-jstree
{
  content: $wasdi-radar-icon-black-version;
  width: $wasdi-size-icon-context-menu-jstree ;
  height: auto ;
}
.optical-icon-context-menu-jstree
{
  content: $wasdi-eye-icon-black-version;
  width: $wasdi-size-icon-context-menu-jstree ;
  height: auto ;
}
.delete-icon-context-menu-jstree
{
  content: $wasdi-garbage-icon-black-version;
  width: $wasdi-size-icon-context-menu-jstree ;
  height: auto ;
}
.info-icon-context-menu-jstree
{
  content: $wasdi-info-icon-black-version;
  width: $wasdi-size-icon-context-menu-jstree ;
  height: auto ;
}

//CONTEXT MENU JS TREE (override)
.vakata-context li>a>i:empty{
  width: 1.8em !important;
}
.vakata-context li>a>i {

  width: 1.8em !important;
  height: 2.4em;
}

/*JSTREE WAIT ICON */
//.jstree-default a.jstree-loading .jstree-icon {
//  background:url("image") center center no-repeat !important;
//}

//DRAG AND DROP CSS
.drag-and-drop
{
  .button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
  }
  .drop-box {
    background: #F8F8F8;
    border: 5px dashed $wasdi-blue-logo;
    width: 90%;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
  }
  .drop-box:hover{
    background: #F8F8F8;
    border: 5px dashed $wasdi-green-logo;
  }
  .dragover {
    border: 5px dashed blue;
  }
}

//FA FA ICONS
.fa-2_5x{
font-size: 2.5em !important;
}

