//bootstrap
@import "/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "../css/_dialog";
@import "caret";

body {
  margin: 0px;
  padding: 0px;
  height: 99%;
  background:#444;

}
