<div class="modal fade orbit-info-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">Satellite: {{m_oController.m_oOrbit.SatelliteName}}</h4>
            </div>
            <div class="modal-body">
                <div class="orbit-info-table">
                    <h4>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Property</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr>
                                <td>Acquisition start time:</td>
                                <td>{{m_oController.m_oOrbit.AcquisitionStartTime |date:'medium'}}</td>
                            </tr>
                            <tr>
                                <td>Acquisition end time:</td>
                                <td>{{m_oController.m_oOrbit.AcquisitionEndTime |date:'medium'}}</td>
                            </tr>
                            <tr>
                                <td>Angle:</td>
                                <td>{{m_oController.m_oOrbit.Angle}}</td>
                            </tr>
                            <tr>
                                <td>Coverage:</td>
                                <td>{{m_oController.m_oOrbit.Coverage}}</td>
                            </tr>
                            <tr>
                                <td>Coverage length:</td>
                                <td>{{m_oController.m_oOrbit.CoverageLength}}</td>
                            </tr>
                            <tr>
                                <td>Coverage width:</td>
                                <td>{{m_oController.m_oOrbit.CoverageWidth}}</td>
                            </tr>
                            <tr>
                                <td>Covered area:</td>
                                <td>{{m_oController.m_oOrbit.CoveredArea}}</td>
                            </tr>
                            <tr>
                                <td>Covered area name:</td>
                                <td>{{m_oController.m_oOrbit.CoveredAreaName}}</td>
                            </tr>
                            <tr>
                                <td>Frame foot print:</td>
                                <td>{{m_oController.m_oOrbit.FrameFootPrint}}</td>
                            </tr>
                            <tr>
                                <td>Frame foot print geometry:</td>
                                <td>{{m_oController.m_oOrbit.FrameFootPrintGeometry}}</td>
                            </tr>
                            <tr>
                                <td>Id trigger type:</td>
                                <td>{{m_oController.m_oOrbit.IdTriggerType}}</td>
                            </tr>
                            <tr>
                                <td>Is ascending:</td>
                                <td>{{m_oController.m_oOrbit.IsAscending}}</td>
                            </tr>
                            <tr>
                                <td>Satellite name:</td>
                                <td>{{m_oController.m_oOrbit.SatelliteName}}</td>
                            </tr>
                            <tr>
                                <td>Sensor look direction:</td>
                                <td>{{m_oController.m_oOrbit.SensorLookDirection}}</td>
                            </tr>
                            <tr>
                                <td>Sensor mode:</td>
                                <td>{{m_oController.m_oOrbit.SensorMode}}</td>
                            </tr>
                            <tr>
                                <td>Sensor name:</td>
                                <td>{{m_oController.m_oOrbit.SensorName}}</td>
                            </tr>
                            <tr>
                                <td>Sensor type:</td>
                                <td>{{m_oController.m_oOrbit.SensorType}}</td>
                            </tr>
                            <tr>
                                <td>Swath name:</td>
                                <td>{{m_oController.m_oOrbit.SwathName}}</td>
                            </tr>
                            </tbody>

                            <tfoot></tfoot>
                        </table>
                        <!--<div>Acquisition start time: {{m_oController.m_oOrbit.AcquisitionStartTime |date:'medium'}}</div>-->
                        <!--<div>Acquisition end time: {{m_oController.m_oOrbit.AcquisitionEndTime |date:'medium'}}</div>-->
                        <!--<div>Angle: {{m_oController.m_oOrbit.Angle}}</div>-->
                        <!--<div>Coverage: {{m_oController.m_oOrbit.Coverage}}</div>-->
                        <!--<div>Coverage length: {{m_oController.m_oOrbit.CoverageLength}}</div>-->
                        <!--<div>Coverage width: {{m_oController.m_oOrbit.CoverageWidth}}</div>-->
                        <!--<div>Covered area: {{m_oController.m_oOrbit.CoveredArea}}</div>-->
                        <!--<div>Covered area name: {{m_oController.m_oOrbit.CoveredAreaName}}</div>-->
                        <!--<div>Frame foot print: {{m_oController.m_oOrbit.FrameFootPrint}}</div>-->
                        <!--<div>Frame foot print geometry: {{m_oController.m_oOrbit.FrameFootPrintGeometry}}</div>-->
                        <!--<div>Id trigger type: {{m_oController.m_oOrbit.IdTriggerType}}</div>-->
                        <!--<div>Is ascending: {{m_oController.m_oOrbit.IsAscending}}</div>-->
                        <!--<div>Satellite name: {{m_oController.m_oOrbit.SatelliteName}}</div>-->
                        <!--<div>Sensor look direction: {{m_oController.m_oOrbit.SensorLookDirection}}</div>-->
                        <!--<div>Sensor mode: {{m_oController.m_oOrbit.SensorMode}}</div>-->
                        <!--<div>Sensor name: {{m_oController.m_oOrbit.SensorName}}</div>-->
                        <!--<div>Sensor type: {{m_oController.m_oOrbit.SensorType}}</div>-->
                        <!--<div>Swath name: {{m_oController.m_oOrbit.SwathName}}</div>-->
                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>