<div class="modal fade generate-automatic-operation-dialog-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{m_oController.m_sNameDialog}}</h4>
            </div>
            <div class="modal-body">
                <div class="attributes-metadata-table">
                    <h4>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <!-------------------------------------------INPUT OUTPUT PARAMETERS-------------------------------->
                            <div ng-include src="'dialogs/InputOutputParametersView.html'"></div>
                        </div>

                        <!---------------------------------------- PARAMETERS GENERATOR ---------------------------------------->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form >
                                <fieldset>

                                    <legend><h3>Parameters</h3></legend>

                                    <div class="row" ng-repeat="parameter in m_oController.m_oParameters track by $index">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <label>{{parameter.label}}</label>
                                            </div>
                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 my-input-text">
                                                <!----------------- TEXT ----------------->
                                                <input type="text" class="my-input-text" ng-if="m_oController.getTypeOfParameter(parameter) === 'text'"
                                                       ng-mdoel="parameter.defaultValue">
                                                <!----------------- CHECKBOX ----------------->

                                                <div class="checkbox"  ng-if="m_oController.getTypeOfParameter(parameter) === 'checkbox' ">
                                                    <label>
                                                        <input type="checkbox" ng-model="parameter.defaultValue">

                                                    </label>
                                                </div>
                                                <!----------------- DROPDOWN ----------------->
                                                <div class="my-dropdown" ng-if="m_oController.getTypeOfParameter(parameter) === 'dropdown'" >
                                                    <button class="btn btn-default dropdown-toggle" type="button" id="'dropdownid'+{{$index}}"
                                                            data-toggle="dropdown">
                                                        {{parameter.defaultValue}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="'dropdownid'+{{$index}}">
                                                        <li role="presentation" ng-repeat = "value in parameter.valueSet" ng-click = "parameter.defaultValue = value">
                                                            <a role="menuitem" tabindex="-1" href="">
                                                                {{value}}
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </fieldset>
                            </form>
                        </div>


                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="my-button" data-dismiss="modal">Close</button>
                <button type="button" ng-click="run()" class="my-button" data-dismiss="modal">Run</button>
            </div>
        </div>
    </div>
</div>