<div class="modal fade products-editor-info-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="close"
                    ng-click="close(false)"
                    data-dismiss="modal"
                    aria-hidden="true"
                >
                    &times;
                </button>
                <h4 class="modal-title">Product Properties</h4>
            </div>
            <div class="modal-body" style="height: 50vh">
                <h4 class="my-input-text">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label
                                        >{{"DIALOG_PRODUCT_EDITOR_INFO_DIALOG_ORIGINAL_NAME_LABEL"|translate}}</label
                                    >
                                </td>
                                <td>{{m_oController.m_oProduct.name}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <label
                                        >{{"DIALOG_PRODUCT_EDITOR_INFO_DIALOG_FRIENDLY_NAME_LABEL"|translate}}</label
                                    >
                                </td>
                                <td>
                                    <input
                                        type="text"
                                        name="name"
                                        class="form-control"
                                        ng-model="m_oController.m_oProduct.productFriendlyName"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="description">Description</label>
                                </td>
                                <td>
                                    <textarea
                                        name="description"
                                        class="form-control"
                                        rows="5"
                                        ng-model="m_oController.m_oProduct.description"
                                    ></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label
                                        >{{"DIALOG_PRODUCT_EDITOR_INFO_DIALOG_STYLE"|translate}}</label
                                    >
                                </td>
                                <td>
                                    <div
                                        ng-show="!m_oController.m_bLoadingStyle"
                                    >
                                        <wapdropdown
                                            list-of-values="m_oController.m_aoStylesMap"
                                            selected-value="m_oController.m_oStyle"
                                            enable-search-filter="true"
                                            dropdown-name="Style"
                                            ng-model="m_oController.m_oStyle"
                                        >
                                        </wapdropdown>
                                    </div>
                                    <div
                                        ng-show="m_oController.m_bLoadingStyle"
                                    >
                                        <invader></invader>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </h4>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    ng-click="close('ok')"
                    class="my-button"
                    data-dismiss="modal"
                >
                    {{"DIALOG_OK_BUTTON"|translate}}
                </button>
            </div>
        </div>
    </div>
</div>
