<div class="modal fade workflow-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{"DIALOG_WORKFLOW_TITLE"|translate}}</h4>
            </div>
            <div class="modal-body">
                <h4>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <h4 class="modal-title ">{{"DIALOG_WORKFLOW_INPUTFILE"|translate}}</h4>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 my-input-text">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown">
                                    Products
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation" ng_repeat="product in m_oController.m_aoProducts" ng-click="m_oController.m_oSelectedFile = product" ><a role="menuitem" tabindex="-1" href="">{{product.productFriendlyName}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <h4 class="modal-title ">{{"DIALOG_WORKFLOW_OUTPUTFILE"|translate}}</h4>
                        </div>

                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 my-input-text">
                            <input type="text" class="" placeholder="Output File..." ng-model="m_oController.m_sOutputFile">
                        </div>
                    </div>
                    <div class="drag-and-drop ">
                        Upload workflow xml:
                        <div ngf-drop ngf-select ng-model="m_oController.m_oFile" class="drop-box"
                             ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                             accept="text/xml"
                             ngf-pattern="'text/xml'"> Upload workflow xml here or click to upload</div>
                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    </div>
                </h4>



            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal" ng-disabled="m_oController.dataForPostWorkFlowAreWellFormed() === false ">Ok</button>
            </div>
        </div>
    </div>
</div>