<div class="well h-100 m-0 d-flex flex-column">

    <div class="row-v4">
        <div class="col-v4-auto">
            <label class="m-0">{{m_oController.getProcessorNameAsTitle()}} Parameters (JSON)</label>
        </div>
        <div class="col-v4-auto ml-auto mr-2">Payload viewer</div>
        <div class="col-v4-auto">
        <!--    <div class="btn-switch-square" ng-class="{'btn-switch&#45;&#45;on':m_oController.m_bIsJsonEditModeActive}" ng-model="m_oController.m_bIsJsonEditModeActive"
                 ng-click="m_oController.m_bIsJsonEditModeActive = !m_oController.m_bIsJsonEditModeActive">
                <div class="square" ng-class="{'btn-switch-circle&#45;&#45;on':m_oController.m_bIsJsonEditModeActive}" ng-model="m_oController.m_bIsJsonEditModeActive"
                     ng-click="m_oController.m_bIsJsonEditModeActive = m_oController.m_bIsJsonEditModeActive"></div>
            </div>-->
        </div>
    </div>
    <div class="row-v4 d-flex flex-fill mt-3 mb-3">
        <div class="col-v4">
            <!--Editor json-->
            <div class="jsonView" ng-show="m_oController.m_bIsJsonEditModeActive">
                <json child="m_oController.myJson" default-collapsed="false" type="object"></json>
            </div>
<!--            <div class="jsonContainer" ng-show="m_oController.m_bIsJsonEditModeActive">
                {{m_oController.m_asPayload}}
            </div>-->

            <textarea class="form-control h-100" rows="5" id=""
                      style="font-family:'Courier New',sans-serif;font-size: 16px;"
                      ng-model="m_oController.m_sMyJsonString"></textarea>
        </div>
    </div>

    <div class="row-v4">
        <div class="col-v4 text-right">
            <button type="button" class="my-button">
                <i class="fa fa-play mr-3" aria-hidden="true"></i>Run
            </button>
            <button type="button" class="my-button">
                <i class="fa fa-question-circle mr-3" aria-hidden="true"></i>Help

            </button>
        </div>
    </div>

</div>
