<div id="wappsDialog" class="modal fade wapps-dialog">
    <div class="modal-dialog modal-dialog-medium">
        <div class="modal-content">
            <!-- HEADER -->
            <div class=" modal-header">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <h4 class="modal-title ">
                        {{"DIALOG_TITLE_WAPPS"|translate}}
                    </h4>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            </div>
            <!-- BODY -->
            <div class="modal-body d-flex flex-column">
                <div class="row-v4">
                    <!--<div class="col-v4">
                        <ng-include src="'dialogs/wapps/app-list-item.html'"></ng-include>
                    </div>-->
                    <div class="col-v4">
                        <ng-include src="'dialogs/payload_dialog/json-editor.html'"></ng-include>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
            </div>

        </div>
    </div>
</div>
