<div class="modal fade processes-logs-modal">
    <div class="modal-dialog modal-dialog-extra-large">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title ">{{"DIALOG_PROCESSES_LOGS_TITLE"|translate}}</h4>
            </div>
            <div class="modal-body">
                <div ng-hide="m_oController.hasError == false">
                    <h4 class="m-4">No workspace selected, cannot loading data. If you refreshed the page please go to
                        Workspace section and select one.</h4>
                </div>
                <div ng-hide="m_oController.hasError == true">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <table class="table table-responsive table-striped " id="tableProcesses"
                                   aria-label="table processes">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle ng-binding" type="button"
                                                    id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
                                                {{m_oController.m_oFilter.m_sStatus}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="0" href="" class="ng-binding"
                                                       ng-click='m_oController.comboStatusClick("None")'>
                                                        None
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="0" href="" class="ng-binding"
                                                       ng-click='m_oController.comboStatusClick("CREATED")'>
                                                        CREATED
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="1" href="" class="ng-binding"
                                                       ng-click='m_oController.comboStatusClick("RUNNING")'>
                                                        RUNNING
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="2" href="" class="ng-binding"
                                                       ng-click='m_oController.comboStatusClick("WAITING")'>
                                                        WAITING
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="3" href="" class="ng-binding"
                                                       ng-click='m_oController.comboStatusClick("READY")'>
                                                        READY
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="4" href="" class="ng-binding"
                                                       ng-click='m_oController.comboStatusClick("DONE")'>
                                                        DONE
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="5" href="" class="ng-binding"
                                                       ng-click='m_oController.comboStatusClick("ERROR")'>
                                                        ERROR
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="6" href="" class="ng-binding"
                                                       ng-click='m_oController.comboStatusClick("STOPPED")'>
                                                        STOPPED
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </th>
                                    <th>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle ng-binding" type="button"
                                                    id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
                                                {{m_oController.m_oFilter.m_sType}}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="0" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("None")'>
                                                        None
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="0" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("RUNPROCESSOR")'>
                                                        RUNPROCESSOR
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="1" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("RUNIDL")'>
                                                        RUNIDL
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="2" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("RUNMATLAB")'>
                                                        RUNMATLAB
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="3" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("INGEST")'>
                                                        INGEST
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="4" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("DOWNLOAD")'>
                                                        DOWNLOAD
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="5" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("PUBLISHBAND")'>
                                                        PUBLISHBAND
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="6" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("GRAPH")'>
                                                        GRAPH
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="6" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("DEPLOYPROCESSOR")'>
                                                        DEPLOYPROCESSOR
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="6" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("DEPLOYPROCESSOR")'>
                                                        COPYTOSFTP
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="6" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("DEPLOYPROCESSOR")'>
                                                        FTPUPLOAD
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="6" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("DEPLOYPROCESSOR")'>
                                                        MOSAIC
                                                    </a>
                                                </li>
                                                <li role="presentation" class="ng-scope">
                                                    <a role="menuitem" tabindex="6" href="" class="ng-binding"
                                                       ng-click='m_oController.comboTypeClick("DEPLOYPROCESSOR")'>
                                                        MULTISUBSET
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </th>
                                    <th><input type="text" class="" ng-model="m_oController.m_oFilter.m_sName"
                                               placeholder="Name..."></th>
                                    <th scope="col"><input type="text" class=""
                                                           ng-model="m_oController.m_oFilter.m_sDate"
                                                           placeholder="Date..." ng-disabled="true"></th>
                                    <th><a ng-click="m_oController.applyFilters()" style="cursor:pointer"><span><i
                                        class="custom-icon fa fa-filter"></i>&nbsp;Apply Filters</span></a></th>
                                    <th><a ng-click="m_oController.resetFilters()" style="cursor:pointer"><span><i
                                        class="custom-icon fa fa-remove"></i>&nbsp;Reset Filters</span></a></th>
                                    <th></th>
                                    <th><a ng-href="{{m_oController.m_sHrefLogFile}}" download="download"
                                           style="cursor:pointer"><span><i class="custom-icon fa fa-download"></i> Download</span></a>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><!--style="height: 80px"-->

                            <table class="table table-responsive table-striped " id="tableProcesses"
                                   aria-label="table processes">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>{{"ROOT_TABLE_HEAD_TYPE_OF_OPERATION"|translate}}</th>
                                    <th>{{"ROOT_TABLE_HEAD_NAME"|translate}}</th>
                                    <th>{{"ROOT_TABLE_HEAD_ID_USER"|translate}}</th>
                                    <th>{{"ROOT_TABLE_HEAD_SIZE"|translate}}</th>
                                    <th>{{"ROOT_TABLE_HEAD_OPERATION_DATA"|translate}}</th>
                                    <th>{{"ROOT_TABLE_HEAD_OPERATION_START"|translate}}</th>
                                    <th>{{"ROOT_TABLE_HEAD_PROGRESS"|translate}}</th>
                                    <th>{{"ROOT_TABLE_HEAD_TIME"|translate}}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="oProcess in m_oController.m_aoProcessesLogs  | orderBy:'+' | filter: m_oController.filterTable track by $index ">
                                    <td>
                                        <invaderfixed
                                            ng-show="oProcess.status === 'RUNNING' || oProcess.status === 'WAITING' || oProcess.status === 'READY'"></invaderfixed>
                                        <span class="label label-info"
                                              ng-show="oProcess.status === 'CREATED'">Waiting</span>
                                        <span class="label label-warning"
                                              ng-show="oProcess.status === 'DONE'">Log</span>
                                        <span class="label label-danger"
                                              ng-show="oProcess.status === 'STOPPED'">Stopped</span>
                                        <span class="label label-danger"
                                              ng-show="oProcess.status === 'ERROR'">Error</span>
                                    </td>
                                    <td>
                                        {{m_oController.getOperationDescription(oProcess)}}
                                    </td>
                                    <td class="text" data-toggle="tooltip" title="{{oProcess.productName}}"
                                        data-placement="bottom">
                                        <span class="ellipsis">{{oProcess.productName}}</span>
                                    </td>
                                    <td>
                                        {{oProcess.userId}}
                                    </td>
                                    <td>
                                        {{oProcess.fileSize}}
                                    </td>
                                    <td>
                                        {{oProcess.operationDate}}
                                    </td>
                                    <td>
                                        {{oProcess.operationStartDate}}
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                                 ng-style="{width:oProcess.progressPerc+'%' }">
                                                <span class="">{{oProcess.progressPerc}} %</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{m_oController.getProcessDuration(oProcess)}}
                                    </td>
                                    <td>
                                        <div class="pointer-cursor-hover"
                                             ng-click="m_oController.deleteProcess(oProcess)"
                                             ng-show="oProcess.status === 'RUNNING' || oProcess.status === 'CREATED'|| oProcess.status === 'WAITING' || oProcess.status === 'READY'">
                                            <!--class="btn btn-default btn-wasdi"-->
                                            <i class="fa fa-times-circle" aria-hidden="true" data-toggle="tooltip"
                                               title="Stop processes" data-placement="bottom"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <td class="over-icon" ng-click="m_oController.openProcessorLogsDialog(oProcess)"
                                                style="margin-bottom: 5px;margin-right: 5px;color:#43516A;">
                                            <i class="fa fa-file-text" aria-hidden="true" title="Logs"
                                               data-placement="bottom" data-toggle="tooltip"></i>
                                        </td>
                                        <td class="over-icon"
                                            style="color:#43516A;">
                                            <i class="fa fa-database" aria-hidden="true" title="Payload"
                                               data-placement="bottom" data-toggle="tooltip"
                                               ng-click="m_oController.openPayloadDialog(oProcess)" ng-hide="(oProcess.payload==null)"
                                            ></i>
                                        </td>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="row" ng-hide="m_oController.m_bAreProcessesLoaded">
                        <div
                            class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                            <div class="loadIcon">
                                <invader></invader>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="m_oController.m_bAreProcessesLoaded">
                        <div
                            class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
                            <button class="btn btn-default btn-wasdi" ng-click="m_oController.getAllProcessesLogs()"
                                    ng-disabled="!m_oController.isLoadMoreButtonClickable">
                                <i class="fa fa-refresh mr-2" aria-hidden="true"></i>Load more...
                            </button>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
