<div class="modal fade import-advance-filters">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- HEADER -->
            <div class=" modal-header">
                <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                TIME SERIES SELECTOR
            </div>
            <!-- BODY -->
            <div class="modal-body ">

                <div class="advance-search">
                    <div class="row-v4">
                        <div class="col-v4-12">
                            <form >
                                <fieldset>
                                    <legend>{{"DIALOG_CRONOTAB_CRONOTAB_BOX"|translate}}</legend>

                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <multiselect options="m_oController.m_oAdvanceFilterOptions.listOfYears"  selected="m_oController.m_oAdvanceFilterOptions.selectedYears"></multiselect>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <multiselect options="m_oController.m_oAdvanceFilterOptions.listOfSeasons"  selected="m_oController.m_oAdvanceFilterOptions.selectedSeasons"></multiselect>
                                    </div>

                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <multiselect options="m_oController.m_oAdvanceFilterOptions.listOfMonths" selected="m_oController.m_oAdvanceFilterOptions.selectedMonths"></multiselect>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <multiselect options="m_oController.m_oAdvanceFilterOptions.listOfDays"  selected="m_oController.m_oAdvanceFilterOptions.selectedDays"></multiselect>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>


                    <div class="row-v4 mt-3 edit-filters-buttons">
                        <div class= "col-v4-auto ml-auto">
                            <span class="btn btn-primary btn-wasdi" ng-click="m_oController.addFiltersData()">
                                <i class="fa fa-save" aria-hidden="true"></i>
                                {{"DIALOG_CRONOTAB_ADD_BUTTON"|translate}}
                            </span>
                            <span class="btn btn-primary btn-wasdi" ng-click="m_oController.removeSavedData()">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                {{"DIALOG_CRONOTAB_CLEAR_BUTTON"|translate}}
                            </span>
                        </div>

                    </div>

                    <div  class="row-v4" ng-show="m_oController.m_oAdvanceFilterOptions.savedData.length > 0">
                        <div class="col-v4-12">
                            <form >
                                <fieldset>
                                    <legend>{{"DIALOG_CRONOTAB_FILTERS_BOX"|translate}}</legend>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="chip" ng-repeat="data in m_oController.m_oAdvanceFilterOptions.savedData">
                                            {{data.name}}
                                            <span class="closebtn" ng-click="m_oController.removeSaveDataChips(data) ">&times;</span>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>

            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                   {{"DIALOG_CRONOTAB_CANCEL_BUTTON"|translate}}
                </button>
                <button type="button" ng-click="add(null)" class="my-button" ng-disabled="m_oController.isEmptyListOfFilters()" data-dismiss="modal">
                    {{"DIALOG_CRONOTAB_OK_BUTTON"|translate}}
                </button>
            </div>

        </div>
    </div>
</div>


