.wapps-dialog
{
  .modal-dialog
  {

    .modal-content
    {
      //HEADER
      .modal-header
      {

      }
      //BODY
      .modal-body
      {
        overflow-y: auto;
        max-height: 500px;
        label{
          margin: 10px 0px 5px 0px;
          color:$wasdi-green-logo;
        }
        textarea{
          resize: none;
        }
        .well{
          border: 1px solid $wasdi-green-logo;
          border-radius: 0;

        }
        .list-of-processor{
          .content-image{
            img{
              height: 82px;
              width: 82px;
            }
          }
        }
        .my-button{
          padding: 10px 20px;
        }
      }
      //FOOTER
      .modal-footer
      {

      }
    }
  }
}