.wapps-dialog {
    .modal-dialog {

        .modal-content {
            //HEADER
            .modal-header {

            }

            //BODY
            .modal-body {
                //overflow-y: auto;
                max-height: 700px;
                //.vex.vex-theme-top .vex-content {
                //  -moz-border-radius: 0 0 5px 5px;
                //  -webkit-border-radius: 0 0 5px 5px;
                //  border-radius: 0 0 5px 5px;
                //  font-family: "Helvetica Neue", sans-serif;
                //  background: #f0f0f0;
                //  color: #444;
                //  padding: 1em;
                //  position: relative;
                //  margin: 0 auto;
                //  max-width: 80%;
                //  width: 80%;
                //  font-size: 1.1em;
                //  line-height: 1.5em;
                //}

                .app-item{
                    border: 1px solid #ccc;
                    min-height: 144px;

                    &:hover{
                        cursor: pointer;
                        background-color: #eeeeee;
                    }
                    &.selected{
                        border-color: $wasdi-blue-logo;
                        background-color: #f3f3f3;
                    }
                }

                .content-image{
                    .fa{
                        font-size: 30px;
                    }
                }

                & > .row-v4 > div{
                    height: 440px;
                    //overflow-y: auto;
                }

                .apps-list{
                    margin-top: 3px;
                    height: 88%;
                    overflow-y: auto;
                }

                .wasdi-input{
                    width: 100%;
                }

                label {
                    margin: 10px 0px 5px 0px;
                    color: $wasdi-green-logo;
                }

                textarea {
                    resize: none;
                }

                .well {
                    border: 1px solid $wasdi-green-logo;
                    border-radius: 0;

                }

                .list-of-processor {
                    .content-image {
                        img {
                            height: 82px;
                            width: 82px;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: #BFBEBE;

                    }

                    .jsonView {
                        padding: 30px 0 0 30px;
                        //.block {
                        //  border-style: solid;
                        //  border-width: 1px;
                        //  /* padding: 5px; */
                        //   margin: 1px;
                        //   padding: 2px;
                        //  //background-color: $wasdi-green-logo;
                        //  border-color: $wasdi-blue-logo;
                        //}
                    }

                    .jsonContainer {
                        margin: 20px 0;
                    }
                }

                .my-button {
                    padding: 10px 20px;
                }

                .wapps-button {
                    border: none;
                    background: transparent;
                    float:right;
                    &:hover{
                        color: $wasdi-green-logo;
                    }
                }
            }

            //FOOTER
            .modal-footer {

            }
        }
    }
}
