<h4>
    <!--TODO IT -->
    <!--<div class="jsonView">-->
    <!--<json child="m_oController.myJson" default-collapsed="false" type="object"></json>-->
    <!--</div>-->
    <!--{{m_oController.myJson}}-->

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-of-processor" ng-repeat="processor in m_oController.m_aoProcessorList">
        <!--data-toggle="collapse" href="#RunProcessorPanel{{$index}}"-->
        <!--aria-expanded="false" aria-controls="RunProcessorPanel{{$index}}"-->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 content-image" data-toggle="collapse" href="#RunProcessorPanel{{$index}}"
             aria-expanded="false" aria-controls="RunProcessorPanel{{$index}}" ng-click="m_oController.collapsePanels()">
            <img src={{processor.imgLink}} alt="Image" >
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" data-toggle="collapse" href="#RunProcessorPanel{{$index}}" ng-click="m_oController.myJson={}; m_oController.collapsePanels()"
             aria-expanded="false" aria-controls="RunProcessorPanel{{$index}}">
            <label>
                {{processor.processorName}}
            </label>
            <div>
                {{processor.processorDescription}}
            </div>
            <!--<div class="collapse" id="RunProcessorPanel{{$index}}">-->
            <!--<div class="well">-->

            <!--<div class="form-group">-->
            <!--Json:-->
            <!--<textarea class="form-control" rows="5" id="" ng-model="value"></textarea>-->
            <!--<button type="button" ng-click="m_oController.runProcessor(processor.processorName, value)" class="my-button">-->
            <!--Run-->
            <!--<i class="fa fa-play" aria-hidden="true"></i>-->
            <!--</button>-->
            <!--<button type="button" ng-click="m_oController.getHelpFromProcessor(processor.processorName)" class="my-button"-->
            <!--data-toggle="collapse" href="#HelpProcessorPanel{{$index}}"-->
            <!--aria-expanded="false" aria-controls="HelpProcessorPanel{{$index}}">-->
            <!--Help-->
            <!--<i class="fa fa-question-circle" aria-hidden="true"></i>-->
            <!--</button>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->
            <!--<div class="collapse" id="HelpProcessorPanel{{$index}}">-->
            <!--<div class="well">-->
            <!--LOOK BEHIND YOU, A THREE-HEADED MONKEY!-->
            <!--</div>-->
            <!--</div>-->
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <div class="collapse" id="RunProcessorPanel{{$index}}">
                <div class="well">

                    <div class="form-group">

                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                JSON Editor mode:<span ng-show="m_oController.m_bIsJsonEditModeActive"> On </span> <span ng-hide="m_oController.m_bIsJsonEditModeActive"> Off </span>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="btn-switch-square" ng-class="{'btn-switch--on':m_oController.m_bIsJsonEditModeActive}" ng-model="m_oController.m_bIsJsonEditModeActive"
                                     ng-click="m_oController.m_bIsJsonEditModeActive = !m_oController.m_bIsJsonEditModeActive">
                                    <div class="square" ng-class="{'btn-switch-circle--on':m_oController.m_bIsJsonEditModeActive}" ng-model="m_oController.m_bIsJsonEditModeActive"
                                         ng-click="m_oController.m_bIsJsonEditModeActive = m_oController.m_bIsJsonEditModeActive"></div>
                                </div>
                            </div>

                        </div>


                        <label>
                            Json:
                        </label>
                        <!--Editor json-->
                        <div class="jsonView" ng-show="m_oController.m_bIsJsonEditModeActive">
                            <json child="m_oController.myJson" default-collapsed="false" type="object"></json>
                        </div>
                        <div class="jsonContainer" ng-show="m_oController.m_bIsJsonEditModeActive">
                            {{m_oController.myJson}}
                        </div>

                        <textarea class="form-control" rows="5" id="" ng-model="m_oController.m_sMyJsonString" ng-hide="m_oController.m_bIsJsonEditModeActive"></textarea>

                        <button type="button" ng-click="m_oController.runProcessor(processor.processorName, m_oController.myJson)"
                                class="my-button"  ng-show="m_oController.m_bIsJsonEditModeActive">
                            Run
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>

                        <button type="button" ng-click="m_oController.runProcessor(processor.processorName, m_oController.m_sMyJsonString)"
                                class="my-button"  ng-hide="m_oController.m_bIsJsonEditModeActive">
                            Run
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                        <!--<button type="button" ng-click="m_oController.getHelpFromProcessor(processor.processorName)" class="my-button"-->
                        <!--data-toggle="collapse" href="#HelpProcessorPanel{{$index}}"-->
                        <!--aria-expanded="false" aria-controls="HelpProcessorPanel{{$index}}">-->
                        <!--Help-->
                        <!--<i class="fa fa-question-circle" aria-hidden="true"></i>-->
                        <!--</button> -->
                        <button type="button" ng-click="m_oController.getHelpFromProcessor(processor.processorName)" class="my-button">
                            Help
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>
            </div>
            <!--<div class="collapse" id="HelpProcessorPanel{{$index}}">-->
            <!--<div class="well">-->
            <!--LOOK BEHIND YOU, A THREE-HEADED MONKEY!-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
        <!--&lt;!&ndash;<button type="button" ng-click="" class="my-button" data-toggle="collapse" href="#RunProcessorPanel{{$index}}"&ndash;&gt;-->
        <!--&lt;!&ndash;aria-expanded="false" aria-controls="RunProcessorPanel{{$index}}">&ndash;&gt;-->
        <!--&lt;!&ndash;Execute&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="fa fa-info-circle" aria-hidden="true"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--<button type="button" ng-click="m_oController.getHelpFromProcessor(processor.processorName)" class="my-button" data-toggle="collapse" href="#HelpProcessorPanel{{$index}}"-->
        <!--aria-expanded="false" aria-controls="HelpProcessorPanel{{$index}}">-->
        <!--Help-->
        <!--<i class="fa fa-question-circle" aria-hidden="true"></i>-->
        <!--</button>-->
        <!--</div>-->
    </div>

    <!--<button type="button" ng-click="m_oController.test()" class="my-button" >-->
    <!--bottone-->
    <!--</button>-->
</h4>
