<div class="modal fade edit-panel-modal">
    <div class="modal-dialog modal-dialog-extra-large">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-header">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <h4 class="modal-title ">{{"DIALOG_EDIT_PANEL_DIALOG_TITLE"|translate}}</h4>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>


            </div>
            <!-- BODY -->
            <div class="modal-body container-fluid">

                <ul class="nav nav-tabs" role="tablist">
                    <li ng-class="{'active':m_oController.m_oSelectedTab === 'MaskManager'}"
                        ng-click="m_oController.m_oSelectedTab = 'MaskManager'">
                        <a href="" role="tab" data-toggle="tab">
                            {{"DIALOG_EDIT_PANEL_DIALOG_MASKMANAGER_TAB"|translate}}
                        </a>
                    </li>
                    <li ng-class="{'active':m_oController.m_oSelectedTab === 'FilterBand'}"
                        ng-click="m_oController.m_oSelectedTab = 'FilterBand'">
                        <a href="" role="tab" data-toggle="tab">
                            {{"DIALOG_EDIT_PANEL_DIALOG_FILTERBAND_TAB"|translate}}

                        </a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in" id="MaskManager"
                         ng-class="{'active':m_oController.m_oSelectedTab === 'MaskManager'}">
                        <ng-include src="'dialogs/edit_panel/TabMaskManager.html'"></ng-include>
                    </div>
                    <div class="tab-pane fade in" id="FilterBand"
                         ng-class="{'active':m_oController.m_oSelectedTab === 'FilterBand'}">
                        <ng-include src="'dialogs/edit_panel/TabFilterBand.html'"></ng-include>
                    </div>

                </div>

            </div>

            <!-- FOOTER -->
            <div class="modal-footer">

                <div class="row-v4">
                    <div class="col-v4 offset-9">
                        <button type="button" ng-click="saveMaskManager(null)" class="my-button"  data-dismiss="modal">
                            {{"DIALOG_EDIT_PANEL_DIALOG_APPLY_MASK_MANAGER_BUTTON"|translate}}
                        </button>
                        <button type="button" ng-click="applyFilterOnClose(null)" class="my-button"  data-dismiss="modal">
                            {{"DIALOG_EDIT_PANEL_DIALOG_APPLY_FILTER_BUTTON"|translate}}
                        </button>
                        <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                            {{"DIALOG_CLOSE_BUTTON"|translate}}
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
