<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 color-manipulation-tab">
    <div class="row histogram-container">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

            <!--<div class="loadIcon" ng-show="m_oController.m_oActiveBand.colorManipulation == null" >-->
            <!--<invader></invader>-->
            <!--</div>          -->
            <div class="loadIcon" ng-show="m_oController.m_bIsLoadingColourManipulation === true" >
                <invader></invader>
            </div>
            <div id="colourManipulationContainer" ng-hide="m_oController.m_bIsLoadingColourManipulation === true"><!--ng-hide="m_oController.m_oActiveBand.colorManipulation === null"-->

            </div>

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="btn-group-vertical"> <!--ng-hide="m_oController.m_oActiveBand.colorManipulation === null"-->
                <button type="button" class="btn btn-primary" ng-click="m_oController.adjust95percentageColourManipulation(m_oController.m_oActiveBand.colorManipulation)"
                        data-toggle="tooltip" data-placement="bottom" title="{{'EDITOR_COLOUR_MANIPULATION_TOOLTIP_95%'|translate}}">
                    95%
                </button>
                <!--<button type="button" class="btn btn-primary" ng-click="m_oController.adjust100percentageColourManipulation(m_oController.m_oActiveBand.colorManipulation)" title="test">-->
                <!--100%-->
                <!--</button>-->
                <button type="button" class="btn btn-primary" ng-click="m_oController.getDefaultProductColorManipulation()"
                        data-toggle="tooltip" data-placement="bottom" title="{{'EDITOR_COLOUR_MANIPULATION_TOOLTIP_RESET_DEFAULTS'|translate}}">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary" ng-click="m_oController.processingProductColorManipulation()"
                        data-toggle="tooltip" data-placement="bottom"
                        title="{{'EDITOR_COLOUR_MANIPULATION_TOOLTIP_APPLY_COLOR_MANIPULATION'|translate}}"
                        data-dismiss="modal">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>

                </button>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="ranges-container" ><!--ng-hide="m_oController.m_oActiveBand.colorManipulation == null"-->
                <div class="range-container"><!-- style="width: 100%;"-->
                    <label class="color-value">
                        {{m_oController.m_oActiveBand.colorManipulation.colors[0].value}}
                    </label>
                    <input type="range" min="{{m_oController.m_oActiveBand.colorManipulation.histogramMin}}"
                           max="{{m_oController.m_oActiveBand.colorManipulation.histogramMax}}"
                           ng-model="m_oController.m_oActiveBand.colorManipulation.colors[0].value" class="slider"
                           ng-style="{'background-color': m_oController.generateColor(m_oController.m_oActiveBand.colorManipulation.colors[0])}"
                           ng-change="m_oController.minSliderColourManipulation(m_oController.m_oActiveBand.colorManipulation.colors)"><!--ng-change="m_oController.maxSliderColourManipulation()"-->

                    <!--<p>-->
                    <!--Value: <span id="demo"></span>-->
                    <!--</p>-->
                </div>
                <div class="range-container"><!-- style="width: 100%;"-->
                    <label class="color-value">
                        {{m_oController.m_oActiveBand.colorManipulation.colors[1].value}}
                    </label>
                    <input type="range" min="{{m_oController.m_oActiveBand.colorManipulation.histogramMin}}"
                           max="{{m_oController.m_oActiveBand.colorManipulation.histogramMax}}"
                           ng-model="m_oController.m_oActiveBand.colorManipulation.colors[1].value" class="slider"
                           ng-style="{'background-color': m_oController.generateColor(m_oController.m_oActiveBand.colorManipulation.colors[1])}"
                           ng-change="m_oController.averageSliderColourManipulation(m_oController.m_oActiveBand.colorManipulation.colors)"><!-- ng-change="m_oController.averageSliderColourManipulation()"-->
                    <!--<p>-->
                    <!--Value: <span id="demo"></span>-->
                    <!--</p>-->
                </div>
                <div class="range-container"><!-- style="width: 100%;"-->
                    <label class="color-value">
                        {{m_oController.m_oActiveBand.colorManipulation.colors[2].value}}
                    </label>
                    <input type="range" min="{{m_oController.m_oActiveBand.colorManipulation.histogramMin}}"
                           max="{{m_oController.m_oActiveBand.colorManipulation.histogramMax}}"
                           ng-model="m_oController.m_oActiveBand.colorManipulation.colors[2].value" class="slider"
                           ng-style="{'background-color': m_oController.generateColor(m_oController.m_oActiveBand.colorManipulation.colors[2])}"
                           ng-change="m_oController.maxSliderColourManipulation(m_oController.m_oActiveBand.colorManipulation.colors)"><!--ng-change="m_oController.minSliderColourManipulation()"-->
                    <!--<p>-->
                    <!--Value: <span id="demo"></span>-->
                    <!--</p>-->
                </div>
            </div>

        </div>
    </div>

</div>
