<div class="filter-band-tab">
    <h2>{{"DIALOG_FILTER_BAND_TAB_NAME_SYSTEM"|translate}}</h2>
    <p>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 system-content" ng-repeat="system in m_oController.m_aoSystemFilterOptions track by $index">
        <label>
            {{system.name}}
        </label>

        <div ng-repeat="options in system.options track by $index"  class=" options">
            <h4>
                <div class="operation"  data-toggle="collapse"  data-target="#collapse{{ (system.name + $index) |lowercase | removeSpaces}}"
                     aria-expanded="false" aria-controls="collapsemapprojection"
                     ng-click="m_oController.m_sSelectedFilter = options.name;m_oController.collapsePanels()"
                     ng-class="{'option-selected':(m_oController.m_sSelectedFilter === options.name)}"   >
                    {{options.name}}
                </div>
            </h4>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse well" id="collapse{{system.name + $index |lowercase | removeSpaces}}">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="filter-properties">
                        <label>
                            Name:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).name}}<!--by paolo-->
                        </label><br>
                        <label>
                            Shorthand:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).shorthand}}
                        </label><br>
                        <label>
                            Operation:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).operation}}
                        </label><br>
                        <label>
                            Kernel Width:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).kernelWidth}}
                        </label><br>
                        <label>
                            Kernel Height:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).kernelHeight}}
                        </label><br>
                        <label>
                            Kernel Quotient:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).kernelQuotient}}
                        </label><br>
                        <label>
                            Kernel Offset X:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).kernelOffsetX}}
                        </label><br>
                        <label>
                            Kernel Offset Y:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).kernelOffsetY}}
                        </label>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <squares matrix = "options.matrix"  bordercolor="black" side="50"></squares>
                </div>

            </div>
        </div>

    </div>

    </p>
</div>


<!-------------------------------USER TAB----------------------------------->

