<div class="dialog-operation-animation" ng-show="m_oController.m_oWindowsOpened.logicalMask">
    <div class="row logical-mask">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{"DIALOG_MASK_MANAGER_DATA_SOURCES_LABEL"|translate}}
                    <div class="list-group" >
                        <a href="" class="list-group-item" ng-repeat="data in m_oController.m_asDataSources track by $index"
                           ng-click="m_oController.addDataSourceLogicalMask(data,'textAreaLogicalMask')">
                            {{data}}
                        </a>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="m_oController.m_oCheckboxs.bands"
                                   ng-click="m_oController.checkedDataSource('band',m_oController.m_oCheckboxs.bands)">
                            {{"DIALOG_MASK_MANAGER_SHOW_BANDS_CHECKBOX_LABEL"|translate}}
                        </label>
                    </div>
                    <div>
                        <label>
                            Color:
                        </label>
                    </div>
                    <input color-picker
                           color-picker-model="m_oController.m_sMaskColor.logicalMaskColor"
                           color-picker-output-format="'rgba'"
                           ng-style="{background:m_oController.m_sMaskColor.logicalMaskColor}"/>


                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-default"
                                ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask('@ and @','textAreaLogicalMask')">
                            @ and @
                        </button>
                        <button type="button" class="btn btn-default"
                                ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask('@ or @','textAreaLogicalMask')">
                            @ or @
                        </button>
                        <button type="button" class="btn btn-default"
                                ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask('not @','textAreaLogicalMask')">
                            not @
                        </button>
                        <button type="button" class="btn btn-default"
                                ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask('(@)','textAreaLogicalMask')">
                            (@)
                        </button>
                        <div class="btn-group">
                            <button id="constantsBtnGroupVerticalDrop" type="button"
                                    class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Constants...
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="constantsBtnGroupVerticalDrop">
                                <li ng-repeat="constant in m_oController.m_asContants">
                                    <a href="" ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask(constant,'textAreaLogicalMask')">
                                        {{constant}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button id="operatorsBtnGroupVerticalDrop" type="button"
                                    class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Operators...
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="operatorsBtnGroupVerticalDrop">
                                <li ng-repeat="operator in m_oController.m_asOperators">
                                    <a href="" ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask(operator,'textAreaLogicalMask')">
                                        {{operator}}
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="btn-group">
                            <button id="functionsBtnGroupVerticalDrop" type="button"
                                    class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Functions...
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="functionsBtnGroupVerticalDrop">
                                <li ng-repeat="function in m_oController.m_asFunction">
                                    <a href="" ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask(function,'textAreaLogicalMask')">
                                        {{function}}
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{"DIALOG_MASK_MANAGER_EXPRESSION_LABEL"|translate}}
                    <div class="form-group">
                                            <textarea class="form-control" rows="10" cols="70" id="textAreaLogicalMask"
                                                      ng-model = "m_oController.m_sTextAreaLogicalMask" ></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button type="button" class="my-button " ng-click="m_oController.saveLogicalMask()">Save</button>
            <button type="button" class="my-button " ng-click="m_oController.closeAllWindows()">Cancel</button>
        </div>
    </div>
</div>
