<div class="dialog-operation-animation" ng-show="m_oController.m_oWindowsOpened.rangeMask">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div> <label>Min value:</label></div>
                <input type="text" name="name"  class="my-input-text" value="" title="" required="required" ng-model="m_oController.m_sRangeMinValue"> <h3>&lt; =</h3>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="dropdown">
                    <label>Raster :</label>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuRasters"
                            data-toggle="dropdown">
                        {{m_oController.m_sRangeSelectedRaster}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuRasters">
                        <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>-->
                        <li role="presentation" ng-repeat="raster in  m_oController.m_sRangeListOfRasters" ng-click="m_oController.m_sRangeSelectedRaster = raster">
                            <a role="menuitem" tabindex="-1" href="">{{raster}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div><label>Max value:</label></div>
                <h3> &lt; =</h3> <input type="text" name="name"  class="my-input-text" value="" title="" required="required" ng-model="m_oController.m_sRangeMaxValue">
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <label>Color:</label>
            </div>
            <input color-picker color-picker-model="m_oController.m_sMaskColor.rangeMaskColor"
                   ng-style="{background:m_oController.m_sMaskColor.rangeMaskColor}" color-picker-output-format="'rgba'"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button type="button" class="my-button " ng-click="m_oController.saveRangeMaskAndClose()">Save</button>
            <button type="button" class="my-button " ng-click="m_oController.closeAllWindows()">Cancel</button>
        </div>
    </div>

</div>
