<input  class="my-input-text" type="text" placeholder="{{'DIALOG_MASK_MANAGER_FILTER_TABLE_INPUT'|translate}}" ng-model="m_oController.m_sFilterMaskTable">

<table class="table table-hover">
    <tr>
        <thead>
        <th ng-click="m_oController.m_bAreSelectedAllMasks = !m_oController.m_bAreSelectedAllMasks; m_oController.clickedSelectAllMasks()" class="over-icon">
            <i class="fa fa-check-square-o" aria-hidden="true" ng-hide="m_oController.m_aoMasks.length === 0 || m_oController.m_bAreSelectedAllMasks === false"></i>
            <i class="fa fa-square-o" aria-hidden="true" ng-hide="m_oController.m_aoMasks.length === 0 || m_oController.m_bAreSelectedAllMasks === true"></i>

        </th>
        <th>Name</th>
        <th>Type</th>
        <th>Colour</th>
        <!--<th>Transparency</th>-->
        <th>Description</th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mask in m_oController.m_aoMasks  | filter:m_oController.m_sFilterMaskTable"><!-- | filter:m_oController.m_sFilterMaskTable-->
            <td class="over-icon" ng-click = "mask.selected = !mask.selected">
                <i class="fa fa-check-square-o" aria-hidden="true" ng-show="mask.selected"></i>
                <i class="fa fa-square-o" aria-hidden="true" ng-hide="mask.selected"></i>

            </td>
            <td>
                {{mask.name}}
            </td>
            <td>
                {{mask.type}}
            </td>
            <td >
                <input color-picker
                       color-picker-model="mask.colour"
                       color-picker-output-format="'rgba'"
                       ng-style="{background:mask.colour}"/>
            </td>

            <td>
                {{mask.description}}
            </td>

            <td class="over-icon" ng-click="m_oController.deleteMaskByIndex($index)">
                <i class="fa fa-window-close fa-lg" aria-hidden="true"> </i>
            </td>
        </tr>
        <tr ng-show="m_oController.m_bAreProductMasksLoading === true" class="loading-tr">
            <td colspan="7" >
                <invader></invader>
            </td>
        </tr>
        </tbody>
</table>
