<div class="row mask-manager">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><!---->

        <!----------------------------------- RANGE MASK ----------------------------------->
        <ng-include src="'dialogs/edit_panel/TabMaskManager_RangeMask.html'"></ng-include>
        <!----------------------------------- LOGICAL MASK ----------------------------------->
        <ng-include src="'dialogs/edit_panel/TabMaskManager_LogicalMask.html'"></ng-include>
        <!----------------------------------- MASKS ----------------------------------->
        <ng-include src="'dialogs/edit_panel/TabMaskManager_MaksTable.html'"></ng-include>

    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><!---->
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-default btn-primary" ng-click="m_oController.changeWindowsOpened('rangeMask')">
                <i class="fa fa-filter" aria-hidden="true"></i>
                Range Mask
            </button>
            <button type="button" class="btn btn-default btn-primary"  ng-click="m_oController.changeWindowsOpened('logicalMask')">
                <i class="fa fa-filter" aria-hidden="true"></i>
                Logical Mask
            </button>
        </div>

    </div>
</div>
