<div class="modal fade processor-dialog">
    <div class="modal-dialog modal-dialog-medium modal-wasdi">
        <div class="modal-content ">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h4 class="modal-title ">Workspace Details</h4>


            </div>

            <div class="modal-body">
                <div><span class="workspace-details-heading"> Owner :</span>
                    {{m_oController.m_oWorkspaceViewModel.userId}}
                </div>
                <div><span class="workspace-details-heading"
                           ng-hide="m_oController.m_oWorkspaceViewModel.nodeCode == null"> Node:</span>{{m_oController.m_oWorkspaceViewModel.nodeCode}}
                </div>
                <div><span class="workspace-details-heading"> Last Update :</span> {{m_oController.getLastTouchDate()}}
                </div>
                <div><span class="workspace-details-heading"> Owner :</span> {{m_oController.m_workspaceId}}</div>
                <div><span class="workspace-details-heading">Total Files :</span> {{m_oController.m_oCountProduct}}
                </div>
                <div><span class="workspace-details-heading"
                           ng-hide="m_oController.m_oWorkspaceViewModel.processesCount == null">Processes Executed :</span>
                    {{m_oController.m_oWorkspaceViewModel.processesCount}}
                </div>
                <div ng-hide="(m_oController.m_oWorkspaceViewModel.sharedUsers.length==0)">
                    <span class="workspace-details-heading">Workspace sharing :</span>
                    <div ng-repeat="shared in m_oController.m_oWorkspaceViewModel.sharedUsers">
                        <li> {{shared}}</li>
                    </div>
                </div>
                <div>
                    <span class="workspace-details-heading">Nodes list - make this a controller</span>
                    <div ng-repeat="nodes in m_oController.m_aoNodesList">
                        <li> <h1>{{nodes.nodeCode}}</h1></li>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
