<div class="modal fade workspace-details">
    <div class="modal-dialog modal-dialog-medium modal-wasdi">
        <div class="modal-content ">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;
                </button>
                <h4 class="modal-title ">{{"DIALOG_WS_INFO_TITLE"|translate}} {{m_oController.m_oWorkspaceViewModel.name}}</h4>


            </div>

            <div class="modal-body" style="height: 50vh;">
                <div class="row-v4">
                    <div class="col-v4-8">
                        <div><span class="workspace-details-heading">{{"DIALOG_WS_INFO_OWNER"|translate}}</span>
                            {{m_oController.m_oWorkspaceViewModel.userId}}
                        </div>
                        <div><span class="workspace-details-heading"
                                   ng-hide="m_oController.m_oWorkspaceViewModel.nodeCode == null">{{"DIALOG_WS_INFO_NODE"|translate}}</span>{{m_oController.m_oWorkspaceViewModel.nodeCode}}
                        </div>
                        <div ng-hide="m_oController.getSLALink() == ''">
                            <span class="workspace-details-heading">{{"DIALOG_WS_INFO_SLA"|translate}}</span> <a href="{{m_oController.getSLALink()}}" target="_blank">{{m_oController.m_oWorkspaceViewModel.cloudProvider}} SLA</a>
                        </div>
                        <div><span class="workspace-details-heading">{{"DIALOG_WS_INFO_UPDATE"|translate}}</span>
                            {{m_oController.getLastTouchDate()}}
                        </div>
                        <div><span class="workspace-details-heading">{{"DIALOG_WS_INFO_ID"|translate}}</span>
                            {{m_oController.m_workspaceId}}
                        </div>
                        <div><span class="workspace-details-heading">{{"DIALOG_WS_INFO_FILES"|translate}}</span>
                            {{m_oController.m_oCountProduct}}
                        </div>
                        <div><span class="workspace-details-heading"
                                   ng-hide="m_oController.m_oWorkspaceViewModel.processesCount == null">{{"DIALOG_WS_INFO_PROCS"|translate}}</span>
                            {{m_oController.m_oWorkspaceViewModel.processesCount}}
                        </div>
                        <div>
                            <i
                                class="fa fa-square"
                                aria-hidden="true"
                                ng-hide="m_oController.m_oWorkspaceViewModel.public === true"
                                ng-click="m_oController.m_oWorkspaceViewModel.public = !m_oController.m_oWorkspaceViewModel.public">
                            </i>
                            <i
                                class="fa fa-check-square"
                                aria-hidden="true"
                                ng-hide="m_oController.m_oWorkspaceViewModel.public === false"
                                ng-click="m_oController.m_oWorkspaceViewModel.public = !m_oController.m_oWorkspaceViewModel.public">
                            </i>
                            <span>{{"DIALOG_WS_INFO_PUBLIC"|translate}}</span>                            
                        </div>
                        <div ng-hide="(m_oController.m_oWorkspaceViewModel.sharedUsers.length==0)">
                            <span class="workspace-details-heading">{{"DIALOG_WS_INFO_SHARINGS"|translate}}</span>
                            <div ng-repeat="shared in m_oController.m_oWorkspaceViewModel.sharedUsers">
                                <li> {{shared}}</li>
                            </div>
                        </div>
                    </div>
                    <div class="col-v4-4">
                        <div class="dropdown my-dropdown">
                            <button class="btn btn-default dropdown-toggle w-100" type="button"
                                    id="dropdownNodeSelection" data-toggle="dropdown" style="font-weight: 600;">
                                {{m_oController.m_sCurrentNode}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="dropdownMenuProductListMultiselectWorkflow">

                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="" style="font-weight: 600;"
                                       ng-repeat="node in m_oController.m_asNodeCode"
                                       ng-click="m_oController.setNodeCode(node)">
                                        {{node}}
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="my-button" data-dismiss="modal">
                    {{ "DIALOG_WORKSPACE_DETAILS_CLOSE" | translate }}
                </button>

                <button type="button" ng-click="m_oController.saveNodeCode()" class="my-button" data-dismiss="modal">
                    {{ "DIALOG_WORKSPACE_DETAILS_APPLY" | translate }}
                </button>

            </div>

        </div>
    </div>
</div>
