/* Variables */
$bgColor: #000;
$fgColor: $color_space;



/* Do not change anything below */
//body {
//  background-color: $bgColor;
//}
#invader {  width:100%;}
.invader {
  width: $dotsize;
  height: $dotsize;
  // position: absolute;
  margin-top: 50px;
  // left: 50%;
  margin:auto;
}

.invader {
  position:relative;
  -webkit-animation-name: MOVE;
  -webkit-animation-duration: 6000ms;
  -webkit-animation-timing-function: step-end;
  -webkit-animation-iteration-count: infinite;
  //-webkit-animation-fill-mode:both;
  -webkit-animation-direction: alternate;
}


@-webkit-keyframes MOVE {

  0% {left:0;}
  20% {left:20%;}
  40% {left:40%;}
  60% {left:60%;}
  80% {left:80%;}
  100% {left:100%;}

  // 60% {margin-left:60%;}
  // 50% {    left: 50%;  }

}


.invader_b {
  margin:  -$dotsize*4 0 0 -$dotsize*5.5;
}
.invader_b.step1 {
  box-shadow:
          0 $dotsize*4 $fgColor,
          0 $dotsize*5 $fgColor,
          0 $dotsize*6 $fgColor,
          $dotsize $dotsize*3 $fgColor,
          $dotsize $dotsize*4 $fgColor,
          $dotsize*2 0 $fgColor,
          $dotsize*2 $dotsize*2 $fgColor,
          $dotsize*2 $dotsize*3 $fgColor,
          $dotsize*2 $dotsize*4 $fgColor,
          $dotsize*2 $dotsize*5 $fgColor,
          $dotsize*2 $dotsize*6 $fgColor,
          $dotsize*3 $dotsize $fgColor,
          $dotsize*3 $dotsize*2 $fgColor,
          $dotsize*3 $dotsize*4 $fgColor,
          $dotsize*3 $dotsize*5 $fgColor,
          $dotsize*3 $dotsize*7 $fgColor,
          $dotsize*4 $dotsize*2 $fgColor,
          $dotsize*4 $dotsize*3 $fgColor,
          $dotsize*4 $dotsize*4 $fgColor,
          $dotsize*4 $dotsize*5 $fgColor,
          $dotsize*4 $dotsize*7 $fgColor,
          $dotsize*5 $dotsize*2 $fgColor,
          $dotsize*5 $dotsize*3 $fgColor,
          $dotsize*5 $dotsize*4 $fgColor,
          $dotsize*5 $dotsize*5 $fgColor,
          $dotsize*6 $dotsize*2 $fgColor,
          $dotsize*6 $dotsize*3 $fgColor,
          $dotsize*6 $dotsize*4 $fgColor,
          $dotsize*6 $dotsize*5 $fgColor,
          $dotsize*6 $dotsize*7 $fgColor,
          $dotsize*7 $dotsize $fgColor,
          $dotsize*7 $dotsize*2 $fgColor,
          $dotsize*7 $dotsize*4 $fgColor,
          $dotsize*7 $dotsize*5 $fgColor,
          $dotsize*7 $dotsize*7 $fgColor,
          $dotsize*8 0 $fgColor,
          $dotsize*8 $dotsize*2 $fgColor,
          $dotsize*8 $dotsize*3 $fgColor,
          $dotsize*8 $dotsize*4 $fgColor,
          $dotsize*8 $dotsize*5 $fgColor,
          $dotsize*8 $dotsize*6 $fgColor,
          $dotsize*9 $dotsize*3 $fgColor,
          $dotsize*9 $dotsize*4 $fgColor,
          $dotsize*10 $dotsize*4 $fgColor,
          $dotsize*10 $dotsize*5 $fgColor,
          $dotsize*10 $dotsize*6 $fgColor;
}
.invader_b.step2 {
  box-shadow:
          0 $dotsize $fgColor,
          0 $dotsize*2 $fgColor,
          0 $dotsize*3 $fgColor,
          0 $dotsize*4 $fgColor,
          $dotsize $dotsize*3 $fgColor,
          $dotsize $dotsize*4 $fgColor,
          $dotsize $dotsize*5 $fgColor,
          $dotsize $dotsize*7 $fgColor,
          $dotsize*2 0 $fgColor,
          $dotsize*2 $dotsize*2 $fgColor,
          $dotsize*2 $dotsize*3 $fgColor,
          $dotsize*2 $dotsize*4 $fgColor,
          $dotsize*2 $dotsize*5 $fgColor,
          $dotsize*2 $dotsize*6 $fgColor,
          $dotsize*3 $dotsize $fgColor,
          $dotsize*3 $dotsize*2 $fgColor,
          $dotsize*3 $dotsize*4 $fgColor,
          $dotsize*3 $dotsize*5 $fgColor,
          $dotsize*4 $dotsize*2 $fgColor,
          $dotsize*4 $dotsize*3 $fgColor,
          $dotsize*4 $dotsize*4 $fgColor,
          $dotsize*4 $dotsize*5 $fgColor,
          $dotsize*5 $dotsize*2 $fgColor,
          $dotsize*5 $dotsize*3 $fgColor,
          $dotsize*5 $dotsize*4 $fgColor,
          $dotsize*5 $dotsize*5 $fgColor,
          $dotsize*6 $dotsize*2 $fgColor,
          $dotsize*6 $dotsize*3 $fgColor,
          $dotsize*6 $dotsize*4 $fgColor,
          $dotsize*6 $dotsize*5 $fgColor,
          $dotsize*7 $dotsize $fgColor,
          $dotsize*7 $dotsize*2 $fgColor,
          $dotsize*7 $dotsize*4 $fgColor,
          $dotsize*7 $dotsize*5 $fgColor,
          $dotsize*8 0 $fgColor,
          $dotsize*8 $dotsize*2 $fgColor,
          $dotsize*8 $dotsize*3 $fgColor,
          $dotsize*8 $dotsize*4 $fgColor,
          $dotsize*8 $dotsize*5 $fgColor,
          $dotsize*8 $dotsize*6 $fgColor,
          $dotsize*9 $dotsize*3 $fgColor,
          $dotsize*9 $dotsize*4 $fgColor,
          $dotsize*9 $dotsize*5 $fgColor,
          $dotsize*9 $dotsize*7 $fgColor,
          $dotsize*10 $dotsize $fgColor,
          $dotsize*10 $dotsize*2 $fgColor,
          $dotsize*10 $dotsize*3 $fgColor,
          $dotsize*10 $dotsize*4 $fgColor;
}



