.space {
  float: left;
  color: white;
  width: 300px;

}
.space>span {
  margin-left: 20px;
}
.space-invader {
  border: 2px solid white;
  background-color: white;
  float: left;
  width: 0.25em;
  height: 0.25em;
  margin: 40px 40px;


}



.space-invader-1 {
  box-shadow:
          0 0 0 .25em $wasdi-blue-logo,
          0 .25em 0 .25em $wasdi-blue-logo,
          -.625em .375em 0 .125em $wasdi-blue-logo,
          .625em .375em 0 .125em $wasdi-blue-logo,
          -.75em -.75em 0 0 $wasdi-blue-logo,
          .75em -.75em 0 0 $wasdi-blue-logo,
          -.5em -.5em 0 0 $wasdi-blue-logo,
          .5em -.5em 0 0 $wasdi-blue-logo,
          -.75em -.25em 0 0 $wasdi-blue-logo,
          -.5em -.25em 0 0 $wasdi-blue-logo,
          .5em -.25em 0 0 $wasdi-blue-logo,
          .75em -.25em 0 0 $wasdi-blue-logo,
          -1em 0 0 0 $wasdi-blue-logo,
          -.75em 0 0 0 $wasdi-blue-logo,
          .75em 0 0 0 $wasdi-blue-logo,
          1em 0 0 0 $wasdi-blue-logo,
          -1em .25em 0 0 $wasdi-blue-logo,
          1em .25em 0 0 $wasdi-blue-logo,
          -.75em .75em 0 0 $wasdi-blue-logo,
          .75em .75em 0 0 $wasdi-blue-logo,
            /* Left Arm */
          1.25em .25em 0 0 $wasdi-blue-logo,
          1.25em .5em 0 0 $wasdi-blue-logo,
          1.25em .75em 0 0 $wasdi-blue-logo,
            /* Right Arm */
          -1.25em .25em 0 0 $wasdi-blue-logo,
          -1.25em .5em 0 0 $wasdi-blue-logo,
          -1.25em .75em 0 0 $wasdi-blue-logo,
            /* Left Foot */
          -.25em 1em 0 0 $wasdi-blue-logo,
          -.5em 1em 0 0 $wasdi-blue-logo,
            /* Right Foot */
          .25em 1em 0 0 $wasdi-blue-logo,
          .5em 1em 0 0 $wasdi-blue-logo;
}

@keyframes space-invader-1 {
  50% {
    box-shadow:
            0 0 0 .25em $wasdi-blue-logo,
            0 .25em 0 .25em $wasdi-blue-logo,
            -.625em .375em 0 .125em $wasdi-blue-logo,
            .625em .375em 0 .125em $wasdi-blue-logo,
            -.75em -.75em 0 0 $wasdi-blue-logo,
            .75em -.75em 0 0 $wasdi-blue-logo,
            -.5em -.5em 0 0 $wasdi-blue-logo,
            .5em -.5em 0 0 $wasdi-blue-logo,
            -.75em -.25em 0 0 $wasdi-blue-logo,
            -.5em -.25em 0 0 $wasdi-blue-logo,
            .5em -.25em 0 0 $wasdi-blue-logo,
            .75em -.25em 0 0 $wasdi-blue-logo,
            -1em 0 0 0 $wasdi-blue-logo,
            -.75em 0 0 0 $wasdi-blue-logo,
            .75em 0 0 0 $wasdi-blue-logo,
            1em 0 0 0 $wasdi-blue-logo,
            -1em .25em 0 0 $wasdi-blue-logo,
            1em .25em 0 0 $wasdi-blue-logo,
            -.75em .75em 0 0 $wasdi-blue-logo,
            .75em .75em 0 0 $wasdi-blue-logo,
              /* Left Arm */
            1.25em 0 0 0 $wasdi-blue-logo,
            1.25em -.25em 0 0 $wasdi-blue-logo,
            1.25em -.5em 0 0 $wasdi-blue-logo,
              /* Right Arm */
            -1.25em 0 0 0 $wasdi-blue-logo,
            -1.25em -.25em 0 0 $wasdi-blue-logo,
            -1.25em -.5em 0 0 $wasdi-blue-logo,
              /* Left Foot */
            -1em 1em 0 0 $wasdi-blue-logo,
            -1em 1em 0 0 $wasdi-blue-logo,
              /* Right Foot */
            1em 1em 0 0 $wasdi-blue-logo,
            1em 1em 0 0 $wasdi-blue-logo;
  }
}

.space-invader.classic {
  animation: 1s step-end infinite;
}
.space-invader-1.classic {
  animation-name: space-invader-1;
}



#invader{
  position:relative;
  -webkit-animation-name: MOVE;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: step-end;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes MOVE {
  0%, 100% {    left: 0px;  }
  10%, 90% {left:10%;}
  20%, 80% {left:20%;}
  30%, 70% {left:30%;}
  40%, 60% {left:40%;}
  50% {    left: 50%;  }


}