/* Variables */
$bgColor: #000;
$fgColor: $color_space;
$timer:4s;



/* Do not change anything below */
//body {
//  background-color: $bgColor;
//}
#invader {display: flex;}
.invader {
  width: $dotsize;
  height: $dotsize;
  margin-top: 50px;
  margin:auto;
}


.invader {position: relative;}
.step1 {
        animation: MOVE $timer step-end infinite alternate, STEP_A $timer step-end infinite;
}
.step2 {
        animation: MOVE $timer step-end infinite alternate, STEP_B $timer step-end infinite;
}

@-webkit-keyframes STEP_A {
        0% {opacity:0;}
        20% {opacity:1;}
        40% {opacity:0;}
        60% {opacity:1;}
        80% {opacity:0;}
        100% {opacity:1;}
}
@-webkit-keyframes STEP_B {
        0% {opacity:1;}
        20% {opacity:0;}
        40% {opacity:1;}
        60% {opacity:0;}
        80% {opacity:1;}
        100% {opacity:0;}
}
@-webkit-keyframes MOVE {

  0% {left:0;}
  20% {left:20%;}
  40% {left:40%;}
  60% {left:60%;}
  80% {left:80%;}
  100% {left:100%;}
}


/*
@-webkit-keyframes SPRITE {
        0% {
                box-shadow:
                0 $dotsize*4 $fgColor,
                0 $dotsize*5 $fgColor,
                0 $dotsize*6 $fgColor,
                $dotsize $dotsize*3 $fgColor,
                $dotsize $dotsize*4 $fgColor,
                $dotsize*2 0 $fgColor,
                $dotsize*2 $dotsize*2 $fgColor,
                $dotsize*2 $dotsize*3 $fgColor,
                $dotsize*2 $dotsize*4 $fgColor,
                $dotsize*2 $dotsize*5 $fgColor,
                $dotsize*2 $dotsize*6 $fgColor,
                $dotsize*3 $dotsize $fgColor,
                $dotsize*3 $dotsize*2 $fgColor,
                $dotsize*3 $dotsize*4 $fgColor,
                $dotsize*3 $dotsize*5 $fgColor,
                $dotsize*3 $dotsize*7 $fgColor,
                $dotsize*4 $dotsize*2 $fgColor,
                $dotsize*4 $dotsize*3 $fgColor,
                $dotsize*4 $dotsize*4 $fgColor,
                $dotsize*4 $dotsize*5 $fgColor,
                $dotsize*4 $dotsize*7 $fgColor,
                $dotsize*5 $dotsize*2 $fgColor,
                $dotsize*5 $dotsize*3 $fgColor,
                $dotsize*5 $dotsize*4 $fgColor,
                $dotsize*5 $dotsize*5 $fgColor,
                $dotsize*6 $dotsize*2 $fgColor,
                $dotsize*6 $dotsize*3 $fgColor,
                $dotsize*6 $dotsize*4 $fgColor,
                $dotsize*6 $dotsize*5 $fgColor,
                $dotsize*6 $dotsize*7 $fgColor,
                $dotsize*7 $dotsize $fgColor,
                $dotsize*7 $dotsize*2 $fgColor,
                $dotsize*7 $dotsize*4 $fgColor,
                $dotsize*7 $dotsize*5 $fgColor,
                $dotsize*7 $dotsize*7 $fgColor,
                $dotsize*8 0 $fgColor,
                $dotsize*8 $dotsize*2 $fgColor,
                $dotsize*8 $dotsize*3 $fgColor,
                $dotsize*8 $dotsize*4 $fgColor,
                $dotsize*8 $dotsize*5 $fgColor,
                $dotsize*8 $dotsize*6 $fgColor,
                $dotsize*9 $dotsize*3 $fgColor,
                $dotsize*9 $dotsize*4 $fgColor,
                $dotsize*10 $dotsize*4 $fgColor,
                $dotsize*10 $dotsize*5 $fgColor,
                $dotsize*10 $dotsize*6 $fgColor;}
        100% {
                box-shadow:
                        0 $dotsize $fgColor,
                        0 $dotsize*2 $fgColor,
                        0 $dotsize*3 $fgColor,
                        0 $dotsize*4 $fgColor,
                        $dotsize $dotsize*3 $fgColor,
                        $dotsize $dotsize*4 $fgColor,
                        $dotsize $dotsize*5 $fgColor,
                        $dotsize $dotsize*7 $fgColor,
                        $dotsize*2 0 $fgColor,
                        $dotsize*2 $dotsize*2 $fgColor,
                        $dotsize*2 $dotsize*3 $fgColor,
                        $dotsize*2 $dotsize*4 $fgColor,
                        $dotsize*2 $dotsize*5 $fgColor,
                        $dotsize*2 $dotsize*6 $fgColor,
                        $dotsize*3 $dotsize $fgColor,
                        $dotsize*3 $dotsize*2 $fgColor,
                        $dotsize*3 $dotsize*4 $fgColor,
                        $dotsize*3 $dotsize*5 $fgColor,
                        $dotsize*4 $dotsize*2 $fgColor,
                        $dotsize*4 $dotsize*3 $fgColor,
                        $dotsize*4 $dotsize*4 $fgColor,
                        $dotsize*4 $dotsize*5 $fgColor,
                        $dotsize*5 $dotsize*2 $fgColor,
                        $dotsize*5 $dotsize*3 $fgColor,
                        $dotsize*5 $dotsize*4 $fgColor,
                        $dotsize*5 $dotsize*5 $fgColor,
                        $dotsize*6 $dotsize*2 $fgColor,
                        $dotsize*6 $dotsize*3 $fgColor,
                        $dotsize*6 $dotsize*4 $fgColor,
                        $dotsize*6 $dotsize*5 $fgColor,
                        $dotsize*7 $dotsize $fgColor,
                        $dotsize*7 $dotsize*2 $fgColor,
                        $dotsize*7 $dotsize*4 $fgColor,
                        $dotsize*7 $dotsize*5 $fgColor,
                        $dotsize*8 0 $fgColor,
                        $dotsize*8 $dotsize*2 $fgColor,
                        $dotsize*8 $dotsize*3 $fgColor,
                        $dotsize*8 $dotsize*4 $fgColor,
                        $dotsize*8 $dotsize*5 $fgColor,
                        $dotsize*8 $dotsize*6 $fgColor,
                        $dotsize*9 $dotsize*3 $fgColor,
                        $dotsize*9 $dotsize*4 $fgColor,
                        $dotsize*9 $dotsize*5 $fgColor,
                        $dotsize*9 $dotsize*7 $fgColor,
                        $dotsize*10 $dotsize $fgColor,
                        $dotsize*10 $dotsize*2 $fgColor,
                        $dotsize*10 $dotsize*3 $fgColor,
                        $dotsize*10 $dotsize*4 $fgColor;
        }
}
*/

.invader_b {
  margin:  -$dotsize*4 0 0 -$dotsize*5.5;
}
.invader_b.step1 {
  box-shadow:
          0 $dotsize*4 $fgColor,
          0 $dotsize*5 $fgColor,
          0 $dotsize*6 $fgColor,
          $dotsize $dotsize*3 $fgColor,
          $dotsize $dotsize*4 $fgColor,
          $dotsize*2 0 $fgColor,
          $dotsize*2 $dotsize*2 $fgColor,
          $dotsize*2 $dotsize*3 $fgColor,
          $dotsize*2 $dotsize*4 $fgColor,
          $dotsize*2 $dotsize*5 $fgColor,
          $dotsize*2 $dotsize*6 $fgColor,
          $dotsize*3 $dotsize $fgColor,
          $dotsize*3 $dotsize*2 $fgColor,
          $dotsize*3 $dotsize*4 $fgColor,
          $dotsize*3 $dotsize*5 $fgColor,
          $dotsize*3 $dotsize*7 $fgColor,
          $dotsize*4 $dotsize*2 $fgColor,
          $dotsize*4 $dotsize*3 $fgColor,
          $dotsize*4 $dotsize*4 $fgColor,
          $dotsize*4 $dotsize*5 $fgColor,
          $dotsize*4 $dotsize*7 $fgColor,
          $dotsize*5 $dotsize*2 $fgColor,
          $dotsize*5 $dotsize*3 $fgColor,
          $dotsize*5 $dotsize*4 $fgColor,
          $dotsize*5 $dotsize*5 $fgColor,
          $dotsize*6 $dotsize*2 $fgColor,
          $dotsize*6 $dotsize*3 $fgColor,
          $dotsize*6 $dotsize*4 $fgColor,
          $dotsize*6 $dotsize*5 $fgColor,
          $dotsize*6 $dotsize*7 $fgColor,
          $dotsize*7 $dotsize $fgColor,
          $dotsize*7 $dotsize*2 $fgColor,
          $dotsize*7 $dotsize*4 $fgColor,
          $dotsize*7 $dotsize*5 $fgColor,
          $dotsize*7 $dotsize*7 $fgColor,
          $dotsize*8 0 $fgColor,
          $dotsize*8 $dotsize*2 $fgColor,
          $dotsize*8 $dotsize*3 $fgColor,
          $dotsize*8 $dotsize*4 $fgColor,
          $dotsize*8 $dotsize*5 $fgColor,
          $dotsize*8 $dotsize*6 $fgColor,
          $dotsize*9 $dotsize*3 $fgColor,
          $dotsize*9 $dotsize*4 $fgColor,
          $dotsize*10 $dotsize*4 $fgColor,
          $dotsize*10 $dotsize*5 $fgColor,
          $dotsize*10 $dotsize*6 $fgColor;
}
.invader_b.step2 {
  box-shadow:
          0 $dotsize $fgColor,
          0 $dotsize*2 $fgColor,
          0 $dotsize*3 $fgColor,
          0 $dotsize*4 $fgColor,
          $dotsize $dotsize*3 $fgColor,
          $dotsize $dotsize*4 $fgColor,
          $dotsize $dotsize*5 $fgColor,
          $dotsize $dotsize*7 $fgColor,
          $dotsize*2 0 $fgColor,
          $dotsize*2 $dotsize*2 $fgColor,
          $dotsize*2 $dotsize*3 $fgColor,
          $dotsize*2 $dotsize*4 $fgColor,
          $dotsize*2 $dotsize*5 $fgColor,
          $dotsize*2 $dotsize*6 $fgColor,
          $dotsize*3 $dotsize $fgColor,
          $dotsize*3 $dotsize*2 $fgColor,
          $dotsize*3 $dotsize*4 $fgColor,
          $dotsize*3 $dotsize*5 $fgColor,
          $dotsize*4 $dotsize*2 $fgColor,
          $dotsize*4 $dotsize*3 $fgColor,
          $dotsize*4 $dotsize*4 $fgColor,
          $dotsize*4 $dotsize*5 $fgColor,
          $dotsize*5 $dotsize*2 $fgColor,
          $dotsize*5 $dotsize*3 $fgColor,
          $dotsize*5 $dotsize*4 $fgColor,
          $dotsize*5 $dotsize*5 $fgColor,
          $dotsize*6 $dotsize*2 $fgColor,
          $dotsize*6 $dotsize*3 $fgColor,
          $dotsize*6 $dotsize*4 $fgColor,
          $dotsize*6 $dotsize*5 $fgColor,
          $dotsize*7 $dotsize $fgColor,
          $dotsize*7 $dotsize*2 $fgColor,
          $dotsize*7 $dotsize*4 $fgColor,
          $dotsize*7 $dotsize*5 $fgColor,
          $dotsize*8 0 $fgColor,
          $dotsize*8 $dotsize*2 $fgColor,
          $dotsize*8 $dotsize*3 $fgColor,
          $dotsize*8 $dotsize*4 $fgColor,
          $dotsize*8 $dotsize*5 $fgColor,
          $dotsize*8 $dotsize*6 $fgColor,
          $dotsize*9 $dotsize*3 $fgColor,
          $dotsize*9 $dotsize*4 $fgColor,
          $dotsize*9 $dotsize*5 $fgColor,
          $dotsize*9 $dotsize*7 $fgColor,
          $dotsize*10 $dotsize $fgColor,
          $dotsize*10 $dotsize*2 $fgColor,
          $dotsize*10 $dotsize*3 $fgColor,
          $dotsize*10 $dotsize*4 $fgColor;
}



//defender

.invader-defender {
        font-size: $dotsize;
        position: absolute;
        bottom: $dotsize*7;
        // left: 50vh;
        // width: $dotsize;
        // height: $dotsize;
        margin: 0 $dotsize*5;

        .ship {
                width:$dotsize;
                height:$dotsize;
                background: $fgColor;
                box-shadow:
                        0 0 $fgColor,
                        0 $dotsize $fgColor,
                        $dotsize $dotsize $fgColor,
                        -$dotsize $dotsize $fgColor,
                        $dotsize*2 $dotsize $fgColor,
                        -$dotsize*2 $dotsize $fgColor,
                        0 $dotsize*2 $fgColor,
                        $dotsize $dotsize*2 $fgColor,
                        -$dotsize $dotsize*2 $fgColor,
                        $dotsize*2 $dotsize*2 $fgColor,
                        -$dotsize*2 $dotsize*2 $fgColor,
                        0 $dotsize*3 $fgColor,
                        $dotsize $dotsize*3 $fgColor,
                        -$dotsize $dotsize*3 $fgColor,
                        $dotsize*2 $dotsize*3 $fgColor,
                        -$dotsize*2 $dotsize*3 $fgColor,
                        $dotsize*3 $dotsize*3 $fgColor,
                        -$dotsize*3 $dotsize*3 $fgColor,
                        $dotsize*4 $dotsize*3 $fgColor,
                        -$dotsize*4 $dotsize*3 $fgColor,
                        0 $dotsize*4 $fgColor,
                        $dotsize $dotsize*4 $fgColor,
                        -$dotsize $dotsize*4 $fgColor,
                        $dotsize*2 $dotsize*4 $fgColor,
                        -$dotsize*2 $dotsize*4 $fgColor,
                        $dotsize*3 $dotsize*4 $fgColor,
                        -$dotsize*3 $dotsize*4 $fgColor,
                        $dotsize*4 $dotsize*4 $fgColor,
                        -$dotsize*4 $dotsize*4 $fgColor,
                        $dotsize*5 $dotsize*4 $fgColor,
                        -$dotsize*5 $dotsize*4 $fgColor,
                        $dotsize*6 $dotsize*4 $fgColor,
                        -$dotsize*6 $dotsize*4 $fgColor,
                        $dotsize*7 $dotsize*4 $fgColor,
                        -$dotsize*7 $dotsize*4 $fgColor,
                        0 $dotsize*5 $fgColor,
                        $dotsize $dotsize*5 $fgColor,
                        -$dotsize $dotsize*5 $fgColor,
                        $dotsize*2 $dotsize*5 $fgColor,
                        -$dotsize*2 $dotsize*5 $fgColor,
                        $dotsize*3 $dotsize*5 $fgColor,
                        -$dotsize*3 $dotsize*5 $fgColor,
                        $dotsize*4 $dotsize*5 $fgColor,
                        -$dotsize*4 $dotsize*5 $fgColor,
                        $dotsize*5 $dotsize*5 $fgColor,
                        -$dotsize*5 $dotsize*5 $fgColor,
                        $dotsize*6 $dotsize*5 $fgColor,
                        -$dotsize*6 $dotsize*5 $fgColor,
                        $dotsize*7 $dotsize*5 $fgColor,
                        -$dotsize*7 $dotsize*5 $fgColor,
                        0 $dotsize*6 $fgColor,
                        $dotsize $dotsize*6 $fgColor,
                        -$dotsize $dotsize*6 $fgColor,
                        $dotsize*2 $dotsize*6 $fgColor,
                        -$dotsize*2 $dotsize*6 $fgColor,
                        $dotsize*3 $dotsize*6 $fgColor,
                        -$dotsize*3 $dotsize*6 $fgColor,
                        $dotsize*4 $dotsize*6 $fgColor,
                        -$dotsize*4 $dotsize*6 $fgColor,
                        $dotsize*5 $dotsize*6 $fgColor,
                        -$dotsize*5 $dotsize*6 $fgColor,
                        $dotsize*6 $dotsize*6 $fgColor,
                        -$dotsize*6 $dotsize*6 $fgColor,
                        $dotsize*7 $dotsize*6 $fgColor,
                        -$dotsize*7 $dotsize*6 $fgColor;


//fire with animation
                &--bullet {
                        background-color: red;
                        width: $dotsize/2;
                        height: $dotsize*2;
                        margin-left: $dotsize/4;
                        position: absolute;
                        animation: 2s linear fire;
                        animation-iteration-count: infinite
                }
        }

}
//fire animation
@keyframes fire {
        from {bottom:$dotsize;}
        to {bottom:$dotsize*100;}
}
