{
    "backupDatabaseLogicalDump":
    {
        "commandPath":
        {
            "mongodump": "/usr/bin/mongodump"
        },
        "dictAlias":
        {
            "wasdi":
            {
                "enabled": true,
                "whichWeekToExecute": "all",
                "whichDayToExecute":
                [
                    "all"
                ],
                "environmentName": "prod",
                "sourceServerAddress": "{{ sWasdiContainerMongoMainServiceName }}",
                "sourceServerAuthenticationDatabaseName": "admin",
                "sourceServerDatabaseName": "wasdi",
                "sourceServerUserName": "{{ sWasdiContainerMongoMainDatabaseBackupUsername }}",
                "sourceServerUserPassword": "{{ sWasdiContainerMongoMainDatabaseBackupPassword }}",
                "sourceServerPort": {{ sWasdiContainerMongoMainInternalPort }},
                "dumpCommandParameter": "--dumpDbUsersAndRoles --verbose",
                "temporaryDirectoryDuringBackup": "/data/module/mongodb/backupDatabaseLogicalDump/cache",
                "finalDirectoryWhenBackupIsSuccess": "/data/module/mongodb/backupDatabaseLogicalDump",
                "finalDirectoryWhenBackupIsInError": "/data/module/mongodb/backupDatabaseLogicalDump/error",
                "backupFileName": "TEST-ADWAISEO-MAIN01_[{aliasName}]_[{YYYY}][{mm}][{dd}]_[{H}][{M}][{S}].tar.gz",
                "howManyBackupToKeep": 12,
                "dictEmailProfile":
                {
                    "onSuccess":
                    {
                        "enabled": false,
                        "profileName": "default",
                        "subject": "TEST-ADWAISEO-MAIN01 - SUCCESS - Report for MongoDB backups"
                    },
                    "onError":
                    {
                        "profileName": "default",
                        "subject": "TEST-ADWAISEO-MAIN01 - ERROR - Report for MongoDB backups"
                    }
                }
            }
        },
        "dictEmailProfile":
        {
            "default":
            {
                "enabled": true,
                "from": "{{ sWasdiToolboxSmtpSenderAddress }}",
                "to": [
                    "sysadmin@wasdi.cloud"
                ],
                "cc": [],
                "bcc": [],
                "subject": "Report for MongoDB backups",
                "smtpServer": {
                    "tls": {{ sWasdiSmtpServerStartTls }},
                    "address": "{{ sWasdiToolboxSmtpServerAddress }}",
                    "port": {{ sWasdiToolboxSmtpServerPort }},
                    "login": "{{ sWasdiToolboxSmtpServerUserName }}",
                    "password": "{{ sWasdiToolboxSmtpServerUserPassword }}"
                }
            }
        }
    }
}
