<div class="image-editor-container w-100 h-100" id="imageEditorContainer" ng-class="{ 'wait-cursor-hover':m_bIsVisibleMouseCursorWait === true, 'crosshair-cursor-hover':m_bIsActiveZoom === true }">

    <div class="btn-group btn-group-right" role="group" >

        <button type="button" class="btn btn-default" ng-click="clickOnEditPanel()"  data-toggle="tooltip"
                data-placement="bottom" title="{{'IMAGE_EDITOR_DIRECTIVE_TOOLTIP_EDIT_PANEL'|translate}}"
                ng-disabled=" urlImage === '' || urlImage ==='//:0' "> <!-- ng-disabled=" urlImage === '' || urlImage ==='//:0' "-->
            <i class="fa fa-image" aria-hidden="true"></i>
        </button>

        <button type="button" class="btn btn-default" ng-class="{'zoomButtonActive': m_bIsActiveZoom}" ng-click="clickOnZoom()"  data-toggle="tooltip"
                data-placement="bottom" title="{{'IMAGE_EDITOR_DIRECTIVE_TOOLTIP_ZOOM_ON'|translate}}"
                ng-disabled=" urlImage === '' || urlImage ==='//:0' " >
            <i class="fa fa-search-plus" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default"   data-toggle="tooltip"
                data-placement="bottom" title="{{'IMAGE_EDITOR_DIRECTIVE_TOOLTIP_RESET_ZOOM'|translate}}"
                 ng-click="clickOnResetZoom()" title="test"
                ng-disabled=" urlImage === '' || urlImage ==='//:0' " >
            <i class="fa fa-search-minus" aria-hidden="true"></i>
        </button>
    </div>

    <canvas id='imageviewcanvas'  width='{{widthCanvas}}' height='{{heightCanvas}}' ></canvas>

</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            trigger : 'hover'
        })
    })
</script>
