<div class="image-editor-container">

    <!--<div class="loadIcon" ng-hide="isLoaded">-->
        <!--<invader></invader>-->
    <!--</div>-->
    <button class="my-button" ng-click="getZoomTemporaryImage()">test</button>
    <div> <!-- ng-show="isLoaded"-->
        <canvas id='imageviewcanvas'  width='1238px' height='707.797px' ></canvas><!-- width='800' height='600'-->
    </div>
    <!--<button ng-click="changeZoomSquareSize()"> resize </button>-->
    <!--<button ng-click="onClick()"> Zoom </button>-->

    <!--<div class="range-container">&lt;!&ndash; style="width: 100%;"&ndash;&gt;-->
        <!--<input type="range" min="1" max="100" value="100" class="slider" ng-model="selectedValue" ng-change="changeZoomSquareSize(selectedValue)">&lt;!&ndash;ng-change="m_oController.maxSliderColourManipulation()"&ndash;&gt;-->
    <!--</div>-->
</div>
