<div class="container-fluid">
    <!-- SHARING DATA -->
    <div class="container-fluid" ng-show="true">

        <div class="row give-permission-row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <label>{{"DIALOG_WORKFLOW_TAB_SHARE_WF"|translate}}</label>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" name="name" id="" class="form-control wasdi-input" value="" title=""  ng-model="m_oController.m_sUserEmail" required="required" placeholder='{{"DIALOG_PROCESSOR_SHARE_MAIL"|translate}}'>
            </div>

            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <button class="btn btn-primary btn-wasdi"
                        ng-click="m_oController.shareWorkflowByUserEmail(m_oController.m_sUserEmail)">
                    <em class="custom-icon fa fa-share-alt fa-lg" ng-class="button.icon"></em>
                    <span class="ng-binding">{{"DIALOG_PROCESSOR_SHARE_SHARE"|translate}}</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label>{{"DIALOG_PROCESSOR_SHARE_ACTIVE"|translate}}</label>
                <table class="table table-hover">
                    <description>{{"DIALOG_PROCESSOR_SHARE_ACTIVE"|translate}}</description>
                    <tbody>
                    <tr ng-repeat="oUser in m_oController.m_aoEnabledUsers">
                        <td class="over-icon">
                            <button class="btn btn-primary btn-wasdi"
                                    ng-click="m_oController.removeUserSharing(oUser.userId)">
                                <!--Remove Sharing-->
                                <i class="fa fa-trash fa-lg" aria-hidden="true" style="margin-right: 0px;"></i>
                                <span class="ng-binding">{{"DIALOG_PROCESSOR_SHARE_REMOVE"|translate}}</span>
                            </button>
                        </td>
                        <td>
                            {{oUser.userId}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
