<div class="modal fade edit-user-dialog-catalog">
    <div class="modal-dialog modal-wasdi">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
            </div>
            <!-- BODY -->
            <div class="modal-body no-ale-style">
                <div class="row-v4 p-3">
                    <div style="width: 100%">
                        <legend>
                            {{"DIALOG_SHARE_ORGANIZATION"|translate}}
                        </legend>

                        <div class="container-fluid">
                            <div class="row give-permission-row">
                                <form class="d-flex flex-row" novalidate>
                                    <div class="form-group mr-3" style="width: 90%">
                                        <h4 class="text-success">
                                            {{"DIALOG_SHARE_ORGANIZATION_ADD_USER"|translate}}
                                        </h4>
                                        <input
                                            type="text"
                                            name="name"
                                            id=""
                                            class="form-control wasdi-input"
                                            value=""
                                            title=""
                                            ng-model="m_oController.m_sUserEmail"
                                            required="required"
                                            placeholder='{{"DIALOG_SHARE_WS_MAIL"|translate}}'
                                        />
                                    </div>
                                    <button
                                        class="btn btn-primary btn-wasdi mb-4 align-self-end"
                                        ng-click="m_oController.shareOrganization(m_oController.m_sUserEmail)"
                                    >
                                        <em
                                            class="custom-icon fa fa-share-alt fa-lg"
                                            ng-class="button.icon"
                                        ></em>
                                        <span class="ng-binding"
                                            >{{"DIALOG_SHARE_WS_SHARE"|translate}}</span
                                        >
                                    </button>
                                </form>
                            </div>
                        </div>
    
                        <hr class="divider-line-style1" />

                        <div ng-show="m_oController.m_aoUsersList.length == 0">
                            <br>
                            <p>Not shared with users, yet</p>
                        </div>
                        <div ng-show="m_oController.m_aoUsersList.length > 0">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>UserId</th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oUser in m_oController.m_aoUsersList">
                                        <td>{{oUser.userId}}</td>

                                        <td class="over-icon">
                                            <button class="btn btn-danger btn-wasdi"
                                                title={{"DIALOG_EDIT_ORGANIZATION_UNSHARE"|translate}}
                                                ng-click="m_oController.unshareOrganization(oUser.userId)">
                                                <!--Unshare Organization-->
                                                <i class="fa fa-trash fa-lg" aria-hidden="true" style="margin-right: 0px"></i>
                                                <span class="ng-binding">{{"DIALOG_SHARE_WS_REMOVE"|translate}}</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="loadIcon" ng-show="m_oController.m_bLoadingUserss">
                                <invader></invader>
                            </div>
                        </div>
                        <!-- FOOTER -->
                        <div class="modal-footer">
                            <button type="button" ng-click="close(null)" class="btn btn-primary btn-wasdi"
                                data-dismiss="modal">
                                {{"DIALOG_CLOSE_BUTTON"|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>