.MultiselectDropdownMenuDirective{
  float: left;
  border-style: solid;
  border-color: #2D394F;
  border-width: 2px;
  margin-top: 8px;
  .checkbox, .radio {
    margin-left: 5px;
  }
  a{
    color: black;
  }
  .nav > li > a {
    padding: 10px 10px;
  }
}