# {{ ansible_managed }}
version: "3"

# Default project name: all containers are
# prefixed with this value
name: "wasdi-toolbox"

networks:
  default:
    name: "{{ sWasdiDockerNetworkName }}"
    driver: "bridge"
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.enable_ip_masquerade: "true"
      com.docker.network.bridge.host_binding_ipv4: "0.0.0.0"
      com.docker.network.bridge.name: "br-{{ sWasdiDockerNetworkName }}"
      com.docker.network.driver.mtu: "1500"
    external: true
    ipam:
      driver: "default"
      config:
        - subnet: "{{ sWasdiDockerNetworkSubnet }}"
          gateway: "{{ sWasdiDockerNetworkGateway }}"

services:
  {{ sWasdiToolboxServiceName }}:
    image: {{ sWasdiToolboxServiceName }}:latest
    restart: "no"
    ulimits:
      nofile:
        soft: {{ sWasdiToolboxUlimitNofile }}
        hard: {{ sWasdiToolboxUlimitNofile }}
    volumes:
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_configuration:{{ sWasdiToolboxRootDirectoryPath }}/configuration:ro
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_output:{{ sWasdiToolboxRootDirectoryPath }}/output:rw

  maintenance-cleanNexusRepository:
    command:
      - --mode-execute
      - real
      - --mode-batch
    environment:
      - TOOLBOX_LOG_VERBOSE=true
      - TOOLBOX_LOG_ON_SCREEN=true
      - TOOLBOX_MODULE_NAME=maintenance
      - TOOLBOX_SUBMODULE_NAME=cleanNexusRepository
    image: {{ sWasdiToolboxServiceName }}:latest
    restart: "no"
    ulimits:
      nofile:
        soft: {{ sWasdiToolboxUlimitNofile }}
        hard: {{ sWasdiToolboxUlimitNofile }}
    volumes:
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_configuration:{{ sWasdiToolboxRootDirectoryPath }}/configuration:ro
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_output:{{ sWasdiToolboxRootDirectoryPath }}/output:rw

  maintenance-cleanNexusRepositoryDynamicRule:
    command:
      - --mode-execute
      - real
      - --mode-batch
    environment:
      - TOOLBOX_LOG_VERBOSE=true
      - TOOLBOX_LOG_ON_SCREEN=true
      - TOOLBOX_MODULE_NAME=maintenance
      - TOOLBOX_SUBMODULE_NAME=cleanNexusRepositoryDynamicRule
    image: {{ sWasdiToolboxServiceName }}:latest
    restart: "no"
    ulimits:
      nofile:
        soft: {{ sWasdiToolboxUlimitNofile }}
        hard: {{ sWasdiToolboxUlimitNofile }}
    volumes:
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_configuration:{{ sWasdiToolboxRootDirectoryPath }}/configuration:ro
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_output:{{ sWasdiToolboxRootDirectoryPath }}/output:rw

  mongodb-backupDatabaseLogicalDump:
    command:
      - --mode-execute
      - real
      - --mode-batch
    environment:
      - TOOLBOX_LOG_VERBOSE=true
      - TOOLBOX_LOG_ON_SCREEN=true
      - TOOLBOX_MODULE_NAME=mongodb
      - TOOLBOX_SUBMODULE_NAME=backupDatabaseLogicalDump
    image: {{ sWasdiToolboxServiceName }}:latest
    restart: "no"
    ulimits:
      nofile:
        soft: {{ sWasdiToolboxUlimitNofile }}
        hard: {{ sWasdiToolboxUlimitNofile }}
    user: "{{ sWasdiBackupSystemUserName }}:{{ sWasdiBackupSystemGroupName }}"
    volumes:
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_configuration:{{ sWasdiToolboxRootDirectoryPath }}/configuration:ro
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_output:{{ sWasdiToolboxRootDirectoryPath }}/output:rw
      - /data/wasdibck/cache/mongodb:/mnt/cache:rw
      - /data/wasdibck/mongodb:/mnt/data:rw

  monitoring-monitorMissingFile:
    command:
      - --mode-execute
      - real
      - --mode-batch
    environment:
      - TOOLBOX_LOG_VERBOSE=true
      - TOOLBOX_LOG_ON_SCREEN=true
      - TOOLBOX_MODULE_NAME=monitoring
      - TOOLBOX_SUBMODULE_NAME=monitorMissingFile
    image: {{ sWasdiToolboxServiceName }}:latest
    restart: "no"
    ulimits:
      nofile:
        soft: {{ sWasdiToolboxUlimitNofile }}
        hard: {{ sWasdiToolboxUlimitNofile }}
    user: "root:root"
    volumes:
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_configuration:{{ sWasdiToolboxRootDirectoryPath }}/configuration:ro
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_output:{{ sWasdiToolboxRootDirectoryPath }}/output:rw
      - {{ sWasdiDataSftpRootDirectoryPath }}:/mnt/data:ro

  postgresql-backupDatabaseLogicalDump:
    command:
      - --mode-execute
      - real
      - --mode-batch
    environment:
      - TOOLBOX_LOG_VERBOSE=true
      - TOOLBOX_LOG_ON_SCREEN=true
      - TOOLBOX_MODULE_NAME=postgresql
      - TOOLBOX_SUBMODULE_NAME=backupDatabaseLogicalDump
    image: {{ sWasdiToolboxServiceName }}:latest
    restart: "no"
    ulimits:
      nofile:
        soft: {{ sWasdiToolboxUlimitNofile }}
        hard: {{ sWasdiToolboxUlimitNofile }}
    user: "{{ sWasdiBackupSystemUserName }}:{{ sWasdiBackupSystemGroupName }}"
    volumes:
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_configuration:{{ sWasdiToolboxRootDirectoryPath }}/configuration:ro
      - {{ sWasdiDataDockerVolumeRootDirectoryPath }}/{{ sWasdiToolboxServiceName }}/opt_wasdi_toolbox_output:{{ sWasdiToolboxRootDirectoryPath }}/output:rw
      - /data/wasdibck/cache/postgresql:/mnt/cache:rw
      - /data/wasdibck/postgresql:/mnt/data:rw
