print('[WASDI] Authenticating as administrator...')
oCurrentDatabase = db.getSiblingDB('admin');
oCurrentDatabase.auth(
    {
        user: _getEnv('MONGO_INITDB_ROOT_USERNAME'),
        pwd: _getEnv('MONGO_INITDB_ROOT_PASSWORD')
    }
);
print('[WASDI] OK')

print('[WASDI] Creating the database user...')
oCurrentDatabase = db.getSiblingDB(_getEnv('sWasdiMongoMainDatabaseName'));
oCurrentDatabase.createUser(
    {
        user: _getEnv('sWasdiMongoMainUserName'),
        pwd: _getEnv('sWasdiMongoMainUserPassword'),
        roles: [
            {
                role: 'readWrite',
                db: _getEnv('sWasdiMongoMainDatabaseName')
            }
        ]
    }
);
print('[WASDI] OK')

print('[WASDI] Creating an empty collection to initialize the database...')
oCurrentDatabase.createCollection('_initialized');
print('[WASDI] OK')

print('[WASDI] Creating the indexes...')
oCurrentDatabase.counter.createIndex(
    {
        'sequence': 1
    },
    {
        name: 'idx_sequence_001'
    }
);
oCurrentDatabase.processorlog.createIndex(
    {
        'processWorkspaceId': 1
    },
    {
        name: 'idx_processWorkspaceId_001'
    }
);
oCurrentDatabase.processorsharing.createIndex(
    {
        'userId': 1,
        'processorId': 1
    },
    {
        name: 'idx_userId_processorId_001'
    }
);
oCurrentDatabase.processworkpsace.createIndex(
    {
        'productName': 1
    },
    {
        name: 'idx_productName_001'
    }
);
oCurrentDatabase.processworkpsace.createIndex(
    {
        'processObjId': 1
    },
    {
        name: 'idx_processObjId_001'
    }
);
oCurrentDatabase.processworkpsace.createIndex(
    {
        'status': 1
    },
    {
        name: 'idx_status_001'
    }
);
oCurrentDatabase.processworkpsace.createIndex(
    {
        'workspaceId': 1
    },
    {
        name: 'idx_workspaceId_001'
    }
);
oCurrentDatabase.reviews.createIndex(
    {
        'processorId': 1
    },
    {
        name: 'idx_processorId_001'
    }
);
oCurrentDatabase.sessions.createIndex(
    {
        'sessionId': 1
    },
    {
        name: 'idx_sessionId_001'
    }
);
oCurrentDatabase.sessions.createIndex(
    {
        'lastTouch': 1,
        'userId': 1
    },
    {
        name: 'idx_lastTouch_userId_001'
    }
);
oCurrentDatabase.users.createIndex(
    {
        'userId': 1
    },
    {
        name: 'idx_userId_001'
    }
);
oCurrentDatabase.workspaces.createIndex(
    {
        'workspaceId': 1
    },
    {
        name: 'idx_workspaceId_001'
    }
);
oCurrentDatabase.workspacessharing.createIndex(
    {
        'workspaceId': 1
    },
    {
        name: 'idx_workspaceId_001'
    }
);
print('[WASDI] OK')
