dbAdmin = db.getSiblingDB('admin');

dbAdmin.auth(
    {
        user: _getEnv('MONGO_INITDB_ROOT_USERNAME'),
        pwd: _getEnv('MONGO_INITDB_ROOT_PASSWORD')
    }
);

dbAdmin.createUser(
    {
        user: _getEnv('sWasdiMongoAdditionalUserBackupUserName'),
        pwd: _getEnv('sWasdiMongoAdditionalUserBackupUserPassword'),
        roles: [
            {
                role: 'backup',
                db: 'admin'
            }
        ]
    }
);

dbAdmin.createUser(
    {
        user: _getEnv('sWasdiMongoAdditionalUserMetrologyUserName'),
        pwd: _getEnv('sWasdiMongoAdditionalUserMetrologyUserPassword'),
        roles: [
            {
                role: 'clusterMonitor',
                db: 'admin'
            }
        ]
    }
);
