print('[{{ sWasdiMongoGeneralDatabaseName }}] Authenticating as administrator...')
oCurrentDatabase = db.getSiblingDB('admin');
oCurrentDatabase.auth(
    {
        user: _getEnv('MONGO_INITDB_ROOT_USERNAME'),
        pwd: _getEnv('MONGO_INITDB_ROOT_PASSWORD')
    }
);
print('[{{ sWasdiMongoGeneralDatabaseName }}] OK')




print('[{{ sWasdiMongoGeneralDatabaseName }}] Connecting to the database \'{{ sWasdiMongoGeneralDatabaseName }}\'...')
oCurrentDatabase = db.getSiblingDB('{{ sWasdiMongoGeneralDatabaseName }}');
print('[{{ sWasdiMongoGeneralDatabaseName }}] OK')




{% for aoWasdiMongoGeneralCurrentIndex in aoWasdiMongoGeneralIndexes %}
{% if ( aoWasdiMongoGeneralCurrentIndex['state'] | default('present') | lower ) == 'present' %}
print('[{{ sWasdiMongoGeneralDatabaseName }}] Create an index on the collection \'{{ aoWasdiMongoGeneralCurrentIndex['collection'] }}\'...')
oCurrentDatabase.{{ aoWasdiMongoGeneralCurrentIndex['collection'] }}.createIndex(
    {
{% for sKey in aoWasdiMongoGeneralCurrentIndex['keys'] %}
        '{{ sKey }}': {{ aoWasdiMongoGeneralCurrentIndex['keys'][sKey] }}{% if not loop.last %},
{% endif %}
{% endfor %}

    },
    {
{% for sKey in aoWasdiMongoGeneralCurrentIndex['options'] %}
        {{ sKey }}: '{{ aoWasdiMongoGeneralCurrentIndex['options'][sKey] }}'{% if not loop.last %},
{% endif %}
{% endfor %}

    }
);
print('[{{ sWasdiMongoGeneralDatabaseName }}] OK')
{% if not loop.last %}

{% endif %}
{% endif %}
{% endfor %}
