.list-flood-area-detection-dialog
{
  .modal-dialog
  {

    .modal-content
    {
      //HEADER
      .modal-header
      {

      }
      //BODY
      .modal-body
      {
        min-height: 50vh;
        label{
          margin: 10px 0px 5px 0px;
          color:$wasdi-green-logo;
        }
        .list-flood-area-detection-container{

          .logo-container{
            width: auto;
            height: 100px;
            cursor: pointer;
            background-color: rgba(16, 32, 48, 0.75);
          }

        }
        .my-dropdown{
          button{
            width: 100%;
          }
        }

        .reference-container{
          margin-top: 20px;
        }
        .post-event-image-container{
          margin-top: 20px;
        }
        .label-dropdown-menu{
          margin-top: 18px;
        }
      }
      //FOOTER
      .modal-footer
      {

      }
    }
  }
}