#!/bin/bash

{{ sWasdiJdk21RootDirectoryPath }}/{{ sWasdiJdk21Version }}/bin/java \
    ${JAVA_OPTS} \
    -jar \
    {{ sWasdiJenkinsRootDirectoryPath }}/{{ sWasdiJenkinsVersion }}/{{ sWasdiJenkinsSourceUrl | basename }} \
    ${@}
