.workflow-manager-modal
{
  .modal-dialog
  {
    width:50%;
    .modal-content
    {
      .modal-header
      {
        color:$wasdi-white;
        background-color: $wasdi-blue-logo;
        .close
        {
          color: $wasdi-white;
          opacity: 1;
        }
      }

      .modal-body
      {
        //textarea {
        //  resize: none;
        //  background-color: $wasdi-white;
        //  border-color:$wasdi-input-text-border-color ;
        //
        //}

        table{
          .selectedWorkflow{

            color:$wasdi-white;
            background-color: $wasdi-green-logo;
          }

        }

        .row{
          margin-top: 20px;
          .button-container{
            float:right;
          }
        }

        .tab-content{
          margin-top: 10px;
        }





      }

      .modal-footer
      {
        border-top:1px solid $wasdi-blue-logo;
        .my-button
        {
          padding: 10px 21px;
        }
      }
    }
  }
}