<div class="container-fluid-v4">
    <!--LOAD ICON-->
    <div class="row mt-0 pl-4">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show=" (m_oController.m_aoWorkflows.length === 0) && (m_oController.m_bIsLoadingWorkflows === true)">
            <div class="loadIcon">
                <invader></invader>
            </div>
        </div>
    </div>

    <!--LIST OF WORKFLOWS  -->
    <div class="workflows-container row mt-3 " ng-show="m_oController.m_aoWorkflows.length > 0" >
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 list-of-workflows">
            <!------------------------------------- WORKFLOWS TABLE ------------------------------------->
            <div class="well pointer-cursor-hover" ng-repeat="workflow in m_oController.getMultipleInputWorkflow()"
                 ng-class="{'selectedWorkflow': m_oController.m_oSelectedMultiInputWorkflow  === workflow}"
                 ng-click="m_oController.m_oSelectedMultiInputWorkflow = workflow">

                <div>
                    <h4>
                        {{workflow.name}}
                    </h4>
                </div>
                <div>
                    <label><strong>Description: </strong></label>
                    <span>
                        {{workflow.description}}
                    </span>
                </div>

                <div>
                    <label><strong>Owner:</strong> </label>
                    <span>
                        {{workflow.userId}}
                    </span>
                </div>



                <div class="buttons-container" ng-hide="m_oController.isTheOwnerOfWorkflow(workflow)===false">
                    <button class="btn btn-wasdi my-align-right" ng-click="m_oController.downloadWorkflow(workflow)">
                        Download <i class="fa fa-download" aria-hidden="true" ></i>
                    </button>
                    <button class="btn btn-wasdi my-align-right" ng-click="m_oController.openDeleteWorkflowDialog(workflow)">
                        Delete <i class="fa fa-trash" aria-hidden="true" ></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h3> {{m_oController.m_oSelectedMultiInputWorkflow.name}} </h3>
            <div class="input-nodes" ng-repeat="node in m_oController.m_oSelectedMultiInputWorkflow.inputNodeNames ">

            <span class="node-title">
                <h4>{{node}} :</h4>
            </span>

                <div class="dropdown my-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button"
                            id="dropdownMenuProductListMultiselectWorkflow" data-toggle="dropdown">
                        Products
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu"
                        aria-labelledby="dropdownMenuProductListMultiselectWorkflow">

                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href=""
                               ng-repeat="product in m_oController.m_asProductsName"
                               ng-click="m_oController.addProductInputInNode(node,product)">
                                {{product}}
                            </a >
                        </li>

                    </ul>
                </div>


                <span class="selected-input">
                {{m_oController.m_oSelectedMultiInputWorkflow.inputFileNames[$index]}}
                </span>

            </div>

            <button class="btn btn-wasdi my-align-right" ng-click="m_oController.runMultiInputWorkFlow()" data-dismiss="modal" ng-hide="m_oController.m_oSelectedMultiInputWorkflow === null">
                {{"DIALOG_WORKFLOW_MANAGER_EXECUTE_WORKFLOW_BUTTON"|translate}}
            </button>

        </div>
    </div>
</div>

