<!--LOAD ICON-->
<div class="row mt-0 pl-4">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
         ng-show=" (m_oController.m_aoWorkflows.length === 0) && (m_oController.m_bIsLoadingWorkflows === true)">
        <div class="loadIcon">
            <invader></invader>
        </div>
    </div>
</div>

<!--LIST OF WORKFLOWS  -->
<div class="modal-body d-flex flex-column">
    <div class="row-v4">
        <div class="col-v4" style="height: 60vh;">
            <!------------------------------------- SEARCH BAR ------------------------------------->
            <div>
                <input class="wasdi-input"
                       ng-model="searchText.name"
                       placeholder='{{"DIALOG_WORKFLOW_FILTER_NAME" | translate}}' style="margin-bottom: 15px;">
                </label>
            </div>


            <div class="row-v4 apps-list">
                <!------------------------------------- WORKFLOWS TABLE ------------------------------------->
                <div class="col-v4-6 mb-4" ng-repeat="workflow in m_oController.getSingleInputWorkflow() | filter:searchText">
                     <!--ng-repeat="workflow in m_oController.getMultipleInputWorkflow() | filter:searchText:strict"-->
                    <div class="pt-1 pb-3 px-3 app-item" style="margin-bottom: 15px;"

                         ng-class="{'selectedWorkflow': m_oController.m_oSelectedWorkflow  === workflow}"
                         ng-click="m_oController.selectBatchWorkflow(workflow)">

                        <div class="row-v4">
                            <div class="col-v4-12">
                                <button ng-hide="m_oController.isTheOwnerOfWorkflow(workflow)===false"
                                        class="wapps-button "
                                        ng-click="m_oController.downloadWorkflow(workflow)">
                                    <em class="fa fa-download"></em>
                                </button>
                                <!--<button ng-hide="m_oController.isTheOwnerOfWorkflow(workflow)===false" class="wapps-button " ng-click="m_oController.editClick(processor)"><em class="fa fa-edit"></em></button>-->
                                <button ng-hide="m_oController.isTheOwnerOfWorkflow(workflow)===false"
                                        class="wapps-button"
                                        ng-click="m_oController.openDeleteWorkflowDialog(workflow)">
                                    <em class="fa fa-times"></em>
                                </button>
                            </div>
                        </div>
                        <div class="row-v4">
                            <div class="col-v4-12">
                                <div class="content-image text-center">
                                    <em class="fa fa-laptop"></em>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h4>
                                <strong>{{workflow.name.replaceAll("_"," ")}}</strong>
                            </h4>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <!--------------------   LAUNCH WORKFLOW DIALOG -------------------->
        <div class="col-v4" style="height: 60vh;">
            <div class="well h-100 m-0 d-flex flex-column">
                <div class="" ng-hide="m_oController.m_oSelectedWorkflow == null">
                    <h3> {{m_oController.m_oSelectedWorkflow.name}} </h3>
                    <div>
                        <label><strong>{{"DIALOG_STYLE_OWNER" | translate}}</strong>
                        </label>
                        <span> {{m_oController.m_oSelectedMultiInputWorkflow.userId}}</span>
                    </div>
                    <div>
                        <label> <strong>{{"DIALOG_STYLE_DESCRIPTION" | translate}}</strong>
                        </label>
                        <span>{{m_oController.m_oSelectedMultiInputWorkflow.description.replaceAll("_", " ")}}</span>
                    </div>

                    <!-------------------------------- LIST OF PRODUCTS -------------------------------->
                    <multiselect options="m_oController.m_asProductsName"
                                 selected="m_oController.m_asSelectedProducts">
                    </multiselect>

                    <div class="w-100 text-right">
                        <button class="btn btn-primary btn-wasdi btn-mdlg"
                                ng-click="m_oController.runWorkFlowPerProducts();"
                                ng-class="{ 'disabled' : m_oController.isPossibleDoUpload()}"
                                ng-show="m_oController.isSelectedWorkFlow() && m_oController.isSelectedProduct() && m_oController.m_oConstantsService.isWorkspaceReadOnly()==false"
                                data-dismiss="modal">
                            {{"DIALOG_WORKFLOW_MANAGER_EXECUTE_WORKFLOW_BUTTON" | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

