<!--LOAD ICON-->
<div class="modal-body d-flex flex-column" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
         ng-show=" (m_oController.m_aoWorkflows.length === 0) && (m_oController.m_bIsLoadingWorkflows === true)">
         <!--ng-show=" (m_oController.m_aoWorkflows.length === 0) && (m_oController.m_bIsLoadingWorkflows === true)"-->
        <div class="loadIcon">
            <invader style ="margin-top: calc(100% / 5);margin-bottom: calc(100% / 5);"></invader>
        </div>
    </div>
</div>

<!--LIST OF WORKFLOWS  -->
<div class="modal-body d-flex flex-column" ng-hide=" (m_oController.m_aoWorkflows.length === 0) && (m_oController.m_bIsLoadingWorkflows === true)">
<!-- ng-hide=" (m_oController.m_aoWorkflows.length === 0) && (m_oController.m_bIsLoadingWorkflows === true)"> -->
    <div class="row-v4">
        <div class="col-v4" style="height: 60vh;">
            <!------------------------------------- SEARCH BAR ------------------------------------->
            <div>
                <input class="wasdi-input"
                       ng-model="searchText.name"
                       placeholder="Filter WorkFlow Name..." style="margin-bottom: 15px;">
            </div>

            <div class="row-v4 apps-list">
                <!------------------------------------- WORKFLOWS TABLE ------------------------------------->
                <div class="col-v4-6 mb-4"
                     ng-repeat="workflow in m_oController.getMultipleInputWorkflow() | filter:searchText:strict | orderBy:'name'">
                    <div class="pt-1 pb-3 px-3 h-100 app-item" style="margin-bottom: 15px;"
                         ng-click="m_oController.selectedMultiInputWorkflow(workflow)"
                         ng-class="{'selectedWorkflow': m_oController.m_oSelectedMultiInputWorkflow  === workflow}">
                        <div class="row-v4">
                            <div class="col-v4-12">
                                <!--/* */-->
                                <button ng-show="m_oController.isTheOwnerOfWorkflow(workflow) || workflow.sharedWithMe"
                                        class="wapps-button"
                                        ng-click="m_oController.downloadWorkflow(workflow)">
                                    <em class="fa fa-download"></em>
                                </button>
                                <button ng-show="m_oController.isTheOwnerOfWorkflow(workflow) || workflow.sharedWithMe"
                                        class="wapps-button"
                                        ng-click="m_oController.openEditWorkflowDialog(workflow)">
                                    <em class="fa fa-pencil"></em>
                                </button>
                                <button ng-show="m_oController.isTheOwnerOfWorkflow(workflow) || workflow.sharedWithMe"
                                        class="wapps-button"
                                        ng-click="m_oController.openDeleteWorkflowDialog(workflow)">
                                    <em class="fa fa-times"></em>
                                </button>

                            </div>
                        </div>
                        <div class="row-v4">
                            <div class="col-v4-12">
                                <div class="content-image text-center">
                                    <em class="fa fa-laptop"></em>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h4>
                                <strong>{{workflow.name.replaceAll("_", " ")}}</strong>
                            </h4>
                        </div>
                        <div>
                            <span>{{workflow.description.replaceAll("_", " ")}}</span>
                        </div>

                        <!--      <div>
                                  <label><strong>Owner:</strong> </label>
                                  <span> {{workflow.userId}}</span>
                              </div>-->
                    </div>


                </div>

            </div>
        </div>

        <!--------------------   LAUNCH WORKFLOW DIALOG -------------------->
        <div class="col-v4" style="height: 60vh;">
            <div class="well h-100 m-0 d-flex flex-column">
                <div class="row-v4">
                    <div class="col-v4-8">
                        <h3> {{m_oController.m_oSelectedMultiInputWorkflow.name}} </h3>
                    </div>
                    <div class="col-v4-4">
                        <label><strong ng-hide="m_oController.m_oSelectedMultiInputWorkflow === null">Owner:</strong>
                        </label>
                        <span> {{m_oController.m_oSelectedMultiInputWorkflow.userId}}</span>
                    </div>
                </div>
                <div>
                    <label> <strong ng-hide="m_oController.m_oSelectedMultiInputWorkflow === null">Description:</strong>
                    </label>
                    <span>{{m_oController.m_oSelectedMultiInputWorkflow.description.replaceAll("_", " ")}}</span>
                </div>

                <div class="input-nodes"
                     ng-repeat="node in m_oController.m_oSelectedMultiInputWorkflow.inputNodeNames ">
                    <div class="row-v4">
                        <div class="node-title col-v4-2">

                            <h4>{{"DIALOG_WORKFLOW_MANAGER_EXECUTE_WORKFLOW_LABEL" | translate}}</h4>
                        </div>
                        <div class="node-title col-v4-10">
                            <wapdropdown list-of-values="m_oController.m_aoProductsClass"
                                         selected-value="m_oController.m_aoMultiInputSelectedProducts[node]"
                                         enable-search-filter="true"
                                         dropdown-name="m_oController.m_sWAPPdropdownname"
                            ></wapdropdown>
                        </div>
                    </div>
                    <br>
                    <!--  <span class="selected-input">
                          <div ng-hide="$index === null">
                              {{"DIALOG_WORKFLOW_MANAGER_EXECUTE_WORKFLOW_SELECTED" | translate}}
                          </div>
                              <label>{{m_oController.m_oSelectedMultiInputWorkflow.inputFileNames[$index]}}</label>
                               </span>-->
                    <br>

                </div>

                <button class="my-button my-align-right" ng-click="m_oController.runMultiInputWorkFlow()"
                        data-dismiss="modal" ng-hide="m_oController.m_oSelectedMultiInputWorkflow === null">
                    {{"DIALOG_WORKFLOW_MANAGER_EXECUTE_WORKFLOW_BUTTON" | translate}}
                </button>

            </div>
        </div>
    </div>
</div>

