<div class="container-fluid-v4">
    <div class="row-v4 row mt-0 pl-4" ng-show=" (m_oController.m_aoWorkflows.length === 0) && (m_oController.m_bIsLoadingWorkflows === true)">
        <div class="col-v4-xs-12 col-v4-sm-12 col-v4-md-12 col-v4-lg-12 workflows-list-container">
            <div class="loadIcon">
                <invader></invader>
            </div>
        </div>
    </div>
    <!-- search textbox-->

    <div class="ng-scope">
        <input class="wasdi-input ng-valid ng-dirty ng-valid-parse ng-empty ng-touched" ng-model="searchText" placeholder="Filter WorkFlow Name..." style="margin-bottom: 15px;">
    </div>

    <div class="workflows-container row-v4 mt-3 " ng-show="m_oController.m_aoWorkflows.length > 0">
        <div class="col-v4-8 list-of-workflows">
            <div class="well pointer-cursor-hover" ng-repeat="workflow in m_oController.getSingleInputWorkflow() | filter:searchText"
                 ng-class="{'selectedWorkflow': m_oController.m_oSelectedWorkflow  === workflow}"
                 ng-click="m_oController.selectBatchWorkflow(workflow)">
                <div>
                    <h4>
                        <strong>{{workflow.name}}</strong>
                    </h4>
                </div>
                <div>
                    <label> <strong>Description:</strong> </label>
                    <span>
                 {{workflow.description}}
                </span>
                </div>

                <div>
                    <label><strong>Owner:</strong> </label>
                    <span>
                {{workflow.userId}}
            </span>
                </div>
                <div class="buttons-container" ng-hide="m_oController.isTheOwnerOfWorkflow(workflow)===false">
                    <button class="btn btn-wasdi my-align-right"ng-click="m_oController.openDeleteWorkflowDialog(workflow)">
                        Delete
                        <i class="fa fa-trash" aria-hidden="true" ></i>
                    </button>

                </div>
            </div>
        </div>
        <div class="col-v4-4" ng-hide="m_oController.m_oSelectedWorkflow == null">
            <h3> {{m_oController.m_oSelectedWorkflow.name}} </h3>
            <!-------------------------------- LIST OF PRODUCTS -------------------------------->
            <multiselect options="m_oController.m_asProductsName" selected="m_oController.m_asSelectedProducts">
            </multiselect>

            <div class="w-100 text-right">
                <button class="btn btn-primary btn-wasdi btn-mdlg" ng-click="m_oController.runWorkFlowPerProducts();" ng-class ="{ 'disabled' : m_oController.isPossibleDoUpload()}"
                        ng-show="m_oController.isSelectedWorkFlow() && m_oController.isSelectedProduct()" data-dismiss="modal" >
                    {{"DIALOG_WORKFLOW_MANAGER_EXECUTE_WORKFLOW_BUTTON"|translate}}
                </button>
            </div>
        </div>
    </div>
</div>
