<div class="modal fade workflow-manager-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{"DIALOG_WORKFLOW_MANAGER_TITLE"|translate}}</h4>
            </div>

            <div class="modal-body">
                <h4>
                    <!-- TAB NAVIGATION -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li ng-class="{'active':m_oController.m_sSelectedWorkflowTab === 'WorkFlowTab1'}" ng-click="m_oController.m_sSelectedWorkflowTab = 'WorkFlowTab1'">
                            <a href="" role="tab" data-toggle="tab">
                                {{"DIALOG_WORKFLOW_MANAGER_TAB_UPLOAD_WORKFLOW" | translate}}
                            </a>
                        </li>
                        <li ng-class="{'active':m_oController.m_sSelectedWorkflowTab === 'WorkFlowTab2'}" ng-click="m_oController.m_sSelectedWorkflowTab = 'WorkFlowTab2'">
                            <a href="" role="tab" data-toggle="tab">
                                {{"DIALOG_WORKFLOW_MANAGER_TAB_EXECUTE_SAVED_WORKFLOW" | translate}}
                            </a>
                        </li>
                    </ul>
                    <!-- TAB CONTENT -->
                    <div class="tab-content">
                        <div class="tab-pane fade in" ng-class="{'active':m_oController.m_sSelectedWorkflowTab === 'WorkFlowTab1'}" id="WorkFlowTab1" >

                            <!------------------------------ FILENAME ------------------------------>

                            <div class="row my-input-text">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                                    <input type="text" name="name"  class="my-input-text" value="" title="" required="required"
                                           placeholder="Workflow name" ng-model="m_oController.m_oWorkflowFileData.workflowName">
                                </div>

                            </div>
                            <!------------------------------ DRAG AND DROP WORKFLOWS + DESCRIPTION------------------------------>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">

                                    <div class="drag-and-drop ">
                                        {{"DIALOG_WORKFLOW_DROP_OR_CLICK"|translate}}
                                        <div ngf-drop ngf-select ng-model="m_oController.m_oFile" class="drop-box"
                                             ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                             accept="text/xml"
                                             ngf-pattern="'text/xml'">
                                            <!---->
                                            <div ng-show="m_oController.m_oFile">File: {{m_oController.m_oFile[0].name}}</div>
                                            <div ngf-no-file-drop>{{"DIALOG_WORKFLOW_DRAG_DROP_NOT_SUPPORTED"|translate}}</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="comment">Description:</label>
                                        <textarea class="form-control my-text-area" rows="5" id="comment"maxlength="50"
                                                  ng-model="m_oController.m_oWorkflowFileData.workflowDescription"></textarea>
                                    </div>

                                    <button class = "my-button my-align-right" ng-click="m_oController.uploadUserGraphOnServer()"
                                            ng-show="m_oController.isUploadedNewWorkFlow()">Upload file</button>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="m_oController.isUploadingWorkflow">
                                    <invader></invader>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade in" id="WorkFlowTab2" ng-class="{'active':m_oController.m_sSelectedWorkflowTab === 'WorkFlowTab2'}">

                            <!--------------------------------   TABLE WORKFLOWS + LIST OF PRODUCTS -------------------------------->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <!------------------------------------- WORKFLOWS TABLE ------------------------------------->
                                        <table class="table table-hover my-table">
                                            <thead>
                                            <tr>
                                                <th>
                                                    {{"DIALOG_WORKFLOW_MANAGER_TABLE_NAME"|translate}}
                                                </th>
                                                <th>
                                                    {{"DIALOG_WORKFLOW_MANAGER_TABLE_DESCRIPTION"|translate}}
                                                </th>
                                                <th>

                                                </th>
                                            </tr>

                                            </thead>
                                            <tbody>

                                            <tr class="tr-over" ng-repeat="workflow in m_oController.m_aoWorkflows"
                                                ng-class="{'selectedWorkflow': m_oController.m_oSelectedWorkflow  === workflow}"
                                                ng-click="m_oController.m_oSelectedWorkflow = workflow">
                                                <td >{{workflow.name}}</td>
                                                <td>{{workflow.description}}</td>
                                                <td class="td-button" ng-click="m_oController.deleteWorkflow(workflow)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <!-------------------------------- LIST OF PRODUCTS -------------------------------->
                                        <multiselect options="m_oController.m_asProductsName" selected="m_oController.m_asSelectedProducts">
                                            <!--ng-show="m_oController.isSelectedWorkFlow()"-->
                                        </multiselect>

                                        <button class="my-button my-align-right" ng-click="m_oController.runWorkFlowPerProducts()"
                                                                  ng-show="m_oController.isSelectedWorkFlow() && m_oController.isSelectedProduct()">
                                            Execute workflow
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </h4>
            </div>

            <div class="modal-footer">
                <button type="button" ng-click="close()" class="my-button" data-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>