<div class="modal fade edit-user-dialog-catalog">
    <div class="modal-dialog modal-wasdi">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
            </div>
            <!-- BODY -->
            <div class="modal-body no-ale-style">
                <div class="row-v4 p-3">
                    <div style="width: 100%">
                        <legend>
                            {{"DIALOG_SHARE_ORGANIZATION"|translate}}
                        </legend>
                        <div>
                            <!-- Add users to Organization -->
                            <button class="btn btn-primary btn-wasdi"
                                title={{"DIALOG_EDIT_ORGANIZATION_SHARE"|translate}}
                                ng-click="m_oController.openShareUsersModal(m_oController.m_sSelectedOrganizationId)">
                                <span class="ng-binding">
                                    {{"DIALOG_EDIT_ORGANIZATION_SHARE"|translate}}
                                </span>

                            </button>
                        </div>
                        <div ng-show="m_oController.m_aoUsersList.length == 0">
                            <br>
                            <p>Not shared with users, yet</p>
                        </div>
                        <div ng-show="m_oController.m_aoUsersList.length > 0">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>UserId</th>
                                        <!-- 
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Role</th> 
                                        -->
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oUser in m_oController.m_aoUsersList">
                                        <td>{{oUser.userId}}</td>
                                        <!-- <td>{{oUser.name}}</td>
                                                        <td>{{oUser.surname}}</td>
                                                        <td>{{oUser.role}}</td> -->

                                        <td class="over-icon">
                                            <button class="btn btn-primary btn-wasdi"
                                                title={{"DIALOG_EDIT_ORGANIZATION_UNSHARE"|translate}}
                                                ng-click="m_oController.unshareOrganization(m_oController.m_sSelectedOrganizationId, oUser.userId)">
                                                <!--Unshare Organization-->
                                                <i class="fa fa-times" aria-hidden="true" style="margin-right: 0px"></i>
                                                <!-- <span class="ng-binding">
                                                    {{"DIALOG_EDIT_ORGANIZATION_EDIT"|translate}}
                                                </span>-->
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- FOOTER -->
                        <div class="modal-footer">
                            <button type="button" ng-click="close(null)" class="btn btn-primary btn-wasdi"
                                data-dismiss="modal">
                                {{"DIALOG_CLOSE_BUTTON"|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>