.get-info-dialog-catalog
{
  .modal-dialog
  {

    .modal-content
    {
      //HEADER
      .modal-header
      {

      }
      //BODY
      .modal-body
      {
        label{

          color: $wasdi-green-logo;
        }

        .panel-default > .panel-heading{
          background-color: $wasdi-blue-logo;
          color:$wasdi-white;
        }

        .band-row-container
        {
          .band-row
          {
            padding: 10px;
          }
        }

        .panel
        {
          //.map
          //{
          //  width: auto;
          //  height: 600px;
          //}
          .table-container
          {
            //@extend %table-container-css;
            //table
            //{
            //  thead
            //  {
            //    th
            //    {
            //      background-color: #44536C;
            //      color: white;
            //    }
            //  }
            //}
          }

        }
        .map-container
        {
          .map
          {
            width: auto;
            height: 300px;
          }
        }

      }
      //FOOTER
      .modal-footer
      {

      }
    }
  }
}