.get-info-dialog-catalog
{
  .modal-dialog
  {

    .modal-content
    {
      //HEADER
      .modal-header
      {

      }
      //BODY
      .modal-body
      {
        label{

          color: $wasdi-green-logo;
        }

        .panel-default > .panel-heading{
          background-color: $wasdi-blue-logo;
          color:$wasdi-white;
        }

        .band-row-container
        {
          .band-row
          {
            padding: 10px;
          }
        }
      }
      //FOOTER
      .modal-footer
      {

      }
    }
  }
}