{
    "moduleRelativePath": "module",
    "outputRelativePath": "../output",
    "pythonLibrariesRelativePath": [
        "../pythonVirtualEnvironment"
    ],
    "templateRelativePath": "../template",
    "temporaryRelativePath": "../temporary"
}
