<div class="dropdown-menu-container">
    <div class="dropdown dropdownUI"> <!-- {{$ctrl.tooltip}}-->
        <button class="btn btn-default dropdown-btn dropdown-toggle" type="button" id="dropdownMenuDirective" data-toggle="dropdown"  uib-tooltip="{{$ctrl.tooltip}}" tooltip-placement="top" tooltip-class="blueWasdi" tooltip-popup-delay='750'>
            <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-plr0 text-left">
                    <span ng-hide=" isSelectedValue === false" class="text" style="font-weight: 600">
                        {{selectedValue.name }}
                    </span>
                    <span ng-show="isSelectedValue === false" class="text">
                        {{dropdownName}}
                    </span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-plr0">
                    <span class="caret"></span>
                </div>
            </div>

        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDirective" 
        style="height: 150px; overflow: auto;">
            <input class="form-control dropdown-input"  type="text" placeholder="Search..." ng-show="enableSearchFilter" ng-model="textFilter">
            <hr class="divider-line-style1">
            <li role="presentation" ng-repeat="value in listOfValues | filter:textFilter"> <!-- onClickFunction({sValue:value})  ng-click="changeSelectedValueOnClick(value)"-->
                <a role="menuitem" href="" ng-click="onClickValue(value)" style="font-weight: 600">
                    {{value.name}}
                </a>
            </li>

        </ul>
    </div>
</div>
