<div class="modal fade add-product-dialog-catalog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- HEADER -->
            <div class=" modal-header">
                Select workspaces
            </div>
            <!-- BODY -->
            <div class="modal-body ">
                <h4>
                    <div>
                        <label>File name selected:</label> {{m_oController.m_sFileName}}
                    </div>
                    <div>
                        <label>List of Workspaces</label>
                    </div>
                    <multiselect selected="m_oController.m_aoSelectedWorkspaces" options="m_oController.m_aWorkspacesName"></multiselect>
                </h4>

            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
                <button type="button" ng-click="add(null)" class="my-button" data-dismiss="modal">
                    Add
                </button>
            </div>

        </div>
    </div>
</div>