<div class="modal fade edit-user-dialog-catalog">
    <div class="modal-dialog modal-wasdi">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header">
            </div>
            <!-- BODY -->
            <div class="modal-body no-ale-style">
                <div class="row-v4 p-3">

                    <legend>
                        {{"DIALOG_VIEW_SUBSCRIPTION_PROJECTS"|translate}}: <span class="text-success">{{m_oController.m_sSelectedSubscriptionName}}</span>
                    </legend>

                    <div style="width: 100%">

                        <!--
                        <div class="spacer"></div>

                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <h4>{{"DIALOG_EDIT_PROJECT_SELECT_ACTIVE_PROJECT"|translate}}</h4>
                            </div>

                            <div class="spacer"></div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div ng-show="m_oController.m_aoProjects.length > 0">
                                    <div ng-show="!m_oController.m_bLoadingProjects">
                                        <wapdropdown
                                            list-of-values="m_oController.m_aoProjectsMap"
                                            selected-value="m_oController.m_oProject"
                                            enable-search-filter="true"
                                            dropdown-name="Projects"
                                            ng-model="m_oController.m_oProject"
                                            on-click-function="m_oController.changeActiveProject(oValue)">
                                        </wapdropdown>
                                    </div>
                                </div>
                                <div class="loadIcon" ng-show="m_oController.m_bLoadingProjects">
                                    <invader></invader>
                                </div>
                            </div>
                        </div>

                        <div class="spacer"></div>
                        -->

                        <button class="btn btn-primary btn-wasdi mb-3" title={{"DIALOG_EDIT_PROJECT_ADD"|translate}}
                            ng-click="m_oController.showProjectAddForm()">
                            <!--Add Project-->
                            <span class="ng-binding">{{"DIALOG_EDIT_PROJECT_ADD"|translate}}</span>
                        </button>

                        <hr class="divider-line-style1" />

                        <!-- Projects Table -->
                        <table class="table table-hover projects-list">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Subscription</th>
                                    <th>Active</th>

                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="oProject in m_oController.m_aoProjects track by $index">
                                    <td>{{oProject.name}}</td>
                                    <td>{{oProject.subscriptionName}}</td>
                                    <td><span class="text-success" ng-show="oProject.activeProject">Yes</span><span ng-show="!oProject.activeProject">No</span></td>

                                    <td class="over-icon">
                                        <button class="btn btn-primary btn-wasdi" title={{"DIALOG_EDIT_PROJECT_EDIT"|translate}}
                                            ng-click="m_oController.showProjectEditForm(oProject.projectId)">
                                            <!--Edit Project-->
                                            <i class="fa fa-edit" aria-hidden="true" style="margin-right: 0px"></i>
                                            <!--
                                            <span class="ng-binding"
                                                >{{"DIALOG_EDIT_PROJECT_EDIT"|translate}}</span
                                            >
                                            -->
                                        </button>
                                    </td>

                                    <td class="over-icon">
                                        <button class="btn btn-danger btn-wasdi" title={{"DIALOG_EDIT_PROJECT_DELETE"|translate}}
                                            ng-click="m_oController.deleteProject(oProject.projectId)">
                                            <!--Delete Project-->
                                            <i class="fa fa-times" aria-hidden="true" style="margin-right: 0px"></i>
                                            <!--
                                            <span class="ng-binding"
                                                >{{"DIALOG_EDIT_PROJECT_DELETE"|translate}}</span
                                            >
                                            -->
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="loadIcon" ng-show="m_oController.m_bLoadingProjects">
                            <invader></invader>
                        </div>


                        <!-- FOOTER -->
                        <div class="modal-footer">
                            <button type="button" ng-click="close(null)" class="btn btn-primary btn-wasdi"
                                data-dismiss="modal">
                                {{"DIALOG_CLOSE_BUTTON"|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
