<div class="modal fade image-editor-modal ">
    <div class="modal-dialog mt-4">
        <div class="modal-content h-100 d-flex flex-column">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">
                    Image editor
                </h4>

            </div>

            <div class="modal-body d-flex flex-column flex-fill">
                <div class="row-v4 d-flex flex-column flex-fill">
                    <div class="col-v4-12 d-flex flex-column d-flex flex-column flex-fill">
                        <!-- TAB NAVIGATION -->
                        <ul class="nav-v4 nav-v4-tabs" id="myTab" role="tablist">
                            <li class="nav-v4-item active" ng-click="$ctrl.selectedTabMask()">
                                <div class="nav-v4-link" ng-class="{'active' : $ctrl.isSelectedTabMask()}" id="home-tab" data-toggle="tab" data-target="#home" role="tab" aria-controls="home" aria-selected="true">
                                    <i class="fa fa-image" aria-hidden="true"></i>Mask manager
                                </div>
                            </li>
                            <li class="nav-v4-item" ng-click="$ctrl.selectedTabFilterBand()">
                                <div class="nav-v4-link" ng-class="{'active' : $ctrl.isSelectedTabFilterBand()}" id="profile-tab" data-toggle="tab" data-target="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                    <i class="fa fa-filter" aria-hidden="true"></i>Filter band
                                </div>
                            </li>
                            <li class="nav-v4-item" ng-click="$ctrl.selectedTabColorManipulation()">
                                <div class="nav-v4-link" ng-class="{'active' : $ctrl.isSelectedTabColorManipulation()}" id="contact-tab" data-toggle="tab" data-target="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                    <i class="fa fa-sliders" aria-hidden="true"></i>Color manipulation
                                </div>
                            </li>
                        </ul>
                        <!-- TAB CONTENT -->
                        <div class="tab-v4-content d-flex flex-column flex-fill" id="myTabContent">
                            <div class="tab-pane flex-fill fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <ng-include src="'dialogs/image_editor/mask-manager.html'"></ng-include>
                            </div>
                            <div class="tab-pane flex-fill fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <ng-include src="'dialogs/image_editor/filter-band.html'"></ng-include>
                            </div>
                            <div class="tab-pane flex-fill fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <ng-include src="'dialogs/image_editor/color-manipulation.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" ng-click="close()" class="my-button" data-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>