<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><!---->

        <!----------------------------------- RANGE MASK ----------------------------------->
        <div class="dialog-operation-animation">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div> <label>Min value:</label></div>
                        <input type="text" name="name"  class="my-input-text" value="" title="" required="required" ng-model="m_oController.m_sRangeMinValue"> <h3>&lt; =</h3>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="dropdown">
                            <label>Raster :</label>
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuRasters"
                                    data-toggle="dropdown">
                                {{m_oController.m_sRangeSelectedRaster}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuRasters">

                                <li role="presentation" ng-repeat="raster in  m_oController.m_sRangeListOfRasters" ng-click="m_oController.m_sRangeSelectedRaster = raster">
                                    <a role="menuitem" tabindex="-1" href="">{{raster}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div><label>Max value:</label></div>
                        <h3> &lt; =</h3> <input type="text" name="name"  class="my-input-text" value="" title="" required="required" ng-model="m_oController.m_sRangeMaxValue">
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div>
                        <label>Color:</label>
                    </div>
                    <input color-picker color-picker-model="m_oController.m_sMaskColor.rangeMaskColor"
                           ng-style="{background:m_oController.m_sMaskColor.rangeMaskColor}" color-picker-output-format="'rgba'"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <button type="button" class="my-button " ng-click="m_oController.saveRangeMaskAndClose()">Save</button>
                    <button type="button" class="my-button " ng-click="m_oController.closeAllWindows()">Cancel</button>
                </div>
            </div>

        </div>
        <!----------------------------------- Logical Mask ----------------------------------->
        <div class="dialog-operation-animation" ng-show="m_oController.m_oWindowsOpened.logicalMask">
            <div class="row logical-mask">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {{"DIALOG_MASK_MANAGER_DATA_SOURCES_LABEL"|translate}}
                            <div class="list-group" >
                                <a href="" class="list-group-item" ng-repeat="data in m_oController.m_asDataSources track by $index"
                                   ng-click="m_oController.addDataSourceLogicalMask(data,'textAreaLogicalMask')">

                                    {{data}}
                                </a>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="m_oController.m_oCheckboxs.bands"
                                           ng-click="m_oController.checkedDataSource('band',m_oController.m_oCheckboxs.bands)">
                                    {{"DIALOG_MASK_MANAGER_SHOW_BANDS_CHECKBOX_LABEL"|translate}}
                                </label>
                            </div>
                            <div>
                                <label>
                                    Color:
                                </label>
                            </div>
                            <input color-picker
                                   color-picker-model="m_oController.m_sMaskColor.logicalMaskColor"
                                   color-picker-output-format="'rgba'"
                                   ng-style="{background:m_oController.m_sMaskColor.logicalMaskColor}"/>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-default"
                                        ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask('@ and @','textAreaLogicalMask')">
                                    @ and @
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask('@ or @','textAreaLogicalMask')">
                                    @ or @
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask('not @','textAreaLogicalMask')">
                                    not @
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask('(@)','textAreaLogicalMask')">
                                    (@)
                                </button>
                                <div class="btn-group">
                                    <button id="constantsBtnGroupVerticalDrop" type="button"
                                            class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Constants...
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu"
                                        aria-labelledby="constantsBtnGroupVerticalDrop">
                                        <li ng-repeat="constant in m_oController.m_asContants">
                                            <a href="" ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask(constant,'textAreaLogicalMask')">
                                                {{constant}}
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button id="operatorsBtnGroupVerticalDrop" type="button"
                                            class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Operators...
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu"
                                        aria-labelledby="operatorsBtnGroupVerticalDrop">
                                        <li ng-repeat="operator in m_oController.m_asOperators">
                                            <a href="" ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask(operator,'textAreaLogicalMask')">
                                                {{operator}}
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button id="functionsBtnGroupVerticalDrop" type="button"
                                            class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Functions...
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu"
                                        aria-labelledby="functionsBtnGroupVerticalDrop">
                                        <li ng-repeat="function in m_oController.m_asFunction">
                                            <a href="" ng-click="m_oController.addOperationOrConstantOrFunctionLogicalMask(function,'textAreaLogicalMask')">
                                                {{function}}
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {{"DIALOG_MASK_MANAGER_EXPRESSION_LABEL"|translate}}
                            <div class="form-group">
                                            <textarea class="form-control" rows="10" cols="70" id="textAreaLogicalMask"
                                                      ng-model = "m_oController.m_sTextAreaLogicalMask" ></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <button type="button" class="my-button " ng-click="m_oController.saveLogicalMask()">Save</button>
                    <button type="button" class="my-button " ng-click="m_oController.closeAllWindows()">Cancel</button>
                </div>
            </div>
        </div>

        <!----------------------------------- MASKS ----------------------------------->
        <input  class="my-input-text" type="text" placeholder="{{'DIALOG_MASK_MANAGER_FILTER_TABLE_INPUT'|translate}}" ng-model="m_oController.m_sFilterMaskTable">

        <table class="table table-hover">
            <caption></caption>
            <tr>
                <thead>
                <th ng-click="m_oController.m_bAreSelectedAllMasks = !m_oController.m_bAreSelectedAllMasks; m_oController.clickedSelectAllMasks()" class="over-icon" scope="col">
                    <i class="fa fa-check-square-o" aria-hidden="true" ng-hide="m_oController.m_aoMasks.length === 0 || m_oController.m_bAreSelectedAllMasks === false"></i>
                    <i class="fa fa-square-o" aria-hidden="true" ng-hide="m_oController.m_aoMasks.length === 0 || m_oController.m_bAreSelectedAllMasks === true"></i>
                </th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Colour</th>

                <th scope="col">Description</th>
                <th scope="col"></th>
                </thead>
            </tr>
                <tbody>
                <tr ng-repeat="mask in m_oController.m_aoMasks  | filter:m_oController.m_sFilterMaskTable"><!-- | filter:m_oController.m_sFilterMaskTable-->
                    <td class="over-icon" ng-click = "mask.selected = !mask.selected">
                        <i class="fa fa-check-square-o" aria-hidden="true" ng-show="mask.selected"></i>
                        <i class="fa fa-square-o" aria-hidden="true" ng-hide="mask.selected"></i>

                    </td>
                    <td>
                        {{mask.name}}
                    </td>
                    <td>
                        {{mask.type}}
                    </td>
                    <td >
                        <input color-picker
                               color-picker-model="mask.colour"
                               color-picker-output-format="'rgba'"
                               ng-style="{background:mask.colour}"/>

                    </td>

                    <td>

                        {{mask.description}}
                    </td>

                    <td class="over-icon" ng-click="m_oController.deleteMaskByIndex($index)">
                        <i class="fa fa-window-close fa-lg" aria-hidden="true"> </i>
                    </td>
                </tr>
                <tr ng-show="m_oController.m_bAreProductMasksLoading === true" class="loading-tr">
                    <td colspan="7" >
                        <invader></invader>
                    </td>
                </tr>
                </tbody>
        </table>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><!---->
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-default btn-primary" ng-click="m_oController.changeWindowsOpened('rangeMask')">
                <i class="fa fa-filter" aria-hidden="true"></i>
                Range Mask
            </button>
            <button type="button" class="btn btn-default btn-primary"  ng-click="m_oController.changeWindowsOpened('logicalMask')">
                <i class="fa fa-filter" aria-hidden="true"></i>
                Logical Mask
            </button>
            <!--<button type="button" class="btn btn-default">Button</button>-->
        </div>

    </div>
</div>
