.wps-modal
{
  .modal-dialog
  {
    width:50%;

    .modal-content
    {
      .modal-header
      {
        color:$wasdi-white;
        background-color: $wasdi-blue-logo;
        .close
        {
          color: $wasdi-white;
          opacity: 1;
        }
      }

      .modal-body
      {
        min-height: 400px;
        .dropdown-toggle{
          float: left;
          border-style: solid;
          border-color: #2D394F;
          border-width: 2px;
          margin-top: 8px;
        }
        .dropdown-menu{
          max-height: 150px;
          overflow-y: auto;
        }
      }

      .modal-footer
      {
        border-top:1px solid $wasdi-blue-logo;
        .my-button
        {
          padding: 10px 21px;
        }
      }
    }
  }
}