<div class="modal fade wps-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{"DIALOG_WPS_TITLE"|translate}}</h4>
            </div>
            <div class="modal-body">
                <div id="wrapper">
                    <!--<div>
                        <h1>wps-js example</h1>
                        <p>wps-js is an <a href="https://github.com/52North/wps-js/" title="wps-js on GitHub">open source client library</a> for connecting Javascript client to <a href="http://www.opengeospatial.org/standards/wps" title="WPS @ Open Geospatial Consortium">OGC Web Processing</a> services. This page demonstrates how you can use it. More documentation is available in the <a href="https://wiki.52north.org/bin/view/Geoprocessing/Wps-js" title="wps-js wiki page">52&deg;North Wiki</a> and on <a href="https://github.com/52North/wps-js/blob/master/README.md" title="wps-js readme">GitHub</a>.</p>
                    </div>-->
                    <h3>
                        {{"DIALOG_WPS_TITLE_WPS_LIST"|translate}}
                    </h3>

                    <div>
                        <select id="wps" ng-model="m_oController.m_sSelectedWps" ng-change="m_oController.onChangeWPS()"><!--ng-change="m_oController.onChangeWPS()"-->
                            <!--<option>Select a WPS</option>-->
                            <option>http://178.22.66.96/geoserver/wps</option>
                            <option>http://gpod.eo.esa.int/wps</option>
                        </select>
                        <!--{{m_oController.m_sSelectedWps}}-->
                    </div>
                    <div class="row" ng-hide="m_oController.m_sSelectedWps === '' ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div>
                                <h3>
                                    {{"DIALOG_WPS_TITLE_SHOW_CAPABILITIES"|translate}}
                                </h3>
                                    <div id="capabilitiesByClick"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div>
                                <h3>Execute Process</h3>
                                <!--<div class="wps-container">-->
                                    <select id="processes" ><!--ng-model="m_oController.m_sSelectedProcess" ng-change="m_oController.onChangeProcesses()"-->
                                        <option>
                                            {{"DIALOG_WPS_TITLE_SELECT_PROCESS"|translate}}
                                        </option>
                                        {{m_oController.m_sSelectedProcess}}
                                    </select>
                                    <span id="processDescriptionLink"></span>
                                    <div class="wps-execute-container" id="wps-execute-container"></div>
                                <!--</div>-->
                                <!--<p></p>-->

                            </div>
                        </div>
                    </div>

                    <div class="row" ng-hide="m_oController.m_sSelectedWps === '' ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>
                                {{"DIALOG_WPS_TITLE_EXECUTE_RESULTS"|translate}}
                            </h3>
                            <!--<div class="wps-container">-->
                                <div id="executeProcess"></div>
                            <!--</div>-->
                        </div>

                    </div>

                </div>

                <script type="text/javascript">
//                    var capabilities, // the capabilities, read by Format.WPSCapabilities::read
//                        process; // the process description from Format.WPSDescribeProcess::read


                    $(document).ready(function() {
                        $.wpsSetup({
                            /*proxy : {
                                url : "/wps_proxy/wps_proxy?url=",
                                type : "parameter"
                            },*/
                            configuration : {
                                showImages : true
                            }
                        });
                    });

                    // add behavior to html elements
                    document.getElementById("processes").onchange = function() {
                        var sel = document.getElementById("processes");

                        describeProcess(sel.options[sel.selectedIndex].text);
                    };

                </script>


            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>