<div class="modal fade wps-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{"DIALOG_WPS_TITLE"|translate}}</h4>
            </div>
            <div class="modal-body">
                <div id="wrapper">

                    <h3>
                        {{"DIALOG_WPS_TITLE_WPS_LIST"|translate}}
                    </h3>

                    <div>
                        <select id="wps" ng-model="m_oController.m_sSelectedWps" ng-change="m_oController.onChangeWPS()">
                            <option ng-repeat="wpsUrl in m_oController.m_asWPSListURL">
                                {{wpsUrl}}
                            </option>
                        </select>

                    </div>
                    <div class="row" ng-hide="m_oController.m_sSelectedWps === '' ">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div>
                                <h3>
                                    {{"DIALOG_WPS_TITLE_SHOW_CAPABILITIES"|translate}}
                                </h3>
                                    <div id="capabilitiesByClick"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div>
                                <h3>Execute Process</h3>
                                    <select id="processes" >
                                        <option>
                                            {{"DIALOG_WPS_TITLE_SELECT_PROCESS"|translate}}
                                        </option>
                                        {{m_oController.m_sSelectedProcess}}
                                    </select>
                                    <span id="processDescriptionLink"></span>
                                    <div class="wps-execute-container" id="wps-execute-container"></div>


                            </div>
                        </div>
                    </div>

                    <div class="row" ng-hide="m_oController.m_sSelectedWps === '' ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>
                                {{"DIALOG_WPS_TITLE_EXECUTE_RESULTS"|translate}}
                            </h3>
                                <div id="executeProcess"></div>
                        </div>

                    </div>

                </div>

                <script type="text/javascript">
//                    var capabilities, // the capabilities, read by Format.WPSCapabilities::read
//                        process; // the process description from Format.WPSDescribeProcess::read


                    $(document).ready(function() {
                        $.wpsSetup({

                            configuration : {
                                showImages : true
                            }
                        });
                    });

                    // add behavior to html elements
                    document.getElementById("processes").onchange = function() {
                        var sel = document.getElementById("processes");

                        describeProcess(sel.options[sel.selectedIndex].text);
                    };

                </script>


            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
