[Unit]
Description="WASDI - UPDATE METRIC"
After=network.target




[Service]
Environment=PYTHONDONTWRITEBYTECODE=False
Environment=PYTHONUNBUFFERED=True
Environment=PYTHONPATH={{ sWasdiUpdateMetricPythonVirtualEnvironmentRootDirectoryPath }}/{{ sWasdiUpdateMetricPythonVirtualEnvironmentName }}/lib/python3.8/site-packages:${PYTHONPATH}
User=root
Group=root

LimitNOFILE=327680

Type=simple
ExecStart=/usr/bin/python3 {{ sWasdiUpdateMetricTargetFilePath }} --configuration-file {{ sWasdiConfigurationRootDirectoryPath }}/wasdiConfig.json
ExecReload=/bin/kill -HUP $MAINPID

Restart=always
RestartSec=5

SuccessExitStatus=0




[Install]
WantedBy=multi-user.target
