{
    "backupDatabaseLogicalDump":
    {
        "dictAlias":
        {
            "keycloak":
            {
                "enabled": true,
                "whichWeekToExecute": "all",
                "whichDayToExecute":
                [
                    "all"
                ],
                "environmentName": "prod",
                "sourceServerAddress": "{{ sWasdiContainerPostgresqlKeycloakServiceName }}",
                "sourceServerPort": {{ sWasdiContainerPostgresqlKeycloakInternalPort }},
                "sourceServerUserName": "{{ sWasdiContainerPostgresqlKeycloakBackupUsername }}",
                "sourceServerUserPassword": "{{ sWasdiContainerPostgresqlKeycloakBackupPassword }}",
                "sourceServerDatabaseName": "{{ sWasdiContainerPostgresqlKeycloakDatabaseName }}",
                "dumpCommandParameter": "--quote-all-identifiers --blobs --format=c --compress=0 --verbose",
                "databaseTableList": [],
                "temporaryPostgreSQLPasswordFile": "[{aliasName}]_[{YYYY}][{mm}][{dd}]_[{H}][{M}][{S}].pgpass",
                "directory":
                {
                    "duringBackup": "/data/module/postgresql/backupDatabaseLogicalDump/cache",
                    "duringCompress": "/data/module/postgresql/backupDatabaseLogicalDump/to_compress",
                    "whenError": "/data/module/postgresql/backupDatabaseLogicalDump/error",
                    "whenSuccess": "/data/module/postgresql/backupDatabaseLogicalDump"
                },
                "compressionAlgorithm": "pbzip2",
                "extensionForCompressedFile": "bz2",
                "backupFileName": "keycloak_[{YYYY}][{mm}][{dd}]_[{H}][{M}][{S}].sql",
                "howManyBackupToKeep": 7,
                "commandPgDump": {
                    "path": "/usr/lib/postgresql/15/bin/pg_dump",
                    "version": "12"
                },
                "dictEmailProfile":
                {
                    "onSuccess":
                    {
                        "enabled": false,
                        "profileName": "default",
                        "subject": "SUCCESS - Report for PostgreSQL backups"
                    },
                    "onError":
                    {
                        "profileName": "default",
                        "subject": "ERROR - Report for PostgreSQL backups"
                    }
                }
            }
        },
        "dictEmailProfile":
        {
            "default":
            {
                "enabled": true,
                "from": "{{ sWasdiToolboxSmtpSenderAddress }}",
                "to": [
                    "sysadmin@wasdi.cloud"
                ],
                "cc": [],
                "bcc": [],
                "subject": "Report for PostgreSQL backups",
                "smtpServer": {
                    "tls": {{ sWasdiSmtpServerStartTls }},
                    "address": "{{ sWasdiToolboxSmtpServerAddress }}",
                    "port": {{ sWasdiToolboxSmtpServerPort }},
                    "login": "{{ sWasdiToolboxSmtpServerUserName }}",
                    "password": "{{ sWasdiToolboxSmtpServerUserPassword }}"
                }
            }
        }
    }
}
