CREATE ROLE {{ sWasdiContainerPostgresqlKeycloakBackupUsername }} WITH SUPERUSER NOCREATEROLE NOCREATEDB NOINHERIT LOGIN NOREPLICATION NOBYPASSRLS PASSWORD '{{ sWasdiContainerPostgresqlKeycloakBackupPassword }}';
