.NDVD-modal
{
  //overflow: visible;
  .modal-dialog
  {

    .modal-content
    {
      .modal-header
      {
        .icon-ndvi {
          content:$wasdi-eye-icon-white-version;
          width: $wasdi-size-icon-title-dialogs;
          height: auto;
        }
      }

      .modal-body
      {
        //overflow-y: visible;
        max-height: 500px;

        h4
        {
          form
          {
            fieldset
            {
              .dropdown
              {
                .btn-default {
                  width: 100%;
                }
                ul{
                  max-height: 200px;
                  max-width: 400px;
                  overflow-y: auto;
                  overflow-x: auto;
                  li{
                    min-height: 26px;
                    a{
                      min-height: 20px;
                    }
                  }
                }
              }
              .row
              {
                .red-factor
                {
                  margin-top: 8px;
                }
                .nir-factor
                {
                  margin-top: 8px;
                }
              }

            }
          }
        }

      }

      .modal-footer
      {
        text-align: left;

      }
    }
  }
}