.NDVD-modal
{
  .modal-dialog
  {

    .modal-content
    {
      .modal-header
      {
      }

      .modal-body
      {

      }

      .modal-footer
      {

      }
    }
  }
}