.NDVD-modal
{
  .modal-dialog
  {

    .modal-content
    {
      .modal-header
      {
      }

      .modal-body
      {
        h4
        {
          form
          {
            fieldset
            {
              .dropdown
              {
                .btn-default {
                  width: 100%;
                }
                ul{
                  li{
                    min-height: 26px;
                    a{
                      min-height: 20px;
                    }
                  }
                }
              }
              .row
              {
                .red-factor
                {
                  margin-top: 8px;
                }
                .nir-factor
                {
                  margin-top: 8px;
                }
              }

            }
          }
        }

      }

      .modal-footer
      {

      }
    }
  }
}