<div class="modal fade NDVD-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-header">

                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <span class="icon-ndvi"></span>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h4 class="modal-title ">  {{"DIALOG_NDVI_TITLE"|translate}}</h4>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

            </div>
            <div class="modal-body">
                <h4>

                    <!-------------------------------------------INPUT OUTPUT PARAMETERS-------------------------------->

                    <div ng-include src="'dialogs/InputOutputParametersView.html'"></div>

                    <!------------------------------------ PROCESSING PARAMETERS -------------------------------------->

                    </br>
                    <form>
                        <fieldset class="my-input-text">
                            <legend><h3>{{"DIALOG_APPLY_ORBIT_TAB_PROCESSING"|translate}}</h3></legend>
                            <!--SIMPLE INPUTS-->
                            <div class="row">
                                <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="red-factor">{{"DIALOG_NDVI_RED_FACTOR"|translate}}</div>
                                </div>
                                <div  class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="NDVIRedFactor" ng-model="m_oController.m_oReturnValue.options.redFactor" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="nir-factor">{{"DIALOG_NDVI_NIR_factor"|translate}}</div>
                                </div>
                                <div class=" col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="NDVINIRFactor" ng-model="m_oController.m_oReturnValue.options.nirFactor" >
                                    </div>
                                </div>
                            </div>


                            <!--DROPDOWN MENUS-->
                            <div class="row">
                                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>{{"DIALOG_NDVI_RED_SOURCE_BAND"|translate}}</label>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="NDVIDropdownMenuRedSourceBand"
                                                data-toggle="dropdown">
                                            {{m_oController.m_sRedSourceBandSelected}}
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu" role="menu" aria-labelledby="NDVIDropdownMenuRedSourceBand">
                                            <li role="presentation" ng-repeat="RedSourceBand in m_oController.m_asSourceBands">
                                                <a role="menuitem" tabindex="-1" href="" ng-click="m_oController.m_sRedSourceBandSelected = RedSourceBand">{{RedSourceBand}}</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>{{"DIALOG_NDVI_NIR_SOURCE_BAND"|translate}}</label>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="NDVIDropdownMenuNIRSourceBand"
                                                data-toggle="dropdown">
                                            {{m_oController.m_sNIRSourceBandSelected}}
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu" role="menu" aria-labelledby="NDVIDropdownMenuNIRSourceBand">
                                            <li role="presentation" ng-repeat="NIRSourceBand in m_oController.m_asSourceBands">
                                                <a role="menuitem" tabindex="-1" href="" ng-click="m_oController.m_sNIRSourceBandSelected = NIRSourceBand">{{NIRSourceBand}}</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <!--</div>-->
                </h4>
            </div>
            <div class="modal-footer">
                <!--<button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">Ok</button>-->
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
                <button type="button" ng-click="run(m_oController.m_oReturnValue)" class="my-button" data-dismiss="modal"  ng-disabled="m_oController.selectedProductIsEmpty()">
                    {{"DIALOG_RUN_BUTTON"|translate}}
                </button>
            </div>
        </div>
    </div>
</div>