<div class="modal fade NDVD-modal">
    <div class="modal-dialog modal-dialog-extra-large">
        <div class="modal-content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-header">

                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <span class="icon-ndvi"></span>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h4 class="modal-title ">  {{"DIALOG_NDVI_TITLE"|translate}}</h4>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

            </div>
            <div class="modal-body">
                <h4>

                    <!---------------------------------------INPUT OUTPUT PARAMETERS----------------------------------->
                    <div ng-include src="'dialogs/InputOutputParametersView.html'"></div>
                    <!------------------------------------ PROCESSING PARAMETERS -------------------------------------->
                    </br>
                    <form>
                        <fieldset class="my-input-text">
                            <legend><h3>{{"DIALOG_APPLY_ORBIT_TAB_PROCESSING"|translate}}</h3></legend>
                            <!--SIMPLE INPUTS-->
                            <div class="row">
                                <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="red-factor">{{"DIALOG_NDVI_RED_FACTOR"|translate}}</div>
                                </div>
                                <div  class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="NDVIRedFactor" ng-model="m_oController.m_oReturnValue.options.redFactor" >
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="nir-factor">{{"DIALOG_NDVI_NIR_factor"|translate}}</div>
                                </div>
                                <div class=" col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="NDVINIRFactor" ng-model="m_oController.m_oReturnValue.options.nirFactor" >
                                    </div>
                                </div>
                            </div>


                            <!--DROPDOWN MENUS-->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label>
                                        {{"DIALOG_NDVI_RED_SOURCE_BAND"|translate}}
                                    </label>
                                    <multiselect options="m_oController.m_asSourceBands" selected="m_oController.m_sRedSourceBandSelected"></multiselect>
                                </div>
                                <!--<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">-->
                                    <!--<label>{{"DIALOG_NDVI_RED_SOURCE_BAND"|translate}}</label>-->
                                    <!--&lt;!&ndash;<div class="dropdown dropup">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<button class="btn btn-default dropdown-toggle" type="button" id="NDVIDropdownMenuRedSourceBand"&ndash;&gt;-->
                                                <!--&lt;!&ndash;data-toggle="dropdown">&ndash;&gt;-->
                                            <!--&lt;!&ndash;{{m_oController.m_sRedSourceBandSelected}}&ndash;&gt;-->
                                            <!--&lt;!&ndash;<span class="caret"></span>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</button>&ndash;&gt;-->

                                        <!--&lt;!&ndash;<ul class="dropdown-menu" role="menu" aria-labelledby="NDVIDropdownMenuRedSourceBand">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<li role="presentation" ng-repeat="RedSourceBand in m_oController.m_asSourceBands">&lt;!&ndash;m_oController.m_asSourceBands&ndash;&gt;&ndash;&gt;-->
                                                <!--&lt;!&ndash;<a role="menuitem" tabindex="-1" href="" ng-click="m_oController.m_sRedSourceBandSelected = RedSourceBand">{{RedSourceBand}}</a>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->

                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--<multiselect options="m_oController.m_asSourceBands" selected="m_oController.m_sRedSourceBandSelected"></multiselect>-->
                                <!--</div>-->


                                <!--<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">-->
                                    <!--<label>{{"DIALOG_NDVI_NIR_SOURCE_BAND"|translate}}</label>-->
                                    <!--&lt;!&ndash;<div class="dropdown dropup">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<button class="btn btn-default dropdown-toggle" type="button" id="NDVIDropdownMenuNIRSourceBand"&ndash;&gt;-->
                                                <!--&lt;!&ndash;data-toggle="dropdown">&ndash;&gt;-->
                                            <!--&lt;!&ndash;{{m_oController.m_sNIRSourceBandSelected}}&ndash;&gt;-->
                                            <!--&lt;!&ndash;<span class="caret"></span>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</button>&ndash;&gt;-->

                                        <!--&lt;!&ndash;<ul class="dropdown-menu" role="menu" aria-labelledby="NDVIDropdownMenuNIRSourceBand">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<li role="presentation" ng-repeat="NIRSourceBand in m_oController.m_asSourceBands">&lt;!&ndash;m_oController.m_asSourceBands&ndash;&gt;&ndash;&gt;-->
                                                <!--&lt;!&ndash;<a role="menuitem" tabindex="-1" href="" ng-click="m_oController.m_sNIRSourceBandSelected = NIRSourceBand">{{NIRSourceBand}}</a>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->

                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--<multiselect options="m_oController.m_asSourceBands" selected="m_oController.m_sNIRSourceBandSelected"></multiselect>-->

                                <!--</div>-->
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label>
                                        {{"DIALOG_NDVI_NIR_SOURCE_BAND"|translate}}
                                    </label>
                                    <multiselect options="m_oController.m_asSourceBands" selected="m_oController.m_sNIRSourceBandSelected"></multiselect>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <!--</div>-->
                </h4>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <div ng-show="m_oController.nameIsUsed()" class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                The product name is used for an other product.
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <!--<button type="button" ng-click="close('ok')" class="my-button" data-dismiss="modal">Ok</button>-->
                            <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                                {{"DIALOG_CLOSE_BUTTON"|translate}}
                            </button>
                            <button type="button" ng-click="run(m_oController.m_oReturnValue)" class="my-button" data-dismiss="modal"
                                  >  <!--ng-disabled="m_oController.selectedProductIsEmpty()"-->
                                {{"DIALOG_RUN_BUTTON"|translate}}
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>