.import-file-modal {

    .modal-dialog {
        //width: 90% !important;
        //height: 90% !important;

        .modal-content {
            .modal-header {
                color: $wasdi-white;
                background-color: $wasdi-blue-logo;
                .close {
                    color: $wasdi-white;
                    opacity: 1;
                }
                .snap-logo {
                    width: 50px;
                }
            }

            .modal-body {
                //max-height: none !important;
                .user-options{
                    .wasdi-input{
                        margin-top: 0;
                    }
                    .btn-wasdi{
                        margin-top: 1px;
                    }
                }

            }

            .modal-footer {
                border-top: 1px solid $wasdi-blue-logo;
                .my-button {
                    padding: 10px 21px;
                }
            }
        }
    }
}
