
    <div class="row-v4">
        <div class="col-v4 container align-items-center" >

            <div class="d-flex " ng-hide="m_oController.m_bIsUploading === false">
                <div class="loadIcon loadIconDialog">
                    <invader> </invader>
                </div>
            </div>

            <div ng-show="m_oController.m_bIsUploading === false">
                <div class="drag-and-drop " >
                    <div ngf-drop ngf-select ng-model="m_oController.m_oFile" class="drop-box"
                         ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                         accept="*/*"
                         ngf-pattern="'*/*'">

                        <div ng-show="m_oController.m_oFile">File: {{m_oController.m_oFile[0].name}}</div>
                        <div ngf-no-file-drop>{{'DIALOG_WORKFLOW_DRAG_DROP_NOT_SUPPORTED'|translate}}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-v4" style="height: 25vh"> 
        <div class="col-v4-2" >
            <label>{{'DIALOG_IMPORT_UPLOAD_STYLE'|translate}}</label>
        </div>
        <div class="col-v4-8">
            <!--input type="text" name="style"  class="wasdi-input" style="width: 100%;" value="" title="" placeholder="{{'DIALOG_IMPORT_UPLOAD_STYLE'|translate}}" ng-model="m_oController.m_sStyle"-->

            <wapdropdown list-of-values="m_oController.m_aoStylesMap"
                selected-value="m_oController.m_oStyle"
                enable-search-filter="true"
                dropdown-name="Style">
            </wapdropdown>

        </div>
    </div>

    <div class="row-v4"> 
        <div class="col-v4 container">
            <button type="button" ng-click="run(null)" class="btn btn-primary btn-wasdi"
            ng-disabled="m_oController.isFileChosen()" ng-show="m_oController.m_bIsUploading === false"
            ng-attr-data-dismiss="{{m_oController.m_aoActiveSubscriptions.length === 0 ? 'modal' : ''}}">
            {{'DIALOG_IMPORT_UPLOAD_UPLOAD'|translate}}
            </button>
        </div>

    </div>

