<div>
    <!-- ICON -->
    <div class="loadIcon">
        <invader ng-show="m_oController.isVisibleLoadIcon()"></invader>
    </div>
    <!-- NEW USER -->
    <form class="user-options" ng-hide="m_oController.isVisibleLoadIcon() || m_oController.isAccountCreated()">
        <fieldset class="my-input-text">
            <legend><h3>{{ "DIALOG_SFTP_UPLOAD_REGISTER_LABEL"|translate}}</h3></legend>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 column-email" >
                    <label>{{"DIALOG_SFTP_UPLOAD_EMAIL_LABEL"|translate}}</label>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <input type="text" name="name"  class="form-v4-control-plaintext wasdi-input" value="" title=""
                           required="required" placeholder="{{'DIALOG_SFTP_UPLOAD_EMAIL_PLACEHOLDER'|translate}}" ng-model="m_oController.m_sEmailNewUser">
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="btn btn-primary btn-wasdi" ng-click="m_oController.createAccountUpload()" >
                        {{"DIALOG_SFTP_UPLOAD_REGISTER_LABEL"|translate}}
                    </button>
                </div>
            </div>
        </fieldset>
    </form>

    <form ng-hide="m_oController.isVisibleLoadIcon() || (!m_oController.isAccountCreated())">
        <fieldset class="my-input-text">
            <legend><h3>{{"DIALOG_SFTP_UPLOAD_LIST_OF_FILES"|translate}} </h3></legend>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <!-- LIST OF FILES -->
                    <multiselect options="m_oController.m_aoListOfFiles" selected="m_oController.m_aoSelectedFiles"></multiselect>
                    <button type="button" class="btn btn-primary btn-wasdi" ng-click="m_oController.ingestAllSelectedFiles()" ng-show="m_oController.m_oConstantsService.isWorkspaceReadOnly()==false">
                        {{"DIALOG_SFTP_UPLOAD_ADD_TO_WORKSPACE_BUTTON"|translate}}
                    </button>
                </div>
            </div>
        </fieldset>
    </form>

    <form class="user-options" ng-hide="m_oController.isVisibleLoadIcon() || (!m_oController.isAccountCreated())">
        <fieldset class="my-input-text">
            <legend><h3>{{"DIALOG_SFTP_UPLOAD_LEGEND_USER_OPTIONS"|translate}}</h3></legend>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!--Get new password-->
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column-email" >
                        <label>{{"DIALOG_SFTP_UPLOAD_REGENERATE_PASSWORD_LABEL"|translate}}</label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-6 col-lg-6">
                        <input type="text" name="name"  class="form-v4-control-plaintext wasdi-input" value="" title=""
                               required="required" placeholder="{{'DIALOG_SFTP_UPLOAD_EMAIL_PLACEHOLDER'|translate}}" ng-model="m_oController.m_sEmailNewPassword">

                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2">
                        <button type="button" class="btn btn-primary btn-wasdi" ng-click="m_oController.updateSftpPassword()">
                            {{"DIALOG_SFTP_UPLOAD_SEND_BUTTON"|translate}}
                        </button>
                    </div>
                </div>
                <!--Delete account sftp-->
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column-email" >
                        {{"DIALOG_SFTP_UPLOAD_DELETE_ACCOUNT_LABEL"|translate}}
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <button type="button" class="btn btn-primary btn-wasdi" ng-click="m_oController.deleteSftpAccount()">
                            {{"DIALOG_SFTP_UPLOAD_DELETE_ACCOUNT_BUTTON"|translate}}
                        </button>

                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>
