.processor-dialog
{
  .modal-dialog
  {

    .modal-content
    {
      //HEADER
      .modal-header
      {

      }
      //BODY
      .modal-body
      {

        label{
          margin: 10px 0px 5px 0px;
          color:$wasdi-green-logo;
        }

          .dropdown-menu-container .dropdown .btn .row .col-plr0 .text {
              display: block;
              width: 46vw;
              overflow: hidden;
              text-overflow: ellipsis;
          }

      }
      //FOOTER
      .modal-footer
      {

      }
    }
  }
}
