<div class="modal fade processor-dialog">
    <div class="modal-dialog modal-dialog-extra-large modal-wasdi">
        <div class="modal-content ">

            <div class="modal-header">
                <i class="fa fa-rocket" aria-hidden="true"></i>&nbsp;{{"DIALOG_PROCESSOR_APP" | translate}}
            </div>

            <div class="modal-body">
                <!-- TAB NAVIGATION -->
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-class="{'active':m_oController.m_sSelectedTab === 'Base'}" ng-click="m_oController.m_sSelectedTab = 'Base'">
                        <a href="" role="tab" data-toggle="tab">
                            <i class="fa fa-rocket" ></i>
                            {{"DIALOG_PROCESSOR_TAB_BASE" | translate}}
                        </a>
                    </li>
                    <li ng-class="{'active':m_oController.m_sSelectedTab === 'Store'}" ng-click="m_oController.m_sSelectedTab = 'Store'">
                        <a href="" role="tab" data-toggle="tab">
                            <i class="fa fa-credit-card" ></i>
                            {{"DIALOG_PROCESSOR_TAB_STORE" | translate}}

                        </a>
                    </li>
                    <li ng-class="{'active':m_oController.m_sSelectedTab === 'Media'}" ng-click="m_oController.m_sSelectedTab = 'Media'">
                        <a href="" role="tab" data-toggle="tab">
                            <i class="fa fa-images" ></i>
                            {{"DIALOG_PROCESSOR_TAB_MEDIA" | translate}}
                        </a>
                    </li>
                    <li ng-class="{'active':m_oController.m_sSelectedTab === 'Share'}" ng-click="m_oController.m_sSelectedTab = 'Share'">
                        <a href="" role="tab" data-toggle="tab">
                            <i class="fa fa-share-alt" ></i>
                            {{"DIALOG_PROCESSOR_TAB_SHARE" | translate}}
                        </a>
                    </li>
                    <li ng-class="{'active':m_oController.m_sSelectedTab === 'UI'}" ng-click="m_oController.m_sSelectedTab = 'UI'">
                        <a href="" role="tab" data-toggle="tab">
                            <i class="fa fa-desktop" ></i>
                            {{"DIALOG_PROCESSOR_TAB_UI" | translate}}
                        </a>
                    </li>
                </ul>


                <!-- TAB CONTENT -->
                <div class="tab-content pt-5">
                    <!------- BASE ------->
                    <div class="tab-pane fade in" id="Base"
                         ng-class="{'active':m_oController.m_sSelectedTab === 'Base'}"
                         ng-hide="m_oController.m_sSelectedTab != 'Base'">
                        <ng-include src="'dialogs/processor/TabBaseProcessor.html'"></ng-include>
                    </div>

                    <!-------   STORE ------->
                    <div class="tab-pane fade in" id="Store"
                         ng-class="{'active':m_oController.m_sSelectedTab === 'Store'}"
                         ng-hide="m_oController.m_sSelectedTab != 'Store' || m_oController.m_bEditMode==false">
                        <ng-include src="'dialogs/processor/TabStoreProcessor.html'"></ng-include>
                    </div>

                    <!------- MEDIA ------->
                    <div class="tab-pane fade in" id="Media"
                         ng-class="{'active':m_oController.m_sSelectedTab === 'Media'}"
                         ng-hide="m_oController.m_sSelectedTab != 'Media' || m_oController.m_bEditMode==false">
                        <ng-include src="'dialogs/processor/TabMediaProcessor.html'"></ng-include>
                    </div>

                    <!------- SHARE ------->
                    <div class="tab-pane fade in" id="Share"
                         ng-class="{'active':m_oController.m_sSelectedTab === 'Share' || m_oController.m_bEditMode==false}"
                         ng-hide="m_oController.m_sSelectedTab != 'Share'">
                        <ng-include src="'dialogs/processor/TabShareProcessor.html'"></ng-include>
                    </div>

                    <!------- UI ------->
                    <div class="tab-pane fade in" id="UI"
                         ng-class="{'active':m_oController.m_sSelectedTab === 'UI' || m_oController.m_bEditMode==false}"
                         ng-hide="m_oController.m_sSelectedTab != 'UI'">
                        <ng-include src="'dialogs/processor/TabUIProcessor.html'"></ng-include>
                    </div>


                </div>
            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
                <button type="button" ng-click="add(null)" class="my-button"> <!--data-dismiss="modal"-->
                    {{"DIALOG_APPLY_BUTTON"|translate}}
                </button>
            </div>
        </div>
    </div>
</div>
