<div class="modal fade processor-dialog">
    <div class="modal-dialog modal-dialog-extra-large">
        <div class="modal-content">
            <!-- HEADER -->
            <div class="modal-header" >
                Upload New WASDI App
            </div>
            <!-- BODY -->
            <div class="modal-body ">
                <h4>
                    <div class="input-group" style="width: 100%">
                        <label for="procname">Processor Name</label> <input id="procname" ng-readonly="m_oController.m_bEditMode" type="text" class="form-control" placeholder="Name" ng-model="m_oController.m_sName"><br/>
                        <!--label for="procver">Processor Version</label> <input id = "procver" type="text" class="form-control" placeholder="Version" ng-model="m_oController.m_sVersion"><br/-->
                        <label>Processor Type</label> <div ng-show="!m_oController.m_bEditMode"> <dropdownmenudirective  list-of-values="m_oController.m_aoProcessorTypes"
                                                                                              selected-value="m_oController.m_sSelectedType"
                                                                                              enable-search-filter="true"
                                                                                              dropdown-name="'Select Processor Type'"></dropdownmenudirective></div>
                        <input id="typeread" ng-readonly="m_oController.m_bEditMode" ng-show="m_oController.m_bEditMode" type="text" class="form-control" placeholder="Name" ng-model="m_oController.m_sTypeNameOnly"><br/>
                        <label for="procdescr">Processor Description</label> <textarea class="form-control h-100" rows="5"  id = "procdescr" ng-model="m_oController.m_sDescription"></textarea><br/>
                        <label for="jsonsample">JSON Sample</label> <!--input id = "jsonsample" type="text" class="form-control" placeholder="Sample" ng-model="m_oController.m_sJSONSample"--><br/>
                        <textarea class="form-control h-100" rows="5" id="jsonsample" ng-model="m_oController.m_sJSONSample"></textarea>
                    </div>
                    <div class="drag-and-drop " ng-show="m_oController.showDragAndDrop()">

                        <div ngf-drop ngf-select ng-model="m_oController.m_oFile" class="drop-box"
                             ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                             accept="application/zip"
                             ngf-pattern="'.zip'">
                            Please Drag and Drop here the .zip file with your WASDI App

                            <div ng-show="m_oController.m_oFile">File: {{m_oController.m_oFile[0].name}}</div>
                        </div>

                        <div ngf-no-file-drop>{{"DIALOG_WORKFLOW_DRAG_DROP_NOT_SUPPORTED"|translate}}</div>
                    </div>

                    <div ng-show="!m_oController.showDragAndDrop()">
                        <br>File Update is available only for IDL Processors.
                        <br>To update the code of a Python App delete the old app and deploy a new one.
                        <br>
                    </div>


                    <div class="form-v4-group">
                        <i class="fa fa-square-o " aria-hidden="true"
                           ng-hide = "m_oController.m_oPublic === true"
                           ng-click = "m_oController.m_oPublic = !m_oController.m_oPublic"></i>
                        <i class="fa fa-check-square-o " aria-hidden="true"
                           ng-hide="m_oController.m_oPublic === false"
                           ng-click = "m_oController.m_oPublic = !m_oController.m_oPublic"></i>
                        <span>Make Application Public</span>
                    </div>

                </h4>

            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
                <button type="button" ng-click="add(null)" class="my-button" data-dismiss="modal">
                    Add
                </button>
            </div>

        </div>
    </div>
</div>
