<!-- APPLICATION DATA -->
<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <label for="procname">Name</label>
            <input id="procname" ng-readonly="m_oController.m_bEditMode" type="text" class="form-control" placeholder="Name" ng-model="m_oController.m_sName">
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <label>Type</label>
            <div ng-show="!m_oController.m_bEditMode"> <dropdownmenudirective  list-of-values="m_oController.m_aoProcessorTypes"
                                                                               selected-value="m_oController.m_sSelectedType"
                                                                               enable-search-filter="true"
                                                                               dropdown-name="'Select Your Programming Language'"></dropdownmenudirective></div>
            <input id="typeread" ng-readonly="m_oController.m_bEditMode" ng-show="m_oController.m_bEditMode" type="text" class="form-control" placeholder="Name" ng-model="m_oController.m_sTypeNameOnly">
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 d-flex justify-content-end align-bottom">
            <button class="btn btn-primary btn-wasdi" ng-show="m_oController.m_bEditMode"
                    ng-click="m_oController.forceProcessorRefresh(m_oController.m_sProcessorId)">
                <em class="custom-icon fa fa-refresh fa-lg" ng-class="button.icon"></em>
                <span class="ng-binding">Force Refresh</span>
            </button>
        </div>
    </div>
    <div class="row">
        <br/>
        <div class="drag-and-drop " ng-show="m_oController.showDragAndDrop()">

            <div ngf-drop ngf-select ng-model="m_oController.m_oFile" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                 accept="application/zip"
                 ngf-pattern="'.zip'">
                <i class="fa fa-file-archive-o fa-4x mb-4" aria-hidden="true"></i>
                <span>Drag and Drop here the .zip file with your WASDI App or click to browse.</span>

                <div ng-show="m_oController.m_oFile">File: {{m_oController.m_oFile[0].name}}</div>
            </div>

            <div ngf-no-file-drop>{{"DIALOG_WORKFLOW_DRAG_DROP_NOT_SUPPORTED"|translate}}</div>
        </div>
        <div ng-show="!m_oController.showDragAndDrop()">
            <br>File Update not available for this Application Type
            <br>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label for="procdescr">Short Description</label> <textarea class="form-control h-100" rows="6"  id = "procdescr" ng-model="m_oController.m_sDescription"></textarea><br/>

           <div class="col-12">
               <div class="row">
                   <!--timeout-->
                   <div class="col-md-12">
                       <label for="timeout">TimeOut [min]</label>
                       <input id="timeout" type="text" class="form-control" placeholder="Timeout [min]" ng-model="m_oController.m_iMinuteTimeout">
                   </div>
                   <!--public-->
                    <div class="col-md-12 mt-5">
                        <i class="fa fa-square-o " aria-hidden="true"
                           ng-hide = "m_oController.m_oPublic === true"
                           ng-click = "m_oController.m_oPublic = !m_oController.m_oPublic"></i>
                        <i class="fa fa-check-square-o " aria-hidden="true"
                           ng-hide="m_oController.m_oPublic === false"
                           ng-click = "m_oController.m_oPublic = !m_oController.m_oPublic"></i>
                        <span>Make Application Public</span>
                    </div>

            </div>
           </div>


        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label for="jsonsample">JSON Sample</label>
            <textarea class="form-control h-100"  style="font-family:'Courier New',sans-serif;font-size: 16px;" rows="14" id="jsonsample" ng-model="m_oController.m_sJSONSample"></textarea>
        </div>

    </div>


</div>
