<!-- APPLICATION DATA -->
<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-xs-4">
            <label for="procname"
                >{{"DIALOG_PROCESSOR_BASE_NAME"|translate}}</label
            >
            <input
                id="procname"
                ng-readonly="m_oController.m_bEditMode"
                type="text"
                class="form-control"
                placeholder='{{"DIALOG_PROCESSOR_BASE_NAME"|translate}}'
                ng-model="m_oController.m_sName"
            />
        </div>
        <div class="col-xs-4">
            <label>{{"DIALOG_PROCESSOR_BASE_TYPE"|translate}}</label>
            <div ng-show="!m_oController.m_bEditMode">
                <dropdownmenudirective
                    list-of-values="m_oController.m_aoProcessorTypes"
                    selected-value="m_oController.m_sSelectedType"
                    enable-search-filter="true"
                    dropdown-name="'Select Your Programming Language'"
                ></dropdownmenudirective>
            </div>
            <input
                id="typeread"
                ng-readonly="m_oController.m_bEditMode"
                ng-show="m_oController.m_bEditMode"
                type="text"
                class="form-control"
                placeholder='{{"DIALOG_PROCESSOR_BASE_TYPE"|translate}}'
                ng-model="m_oController.m_sTypeNameOnly"
            />
        </div>
        <div class="col-xs-4 my-auto">
            <div class="row d-flex justify-content-around">
                <button
                    class="btn btn-primary btn-wasdi py-4 mx-lg-1"
                    ng-show="m_oController.m_bEditMode"
                    ng-click="m_oController.packageManagerClick()"
                >
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    <span class="ng-binding"
                        >{{"DIALOG_PROCESSOR_BASE_PACKAGE_MANAGER"|translate}}</span
                    >
                </button>

                <button
                    class="btn btn-primary btn-wasdi py-4 mx-lg-1"
                    ng-show="m_oController.m_bEditMode"
                    ng-click="m_oController.forceLibUpdate(m_oController.m_sProcessorId)"
                >
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="ng-binding"
                        >{{"DIALOG_PROCESSOR_BASE_UPDATE_LIB"|translate}}</span
                    >
                </button>

                <button
                    class="btn btn-primary btn-wasdi py-4 mx-lg-1"
                    ng-show="m_oController.m_bEditMode"
                    ng-click="m_oController.forceProcessorRefresh(m_oController.m_sProcessorId)"
                >
                    <i class="fa fa-retweet" aria-hidden="true"></i>
                    <span class="ng-binding"
                        >{{"DIALOG_PROCESSOR_BASE_REDEPLOY"|translate}}</span
                    >
                </button>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <br />
        <div class="drag-and-drop" ng-show="m_oController.showDragAndDrop()">
            <div
                ngf-drop
                ngf-select
                ng-model="m_oController.m_oFile"
                class="drop-box"
                ngf-drag-over-class="'dragover'"
                ngf-multiple="true"
                ngf-allow-dir="true"
                accept="application/zip"
                ngf-pattern="'.zip'"
                ng-show="m_oController.m_bEditMode==false"
            >
                <i
                    class="fa fa-file-archive-o fa-4x mb-4"
                    aria-hidden="true"
                ></i>
                <span>{{"DIALOG_PROCESSOR_BASE_DRAG_ZIP"|translate}}</span>

                <div ng-show="m_oController.m_oFile">
                    {{"DIALOG_PROCESSOR_BASE_FILE"|translate}}
                    {{m_oController.m_oFile[0].name}}
                </div>
            </div>

            <div
                ngf-drop
                ngf-select
                ng-model="m_oController.m_oFile"
                class="drop-box"
                ngf-drag-over-class="'dragover'"
                ngf-multiple="true"
                ngf-allow-dir="true"
                ng-show="m_oController.m_bEditMode"
            >
                <i
                    class="fa fa-file-archive-o fa-4x mb-4"
                    aria-hidden="true"
                ></i>
                <span>{{"DIALOG_PROCESSOR_BASE_DRAG_FILES"|translate}}</span>

                <div ng-show="m_oController.m_oFile">
                    {{"DIALOG_PROCESSOR_BASE_FILE"|translate}}
                    {{m_oController.m_oFile[0].name}}
                </div>
            </div>

            <div ngf-no-file-drop>
                {{"DIALOG_WORKFLOW_DRAG_DROP_NOT_SUPPORTED"|translate}}
            </div>
        </div>

        <div ng-show="!m_oController.showDragAndDrop()">
            <br />{{"DIALOG_PROCESSOR_BASE_NO_UPDATE"|translate}}
            <br />
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label for="procdescr"
                >{{"DIALOG_PROCESSOR_BASE_SHORT_DESCRIPTION"|translate}}</label
            >
            <textarea
                class="form-control h-100"
                rows="6"
                id="procdescr"
                ng-model="m_oController.m_sDescription"
            ></textarea
            ><br />

            <div class="col-12">
                <div class="row">
                    <!--timeout-->
                    <div class="col-md-12">
                        <label for="timeout"
                            >{{"DIALOG_PROCESSOR_BASE_TIMEOUT"|translate}}</label
                        >
                        <input
                            id="timeout"
                            type="text"
                            class="form-control"
                            placeholder='{{"DIALOG_PROCESSOR_BASE_TIMEOUT"|translate}}'
                            ng-model="m_oController.m_iMinuteTimeout"
                        />
                    </div>
                    <!--public-->
                    <div class="col-md-12 mt-5">
                        <i
                            class="fa fa-square"
                            aria-hidden="true"
                            ng-hide="m_oController.m_oPublic === true"
                            ng-click="m_oController.m_oPublic = !m_oController.m_oPublic"
                        ></i>
                        <i
                            class="fa fa-check-square"
                            aria-hidden="true"
                            ng-hide="m_oController.m_oPublic === false"
                            ng-click="m_oController.m_oPublic = !m_oController.m_oPublic"
                        ></i>
                        <span
                            >{{"DIALOG_PROCESSOR_BASE_PUBLIC"|translate}}</span
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label for="jsonsample"
                >{{"DIALOG_PROCESSOR_BASE_JSON"|translate}}</label
            >
            <textarea
                class="form-control h-100"
                style="font-family: 'Courier New', sans-serif; font-size: 16px"
                rows="14"
                id="jsonsample"
                ng-model="m_oController.m_sJSONSample"
            ></textarea>
            <button class="btn btn-primary btn-wasdi mt-2"
            ng-click="m_oController.formatJson()"
            >Format JSON</button>
        </div>
    </div>
</div>
