<div class="container-fluid">

    <!-- APPLICATION LOGO-->
    <div class="row">
        {{"DIALOG_PROCESSOR_MEDIA_LOGO"|translate}}
    </div>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="featured-img"
                style="height: 150px; width: 285px; background-image: url({{m_oController.m_oProcessorDetails.imgLink}}); background-size: contain; background-repeat: no-repeat; background-position: center;">
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="drag-and-drop ">
                <div ngf-drop ngf-select ng-model="m_oController.m_oProcessorLogo" class="drop-box"
                    ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="application/image"
                    ngf-pattern="'.png,.jpg,.svg'">
                    {{"DIALOG_PROCESSOR_MEDIA_LOGO_DROP"|translate}}

                    <div ng-show="m_oController.m_oProcessorLogo">{{"DIALOG_PROCESSOR_MEDIA_FILE"|translate}}
                        {{m_oController.m_oProcessorLogo[0].name}}</div>
                </div>

                <div ngf-no-file-drop>{{"DIALOG_WORKFLOW_DRAG_DROP_NOT_SUPPORTED"|translate}}</div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="button" ng-click="m_oController.updateLogo()" class="my-button" data-dismiss="modal">
                {{"DIALOG_PROCESSOR_MEDIA_UPDATE_LOGO"|translate}}
            </button>
        </div>
    </div>

    <!-- ROW TO ADD NEW IMAGE-->
    <div class="row"
        ng-show="m_oController.m_oProcessorDetails.images.length<m_oController.m_oProcessorDetails.maxImages">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div>
                {{"DIALOG_PROCESSOR_MEDIA_GALLERY"|translate}}
                {{m_oController.m_oProcessorDetails.maxImages-m_oController.m_oProcessorDetails.images.length}}
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="drag-and-drop ">
                <div ngf-drop ngf-select ng-model="m_oController.m_oImageToUpload" class="drop-box"
                    ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="application/image"
                    ngf-pattern="'.png,.jpg,.svg'">
                    {{"DIALOG_PROCESSOR_MEDIA_GALLERY_DROP"|translate}}

                    <div ng-show="m_oController.m_oImageToUpload">{{"DIALOG_PROCESSOR_MEDIA_FILE"|translate}}
                        {{m_oController.m_oImageToUpload[0].name}}</div>
                </div>

                <div ngf-no-file-drop>{{"DIALOG_WORKFLOW_DRAG_DROP_NOT_SUPPORTED"|translate}}</div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="button" ng-click="m_oController.addApplicationImage()" class="my-button">
                {{"DIALOG_PROCESSOR_MEDIA_GALLERY_ADD"|translate}}
            </button>
        </div>
    </div>

    <!-- ONE ROW FOR EACH IMAGE-->
    <div class="row" ng-repeat="sImage in m_oController.m_oProcessorDetails.images">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="featured-img"
                style="height: 150px; width: 285px; background-image: url({{sImage}}); background-size: contain; background-repeat: no-repeat; background-position: center;">
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="button" ng-click="m_oController.removeProcessorImage(sImage)" class="my-button">
                {{"DIALOG_PROCESSOR_MEDIA_GALLERY_REMOVE"|translate}}
            </button>
        </div>
    </div>

</div>