cwlVersion: v1.0

$namespaces:
  s: https://schema.org/
s:softwareVersion: 0.5.0
schemas:
- http://schema.org/version/9.0/schemaorg-current-http.rdf


$graph:
- class: Workflow

  id: {{  wasdiAppId }}
  label: {{ wasdiAppDescription }}
  doc: {{ wasdiAppDescription }}

  requirements:
  - class: InlineJavascriptRequirement

  inputs:
    {{ wasdiAppParametersDeclaration }}
    - wasdi__proc__id:
      type: string
    - wasdi__session__id
      type: string        
    - wasdi__user__id
      type: string
    - wasdi__ws__id
      type: string

  outputs: 
  - id: results
    outputSource:
    - node_wasdi/results
    type: Directory
  
  steps:
    node_wasdi:
      in:
        {{ wasdiAppParametersAsArgs }}
        wasdi__proc__id: wasdi__proc__id
        wasdi__session__id: wasdi__session__id
        wasdi__user__id: wasdi__user__id
        wasdi__ws__id: wasdi__ws__id         
      out:
      - results

      run: "#wasdi_app"


- class: CommandLineTool

  id: wasdi_app
  label: executes the WASDI Processor

  requirements: 
    DockerRequirement:
      dockerPull: {{ wasdiProcessorImage }}
    ResourceRequirement:
      coresMax: 4
      ramMax: 36000
    InlineJavascriptRequirement: {}
    InitialWorkDirRequirement:
      listing:
        - entryname: params.json
          entry: |-
            {
            #Cycle for each key value to generate params.json
              $( inputs.date )
            }
        - entryname: config.json
          entry: |-
            {
              "USER": "$( inputs.wasdi__user__id )" 
              "WORKSPACEID": "$( inputs.wasdi__user__id )"
            }            
        - entryname: run_wasdi_app.sh
          entry: |-
            #!/bin/bash
            export HOME=$PWD
            eoepcaProcessorExecutor params.json $( inputs.wasdi__session__id ) $( inputs.wasdi__proc__id ) $@    
            res=$?
            rm -f params.json
            rm -f run_me.sh
            rm -fr $HOME/.wasdi
            exit $res

  baseCommand: ["python3", "eoepcaProcessorExecutor.py"]
 
  arguments:
  
  inputs: 
    {{ wasdiAppParametersDeclaration }} 
  
  outputs:
    results:
      type: Directory
      outputBinding:
        glob: .

