http:
  routers:
    r_{{ sWasdiTraefikGenericServiceName }}:
      entrypoints: "{{ sWasdiTraefikEntrypoint }}"
      rule: "Host(`{{ sWasdiTraefikRuleHost }}`) && PathPrefix(`{{ sWasdiTraefikGenericDefaultContextPath }}`)"
      service: "s_{{ sWasdiTraefikGenericServiceName }}_lb"
      middlewares: "mw_wasdi-secure-allowFrame@file"
{% if bWasdiTraefikSslEnabled == True and aoWasdiTraefikSslCertificates | default([]) | length > 0 %}
      tls: true
{% endif %}
  services:
    s_{{ sWasdiTraefikGenericServiceName }}_lb:
      loadBalancer:
        healthCheck:
          path: "{{ sWasdiTraefikGenericDefaultContextPath }}"
          interval: "{{ sWasdiTraefikGenericLoadBalancerHealthCheckInterval }}"
          timeout: "{{ sWasdiTraefikGenericLoadBalancerHealthCheckTimeout }}"
        servers:
          - url: "{{ sWasdiTraefikGenericLoadBalancerServersUrlMain }}"
          - url: "{{ sWasdiTraefikGenericLoadBalancerServersUrlFallback }}"
