http:
  routers:
    r_{{ sWasdiNexusServiceName }}:
      entrypoints: "{{ sWasdiTraefikEntrypoint }}"
      rule: "Host(`{{ sWasdiTraefikRuleHost }}`) && PathPrefix(`{{ sWasdiNexusDefaultContextPath }}`)"
      service: "s_{{ sWasdiNexusServiceName }}"
      middlewares: "mw_wasdi-secure-allowFrame@file"
{% if bWasdiSslEnabled == True and aoWasdiTraefikSslCertificates | default([]) | length > 0 %}
      tls: true
{% endif %}
    r_{{ sWasdiNexusServiceName }}_docker-registry:
      entrypoints: "{{ sWasdiTraefikEntrypoint }}"
      rule: "Host(`{{ sEnvironmentName }}-docker-registry-main{{ sWasdiHostId }}.wasdi.net`) && PathPrefix(`/`)"
      service: "s_{{ sWasdiNexusServiceName }}_docker-registry"
      middlewares: "mw_wasdi-secure-allowFrame@file"
{% if bWasdiSslEnabled == True and aoWasdiTraefikSslCertificates | default([]) | length > 0 %}
      tls: true
{% endif %}
  services:
    s_{{ sWasdiNexusServiceName }}:
      loadBalancer:
        servers:
          - url: "http://{{ sWasdiDockerNetworkGateway }}:8081/{{ sWasdiNexusDefaultContextPath.lstrip('/').rstrip('/') }}"
    s_{{ sWasdiNexusServiceName }}_docker-registry:
      loadBalancer:
        servers:
          - url: "http://{{ sWasdiDockerNetworkGateway }}:8081"
