.multilooking-modal
{
  .modal-dialog
  {

    .modal-content
    {
      .modal-header
      {
      }

      .modal-body
      {
        fieldset
        {
          //.list-group
          //{
          //  overflow-y: auto;
          //  max-height:160px;
          //
          //  a
          //  {
          //    //color: $wasdi-blue-logo;
          //    border-color: $wasdi-blue-logo;
          //  }
          //}

          .btn-block {
            display: block;
            width: 100%;
          }
          .row
          {
            .source-band
            {
              margin-top: 3px;
            }
            .number-of-range
            {
              margin: 5px 0 0 0;
            }
            .number-of-azimuth
            {
              margin:5px 0 0 0 ;
            }
            .mean-gr-square-pixel
            {
              //margin:10px;
            }
          }
        }
      }

      .modal-footer
      {

      }
    }
  }
}