.jrcs2{
  .modal-dialog
  {

    .modal-content
    {
      //HEADER
      .modal-header
      {


      }
      //BODY
      .modal-body
      {
        min-height: 50vh;

        .advance-search
        {
          .edit-filters-buttons{
            .my-button {
              padding: 5px 15px;
            }
          }
          .well {
            border: 1px solid $wasdi-green-logo;
          }
          .dropdown
          {
            ul
            {
              overflow-y: scroll;
              height: 200px;
            }
          }
          .ingestion-time{
            .description-label{
              margin-top: 7px;
            }
          }

          .btn-group-vertical
          {
            .btn-default
            {
              background-color: $wasdi-blue-logo;
              border-color: $wasdi-white;
              color:$wasdi-white;

              //border-color: $wasdi-green-logo;
            }
            .btn:hover
            {
              background-color: $wasdi-green-logo;
              color: $wasdi-white;
            }
          }
          .advanced-calendar-button {
            color: $wasdi-white;
            background-color: $wasdi-blue-logo;
            border-color: $wasdi-blue-logo;
            //border-radius: 0;
            //border:1px solid $wasdi-input-text-border-color;
          }
          .advanced-calendar-button:hover
          {
            background-color: $wasdi-green-logo;
          }
          .ingestion-time{
            input[type=text]{
              width: 20%;
            }
          }

          form{
            fieldset{
              border: 2px solid $wasdi-green-logo;
            }
          }

        }

      }
      //FOOTER
      .modal-footer
      {

      }
    }
  }


}
