<div class="modal fade jrcs2">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- HEADER -->
            <div class=" modal-header">
                <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>

                JRCS2 Test Processor

            </div>
            <!-- BODY -->
            <div class="modal-body my-input-text ">
                <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                    <!--<div class="row">-->

                        <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">-->
                            <!--<img class="logo-container-partner" src="assets/wasdi/FadeoutLogo.png" ng-click="m_oController.redirectToWebSite()">-->
                        <!--</div>-->

                        <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">-->
                            <!--<img class="logo-container-partner" src="assets/JRCProcessor/logo-jrc2.png" ng-click="m_oController.redirectToWebSite()">-->
                        <!--</div>-->

                        <!--<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">-->
                            <!--<img class="logo-container-partner" src="assets/wasdi/logoCima.png" ng-click="m_oController.redirectToWebSite()">-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
                <div class="container-v4">
                    <div class="row-v4">
                        <div class="col-v4">
                            <img class="logo-container-partner" src="assets/wasdi/FadeoutLogo.png" ng-click="m_oController.redirectToWebSite()">
                        </div>
                        <div class="col-v4">
                            <img class="logo-container-partner" src="assets/JRCProcessor/logo-jrc2.png" ng-click="m_oController.redirectToWebSite()">
                        </div>
                        <div class="col-v4">
                            <img class="logo-container-partner" src="assets/wasdi/logoCima.png" ng-click="m_oController.redirectToWebSite()">
                        </div>
                    </div>
                </div>

                <div class="container-v4">
                    <div class="row-v4">
                        <div class="col-v4">
                            Input File:
                        </div>
                        <div class="col-v4-9">
                            <!--<div class="dropdown my-dropdown">-->
                                <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownJRCProcessorProduct"-->
                                        <!--data-toggle="dropdown">-->
                                    <!--{{m_oController.m_oSelectedReferenceProduct.name}}-->
                                    <!--<span class="caret"></span>-->
                                <!--</button>-->
                                <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownJRCProcessorProduct">-->
                                    <!--<li role="presentation" ng-repeat="product in m_oController.m_aoProduct" >-->
                                        <!--<a role="menuitem" tabindex="-1" href="" ng-click="m_oController.m_oSelectedReferenceProduct = product">-->
                                            <!--{{product.name}}-->
                                        <!--</a>-->
                                    <!--</li>-->

                                <!--</ul>-->
                            <!--</div>-->
                            <div class="dropdown my-dropdown">
                                <dropdownmenudirective list-of-values="m_oController.m_aoProductListDropdown"
                                                       selected-value="m_oController.m_oReturnValueDropdown"
                                                       enable-search-filter="true"
                                                       dropdown-name="'Input file'"></dropdownmenudirective>
                            </div>
                            {{m_oController.m_oReturnValue}}

             </div>

         </div>
     <!--</div>-->

                <!--<div class="container-v4">-->
                    <div class="row-v4">
                        <div class="col-v4">
                            LRN_SET:
                        </div>
                        <div class="col-v4-9">
                            <input type="text" name="name"  class="wasdi-input" value="" title="" ng-model="m_oController.m_sLrnSet">
                        </div>
                    </div>
                    <div class="row-v4">
                        <div class="col-v4">
                            LRN_SET_POSITIVE:
                        </div>
                        <div class="col-v4-9">
                            <input type="text" name="name"  class="wasdi-input" value="" title="" ng-model="m_oController.m_sLrnSetPositive">
                        </div>
                    </div>
                    <div class="row-v4">
                        <div class="col-v4">
                            LRN_SET_NODATA:
                        </div>
                        <div class="col-v4-9">
                            <input type="text" name="name"  class="wasdi-input" value="" title="" ng-model="m_oController.m_sLrnSetPositiveNodata">
                        </div>
                    </div>
                    <div class="row-v4">
                        <div class="col-v4">
                            CLOUD_THRESH:
                        </div>
                        <div class="col-v4-9">
                            <input type="text" name="name"  class="wasdi-input" value="" title="" ng-model="m_oController.m_sCloudThresh">
                        </div>
                    </div>

                    <!--<div class="row-v4">-->
                        <!--<div class="col-v4">-->
                            <!--Output File:-->
                        <!--</div>-->
                        <!--<div class="col-v4-10">-->
                            <!--<input type="text" name="name"  class="wasdi-input" value="" title="" ng-model="m_oController.m_sOutputFile">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row-v4">-->
                        <!--<div class="col-v4">-->
                            <!--Preprocess:-->
                        <!--</div>-->
                        <!--<div class="col-v4-10">-->
                            <!--<input type="text" name="name"  class="wasdi-input" value="" title="" ng-model="m_oController.m_sPreprocess">-->
                        <!--</div>-->
                    <!--</div>-->
                </div>



            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">
                    {{"DIALOG_JRCTEST_CLOSE"|translate}}
                </button>
                <!--<button type="button" ng-click="add(null)" class="my-button" ng-disabled="m_oController.isEmptyListOfFilters()" data-dismiss="modal">-->
                    <!--{{"DIALOG_CRONOTAB_OK_BUTTON"|translate}}-->
                <!--</button>      -->

                <button type="button" ng-click="m_oController.runJrcProcessor();close(null);" class="my-button"  data-dismiss="modal">
                    {{"DIALOG_JRCTEST_RUN"|translate}}
                </button>
            </div>

        </div>
    </div>
</div>


