.filter-band-workspace-modal
{
  .modal-dialog
  {
    width:50%;
    .modal-content
    {
      .modal-header
      {
        color:$wasdi-white;
        background-color: $wasdi-blue-logo;
        .close
        {
          color: $wasdi-white;
          opacity: 1;
        }
      }

      .modal-body
      {
        color:black;
        max-height: 600px;
        label{
          color: $wasdi-green-logo;
        }

        .option-selected{
          //color:$wasdi-green-logo;
          background-color: $wasdi-green-logo;
          color:$wasdi-white;
        }

        .over-icon
        {
          cursor:pointer;
          i:hover {

            //background-color:white;
            color:$wasdi-over-icon;


          }
        }

        .tab-content
        {
          .system-content
          {
            padding: 10px;
            border: 1px solid $wasdi-blue-logo;
            .options
            {
              //padding-left: 10px;

              .operation
              {
                padding: 7px 5px 7px 10px;
                cursor:pointer;
                &:hover
                {
                  background: $wasdi-grey-background-text;
                }
              }

              .filter-properties
              {
                float:left;
                input
                {
                  width:90%;

                }
                padding-bottom: 15px;
              }

              .filter-properties-content
              {
                //float:right;
              }

              .increase-buttons
              {
                margin-top: 26px;
                .btn{
                  height: 15px;
                  padding-top: 0;
                  padding-bottom: 0;
                }
              }

            }
          }
          .over-icon
          {
            i
            {
              padding-left: 20px;
            }
          }

        }
      }

      .modal-footer
      {
        border-top:1px solid $wasdi-blue-logo;
        .my-button
        {
          padding: 10px 21px;
        }
      }
    }
  }
}
