<div class="modal fade filter-band-workspace-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{"DIALOG_FILTER_BAND_TITLE"|translate}}</h4>
            </div>
            <div class="modal-body">
            <h4>
                <!------------------------------------- tab navigation ---------------------------------------->
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-class="{active: m_oController.m_iActiveProvidersTab === 0}" ng-click="m_oController.m_iActiveProvidersTab = 0">
                        <a href="" role="tab" data-toggle="tab">{{"DIALOG_FILTER_BAND_TAB_NAME_SYSTEM"|translate}}</a>
                    </li>
                    <!--<li ng-class="{active: m_oController.m_iActiveProvidersTab === 1}" ng-click="m_oController.m_iActiveProvidersTab = 1">-->
                        <!--<a href="" role="tab" data-toggle="tab">{{"DIALOG_FILTER_BAND_TAB_NAME_USER"|translate}}</a>-->
                    <!--</li>-->
                </ul>
                <!--------------------------------------- TAB CONTENT ------------------------------------------>
                <div class="tab-content">
                    <!---------------------------------- SYSTEM TAB --------------------------------->
                    <div ng-show="m_oController.m_iActiveProvidersTab === 0">
                        <h2>{{"DIALOG_FILTER_BAND_TAB_NAME_SYSTEM"|translate}}</h2>
                        <p>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 system-content" ng-repeat="system in m_oController.m_aoSystemFilterOptions track by $index">
                                <label>
                                    {{system.name}}
                                </label>

                                <div ng-repeat="options in system.options track by $index"  class=" options">
                                    <h4>
                                        <div class="operation"  data-toggle="collapse"  data-target="#collapse{{ (system.name + $index) |lowercase | removeSpaces}}"
                                             aria-expanded="false" aria-controls="collapsemapprojection"
                                             ng-click="m_oController.m_sSelectedFilter = options.name;m_oController.collapsePanels()"
                                             ng-class="{'option-selected':(m_oController.m_sSelectedFilter === options.name)}"   >
                                            {{options.name}}
                                        </div>
                                    </h4>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse well" id="collapse{{system.name + $index |lowercase | removeSpaces}}">
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <div class="filter-properties">
                                                <label>
                                                    Name:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).name}}<!--by paolo-->
                                                </label><br>
                                                <label>
                                                    Shorthand:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).shorthand}}
                                                </label><br>
                                                <label>
                                                    Operation:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).operation}}
                                                </label><br>
                                                <label>
                                                    Kernel Width:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).kernelWidth}}
                                                </label><br>
                                                <label>
                                                    Kernel Height:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).kernelHeight}}
                                                </label><br>
                                                <label>
                                                    Kernel Quotient:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).kernelQuotient}}
                                                </label><br>
                                                <label>
                                                    Kernel Offset X:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).kernelOffsetX}}
                                                </label><br>
                                                <label>
                                                    Kernel Offset Y:&nbsp;{{m_oController.getSelectedOptionsObject(m_oController.m_sSelectedFilter).kernelOffsetY}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <squares matrix = "options.matrix"  bordercolor="black" side="50"></squares>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </p>
                    </div>

                    <!-------------------------------USER TAB----------------------------------->
                    <div ng-show="m_oController.m_iActiveProvidersTab === 1" >
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <h2>
                                    {{"DIALOG_FILTER_BAND_TAB_NAME_USER"|translate}}
                                </h2>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <div class="over-icon">
                                    <h2>
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                        <i class="fa fa-plus" aria-hidden="true" ng-click="m_oController.addUserFilterOptions()"></i>
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <p>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 system-content" ng-repeat="system in m_oController.m_aoUserFilterOptions track by $index">

                            <label>
                                {{system.name}}
                            </label>

                            <div ng-repeat="options in system.options track by $index"  class=" options">
                                <h4>
                                    <div class="operation" data-toggle="collapse" data-target="#usercollapseoption{{$index}}" aria-expanded="false"
                                         aria-controls="collapsemapprojection" >
                                        {{options.name}}
                                    </div>
                                </h4>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse well" id="usercollapseoption{{$index}}">
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div ng-repeat="filterproperties in m_oController.m_aoFilterProperties track by $index" class="filter-properties">
                                            <label>
                                                {{filterproperties.name}}
                                            </label>
                                            <div class="my-input-text">
                                                <input type="text" name="name"  class=""  >
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 my-input-text">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                            <div class="dropdown">

                                                Fill:
                                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                                    {{m_oController.m_iSelectedValue}}
                                                    <span class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="" ng-repeat=" fillOption in m_oController.m_aiFillOptions track by $index" ng-click="m_oController.m_iSelectedValue = fillOption">
                                                            {{fillOption}}
                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                Width: <input type="text" class="" placeholder="" ng-value="m_oController.numberOfCollumns(options.matrix)">
                                                <!-- Height:<input type="text" class="" placeholder="">-->
                                            </div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="btn-group-vertical increase-buttons">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="m_oController.addDefaultColumnInMatrix(options.matrix)" >
                                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="m_oController.removeColumnInMatrix(options.matrix)">
                                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <!--<div class="btn-group-vertical">-->
                                                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                                                <!--<i class="fa fa-caret-up" aria-hidden="true"></i>-->
                                                <!--</button>-->
                                                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                                                <!--<i class="fa fa-caret-down" aria-hidden="true"></i>-->
                                                <!--</button>-->
                                                <!--</div>-->
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                <!--Width: <input type="text" class="" placeholder="">-->
                                                Height:<input type="text" class="" placeholder="" ng-value="m_oController.numberOfRows(options.matrix)">
                                            </div>
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <!--<div class="btn-group-vertical increase-buttons">-->
                                                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                                                <!--<i class="fa fa-caret-up" aria-hidden="true"></i>-->
                                                <!--</button>-->
                                                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                                                <!--<i class="fa fa-caret-down" aria-hidden="true"></i>-->
                                                <!--</button>-->
                                                <!--</div>-->
                                                <div class="btn-group-vertical increase-buttons">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="m_oController.addDefaultRowInMatrix(options.matrix)">
                                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="m_oController.removeRowInMatrix(options.matrix)">
                                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                            <!--<button>-->
                                                <!--<i class="fa fa-caret-up" aria-hidden="true"></i>-->
                                            <!--</button>-->
                                            <!--<button>-->
                                                <!--<i class="fa fa-caret-down" aria-hidden="true"></i>-->
                                            <!--</button>-->
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <squares matrix = "options.matrix"  borderColor="black" side="50" cursor="pointer"></squares>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        </p>
                    </div>
                    <!--<div class="tab-pane fade" id="tab3">-->
                        <!--<h2>tab3</h2>-->
                        <!--<p>lorem ipsum.</p>-->
                    <!--</div>-->
                </div>

            </h4>
            </div>
            <div class="modal-footer">
                <!--<button type="button" ng-click="close('download')" class="my-button" data-dismiss="modal">download</button>-->
                <button type="button" ng-click="close(null)" class="my-button" data-dismiss="modal">close</button>
                <button type="button" ng-click="applyFilterOnClose(null)" class="my-button" data-dismiss="modal">apply filter</button>
            </div>
        </div>
    </div>
</div>