<div class="dropdown-menu-container">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDirective" data-toggle="dropdown">
            <span ng-hide=" isSelectedValue === false">
                {{selectedValue.name }}
            </span>
            <span ng-show="isSelectedValue === false">
                {{dropdownName}}

            </span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDirective">
            <input class="form-control dropdown-input"  type="text" placeholder="Search.." ng-show="enableSearchFilter" ng-model="textFilter">

            <li role="presentation" ng-repeat="value in listOfValues | filter:textFilter"> <!-- onClickFunction({sValue:value})  ng-click="changeSelectedValueOnClick(value)"-->
                <a role="menuitem" href="" ng-click="onClickValue(value);onClickFunction( {oValue:value} )">
                    {{value.name}}
                </a>
            </li>

        </ul>
    </div>
</div>
