<div class="modal fade get-list-of-worksapce">
    <div class="modal-dialog modal-wasdi">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">{{m_oController.m_sTitleModal}}</h4>
            </div>
            <div class="modal-body ">
                <div class="row-v4">
                    <div class="col-v4">
                        <h3>
                            <div>
                                <label>{{"DIALOG_LIST_OF_WORKSPACES_TITLE_TABLE_LIST_OF_WORKSPACES"|translate}}</label>
                            </div>
                        </h3>
                        <h4>
                            <div class="row-v4">
                                <div class="col-v4-auto">
                                    <a href="" ng-click="m_oController.createWorkspace()" ng-hide="m_oController.m_bIsCreatingWorskapce">{{"DIALOG_LIST_OF_WORKSPACES_ADD_NEW_WORKSPACE_BUTTON"|translate}}</a>
                                </div>
                                <div class="col-v4-auto ml-auto">
                                    <a href="" ng-click="m_oController.m_bIsVisibleWorkFlowsOption = !m_oController.m_bIsVisibleWorkFlowsOption"
                                        ng-hide="m_oController.m_bIsVisibleWorkFlowsOption">
                                        {{"DIALOG_LIST_OF_WORKSPACES_SHOW_WORKFLOWS_BUTTON" | translate}}
                                    </a>
                                </div>
                            </div>
                        </h4>

                        <div >

                            <table class="table table-hover">
                                    <thead>
                                    <tr>

                                        <th scope="col"><label>{{"DIALOG_LIST_OF_WORKSPACES_TH_TABLE_WORKSPACE_NAME"|translate}}</label></th>
                                        <th scope="col"><label>{{"DIALOG_LIST_OF_WORKSPACES_TH_TABLE_OWNER"|translate}}</label></th>
                                        <th class="over-icon" ng-hide = "m_oController.m_bSelectedAllWorkspaces"
                                            ng-click = "m_oController.selectAllWorkspaces()">
                                            <i class="fa fa-square fa-lg    " aria-hidden="true" ></i>
                                        </th>
                                        <th scope="col" class="over-icon" ng-show = "m_oController.m_bSelectedAllWorkspaces"
                                            ng-click = "m_oController.deselectAllWorkspaces()">
                                            <i class="fa fa-check-square fa-lg" aria-hidden="true"></i>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody ng-show="m_oController.m_aoWorkspaceList.length > 0 || m_oController.m_bIsCreatingWorskapce===false">
                                    <tr ng-repeat="workspace in m_oController.m_aoWorkspaceList" ng-hide="m_oController.m_aoWorkspaceList.length === 0">

                                        <td>{{workspace.workspaceName}}</td>
                                        <td>{{workspace.ownerUserId}}</td>
                                        <td class="over-icon" ng-click="m_oController.selectWorkspace(workspace)" ng-hide="m_oController.isSelectedWorkspace(workspace)">

                                            <i class="fa fa-square fa-lg" aria-hidden="true"></i>
                                        </td>
                                        <td class="over-icon" ng-click="m_oController.deselectWorkspace(workspace)" ng-show="m_oController.isSelectedWorkspace(workspace)">
                                            <i class="fa fa-check-square fa-lg" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                                <invaderfixed ng-show="m_oController.m_bIsCreatingWorskapce"></invaderfixed>
                                        </td>
                                    </tr>

                                    </tbody>

                                </table>

                                <div ng-show="(m_oController.m_bisLoadingWorkspacesList === false) && (m_oController.m_aoWorkspaceList.length === 0) ">
                                    <h4>
                                        {{"WORKSPACES_ADD_NEW_WORKSPSACE"|translate}}<a href="" ng-click="m_oController.createWorkspace()">{{"WORKSPACES_BUTTON_NEW_WORKSPACE"|translate}}</a>
                                    </h4>
                                </div>
                            <!-- LIST OF WORKSPACES -->


                        </div>
                    </div>

                    <div class="col-v4" ng-show="m_oController.m_bIsVisibleWorkFlowsOption"><!---->
                        <h3>
                            <label>
                                {{"WORKSPACES_LIST_OF_WORKFLOWS_TITLE"|translate}}
                            </label>
                        </h3>

                        <h4>
                            <a href="" ng-click="m_oController.openWorkflowManagerDialog()" ng-hide="m_oController.m_bisLoadingWorkflows">{{"DIALOG_LIST_OF_WORKSPACES_MANAGER_WORKFLOWS_BUTTON"|translate}}</a>
                        </h4>

                            <table class="table table-hover my-table" >
                                <caption>{{"DIALOG_WORKFLOW_MANAGER_WS_LIST"|translate}}</caption>
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <label>{{"DIALOG_WORKFLOW_MANAGER_TABLE_NAME"|translate}}</label>
                                    </th>
                                    <th scope="col">
                                        <label>{{"DIALOG_WORKFLOW_MANAGER_TABLE_DESCRIPTION"|translate}}</label>
                                    </th>

                                </tr>

                                </thead>
                                <tbody ng-show="m_oController.m_aoWorkflows.length > 0 || m_oController.m_bisLoadingWorkflows === false">

                                <tr class="tr-over" ng-repeat="workflow in m_oController.m_aoWorkflows"
                                    ng-class="{'selectedWorkflow': m_oController.m_oSelectedWorkflow  === workflow}"
                                    ng-click="m_oController.m_oSelectedWorkflow = workflow">
                                    <td >{{workflow.name}}</td>
                                    <td>{{workflow.description}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                            <invaderfixed ng-show="m_oController.m_bisLoadingWorkflows"></invaderfixed>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="m_oController.closeModal()" class="btn btn-wasdi btn-primary" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
                <button type="button" ng-click="m_oController.closeModalAndReturnSelectedWorkspaces()"
                        class="btn btn-wasdi btn-primary" data-dismiss="modal" ng-disabled="m_oController.isEmptyWorkspaceList()">
                    {{m_oController.m_sButtonName}}
                </button>
            </div>
        </div>
    </div>
</div>
