//#slidecontainer {
//  width: 100%;
//}
//@import "../main_theme";

.range-container{
  width: 100%;
  margin-top:10px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  //background-color: red;
  //background: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: $wasdi-slider-icon-triangle;
  background-size: 23px 24px;
  //background: $wasdi-edit-icon-pencil;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: $wasdi-slider-icon-triangle;
  background-size: 23px 24px;
  //background: $wasdi-edit-icon-pencil;
  cursor: pointer;
}
