
.MultiRadioButtonDropdownDirective{
  //float: left;
  //border-style: solid;
  //border-color: #2D394F;
  //border-width: 2px;
  margin-top: 8px;
  //background-color: #0d3349;
  select{
    border-style: solid;
    border-color: #2D394F;
    border-width: 2px;
    padding: 11.5px 10px;
  }


  //.radio, .radio {
  //  margin-left: 5px;
  //}
  //a{
  //  color: black;
  //}
  //.nav > li > a {
  //  padding: 10px 10px;
  //}
}