.mosaic-modal {
    .modal-dialog {
        //width:50%;
        .modal-content {
            .modal-header {
                color: $wasdi-white;
                background-color: $wasdi-blue-logo;
                .close {
                    color: $wasdi-white;
                    opacity: 1;
                }

            }

            .modal-body {

                .disable-all{
                    @include isDisabled();
                }

                .well{
                    border-color: $wasdi-blue-logo;
                    .my-input-text{
                        background-color: transparent !important;
                    }
                }
            }

            .modal-footer {
                border-top: 1px solid $wasdi-blue-logo;
                .my-button {
                    padding: 10px 21px;
                }
            }
        }
    }
}
