<div class="container-v4">
    <div class="row-v4">
        <div class="col-v4">

            <h5>you have to select two products: </h5>
            <multiselect options="m_oController.m_asProductsName" selected="m_oController.m_asSelectedProducts"> </multiselect>

        </div>

    </div>

    <div class="well">
        <div class="row-v4">
            <div class="col-v4">
                Auto Find Bounding Box
            </div>

            <div class="col-v4">
                <i class="fa fa-check-square pointer-cursor-hover" aria-hidden="true" ng-show="m_oController.m_bAutoFindBoundingBox"
                   ng-click="m_oController.m_bAutoFindBoundingBox = !m_oController.m_bAutoFindBoundingBox"></i>
                <i class="fa fa-square pointer-cursor-hover" aria-hidden="true" ng-hide="m_oController.m_bAutoFindBoundingBox"
                   ng-click="m_oController.m_bAutoFindBoundingBox = !m_oController.m_bAutoFindBoundingBox"></i>
            </div>

        </div>

        <div class="row-v4 my-input-text align-items-center" ng-class="{'disable-all':m_oController.m_bAutoFindBoundingBox === true}">
            <div class="col-v4">
                North
            </div>

            <div class="col-v4">
                <input type="text" name="name"  class="wasdi-input" ng-model="m_oController.m_oMosaicViewModel.northBound"
                       ng-disabled="m_oController.m_bAutoFindBoundingBox === true">

            </div>
            <div class="col-v4">
                South
            </div>

            <div class="col-v4">
                <input type="text" name="name"  class="wasdi-input" ng-model="m_oController.m_oMosaicViewModel.southBound"
                       ng-disabled="m_oController.m_bAutoFindBoundingBox === true">
            </div>
            <div class="col-v4">
                East
            </div>

            <div class="col-v4">
                <input type="text" name="name"  class="wasdi-input" ng-model="m_oController.m_oMosaicViewModel.eastBound"
                       ng-disabled="m_oController.m_bAutoFindBoundingBox === true">
            </div>
            <div class="col-v4">
                West
            </div>

            <div class="col-v4">
                <input type="text" name="name"  class="wasdi-input" ng-model="m_oController.m_oMosaicViewModel.westBound"
                       ng-disabled="m_oController.m_bAutoFindBoundingBox === true">
            </div>


        </div>
    </div>


    <!--div class="well">

        <div class="row-v4">
            <div class="col-v4">
                Auto Select Bands
            </div>

            <div class="col-v4 ">
                <i class="fa fa-check-square pointer-cursor-hover" aria-hidden="true" ng-show="m_oController.m_bAutoSelectBands"
                   ng-click="m_oController.m_bAutoSelectBands = !m_oController.m_bAutoSelectBands"></i>
                <i class="fa fa-square pointer-cursor-hover" aria-hidden="true" ng-hide="m_oController.m_bAutoSelectBands"
                   ng-click="m_oController.m_bAutoSelectBands = !m_oController.m_bAutoSelectBands"></i>
            </div>

        </div>

        <div class="row-v4 my-input-text align-items-center" ng-class="{'disable-all':m_oController.m_bAutoSelectBands === true}">
            <div class="col-v4">
                Bands
            </div>

            <div class="col-v4" >
                <input type="text" name="name"  class="wasdi-input" ng-model="m_oController.m_oMosaicViewModel.bands"
                       ng-disabled="m_oController.m_bAutoSelectBands === true">

            </div>

        </div>
    </div-->

    <div class="row-v4 my-input-text align-items-center">
        <div class="col-v4">
            Output file
        </div>

        <div class="col-v4">
            <input type="text" name="name"  class="wasdi-input" ng-model="m_oController.m_oMosaicViewModel.outputFile">

        </div>

    </div>
    <div class="row-v4 my-input-text align-items-center">
        <div class="col-v4">
            Pixel size X (keep -1 for native)
        </div>

        <div class="col-v4">
            <input type="text" name="name"  class="wasdi-input" ng-model="m_oController.m_oMosaicViewModel.pixelSizeX">

        </div>

    </div>
    <div class="row-v4 my-input-text align-items-center">
        <div class="col-v4">
            Pixel size Y (keep -1 for native)
        </div>

        <div class="col-v4">
            <input type="text" name="name"  class="wasdi-input" ng-model="m_oController.m_oMosaicViewModel.pixelSizeY">

        </div>

    </div>

    <div class="row-v4 my-input-text align-items-center">
        <div class="col-v4">
            Input Ignore Value (Leave nothing to not use)
        </div>

        <div class="col-v4">
            <input type="text" name="name"  class="wasdi-input" ng-model="m_oController.m_oMosaicViewModel.inputIgnoreValue">

        </div>
    </div>

    <div class="row-v4 my-input-text align-items-center">
        <div class="col-v4">
            No Data Value (Leave nothing to not use)
        </div>

        <div class="col-v4">
            <input type="text" name="name"  class="wasdi-input" ng-model="m_oController.m_oMosaicViewModel.noDataValue">

        </div>
    </div>


</div>
