<div class="modal fade mosaic-modal ">
    <div class="modal-dialog modal-dialog-extra-large modal-wasdi">
        <div class="modal-content ">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title ">
                    Mosaic
                    <!--<img class="snap-logo" src="assets/wasdi/SnapLogo.jpg" >-->
                    <!--<a href="http://step.esa.int/main/toolboxes/snap/" target="_blank" style="color: white">{{"DIALOG_WORKFLOW_MANAGER_TITLE"|translate}}</a>-->
                </h4>

            </div>

            <div class="modal-body">
                <ng-include src="'dialogs/mosaic/DialogBodyPartial.html'"></ng-include>

                <!--<div class="container-v4">-->
                    <!--<div class="row-v4">-->
                        <!--<div class="col-v4">-->
                            <!--<multiselect options="m_oController.m_asProductsName" selected="m_oController.m_asSelectedProducts"> </multiselect>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="row-v4">-->
                        <!--<div class="col-v4">-->
                            <!--Auto Find Bounding Box-->
                        <!--</div>-->

                        <!--<div class="col-v4">-->
                            <!--<i class="fa fa-check-square-o" aria-hidden="true"></i>-->
                            <!--<i class="fa fa-square-o" aria-hidden="true"></i>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="row-v4 my-input-text align-items-center">-->
                        <!--<div class="col-v4">-->
                            <!--North-->
                        <!--</div>-->

                        <!--<div class="col-v4">-->
                            <!--<input type="text" name="name"  class="wasdi-input" >-->

                        <!--</div>-->
                        <!--<div class="col-v4">-->
                            <!--South-->
                        <!--</div>-->

                        <!--<div class="col-v4">-->
                            <!--<input type="text" name="name"  class="wasdi-input" >-->
                        <!--</div>-->
                        <!--<div class="col-v4">-->
                            <!--East-->
                        <!--</div>-->

                        <!--<div class="col-v4">-->
                            <!--<input type="text" name="name"  class="wasdi-input" >-->
                        <!--</div>-->
                        <!--<div class="col-v4">-->
                            <!--West-->
                        <!--</div>-->

                        <!--<div class="col-v4">-->
                            <!--<input type="text" name="name"  class="wasdi-input" >-->
                        <!--</div>-->


                    <!--</div>-->

                    <!--<div class="row-v4 my-input-text align-items-center">-->
                        <!--<div class="col-v4">-->
                            <!--Output file-->
                        <!--</div>-->

                        <!--<div class="col-v4">-->
                            <!--<input type="text" name="name"  class="wasdi-input" >-->

                        <!--</div>-->

                    <!--</div>-->

                    <!--<div class="row-v4">-->
                        <!--<div class="col-v4">-->
                            <!--Auto Find Bounding Box-->
                        <!--</div>-->

                        <!--<div class="col-v4">-->
                            <!--<i class="fa fa-check-square-o" aria-hidden="true"></i>-->
                            <!--<i class="fa fa-square-o" aria-hidden="true"></i>-->
                        <!--</div>-->

                    <!--</div>-->

                    <!--<div class="row-v4 my-input-text align-items-center">-->
                        <!--<div class="col-v4">-->
                            <!--Bands-->
                        <!--</div>-->

                        <!--<div class="col-v4">-->
                            <!--<input type="text" name="name"  class="wasdi-input" >-->

                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->

            </div>

            <div class="modal-footer">
                <button type="button" ng-click="close()" class="my-button" data-dismiss="modal">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>
