.date-directive{
    .time-picker-container {
        float: right;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;

        .my-input-text {
            width: 100%;
            //input{
            //  width:20%;
            //}
            .form-control {
                border-radius: 0;
                border: 2px solid $wasdi-input-text-border-color;
            }
            .input-group-addon {
                background-color: $wasdi-blue-logo;
                border-color: $wasdi-blue-logo;
                color: white;
            }
            .input-group-addon:hover {
                background-color: $wasdi-green-logo;
            }
        }

        .moment-picker.top .moment-picker-container {

            z-index: 10000;
        }
    }

}
