<div class="table-of-products-directive"  ng-style="$ctrl.oTableStyle">

    <table class="table table-hover layers "   aria-label="product list" uib-tooltip="{{$ctrl.tooltip}}" tooltip-placement="top" tooltip-class="blueWasdi" tooltip-popup-delay='750'>

        <tbody ng-repeat="layer in $ctrl.productsList ">
        <!------------------------------- SUMMARY ------------------------------->
        <tr class="info-layer" >
            <td ng-show="$ctrl.isAvailableSelection">
                <!--RADIO BUTTON-->
                <input type="radio"  ng-model="$ctrl.singleSelectionLayer" ng-value="layer" ng-show="$ctrl.isSingleSelection"/>
                <!--CHECKBOX -->
                <input type="checkbox"  ng-model="layer.isSelected" ng-value="layer" ng-hide="$ctrl.isSingleSelection"/>
            </td>
            <!-- IMAGE CELL -->
            <td class="image-cell">
                <span class="label label-success">{{layer.summary.Mode}}</span>&nbsp;<!--Mode-->
                <span class="label label-success"> {{layer.summary.Instrument}}</span><!--Instrument-->
                <div class="preview-layer-image" ><img src={{layer.preview}} alt="Image" style="height: 82px;width: 82px; "></div>
                <span class="badge">{{layer.summary.Size}}</span><!--Size-->
            </td>

            <!-- INFO CELL -->
            <td class="info-cell">

                <div>{{layer.summary.Date|date:'medium'}}</div><!--Date-->
                </br>

                <div>
                    <span>{{"IMPORT_PRODUCT_LIST_NAME"|translate}}</span>
                    <span><strong>{{layer.title}}</strong></span>
                </div>

                <div>
                    <span>{{"IMPORT_PRODUCT_LIST_POLARIZATION"|translate}} </span>
                    <span><strong>{{layer.summary.Mode}}</strong></span>
                </div>

                <div>
                    <span>{{"IMPORT_PRODUCT_LIST_ORBIT"|translate}} </span>
                    <span><strong>{{layer.properties.relativeorbitnumber}}</strong></span>
                </div>

                <!--<div>{{"layer"+layer.id}}</div>-->
                <div>
                    <span>{{"IMPORT_PRODUCT_LIST_PROVIDER"|translate}}</span>
                    <span><strong>{{layer.provider}}</strong></span>
                </div>

                <div>
                    <span>{{"IMPORT_PRODUCT_LIST_PLATFORM"|translate}}</span>
                    <span><strong>{{layer.properties.platformname}}</strong></span>
                </div>
                <div>
                    <span>{{"IMPORT_PRODUCT_LIST_SENSOR"|translate}}</span>
                    <span><strong>{{layer.properties.sensoroperationalmode}}</strong></span>
                </div>
            </td>

        </tr>

        </tbody>
        <tr ng-show = "$ctrl.loadingData">
            <td colspan="2">
                <div class="td-load-icon" >
                    <invader></invader>
                </div>
            </td>
        </tr>
        <tr ng-hide="$ctrl.loadingData">
            <td colspan="2" class="cell-centered ">

                <button class="btn btn-default btn-wasdi"
                        ng-click="$ctrl.parentController.loadMore()" >
                    <i class="fa fa-refresh mr-2" aria-hidden="true"></i>{{"DIALOG_PROCESSES_LOGS_LOAD_MORE"|translate}}
                </button>

            </td>

        </tr>
    </table>
</div>
