<div class="modal fade edrift-checkimagestool">
    <div class="modal-dialog modal-wasdi modal-dialog-extra-large">
        <div class="modal-content">
            <!-- HEADER -->
            <div class=" modal-header">

                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <h4>
                        <img src="assets/icons/white-user-icon2.png" style="width: 26px" alt="Alien Logo"/>
                        {{ "DIALOG_EDRIFT_CHECK_IMAGES_AVAILABILITY_TITLE" | translate }}
                    </h4>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            </div>
            <!-- BODY -->
            <div class="modal-body no-ale-style">
                <h4>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 my-input-text">
                        <div class="row post-event-image-container">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                Start Date
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.startdate">
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                End date
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.enddate">
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                Bounding box
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.bbox">
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                Search Orbits
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                <input type="text" name="" class="" value="" title="" ng-model="m_oController.m_oParameters.orbits">
                            </div>

                        </div>

                        <div class="row" >
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 loadIcon" ng-show="m_oController.m_bIsRunning"><!--class="loadIcon" ng-show="m_oController.m_bIsRunning"-->
                                <invader ></invader>
                            </div>
                        </div>
                    </div>

                </h4>

                <div id="CheckImagesBarChart"></div>

            </div>

            <!-- FOOTER -->
            <div class="modal-footer">
                <button type="button" ng-click="close(null)" class="btn btn-primary btn-wasdi" data-dismiss="modal">
                    {{"DIALOG_CLOSE_BUTTON"|translate}}
                </button>
                <button type="button"  ng-click="m_oController.runProcessor()" class="btn btn-primary btn-wasdi" ng-show="!m_oController.m_bIsRunning">
                    Run
                </button>
                <button type="button"  ng-click="m_oController.showLogs()" class="btn btn-primary btn-wasdi" ng-show="m_oController.m_bIsRunning">
                    Logs
                </button>
            </div>

        </div>
    </div>
</div>
