@font-face {
    font-family: Hero_Light;
    src: url(./hero_light/Hero_Light.woff);
}
@font-face {
    font-family: Hero;
    src: url(./hero_regular/Hero.otf);
}

body {
    background-color: white;
    font-family: Hero;
    color: #329036;
}



div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6{
    color: #43516a;
    font-family: Hero;

}

div.body {
    background-color: #d8e7ff;
    color: #43516a;
    font-family: Hero;
}