.range-doppler-terrain-correction-modal
{
  .modal-dialog
  {

    .modal-content
    {
      .modal-header
      {
        .icon-range-doppler-terrain-correction {
          content:$wasdi-earth-icon-range-doppler-terrain-correction-white-version;
          width: $wasdi-size-icon-title-dialogs;
          height: auto;
        }
      }

      .modal-body
      {
        overflow-y: auto;
        max-height:$wasdi-max-heigth-body;
        form
        {
          fieldset
          {
            .my-button
            {
              padding: 10px ;
              width: 100%;
              color:white;
            }

          }
        }
        .btn-default
        {
          width:100%;
        }
        .row
        {
          margin: 10px 0 10px 0;
        }
        /*second Tab*/
        .second-tab
        {
          .btn
          {
            width: 100%;
          }
        }
        //save-beta checkbox
        .save-beta
        {
          margin-left: 15px;
        }
      }

      .modal-footer
      {

      }
    }
  }
}