.range-doppler-terrain-correction-modal
{
  .modal-dialog
  {

    .modal-content
    {
      .modal-header
      {
      }

      .modal-body
      {
        overflow-y: auto;
        max-height:$wasdi-max-heigth-body;
        form
        {
          fieldset
          {
            .my-button
            {
              padding: 10px 30%;
              width: 100%;
              color:white;
            }

          }
        }
        .btn-default
        {
          width:100%;
        }
        .row
        {
          margin: 10px 0 10px 0;
        }
        /*second Tab*/
        .second-tab
        {
          .btn
          {
            width: 100%;
          }
        }
      }

      .modal-footer
      {

      }
    }
  }
}