var environment = {
    "url"               : '{{ dictWasdiClientConfiguration.environment.url }}',
    "webstompUrl"       : '{{ dictWasdiClientConfiguration.environment.webstompUrl }}',
    "wmsUrl"            : '{{ dictWasdiClientConfiguration.environment.wmsUrl }}',
    "authUrl"           : '{{ dictWasdiClientConfiguration.environment.authUrl }}'
}
