/**
 * A class to store all (not so) secrets variable.
 */
var Secrets = /** @class */ (function () {
    function Secrets() {
    }
    Secrets.RABBIT_USER = "{{ dictWasdiClientConfiguration.secrets.rabbitUser }}";
    Secrets.RABBIT_PASSWORD = "{{ dictWasdiClientConfiguration.secrets.rabbitPassword }}";
    Secrets.GOOGLE_ID = "{{ dictWasdiClientConfiguration.secrets.googleId }}";
    return Secrets;
}());
